Repository aws/eks-distro, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, patch

fix merge issues
  cmd/release/docs/existing_docs/readme.go
  cmd/release/docs/new_docs/constants.go
  cmd/release/utils/release.go
  cmd/release/utils/searchprs.go
Labels: none

remove move files and residual merge issues
  cmd/release/docs/existing_docs/docs_index.go
  cmd/release/docs/main.go
  cmd/release/docs/new_docs/input.go
  cmd/release/docs/new_docs/new_docs.go
  cmd/release/docs/new_docs/templates.go
  cmd/release/docs/newdocs/input.go
  cmd/release/github_release/main.go
  cmd/release/utils/changes_type.go
  cmd/release/utils/component_table.go
  cmd/release/utils/directories.go
  cmd/release/utils/git_manager/git_manager.go
  cmd/release/utils/git_manager/open_pr.go
  cmd/release/utils/git_manager/open_pr.sh
  cmd/release/utils/number_calculator.go
  cmd/release/utils/release.go
Labels: none

fix residual merge issues
  cmd/release/docs/newdocs/input.go
  cmd/release/utils/values/searchprs.go
Labels: none

Upgraded to 1.24.6 and updated patches
  projects/kubernetes/kubernetes/1-24/GIT_TAG
  projects/kubernetes/kubernetes/1-24/patches/0001-EKS-PATCH-Pass-region-to-sts-client.patch
  projects/kubernetes/kubernetes/1-24/patches/0002-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-24/patches/0003-EKS-PATCH-Use-GNU-date.patch
  projects/kubernetes/kubernetes/1-24/patches/0004-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-24/patches/0005-EKS-PATCH-AWS-Include-IPv6-addresses-in-NodeAddresse.patch
  projects/kubernetes/kubernetes/1-24/patches/0007-EKS-PATCH-Make-kubelet-set-alpha.kubernetes.io-provi.patch
  projects/kubernetes/kubernetes/1-24/patches/0008-EKS-PATCH-Skip-mount-point-checks-when-possible-duri.patch
  projects/kubernetes/kubernetes/1-24/patches/0009-EKS-PATCH-Add-rate-limiting-when-calling-STS-assume-.patch
  projects/kubernetes/kubernetes/1-24/patches/0010-EKS-PATCH-Update-naming-for-a-const.patch
Labels: dependencies, patch

kubernetes release: Bumps 1.24 to use 0.14
  projects/kubernetes/release/1-24/ATTRIBUTION.txt
  projects/kubernetes/release/1-24/CHECKSUMS
  projects/kubernetes/release/1-24/GIT_TAG
  projects/kubernetes/release/1-24/GOLANG_VERSION
  projects/kubernetes/release/Makefile
Labels: dependencies

Checksums
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
Labels: none

Checksums
  projects/kubernetes/release/1-24/CHECKSUMS
Labels: none

kubernetes release: Bumps 1.24 to use 0.14 (#1243)
  projects/kubernetes/release/1-24/ATTRIBUTION.txt
  projects/kubernetes/release/1-24/CHECKSUMS
  projects/kubernetes/release/1-24/GIT_TAG
  projects/kubernetes/release/1-24/GOLANG_VERSION
  projects/kubernetes/release/Makefile
Labels: dependencies

Upgraded to 1.24.6 and updated patches (#1260)
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/GIT_TAG
  projects/kubernetes/kubernetes/1-24/patches/0001-EKS-PATCH-Pass-region-to-sts-client.patch
  projects/kubernetes/kubernetes/1-24/patches/0002-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-24/patches/0003-EKS-PATCH-Use-GNU-date.patch
  projects/kubernetes/kubernetes/1-24/patches/0004-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-24/patches/0005-EKS-PATCH-AWS-Include-IPv6-addresses-in-NodeAddresse.patch
  projects/kubernetes/kubernetes/1-24/patches/0007-EKS-PATCH-Make-kubelet-set-alpha.kubernetes.io-provi.patch
  projects/kubernetes/kubernetes/1-24/patches/0008-EKS-PATCH-Skip-mount-point-checks-when-possible-duri.patch
  projects/kubernetes/kubernetes/1-24/patches/0009-EKS-PATCH-Add-rate-limiting-when-calling-STS-assume-.patch
  projects/kubernetes/kubernetes/1-24/patches/0010-EKS-PATCH-Update-naming-for-a-const.patch
Labels: dependencies, patch

[PR BOT] Update ATTRIBUTION.txt files
  projects/kubernetes/kubernetes/1-24/ATTRIBUTION.txt
Labels: none

Updated kubernetes-csi/external-snapshotter to v6.1.0
  projects/kubernetes-csi/external-snapshotter/1-20/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-21/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-22/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-23/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-24/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/README.md
Labels: dependencies

Updated kubernetes-csi/external-resizer to v1.6.0
  projects/kubernetes-csi/external-resizer/1-20/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-21/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-22/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-23/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-24/GIT_TAG
  projects/kubernetes-csi/external-resizer/README.md
Labels: dependencies

Checksums
  projects/kubernetes-csi/external-snapshotter/1-20/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-21/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-22/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-23/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-24/CHECKSUMS
Labels: none

Checksums
  projects/kubernetes-csi/external-resizer/1-20/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-21/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-22/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-23/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-24/CHECKSUMS
Labels: none

[PR BOT] Update ATTRIBUTION.txt files (#1263)
  projects/kubernetes/kubernetes/1-24/ATTRIBUTION.txt
Labels: none

[PR BOT] Update go.mod files
  projects/coredns/coredns/1-20/go.mod
  projects/coredns/coredns/1-20/go.sum
  projects/etcd-io/etcd/1-20/go.mod
  projects/etcd-io/etcd/1-20/go.sum
  projects/kubernetes-csi/external-attacher/1-20/go.mod
  projects/kubernetes-csi/external-provisioner/1-20/go.mod
  projects/kubernetes-csi/external-provisioner/1-20/go.sum
  projects/kubernetes-csi/external-resizer/1-20/go.sum
  projects/kubernetes-csi/external-snapshotter/1-20/go.mod
  projects/kubernetes-csi/external-snapshotter/1-20/go.sum
  projects/kubernetes-csi/livenessprobe/1-20/go.mod
  projects/kubernetes-csi/livenessprobe/1-20/go.sum
  projects/kubernetes-csi/node-driver-registrar/1-20/go.mod
  projects/kubernetes-csi/node-driver-registrar/1-20/go.sum
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/go.mod
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/go.sum
  projects/kubernetes-sigs/metrics-server/1-20/go.mod
  projects/kubernetes-sigs/metrics-server/1-20/go.sum
  projects/kubernetes/kubernetes/1-20/go.mod
  projects/kubernetes/kubernetes/1-20/go.sum
  projects/kubernetes/kubernetes/1-24/go.mod
  projects/kubernetes/kubernetes/1-24/go.sum
  projects/kubernetes/release/1-24/images/build/go-runner/go.mod
Labels: none

dummy change to makefile to trigger main presubmit
  Makefile
  build/lib/validate_checksums.sh
  projects/etcd-io/etcd/1-20/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-20/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-20/CHECKSUMS
  projects/kubernetes/kubernetes/1-20/CHECKSUMS
  projects/kubernetes/release/1-20/CHECKSUMS
Labels: none

.github/labeler.yml:

documentation: 
- 'docs/**/*'

dependencies:
- '**/GIT_TAG'

patch:
- '**/*.patch'
