Repository aws/eks-distro, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, project, patch

.github/labeler.yml:

documentation: 
- 'docs/**/*'

project:
- '**/GIT_TAG'

patch:
- '**/*.patch'

Updated kubernetes-csi/external-provisioner to v3.3.0
  projects/kubernetes-csi/external-provisioner/1-20/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-21/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-22/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-23/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-24/GIT_TAG
  projects/kubernetes-csi/external-provisioner/README.md
Labels: project

Updated kubernetes-csi/external-attacher to v4.0.0
  projects/kubernetes-csi/external-attacher/1-20/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-21/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-22/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-23/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-24/GIT_TAG
  projects/kubernetes-csi/external-attacher/README.md
Labels: project

Updated kubernetes-csi/external-snapshotter to v6.1.0 (#1269)
  projects/kubernetes-csi/external-snapshotter/1-20/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-20/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-21/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-21/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-22/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-22/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-23/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-23/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-24/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-24/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/README.md
Labels: project

Updated kubernetes-csi/external-resizer to v1.6.0 (#1270)
  projects/kubernetes-csi/external-resizer/1-20/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-20/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-21/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-21/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-22/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-22/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-23/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-23/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-24/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-24/GIT_TAG
  projects/kubernetes-csi/external-resizer/README.md
Labels: project

Checksums
  projects/kubernetes-csi/external-provisioner/1-20/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-21/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-22/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-23/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
Labels: none

Checksums
  projects/kubernetes-csi/external-attacher/1-20/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-21/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-22/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-23/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
Labels: none

Updated kubernetes-csi/external-provisioner to v3.3.0 (#1274)
  projects/kubernetes-csi/external-provisioner/1-20/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-20/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-21/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-21/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-22/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-22/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-23/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-23/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/GIT_TAG
  projects/kubernetes-csi/external-provisioner/README.md
Labels: project

Updated kubernetes-csi/external-attacher to v4.0.0 (#1275)
  projects/kubernetes-csi/external-attacher/1-20/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-20/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-21/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-21/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-22/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-22/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-23/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-23/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/GIT_TAG
  projects/kubernetes-csi/external-attacher/README.md
Labels: project

Minor patch description changes
  projects/kubernetes/kubernetes/1-24/patches/0009-EKS-PATCH-Add-rate-limiting-when-calling-STS-assume-.patch
  projects/kubernetes/kubernetes/1-24/patches/0010-EKS-PATCH-Update-naming-for-a-const.patch
Labels: patch

Added patch to update AWS-SDK for 1.24
  projects/kubernetes/kubernetes/1-24/patches/0011-EKS-PATCH-Update-aws-sdk-go-from-v1.42.23-to-v1.44.1.patch
Labels: patch

Checksums
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
Labels: none

Added file release/1-24/development/RELEASE
  release/1-24/development/RELEASE
Labels: none

Added file release/1-24/production/RELEASE
  release/1-24/production/RELEASE
Labels: none

Minor patch description changes (#1276)
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/patches/0009-EKS-PATCH-Add-rate-limiting-when-calling-STS-assume-.patch
  projects/kubernetes/kubernetes/1-24/patches/0010-EKS-PATCH-Update-naming-for-a-const.patch
Labels: patch

Checksums
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
Labels: none

Added warning about 1.20 deprecation
  README.md
Labels: none

consolidate pr appending functions and queries
  cmd/release/utils/values/searchprs.go
Labels: none

handle errors
  cmd/release/utils/values/searchprs.go
Labels: none
