Repository aws/eks-distro, pull requests merged in 2020-12, with the labels that each got.

#40 Fixed publishing step
  docs/publish.sh
Labels: approved, lgtm

#42 Tweak documentation
  docs/contents/index.md
  docs/contents/users/build.md
Labels: approved, lgtm, ok-to-test

#43 Fix incorrect grammar in README
  CONTRIBUTING.md
Labels: approved, lgtm, ok-to-test

#46 Use directory URLs until s3 redirects are fixed
  docs/mkdocs.yml
Labels: approved, lgtm

#48 Fixed two broken links
  docs/contents/index.md
Labels: approved, lgtm

#49 Fix doc link for docs README
  docs/README.md
Labels: approved, lgtm

#47 Update publish.sh
  docs/publish.sh
Labels: approved, lgtm

#51 Update publish.sh
  docs/publish.sh
Labels: approved, lgtm

#38 Fix release make file
  Makefile
Labels: approved, lgtm

#45 Cleanup while a presubmit job for main make file is in progress
  Makefile
  release/lib/create_final_dir.sh
Labels: approved, lgtm

#56 Update publish.sh to upload to docs bucket
  docs/mkdocs.yml
  docs/publish.sh
Labels: approved, lgtm

#57 Change role to DocsDeploymentRole in publish.sh
  docs/publish.sh
Labels: approved, lgtm

#58 Removed gh-pages reference, added clean make target
  docs/Makefile
  docs/README.md
Labels: approved, lgtm

#59 Added white icon
  docs/theme/assets/images/amazon-eks-distro-white-logo.png
Labels: approved, lgtm

#60 Use /dev/urandom instead of /dev/random
  development/kops.sh
Labels: approved, lgtm, needs-ok-to-test

#62 Added missing web assets
  docs/OWNERS
  docs/contents/apple-touch-icon-precomposed.png
  docs/contents/apple-touch-icon.png
  docs/contents/robots.txt
  docs/mkdocs.yml
  docs/theme/assets/images/favicon.ico
  docs/theme/assets/images/favicon.png
  docs/theme/assets/images/logo.png
Labels: approved, lgtm

#63 change kops script to use template
  development/eks-d.tpl
  development/kops.sh
  docs/contents/users/index.md
Labels: approved, lgtm

#68 Add clarification to fix aws-iam-authenticator
  docs/contents/users/index.md
Labels: approved, lgtm

#69 Get rid of a couple useless todos
  projects/kubernetes/kubernetes/build/lib/images.sh
  projects/kubernetes/kubernetes/build/lib/tarballs.sh
Labels: approved, lgtm

#71 Modify prow build badge reference to only look at postsubmits in eks-distro
  README.md
Labels: approved, lgtm

#73 Fix badge filter in README
  README.md
Labels: approved, lgtm

#76 Move and rename the create cluster script
  development/kops/create_cluster.sh
  development/kops/eks-d.tpl
  docs/contents/users/index.md
Labels: approved, lgtm

#74 Fixed broken links in README
  projects/kubernetes/kubernetes/README.md
Labels: approved, lgtm

#78 Add basic delete cluster script
  development/kops/delete_cluster.sh
Labels: approved, lgtm

#84 Add content to community overview
  docs/contents/community/overview.md
Labels: approved, lgtm

#85 Add crd to documents
  docs/contents/index.md
  docs/contents/releases/v1-18-eks-1.md
Labels: approved, lgtm

#87 Fix version file and checksum creation for new kubernetes versions
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/build/create_version_file.sh
  projects/kubernetes/kubernetes/build/lib/version.sh
  projects/kubernetes/kubernetes/build/update_checksums.sh
Labels: approved, lgtm

#88 Fix release name in homepage
  docs/contents/index.md
Labels: approved, lgtm

#86 Add project tenets
  docs/contents/index.md
Labels: approved, lgtm

#81 Add run_sonobuoy script
  development/kops/.gitignore
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm

#83 Fix occasional problem with delete cluster
  development/kops/delete_cluster.sh
Labels: approved, lgtm

#79 Add delete kops store script
  development/kops/delete_store.sh
Labels: approved, lgtm

#77 Add base run all script to test Prow
  development/kops/run_all.sh
Labels: approved, lgtm

#52 Fixed non-inclusive language
  projects/kubernetes/kubernetes/1-18/patches/0001-EKS-PATCH-Added-allowlist-CIDR-flag-use-klog.patch
  projects/kubernetes/kubernetes/1-18/patches/0004-EKS-PATCH-volume-plugin-requests-patch.patch
Labels: approved, lgtm

#91 Update kops docs
  development/kops/README.md
  development/kops/cluster_wait.sh
  development/kops/create_cluster.sh
  development/kops/create_configuration.sh
  development/kops/delete_cluster.sh
  docs/contents/users/index.md
Labels: approved, lgtm
