Repository aws/eks-distro, pull requests merged in 2021-05, with the labels that each got.

#338 For 1.18-4: Modified patches, bumped Kubernetes version, and incremented dev RELEASE
  projects/kubernetes/kubernetes/1-18/GIT_TAG
  projects/kubernetes/kubernetes/1-18/patches/0001-EKS-PATCH-Added-allowlist-CIDR-flag-use-klog.patch
  projects/kubernetes/kubernetes/1-18/patches/0005-EKS-PATCH-Lookup-sts-endpoint-from-custom-map.patch
  projects/kubernetes/kubernetes/1-18/patches/0006-EKS-PATCH-using-regional-sts-endpoint-for-assume-ecr.patch
  projects/kubernetes/kubernetes/1-18/patches/0007-EKS-PATCH-fix-aws-loadbalancer-nodePort-cannot-chang.patch
  projects/kubernetes/kubernetes/1-18/patches/0009-EKS-PATCH-fix-aws-loadbalancer-vpc-cidr-calculation.patch
  projects/kubernetes/kubernetes/1-18/patches/0010-EKS-PATCH-refine-aws-loadbalancer-worker-node-SG-rul.patch
  projects/kubernetes/kubernetes/1-18/patches/0011-EKS-PATCH-Allow-UDP-for-AWS-NLB.patch
  projects/kubernetes/kubernetes/1-18/patches/0012-EKS-PATCH-AWS-cloudprovider-allow-nlb-ip-and-externa.patch
  projects/kubernetes/kubernetes/1-18/patches/0014-EKS-PATCH-Update-aws-sdk-go-to-v1.34.24.patch
  projects/kubernetes/kubernetes/1-18/patches/0017-EKS-PATCH-Accept-healthy-instances-in-list-of-active.patch
  projects/kubernetes/kubernetes/1-18/patches/0017-EKS-PATCH-Delete-leaked-volume-if-driver-doesn-t-kno.patch
  projects/kubernetes/kubernetes/1-18/patches/0018-2021-25735_1_18.patch
  release/1-18/development/RELEASE
Labels: approved, lgtm, v1.18

#340 fix dev + prod release script to use new public base
  release/prow-release.sh
  release/prow.sh
Labels: approved, lgtm

#339 update to 1.19.8 to match eks
  projects/kubernetes/kubernetes/1-19/GIT_TAG
  projects/kubernetes/kubernetes/1-19/patches/0005-EKS-PATCH-Lookup-sts-endpoint-from-custom-map.patch
  projects/kubernetes/kubernetes/1-19/patches/0008-EKS-PATCH-Update-aws-sdk-go-to-v1.34.24.patch
  projects/kubernetes/kubernetes/1-19/patches/0012-EKS-PATCH-allow-override-of-kube-proxy-base-image
  projects/kubernetes/kubernetes/1-19/patches/0014-EKS-PATCH-Delete-leaked-volume-if-driver-doesn-t-kno.patch
  release/1-19/development/RELEASE
Labels: approved, lgtm

#341 attribution: additional checks to ensure prohibited licenses are flagged
  Makefile
  build/lib/common.sh
  build/update-attribution-files/make_attribution.sh
Labels: approved, lgtm

#344 KUBE_GIT_VERSION_FILE and prod RELEASE for 1.18-4
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
  release/1-18/production/RELEASE
Labels: approved, lgtm

#347 fix ecr-public login to check for running docker vs if it is installed
  development/ecr/ecr-command.sh
Labels: approved, lgtm

#345 KUBE_GIT_VERSION_FILE and prod RELEASE for 1.19-4
  projects/kubernetes/kubernetes/1-19/KUBE_GIT_VERSION_FILE
  release/1-19/production/RELEASE
Labels: approved, lgtm

#343 Updated docs and created release annoucement for 1.18-4
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/4/CHANGELOG-v1-18-eks-4.md
  docs/contents/releases/1-18/4/index.md
  docs/contents/releases/1-18/4/release-announcement.txt
Labels: approved, lgtm

#348 Added SNS topic to README
  README.md
Labels: approved, documentation, lgtm

#349 Updated docs and created release annoucement for 1.19-4
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/4/CHANGELOG-v1-19-eks-4.md
  docs/contents/releases/1-19/4/index.md
  docs/contents/releases/1-19/4/release-announcement.txt
Labels: approved, documentation, lgtm, v1.19

#351 Added release branches for etcd
  projects/etcd-io/etcd/1-18/ATTRIBUTION.txt
  projects/etcd-io/etcd/1-18/GIT_TAG
  projects/etcd-io/etcd/1-19/ATTRIBUTION.txt
  projects/etcd-io/etcd/1-19/GIT_TAG
  projects/etcd-io/etcd/1-20/ATTRIBUTION.txt
  projects/etcd-io/etcd/1-20/GIT_TAG
  projects/etcd-io/etcd/Makefile
  projects/etcd-io/etcd/build/create_attribution.sh
  projects/etcd-io/etcd/build/create_tarballs.sh
  projects/etcd-io/etcd/docker/linux/Dockerfile
Labels: approved, lgtm

#323 Changed dev RELEASE to 1
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20

#357 Fixed bug with GIT_TAG for etcd
  projects/etcd-io/etcd/GIT_TAG
Labels: approved, bug, lgtm

#356 Updated kubeadm-onsite to EKS v1.19.8-eks-1-19-4 and other fixes
  docs/contents/users/install/kubeadm-onsite.md
Labels: approved, lgtm

#324 Changed prod RELEASE to 1
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20

#363 Updated runbook, including release types
  docs/contents/runbook.md
Labels: approved, documentation, lgtm

#365 Remove yum updates from Dockerfile since the base image has already run it
  projects/kubernetes/release/docker/kube-proxy-base/Dockerfile
Labels: approved, lgtm

#367 Added patch to be part of v1.18-5
  projects/kubernetes/kubernetes/1-18/patches/0019-EKS-PATCH-chunk-target-operation-for-aws-targ.patch
Labels: approved, lgtm, v1.18

#368 Made dev RELEASE and KUBE_GIT_VERSION for 1.18-5
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
  release/1-18/development/RELEASE
Labels: approved, lgtm, v1.18

#369 Changed prod RELEASE for 1.18-5
  release/1-18/production/RELEASE
Labels: approved, lgtm, v1.18

#371 Fix typo in 1.19-3 docs
  docs/contents/releases/1-19/3/CHANGELOG-v1-19-eks-3.md
Labels: approved, lgtm

#372 Fixed bug in pull-all.sh
  development/pull-all.sh
Labels: approved, lgtm

#373 Added SSM agent install to kops
  development/kops/eks-d.tpl
Labels: approved, lgtm

#370 Added docs for 1.18-5
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/5/CHANGELOG-v1-18-eks-5.md
  docs/contents/releases/1-18/5/index.md
  docs/contents/releases/1-18/5/release-announcement.txt
Labels: approved, documentation, lgtm, v1.18
