Repository aws/eks-distro, pull requests merged in 2021-10, with the labels that each got.

#587 kubernetes: use local registry in presubmit for base images
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/build/create_binaries.sh
  projects/kubernetes/kubernetes/build/determine_presubmit_base_image.sh
  projects/kubernetes/release/Makefile
Labels: approved, lgtm, size/M

#589 Updated docs for EKS Anywhere
  docs/contents/users/install/kubeadm-onsite.md
Labels: documentation, approved, lgtm, size/XS

#586 kubernete: no need to generate sha256 files for licenses
  projects/kubernetes/kubernetes/build/create_release_checksums.sh
  projects/kubernetes/kubernetes/build/lib/binaries.sh
Labels: approved, size/M

#592 add build_check script to wait for buildkitd before building
  build/lib/buildkit_check.sh
Labels: approved, lgtm, size/M

#591 validate artifact directory before upload
  build/lib/validate_artifacts.sh
  projects/containernetworking/plugins/Makefile
  projects/containernetworking/plugins/expected_artifacts_plugins
  projects/coredns/coredns/Makefile
  projects/coredns/coredns/expected_artifacts_kubernetes
  projects/etcd-io/etcd/Makefile
  projects/etcd-io/etcd/expected_artifacts_etcd
  projects/etcd-io/etcd/expected_artifacts_kubernetes
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/expected_artifacts_aws-iam-authenticator
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/expected_artifacts_kubernetes
  release/copy_artifacts.sh
Labels: approved, lgtm, size/L
