Repository aws/eks-distro, pull requests merged in 2021-03, with the labels that each got.

#224 Change source ecr for kops
  development/kops/set_environment.sh
Labels: approved, lgtm

#225 Add delay to make sure kops clusters come up for both the k8s versions
  development/kops/cluster_wait.sh
  development/kops/prow.sh
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm

#226 Use one build badge
  README.md
Labels: approved, lgtm

#205 Copy up release channel and CRDs
  release/generate_crd.sh
  release/s3_sync.sh
Labels: approved, lgtm

#229 Update kubeadm-onsite.md
  docs/contents/users/install/kubeadm-onsite.md
Labels: approved, lgtm, ok-to-test

#230 Adding new members to OWNERS
  OWNERS
Labels: approved, lgtm

#233 Adding release based versioning for projects, adding support for kops
  development/kops/create_values_yaml.sh
  projects/coredns/coredns/1-18/GIT_TAG
  projects/coredns/coredns/1-19/GIT_TAG
  projects/coredns/coredns/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/1-18/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
  projects/kubernetes-sigs/metrics-server/1-18/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-19/GIT_TAG
  projects/kubernetes-sigs/metrics-server/Makefile
  release/copy_artifacts.sh
Labels: approved, lgtm

#227 Add 1-20 patches
  development/kops/create_cluster.sh
  development/kops/install_requirements.sh
  development/kops/prow.sh
  projects/kubernetes/kubernetes/1-20/GIT_TAG
  projects/kubernetes/kubernetes/1-20/KUBE_GIT_VERSION_FILE
  projects/kubernetes/kubernetes/1-20/RELEASE
  projects/kubernetes/kubernetes/1-20/checksums
  projects/kubernetes/kubernetes/1-20/patches/0001-EKS-PATCH-Added-allowlist-CIDR-flag-use-klog.patch
  projects/kubernetes/kubernetes/1-20/patches/0002-EKS-PATCH-Pass-region-to-sts-client-for-ap-east-1.patch
  projects/kubernetes/kubernetes/1-20/patches/0003-EKS-PATCH-staging-apiserver-disable-info-level-gRPC-.patch
  projects/kubernetes/kubernetes/1-20/patches/0004-EKS-PATCH-volume-plugin-requests-patch.patch
  projects/kubernetes/kubernetes/1-20/patches/0005-EKS-PATCH-Lookup-sts-endpoint-from-custom-map.patch
  projects/kubernetes/kubernetes/1-20/patches/0006-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-20/patches/0007-EKS-PATCH-additional-subnet-configuration-for-AWS-EL.patch
  projects/kubernetes/kubernetes/1-20/patches/0008-EKS-PATCH-Use-GNU-date.patch
  projects/kubernetes/kubernetes/1-20/patches/0009-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-20/patches/0010-EKS-PATCH-Allow-override-of-kube-proxy-base-image.patch
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/build/create_binaries.sh
  release/1-20/RELEASE
  release/1-20/RELEASE-DEV
  release/1-20/RELEASE-PUBLIC
Labels: approved, lgtm, ok-to-test

#239 Added 1-20 directories for components
  projects/coredns/coredns/1-20/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-20/GIT_TAG
Labels: approved, lgtm

#231 Added release notification script
  release/sns_notification.sh
Labels: approved, lgtm

#234 Add prow job for announcements
  release/prow-announce.sh
Labels: approved, lgtm

#235 Added release announcement for 1.19.1
  docs/contents/releases/1-19/1/release-announcement.txt
Labels: approved, lgtm, v1.19

#237 Added Accept-healthy-instances... patch to 1.18
  projects/kubernetes/kubernetes/1-18/patches/0017-EKS-PATCH-Accept-healthy-instances-in-list-of-active.patch
Labels: approved, lgtm, v1.18

#241 Added aws_credentials-update... patch to 1.19
  projects/kubernetes/kubernetes/1-19/patches/0013-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
Labels: approved, lgtm, v1.19

#243 Download 1.20 kops
  development/kops/eks-d.tpl
  development/kops/install_requirements.sh
Labels: approved, lgtm

#244 Update kubernetes-csi sidecars to latest
  projects/kubernetes-csi/external-attacher/GIT_TAG
  projects/kubernetes-csi/external-provisioner/GIT_TAG
  projects/kubernetes-csi/external-resizer/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/GIT_TAG
  projects/kubernetes-csi/livenessprobe/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/GIT_TAG
Labels: approved, lgtm, ok-to-test

#246 remove volume plugin patch
  projects/kubernetes/kubernetes/1-20/patches/0004-EKS-PATCH-Lookup-sts-endpoint-from-custom-map.patch
  projects/kubernetes/kubernetes/1-20/patches/0004-EKS-PATCH-volume-plugin-requests-patch.patch
  projects/kubernetes/kubernetes/1-20/patches/0005-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-20/patches/0006-EKS-PATCH-additional-subnet-configuration-for-AWS-EL.patch
  projects/kubernetes/kubernetes/1-20/patches/0007-EKS-PATCH-Use-GNU-date.patch
  projects/kubernetes/kubernetes/1-20/patches/0008-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-20/patches/0009-EKS-PATCH-Allow-override-of-kube-proxy-base-image.patch
Labels: approved, lgtm, ok-to-test

#247 Added Delete leaked volume... patch for 1.18
  projects/kubernetes/kubernetes/1-18/patches/0018-EKS-PATCH-Delete-leaked-volume-if-driver-doesn-t-kno.patch
Labels: approved, lgtm, v1.18

#250 Add release runbook
  docs/contents/runbook.md
Labels: approved, lgtm

#251 Fix crd container image uri
  Makefile
  release/generate_crd.sh
Labels: approved, lgtm

#248 Added Delete leaked volume... patch for 1.19
  projects/kubernetes/kubernetes/1-19/patches/0014-EKS-PATCH-Delete-leaked-volume-if-driver-doesn-t-kno.patch
Labels: approved, lgtm, v1.19

#252 fix pr creation due to out of sync bot fork
  build/update-attribution-files/create_pr.sh
Labels: approved, lgtm

#253 Changes RELEASE-DEV of 1.19 to 2
  release/1-19/RELEASE-DEV
Labels: approved, lgtm, v1.19

#255 Increase delay to make sure kops jobs are successful
  development/kops/cluster_wait.sh
  development/kops/prow.sh
Labels: approved, lgtm

#258 Make sure sonobuoy is up before running
  development/kops/cluster_wait.sh
  development/kops/prow.sh
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm

#259 Fix binary path
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm

#260 Updated RELEASE-DEV to create new release
  release/1-18/RELEASE-DEV
Labels: approved, lgtm

#263 Remove checksums from runbook
  docs/contents/runbook.md
Labels: approved, lgtm

#261 Updated 1.18 release files
  projects/kubernetes/kubernetes/1-18/RELEASE
  release/1-18/RELEASE
  release/1-18/RELEASE-PUBLIC
Labels: approved, lgtm, v1.18

#254 Changes release number of non-dev values for 1.19-2
  projects/kubernetes/kubernetes/1-19/RELEASE
  release/1-19/RELEASE
  release/1-19/RELEASE-PUBLIC
Labels: approved, lgtm, v1.19

#264 fix retry logic for kubernetes unit tests
  projects/kubernetes/kubernetes/build/run_tests.sh
Labels: approved, lgtm

#266 Create default release branch file
  Makefile
  cmd/main_postsubmit.go
  development/kops/set_environment.sh
  projects/containernetworking/plugins/Makefile
  projects/coredns/coredns/Makefile
  projects/etcd-io/etcd/Makefile
  projects/kubernetes-csi/external-attacher/Makefile
  projects/kubernetes-csi/external-provisioner/Makefile
  projects/kubernetes-csi/external-resizer/Makefile
  projects/kubernetes-csi/external-snapshotter/Makefile
  projects/kubernetes-csi/livenessprobe/Makefile
  projects/kubernetes-csi/node-driver-registrar/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
  projects/kubernetes-sigs/metrics-server/Makefile
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/release/Makefile
  release/DEFAULT_RELEASE_BRANCH
Labels: approved, lgtm

#265 do not run kubernetes test when running build
  projects/kubernetes/kubernetes/Makefile
Labels: approved, lgtm

#267 fix unit test rety logic by adding gotpath to path for gotestsum
  projects/kubernetes/kubernetes/build/run_tests.sh
Labels: approved, lgtm

#268 use same version of kops for all release branches
  development/kops/cluster_wait.sh
  development/kops/create_cluster.sh
  development/kops/eks-d.tpl
  development/kops/install_requirements.sh
  development/kops/set_environment.sh
Labels: approved, lgtm

#238 Added release docs for 1.18-2
  docs/contents/releases/1-18/2/CHANGELOG-v1-18-eks-2.md
  docs/contents/releases/1-18/2/index.md
  docs/contents/releases/1-19/1/CHANGELOG-v1-19-eks-1.md
Labels: approved, documentation, lgtm, v1.18

#270 Added release announcement for 1.18.2
  docs/contents/releases/1-18/2/release-announcement.txt
Labels: approved, lgtm

#271 update to latest sonobuoy and add kube context to calls
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm

#273 add additional wait for dns resolution for kops clusters
  development/kops/run_all.sh
  development/kops/validate_dns.sh
Labels: approved, lgtm

#275 Fixed typos in runbook
  docs/contents/runbook.md
Labels: approved, lgtm

#240 Added release docs for 1.19-2
  docs/contents/releases/1-19/2/CHANGELOG-v1-19-eks-2.md
  docs/contents/releases/1-19/2/index.md
Labels: approved, documentation, lgtm, v1.19

#269 introduce golang-version file for kubernetes release branches
  projects/kubernetes/kubernetes/1-18/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-19/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-20/GOLANG_VERSION
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/build/create_attribution.sh
  projects/kubernetes/kubernetes/build/create_binaries.sh
  projects/kubernetes/kubernetes/build/lib/binaries.sh
  projects/kubernetes/kubernetes/build/run_tests.sh
Labels: approved, lgtm

#277 Create production and development release files
  Makefile
  docs/contents/runbook.md
  projects/containernetworking/plugins/Makefile
  projects/coredns/coredns/Makefile
  projects/etcd-io/etcd/Makefile
  projects/kubernetes-csi/external-attacher/Makefile
  projects/kubernetes-csi/external-provisioner/Makefile
  projects/kubernetes-csi/external-resizer/Makefile
  projects/kubernetes-csi/external-snapshotter/Makefile
  projects/kubernetes-csi/livenessprobe/Makefile
  projects/kubernetes-csi/node-driver-registrar/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
  projects/kubernetes-sigs/metrics-server/Makefile
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/release/Makefile
  release/1-18/development/RELEASE
  release/1-18/production/RELEASE
  release/1-19/development/RELEASE
  release/1-19/production/RELEASE
  release/1-20/development/RELEASE
  release/1-20/production/RELEASE
Labels: approved, lgtm

#280 Exit PR creation script gracefully if no files were changed
  build/update-attribution-files/create_pr.sh
Labels: approved, lgtm
