Repository aws/eks-distro, pull requests merged in 2021-08, with the labels that each got.

#481 Removed environment and fix num bug
  Makefile
  cmd/release/docs/main.go
  cmd/release/internal/directories.go
  cmd/release/internal/release.go
  cmd/release/internal/release_environments.go
  cmd/release/internal/release_numbers.go
  cmd/release/number/main.go
Labels: approved, lgtm

#482 Bumped 1.21-3 dev
  projects/kubernetes/kubernetes/1-21/KUBE_GIT_VERSION_FILE
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21

#484 Bumped 1.20-5 dev
  projects/kubernetes/kubernetes/1-20/KUBE_GIT_VERSION_FILE
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20

#486 add new minimal base image tag files
  EKS_DISTRO_MINIMAL_BASE_IPTABLES_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_NONROOT_TAG_FILE
Labels: approved, lgtm

#487 Changed patches and bumped K8s to 1.18.20
  projects/kubernetes/kubernetes/1-18/GIT_TAG
  projects/kubernetes/kubernetes/1-18/patches/0001-EKS-PATCH-Added-allowlist-CIDR-flag-use-klog.patch
  projects/kubernetes/kubernetes/1-18/patches/0002-EKS-PATCH-Pass-region-to-sts-client-for-ap-east-1.patch
  projects/kubernetes/kubernetes/1-18/patches/0003-EKS-PATCH-staging-apiserver-disable-info-level-gRPC-.patch
  projects/kubernetes/kubernetes/1-18/patches/0004-EKS-PATCH-volume-plugin-requests-patch.patch
  projects/kubernetes/kubernetes/1-18/patches/0005-EKS-PATCH-Lookup-sts-endpoint-from-custom-map.patch
  projects/kubernetes/kubernetes/1-18/patches/0006-EKS-PATCH-using-regional-sts-endpoint-for-assume-ecr.patch
  projects/kubernetes/kubernetes/1-18/patches/0007-EKS-PATCH-fix-aws-loadbalancer-nodePort-cannot-chang.patch
  projects/kubernetes/kubernetes/1-18/patches/0008-EKS-PATCH-aws-Fix-address-sorting-of-multiple-interf.patch
  projects/kubernetes/kubernetes/1-18/patches/0009-EKS-PATCH-fix-aws-loadbalancer-vpc-cidr-calculation.patch
  projects/kubernetes/kubernetes/1-18/patches/0010-EKS-PATCH-refine-aws-loadbalancer-worker-node-SG-rul.patch
  projects/kubernetes/kubernetes/1-18/patches/0011-EKS-PATCH-Allow-UDP-for-AWS-NLB.patch
  projects/kubernetes/kubernetes/1-18/patches/0012-EKS-PATCH-AWS-cloudprovider-allow-nlb-ip-and-externa.patch
  projects/kubernetes/kubernetes/1-18/patches/0012-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-18/patches/0013-EKS-PATCH-Update-aws-sdk-go-to-v1.34.24.patch
  projects/kubernetes/kubernetes/1-18/patches/0014-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-18/patches/0015-EKS-PATCH-Use-GNU-date.patch
  projects/kubernetes/kubernetes/1-18/patches/0016-EKS-PATCH-Delete-leaked-volume-if-driver-doesn-t-kno.patch
  projects/kubernetes/kubernetes/1-18/patches/0017-EKS-PATCH-chunk-target-operation-for-aws-targ.patch
  projects/kubernetes/kubernetes/1-18/patches/0018-2021-25735_1_18.patch
Labels: approved, lgtm, v1.18

#489 Changed dev release for 1.18-9
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
  release/1-18/development/RELEASE
Labels: approved, lgtm, v1.18

#490 Changed prod release for 1.18-9
  release/1-18/production/RELEASE
Labels: approved, lgtm, v1.18

#483 Bumped 1.21-3 prod
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release

#485 Bumped 1.20-5 prod
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release

#500 Added docs for 1.18-9
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/9/CHANGELOG-v1-18-eks-9.md
  docs/contents/releases/1-18/9/index.md
  docs/contents/releases/1-18/9/release-announcement.txt
Labels: documentation, approved, lgtm, v1.18, release

#498 Added docs for 1.21-3
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/3/CHANGELOG-v1-21-eks-3.md
  docs/contents/releases/1-21/3/index.md
  docs/contents/releases/1-21/3/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release

#499 Added docs for 1.20-5
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/5/CHANGELOG-v1-20-eks-5.md
  docs/contents/releases/1-20/5/index.md
  docs/contents/releases/1-20/5/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release

#497 Changed patches and bumped K8s to 1.19.13
  projects/kubernetes/kubernetes/1-19/GIT_TAG
  projects/kubernetes/kubernetes/1-19/patches/0001-EKS-PATCH-Added-allowlist-CIDR-flag-use-klog.patch
  projects/kubernetes/kubernetes/1-19/patches/0002-EKS-PATCH-Pass-region-to-sts-client-for-hkg.patch
  projects/kubernetes/kubernetes/1-19/patches/0003-EKS-PATCH-staging-apiserver-disable-info-level-gRPC-.patch
  projects/kubernetes/kubernetes/1-19/patches/0004-EKS-PATCH-volume-plugin-requests-patch.patch
  projects/kubernetes/kubernetes/1-19/patches/0005-EKS-PATCH-Lookup-sts-endpoint-from-custom-map.patch
  projects/kubernetes/kubernetes/1-19/patches/0006-EKS-PATCH-using-regional-sts-endpoint-for-assume-ecr.patch
  projects/kubernetes/kubernetes/1-19/patches/0007-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-19/patches/0008-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-19/patches/0009-EKS-PATCH-Allow-override-of-kube-proxy-base-image.patch
  projects/kubernetes/kubernetes/1-19/patches/0010-EKS-PATCH-Delete-leaked-volume-if-driver-doesn-t-kno.patch
  projects/kubernetes/kubernetes/1-19/patches/0011-EKS-PATCH-Update-aws-sdk-go-to-v1.34.24.patch
Labels: approved, lgtm, v1.19, release

#501 Bumped 1.19-8 dev
  projects/kubernetes/kubernetes/1-19/KUBE_GIT_VERSION_FILE
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19, release

#505 Configure commit email for PR bot
  build/update-attribution-files/create_pr.sh
Labels: approved, lgtm

#502 Bumped 1.19-8 prod
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19, release

#506 yum clean after installing iptables
  projects/kubernetes/release/docker/kube-proxy-base/Dockerfile
Labels: approved, lgtm

#503 Added docs for 1.19-8
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/8/CHANGELOG-v1-19-eks-8.md
  docs/contents/releases/1-19/8/index.md
  docs/contents/releases/1-19/8/release-announcement.txt
Labels: documentation, approved, lgtm, v1.19, release

#492 Fixed automated clean up for appended doc
  cmd/release/docs/internal/docs_creater.go
Labels: approved, lgtm

#495 coredns/etcd: build oci targets
  projects/coredns/coredns/Makefile
  projects/coredns/coredns/build/create_images.sh
  projects/coredns/coredns/build/lib/images.sh
  projects/etcd-io/etcd/Makefile
  projects/etcd-io/etcd/build/create_images.sh
  projects/etcd-io/etcd/build/lib/images.sh
  release/copy_artifacts.sh
Labels: approved, lgtm

#508 fix s3_sync for ectd + coredns
  projects/coredns/coredns/Makefile
  projects/etcd-io/etcd/Makefile
Labels: approved, lgtm

#511 run arm and amd for 1-21 release branch
  Makefile
  development/kops/cluster_wait.sh
  development/kops/validate_eks.sh
Labels: approved, lgtm

#510 Explicitly disable CGO when building
  projects/etcd-io/etcd/build/create_binaries.sh
Labels: approved, lgtm

#507 kops: add simple csi and etcd tests
  development/kops/create_values_yaml.sh
  development/kops/run_all.sh
  development/kops/run_tests.sh
  development/kops/tests/csi/README.md
  development/kops/tests/csi/deploy/csi-mock-driver-deployment.yaml.tpl
  development/kops/tests/csi/deploy/csi-mock-driver-rbac.yaml
  development/kops/tests/csi/pod-test.yaml
  development/kops/tests/csi/pvc-test.yaml
  development/kops/tests/etcd/README.md
  development/kops/tests/etcd/deploy/etcd.yaml.tpl
Labels: approved, lgtm

#516 kops: generate key before running kops
  Makefile
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm

#517 Remove extraneous word
  docs/contents/community/faq.md
Labels: approved, lgtm

#493 Allow automated generation of JUST the components table
  Makefile
  cmd/release/docs/main.go
Labels: approved, lgtm

#518 support multiple 3.x pause tags and set 3.4.1 for 1.20
  projects/kubernetes/kubernetes/1-20/PAUSE_3_4_1_TAG
  projects/kubernetes/kubernetes/1-20/PAUSE_3_4_TAG
  projects/kubernetes/kubernetes/Makefile
Labels: approved, lgtm

#519 Fix regex in main postsubmits
  cmd/main_postsubmit.go
Labels: approved, lgtm

#452 Generate PR for automated releases
  Makefile
  cmd/release/docs/internal/docs_pr.go
  cmd/release/docs/internal/docs_updater.go
  cmd/release/docs/internal/status.go
  cmd/release/docs/main.go
  cmd/release/internal/directories.go
  cmd/release/internal/release.go
  cmd/release/internal/release_environments.go
  cmd/release/internal/release_numbers.go
  cmd/release/number/internal/number_pr.go
  cmd/release/number/main.go
  cmd/release/pull_request/create_release_pr.sh
  cmd/release/pull_request/open_pr.go
  cmd/release/pull_request/pr_input.go
Labels: approved, lgtm

#521 Bumped development RELEASE for 1.20-6
  projects/kubernetes/kubernetes/1-20/KUBE_GIT_VERSION_FILE
  release/1-20/development/RELEASE
Labels: approved, lgtm

#520 Bumped production RELEASE for 1.20-6
  release/1-20/production/RELEASE
Labels: approved, lgtm

#522 Added labels to PR
  cmd/release/pull_request/create_release_pr.sh
Labels: approved, lgtm

#523 Fixed bot cleanup
  cmd/release/pull_request/create_release_pr.sh
Labels: approved, lgtm

#525 kops: use api server ip instead of relying on dns
  development/kops/validate_dns.sh
Labels: approved, lgtm

#529 Bumped development RELEASE for 1.19-9
  projects/kubernetes/kubernetes/1-19/KUBE_GIT_VERSION_FILE
  release/1-19/development/RELEASE
Labels: approved, lgtm, release

#526 Bumped development RELEASE for 1.18-10
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
  release/1-18/development/RELEASE
Labels: approved, lgtm, release

#532 Bumped development RELEASE for 1.21-4
  projects/kubernetes/kubernetes/1-21/KUBE_GIT_VERSION_FILE
  release/1-21/development/RELEASE
Labels: approved, lgtm, release

#527 Bumped production RELEASE for 1.18-10
  release/1-18/production/RELEASE
Labels: approved, lgtm, release

#530 Bumped production RELEASE for 1.19-9
  release/1-19/production/RELEASE
Labels: approved, lgtm, release

#535 install kops/kubectl before running prow.sh
  Makefile
  development/kops/install_requirements.sh
Labels: approved, lgtm

#524 Created and updated docs for 1.20-6
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/6/CHANGELOG-v1-20-eks-6.md
  docs/contents/releases/1-20/6/index.md
  docs/contents/releases/1-20/6/release-announcement.txt
Labels: approved, lgtm, v1.20, release

#533 Bumped production RELEASE for 1.21-4
  release/1-21/production/RELEASE
Labels: approved, lgtm, release

#531 Created and updated docs for 1.19-9
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/9/CHANGELOG-v1-19-eks-9.md
  docs/contents/releases/1-19/9/index.md
  docs/contents/releases/1-19/9/release-announcement.txt
Labels: approved, lgtm, release

#534 Created and updated docs for 1.21-4
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/4/CHANGELOG-v1-21-eks-4.md
  docs/contents/releases/1-21/4/index.md
  docs/contents/releases/1-21/4/release-announcement.txt
Labels: approved, lgtm, release

#528 Created and updated docs for 1.18-10
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/10/CHANGELOG-v1-18-eks-10.md
  docs/contents/releases/1-18/10/index.md
  docs/contents/releases/1-18/10/release-announcement.txt
Labels: approved, lgtm, release

#538 Add tag files for glibc and CSI minimal base images
  EKS_DISTRO_MINIMAL_BASE_CSI_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_GLIBC_TAG_FILE
Labels: approved, lgtm

#536 kops: rerun failed conformance tests
  Makefile
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm

#539 fix postsubmit
  Makefile
Labels: approved, lgtm

#540 fix conformance rerun logic
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm

#541 kops: cleanup only old clusters with same arch
  development/kops/prow.sh
  development/kops/run_all.sh
Labels: approved, lgtm
