Repository aws/eks-distro, pull requests merged in 2021-06, with the labels that each got.

#378 Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: approved, lgtm

#376 update kubernetes update instructions
  docs/contents/runbook.md
Labels: approved, lgtm

#380 Updated Jobs steps in runbook
  docs/contents/runbook.md
Labels: approved, documentation, lgtm

#381 Added DEFAULT_RELEASE_BRANCH change to runbook
  docs/contents/runbook.md
Labels: approved, documentation, lgtm

#382 add step about updating release tool for new k8s minor versions
  docs/contents/runbook.md
Labels: approved, lgtm

#361 Removed CRD from all index.md files
  docs/contents/releases/1-18/1/index.md
  docs/contents/releases/1-18/2/index.md
  docs/contents/releases/1-18/3/index.md
  docs/contents/releases/1-18/4/index.md
  docs/contents/releases/1-19/1/index.md
  docs/contents/releases/1-19/2/index.md
  docs/contents/releases/1-19/3/index.md
  docs/contents/releases/1-19/4/index.md
Labels: approved, documentation, lgtm, v1.18, v1.19

#391 Added substep to runbook and ran autoformat
  docs/contents/runbook.md
Labels: approved, documentation, lgtm

#364 Created release command
  Makefile
  cmd/release/docs/internal/component_table.go
  cmd/release/docs/internal/docs_creater.go
  cmd/release/docs/internal/docs_updater.go
  cmd/release/docs/internal/status.go
  cmd/release/docs/internal/templates.go
  cmd/release/docs/main.go
  cmd/release/internal/directories.go
  cmd/release/internal/release.go
  cmd/release/internal/release_numbers.go
  cmd/release/number/main.go
Labels: approved, lgtm

#384 Created kubernetes 1.21 branch, patches, and versions
  development/kops/cluster_wait.sh
  projects/coredns/coredns/1-21/ATTRIBUTION.txt
  projects/coredns/coredns/1-21/GIT_TAG
  projects/etcd-io/etcd/1-21/ATTRIBUTION.txt
  projects/etcd-io/etcd/1-21/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-21/ATTRIBUTION.txt
  projects/kubernetes-sigs/metrics-server/1-21/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-21/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/Makefile
  projects/kubernetes/kubernetes/1-21/ATTRIBUTION.txt
  projects/kubernetes/kubernetes/1-21/GIT_TAG
  projects/kubernetes/kubernetes/1-21/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-21/KUBE_GIT_VERSION_FILE
  projects/kubernetes/kubernetes/1-21/patches/0001-EKS-PATCH-Added-allowlist-CIDR-flag-use-klog.patch
  projects/kubernetes/kubernetes/1-21/patches/0002-EKS-PATCH-Pass-region-to-sts-client-for-ap-east-1.patch
  projects/kubernetes/kubernetes/1-21/patches/0003-EKS-PATCH-staging-apiserver-disable-info-level-gRPC-.patch
  projects/kubernetes/kubernetes/1-21/patches/0004-EKS-PATCH-Lookup-sts-endpoint-from-custom-map.patch
  projects/kubernetes/kubernetes/1-21/patches/0005-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-21/patches/0006-EKS-PATCH-Use-GNU-date.patch
  projects/kubernetes/kubernetes/1-21/patches/0007-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-21/patches/0008-EKS-PATCH-Allow-override-of-kube-proxy-base-image.patch
  projects/kubernetes/kubernetes/1-21/patches/0009-EKS-PATCH-delete-leaked-volume-if-driver-doesn-t-kno.patch
  projects/kubernetes/kubernetes/top_flakes
  release/1-21/development/RELEASE
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21

#385 kubernetes: fix update-version script
  projects/kubernetes/kubernetes/build/create_images.sh
  projects/kubernetes/kubernetes/build/lib/images.sh
  projects/kubernetes/kubernetes/build/lib/version.sh
Labels: approved, lgtm

#399 update kops for 1.21 support
  development/kops/install_requirements.sh
Labels: approved, lgtm

#400 add './create_values_yaml.sh' to kops.yaml, fix #398
  docs/contents/users/install/kops.md
Labels: approved, lgtm, needs-ok-to-test

#401 do not ignore delete cluster failure
  development/kops/run_all.sh
Labels: approved, lgtm

#402 fix kops 1.18 run and cluster cleanup
  development/kops/cluster_wait.sh
  development/kops/run_all.sh
Labels: approved, lgtm

#392 Pause version issue
  docs/contents/runbook.md
  projects/kubernetes/kubernetes/1-18/PAUSE_TAG
  projects/kubernetes/kubernetes/1-19/PAUSE_TAG
  projects/kubernetes/kubernetes/1-20/PAUSE_TAG
  projects/kubernetes/kubernetes/1-21/PAUSE_TAG
  projects/kubernetes/kubernetes/Makefile
Labels: approved, lgtm

#403 kubernetes/release: introduce release branches
  docs/contents/runbook.md
  projects/kubernetes/release/1-18/ATTRIBUTION.txt
  projects/kubernetes/release/1-18/GIT_TAG
  projects/kubernetes/release/1-18/GOLANG_VERSION
  projects/kubernetes/release/1-19/ATTRIBUTION.txt
  projects/kubernetes/release/1-19/GIT_TAG
  projects/kubernetes/release/1-19/GOLANG_VERSION
  projects/kubernetes/release/1-20/ATTRIBUTION.txt
  projects/kubernetes/release/1-20/GIT_TAG
  projects/kubernetes/release/1-20/GOLANG_VERSION
  projects/kubernetes/release/1-21/ATTRIBUTION.txt
  projects/kubernetes/release/1-21/GIT_TAG
  projects/kubernetes/release/1-21/GOLANG_VERSION
  projects/kubernetes/release/Makefile
  projects/kubernetes/release/docker/go-runner/Dockerfile
  projects/kubernetes/release/docker/kube-proxy-base/Dockerfile
Labels: approved, lgtm

#386 Bumped Kubernetes version to 1.20.7 and modified patches
  projects/kubernetes/kubernetes/1-20/GIT_TAG
  projects/kubernetes/kubernetes/1-20/patches/0001-EKS-PATCH-Added-allowlist-CIDR-flag-use-klog.patch
  projects/kubernetes/kubernetes/1-20/patches/0002-EKS-PATCH-Pass-region-to-sts-client-for-ap-east-1.patch
  projects/kubernetes/kubernetes/1-20/patches/0003-EKS-PATCH-staging-apiserver-disable-info-level-gRPC-.patch
  projects/kubernetes/kubernetes/1-20/patches/0005-EKS-PATCH-Lookup-sts-endpoint-from-custom-map.patch
  projects/kubernetes/kubernetes/1-20/patches/0006-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-20/patches/0006-EKS-PATCH-additional-subnet-configuration-for-AWS-EL.patch
  projects/kubernetes/kubernetes/1-20/patches/0007-EKS-PATCH-Use-GNU-date.patch
  projects/kubernetes/kubernetes/1-20/patches/0008-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-20/patches/0009-EKS-PATCH-Allow-override-of-kube-proxy-base-image.patch
  projects/kubernetes/kubernetes/1-20/patches/0010-EKS-PATCH-chunk-target-operatation-for-aws-targ.patch
  projects/kubernetes/kubernetes/1-20/patches/0011-2021-25735_1_20.patch
  projects/kubernetes/kubernetes/1-20/patches/0011-EKS-PATCH-delete-leaked-volume-if-driver-doesn-t-kno.patch
Labels: approved, lgtm, v1.20

#404 Use release branch when fetching kubernetes release git tag
  projects/kubernetes/kubernetes/Makefile
Labels: approved, lgtm

#405 kubernetes/release: fix uses of git_tag for kubernetes/release
  development/pull-all.sh
  release/prow-release.sh
  release/prow.sh
Labels: approved, lgtm

#406 Fetch k8s release git tag using release-branch in release command
  cmd/release/docs/internal/component_table.go
  cmd/release/internal/directories.go
Labels: approved, lgtm

#407 kubernetes/release: fix attribution generation
  projects/kubernetes/release/Makefile
  projects/kubernetes/release/build/create_attribution.sh
Labels: approved, lgtm

#409 Fixed docs generation default behavior
  cmd/release/docs/main.go
Labels: approved, lgtm

#387 Bumped dev RELEASE for 1.20-2
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20

#408 Generate attribution file in presubmits as dry-run
  projects/containernetworking/plugins/Makefile
  projects/containernetworking/plugins/build/create_tarballs.sh
  projects/coredns/coredns/Makefile
  projects/etcd-io/etcd/Makefile
  projects/etcd-io/etcd/build/create_tarballs.sh
  projects/kubernetes-csi/external-attacher/Makefile
  projects/kubernetes-csi/external-provisioner/Makefile
  projects/kubernetes-csi/external-resizer/Makefile
  projects/kubernetes-csi/external-snapshotter/Makefile
  projects/kubernetes-csi/livenessprobe/Makefile
  projects/kubernetes-csi/node-driver-registrar/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/build/create_tarballs.sh
  projects/kubernetes-sigs/metrics-server/Makefile
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/release/Makefile
Labels: approved, lgtm

#411 Updated KUBE_GIT_VERSION for 1.20-2
  projects/kubernetes/kubernetes/1-20/KUBE_GIT_VERSION_FILE
Labels: approved, lgtm, v1.20

#419 Fixed bug in table generation
  cmd/release/docs/internal/component_table.go
Labels: approved, lgtm

#394 Changed dev RELEASE and KUBE_GIT_VERSION_FILE for 1.19-5
  projects/kubernetes/kubernetes/1-19/KUBE_GIT_VERSION_FILE
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19

#413 Bumped prod RELEASE for 1.20-2
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20

#416 Updated KUBE_GIT_VERSION_FILE and dev RELEASE for 1.18-6
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
  release/1-18/development/RELEASE
Labels: approved, lgtm, v1.18

#396 Bumped prod RELEASE for 1.19-5
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19

#417 Updated prod RELEASE for 1.18-6
  release/1-18/production/RELEASE
Labels: approved, lgtm, v1.18

#389 Added new docs for 1.20-2
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/2/CHANGELOG-v1-20-eks-2.md
  docs/contents/releases/1-20/2/index.md
  docs/contents/releases/1-20/2/release-announcement.txt
Labels: approved, documentation, lgtm, v1.20

#397 Added docs for 1.19-5
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/5/CHANGELOG-v1-19-eks-5.md
  docs/contents/releases/1-19/5/index.md
  docs/contents/releases/1-19/5/release-announcement.txt
Labels: approved, documentation, lgtm, v1.19

#422 Fix typo in changelogs
  docs/contents/releases/1-18/4/CHANGELOG-v1-18-eks-4.md
  docs/contents/releases/1-18/5/CHANGELOG-v1-18-eks-5.md
  docs/contents/releases/1-19/4/CHANGELOG-v1-19-eks-4.md
  docs/contents/releases/1-20/1/CHANGELOG-v1-20-eks-1.md
Labels: approved, lgtm
