Repository aws/eks-distro, pull requests merged in 2021-04, with the labels that each got.

#283 Fix variable name in PR creation script
  build/update-attribution-files/create_pr.sh
Labels: approved, lgtm

#284 retry sonobuoy run and validate kops cluster additional times
  development/kops/cluster_wait.sh
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm

#285 Retry sonobuoy only 3 times
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm

#282 Add delete leaked volume patch
  projects/kubernetes/kubernetes/1-20/patches/0010-EKS-PATCH-delete-leaked-volume-if-driver-doesnt-know-.patch
Labels: approved, lgtm

#286 Update README release versions
  README.md
Labels: approved, lgtm

#287 use upstream log-dump script to gather logs during e2e test
  development/kops/gather_logs.sh
  development/kops/log-dump/Readme.md
  development/kops/log-dump/log-dump.sh
  development/kops/run_all.sh
Labels: approved, lgtm

#288 fix gather logs for bash 4.3 in builder base
  development/kops/cluster_wait.sh
  development/kops/log-dump/Readme.md
  development/kops/log-dump/log-dump.sh
  development/kops/run_all.sh
Labels: approved, lgtm

#281 Added release notification for 1.19-2
  docs/contents/releases/1-19/2/release-announcement.txt
Labels: approved, lgtm

#289 Do not allow a production release zero
  release/prow-release.sh
Labels: approved, lgtm

#291 Only update files that do not exist
  release/s3_sync.sh
Labels: approved, lgtm

#292 Use release environment in kops
  development/kops/set_environment.sh
Labels: approved, lgtm

#293 Minor changes to runbook
  docs/contents/runbook.md
Labels: approved, documentation, lgtm

#290 Updated index.md for 1.18-2 and 1.19-2
  docs/contents/index.md
Labels: approved, documentation, lgtm, v1.18, v1.19

#295 Use IMAGE_REPO for kops
  development/kops/create_values_yaml.sh
  development/kops/set_environment.sh
Labels: approved, lgtm

#296 use postsubmit bucket artifacts when creating kops cluster
  development/kops/set_environment.sh
Labels: approved, lgtm

#297 Updated KUBE_GIT_VERSION
  projects/kubernetes/kubernetes/1-19/KUBE_GIT_VERSION_FILE
Labels: approved, lgtm

#298 Updated KUBE_GIT_VERSION
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
Labels: approved, lgtm

#300 kubernetes do not call local-images in release target
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/build/create_images.sh
  projects/kubernetes/kubernetes/build/lib/images.sh
Labels: approved, lgtm

#301 Make kops domain name configurable
  development/kops/prow.sh
Labels: approved, lgtm

#303 new patches from upstream for 1.18 1.19 and 1.20
  projects/kubernetes/kubernetes/1-18/patches/0019-2021-25735_1_18.patch
  projects/kubernetes/kubernetes/1-19/patches/0015-2021-25735_1_19.patch
  projects/kubernetes/kubernetes/1-20/patches/0011-2021-25735_1_20.patch
Labels: approved, lgtm

#314 patches from upstream for CVE-2021-25735
  projects/kubernetes/kubernetes/1-18/patches/0019-2021-25735_1_18.patch
  projects/kubernetes/kubernetes/1-19/patches/0015-2021-25735_1_19.patch
  projects/kubernetes/kubernetes/1-20/patches/0011-2021-25735_1_20.patch
Labels: approved, lgtm

#304 Incremented development/RELEASE for 1.18-3
  release/1-18/development/RELEASE
Labels: approved, lgtm, v1.18

#309 Incremented development/RELEASE for 1.19-3
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19

#315 Add RELEASE_ENVIRONMENT
  projects/kubernetes/kubernetes/build/create_binaries.sh
  projects/kubernetes/kubernetes/build/create_version_file.sh
  release/prow-release.sh
  release/prow.sh
Labels: approved, lgtm

#316 fix pause push and update kops version
  development/kops/gather_logs.sh
  development/kops/install_requirements.sh
  projects/kubernetes/kubernetes/build/lib/images.sh
Labels: approved

#307 Updated KUBE_GIT_VERSION for 1.18-3
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
Labels: approved, lgtm, v1.18

#305 Incremented production/RELEASE for 1.18-3
  release/1-18/production/RELEASE
Labels: approved, lgtm, v1.18

#308 Added docs for 1.18-3
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/3/CHANGELOG-v1-18-eks-3.md
  docs/contents/releases/1-18/3/index.md
Labels: approved, documentation, lgtm, v1.18

#310 Incremented production/RELEASE for 1.19-3
  projects/kubernetes/kubernetes/1-19/KUBE_GIT_VERSION_FILE
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19

#302 use al2 as the base for kubernetes if doesnt exist
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/build/create_images.sh
  projects/kubernetes/kubernetes/build/determine_presubmit_base_image.sh
Labels: approved, lgtm

#313 Added docs for 1.19-3
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/3/CHANGELOG-v1-19-eks-3.md
  docs/contents/releases/1-19/3/index.md
Labels: approved, documentation, lgtm, v1.19

#306 Added release notification for 1.18-3
  docs/contents/releases/1-18/3/release-announcement.txt
Labels: approved, lgtm, v1.18

#311 Added release notification for 1.19-3
  docs/contents/releases/1-19/3/release-announcement.txt
Labels: approved, lgtm, v1.19

#317 Clarified tagging in README
  docs/contents/runbook.md
Labels: approved, documentation, lgtm

#321 Fix formatting for website
  docs/contents/index.md
Labels: approved, lgtm

#322 Fix uri in crds
  docs/contents/releases/1-18/2/index.md
  docs/contents/releases/1-18/3/index.md
  docs/contents/releases/1-19/2/index.md
  docs/contents/releases/1-19/3/index.md
Labels: approved, lgtm

#325 Run kops without a delay
  development/kops/prow.sh
Labels: approved, lgtm

#327 Upgraded components
  projects/coredns/coredns/1-20/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-18/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-19/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-20/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-20/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/Makefile
Labels: approved, lgtm

#279 Get rid of DEVELOPMENT
  Makefile
  cmd/main_postsubmit.go
  projects/coredns/coredns/Makefile
  projects/etcd-io/etcd/Makefile
  projects/kubernetes-csi/external-attacher/Makefile
  projects/kubernetes-csi/external-provisioner/Makefile
  projects/kubernetes-csi/external-resizer/Makefile
  projects/kubernetes-csi/external-snapshotter/Makefile
  projects/kubernetes-csi/livenessprobe/Makefile
  projects/kubernetes-csi/node-driver-registrar/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
  projects/kubernetes-sigs/metrics-server/Makefile
  projects/kubernetes/release/Makefile
  release/s3_sync.sh
Labels: approved, lgtm

#333 Consume latest eks-distro-base image from verified build-tooling public registry
  EKS_DISTRO_BASE_TAG_FILE
  projects/coredns/coredns/Makefile
  projects/etcd-io/etcd/Makefile
  projects/kubernetes-csi/external-attacher/Makefile
  projects/kubernetes-csi/external-provisioner/Makefile
  projects/kubernetes-csi/external-resizer/Makefile
  projects/kubernetes-csi/external-snapshotter/Makefile
  projects/kubernetes-csi/livenessprobe/Makefile
  projects/kubernetes-csi/node-driver-registrar/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
  projects/kubernetes-sigs/metrics-server/Makefile
  projects/kubernetes/release/Makefile
Labels: approved, lgtm

#336 Give S3 artifacts public read access by default
  release/s3_sync.sh
Labels: approved, lgtm

#337 overwrite clusterrole for coredns to have endpointslices perms
  development/kops/cluster_wait.sh
  development/kops/core_dns_cluster_role.yaml
Labels: approved, lgtm
