Repository aws/eks-distro, pull requests merged in 2021-09, with the labels that each got.

#547 kubeadm: CoreDNS permissions for endpointslices
  projects/kubernetes/kubernetes/1-20/patches/0012-PATCH-kubeadm-CoreDNS-permissions-for-endpointslices.patch
  projects/kubernetes/kubernetes/1-21/patches/0010-PATCH-kubeadm-CoreDNS-permissions-for-endpointslices.patch
Labels: approved, lgtm, ok-to-test

#546 Reorder releases in README
  README.md
Labels: approved, lgtm

#551 Update sonobuoy
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm

#553 add patches from upstream for CVE-2021-25741
  projects/kubernetes/kubernetes/1-18/patches/0018-EKS-Patch-Pass-additional-flags-to-subpath-mount-to-.patch
  projects/kubernetes/kubernetes/1-19/patches/0013-EKS-CHERRYPICK-Pass-additional-flags-to-subpath-moun.patch
  projects/kubernetes/kubernetes/1-20/patches/0013-EKS-CHERRYPICK-Pass-additional-flags-to-subpath-moun.patch
  projects/kubernetes/kubernetes/1-21/patches/0008-EKS-PATCH-Allow-override-of-kube-proxy-base-image.patch
  projects/kubernetes/kubernetes/1-21/patches/0008-EKS-PATCH-delete-leaked-volume-if-driver-doesn-t-kno.patch
  projects/kubernetes/kubernetes/1-21/patches/0009-EKS-PATCH-Pass-additional-flags-to-subpath-mount-to-avoid-flak.patch
  projects/kubernetes/kubernetes/1-21/patches/0010-EKS-PATCH-Add-missing-interface-method-in-mount_unsupported.go.patch
  projects/kubernetes/kubernetes/1-21/patches/0011-EKS-PATCH-Update-the-unit-tests-to-handle-mountFlags.patch
  projects/kubernetes/kubernetes/1-21/patches/0012-EKS-PATCH-Keep-MakeMountArgSensitive-and-add-a-new-signature-t.patch
Labels: approved, lgtm

#557 Bumped development RELEASE for 1.21-5
  projects/kubernetes/kubernetes/1-21/KUBE_GIT_VERSION_FILE
  release/1-21/development/RELEASE
Labels: approved, lgtm, release, size/XS

#561 Bumped development RELEASE for 1.19-10
  projects/kubernetes/kubernetes/1-19/KUBE_GIT_VERSION_FILE
  release/1-19/development/RELEASE
Labels: approved, lgtm, release, size/XS

#563 Bumped development RELEASE for 1.18-11
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
  release/1-18/development/RELEASE
Labels: approved, lgtm, release, size/XS

#559 Bumped development RELEASE for 1.20-7
  projects/kubernetes/kubernetes/1-20/KUBE_GIT_VERSION_FILE
  release/1-20/development/RELEASE
Labels: approved, lgtm, release, size/XS

#558 Bumped production RELEASE for 1.21-5
  release/1-21/production/RELEASE
Labels: approved, lgtm, release, size/XS

#560 Bumped production RELEASE for 1.20-7
  release/1-20/production/RELEASE
Labels: approved, lgtm, release, size/XS

#562 Bumped production RELEASE for 1.19-10
  release/1-19/production/RELEASE
Labels: approved, lgtm, release, size/XS

#564 Bumped production RELEASE for 1.18-11
  release/1-18/production/RELEASE
Labels: approved, lgtm, release, size/XS

#565 Created and updated docs for 1.21-5
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/5/CHANGELOG-v1-21-eks-5.md
  docs/contents/releases/1-21/5/index.md
  docs/contents/releases/1-21/5/release-announcement.txt
Labels: documentation, approved, lgtm, needs-ok-to-test, v1.21, release, size/M

#567 Created and updated docs for 1.20-7
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/7/CHANGELOG-v1-20-eks-7.md
  docs/contents/releases/1-20/7/index.md
  docs/contents/releases/1-20/7/release-announcement.txt
Labels: documentation, approved, lgtm, needs-ok-to-test, v1.20, release, size/M

#568 Created and updated docs for 1.19-10
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/10/CHANGELOG-v1-19-eks-10.md
  docs/contents/releases/1-19/10/index.md
  docs/contents/releases/1-19/10/release-announcement.txt
Labels: documentation, approved, lgtm, needs-ok-to-test, v1.19, release, size/M

#569 introduce buildctl helper from eks-a and add retry logic
  build/lib/buildkit.sh
  projects/coredns/coredns/build/lib/images.sh
  projects/etcd-io/etcd/build/lib/images.sh
  projects/kubernetes-csi/external-attacher/Makefile
  projects/kubernetes-csi/external-provisioner/Makefile
  projects/kubernetes-csi/external-resizer/Makefile
  projects/kubernetes-csi/external-snapshotter/Makefile
  projects/kubernetes-csi/livenessprobe/Makefile
  projects/kubernetes-csi/node-driver-registrar/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
  projects/kubernetes-sigs/metrics-server/Makefile
  projects/kubernetes/kubernetes/build/lib/images.sh
  projects/kubernetes/release/Makefile
Labels: approved, lgtm, ok-to-test, size/L

#571 Created and updated docs for 1.18-11
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/11/CHANGELOG-v1-18-eks-11.md
  docs/contents/releases/1-18/11/index.md
  docs/contents/releases/1-18/11/release-announcement.txt
Labels: documentation, approved, lgtm, ok-to-test, v1.18, release, size/M

#577 Remove tenzin from owners
  OWNERS
Labels: approved, lgtm, size/XS

#573 Changed make tag
  Makefile
Labels: approved, lgtm, needs-ok-to-test, size/XS

#575 Minor change to patch subject
  projects/kubernetes/kubernetes/1-20/patches/0013-EKS-CHERRYPICK-Pass-additional-flags-to-subpath-moun.patch
  projects/kubernetes/kubernetes/build/create_binaries.sh
Labels: approved, lgtm, size/XS

#566 Added additional options for make release docs
  Makefile
  cmd/release/docs/main.go
Labels: approved, lgtm, ok-to-test, size/S

#555 Fixed typos
  build/lib/common.sh
  build/update-attribution-files/make_attribution.sh
  cmd/release/docs/main.go
  cmd/release/internal/release_numbers.go
  cmd/release/pull_request/open_pr.go
  development/ecr/image-docs/test-repository-usage.md
  development/kops/gather_logs.sh
  development/kops/run_all.sh
  docs/contents/users/build-prerequisites.md
  docs/contents/users/install/kubeadm-onsite.md
  docs/contents/users/install/partners.md
  projects/kubernetes-csi/livenessprobe/build/create_attribution.sh
  projects/kubernetes/kubernetes/build/create_binaries.sh
  projects/kubernetes/kubernetes/build/determine_presubmit_base_image.sh
  projects/kubernetes/kubernetes/build/update_checksums.sh
Labels: approved, lgtm, ok-to-test, size/M

#580 use athens proxy
  projects/kubernetes-csi/external-provisioner/Makefile
  projects/kubernetes-csi/external-snapshotter/Makefile
  projects/kubernetes-sigs/metrics-server/Makefile
Labels: approved, lgtm, size/XS

#581 metrics-server: fix tagging flags on go build
  build/lib/common.sh
  projects/containernetworking/plugins/build/create_binaries.sh
  projects/kubernetes-csi/external-attacher/CHECKSUMS
  projects/kubernetes-csi/external-attacher/build/create_binaries.sh
  projects/kubernetes-csi/external-provisioner/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/build/create_binaries.sh
  projects/kubernetes-csi/external-resizer/CHECKSUMS
  projects/kubernetes-csi/external-resizer/build/create_binaries.sh
  projects/kubernetes-csi/external-snapshotter/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/build/create_binaries.sh
  projects/kubernetes-csi/livenessprobe/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/build/create_binaries.sh
  projects/kubernetes-csi/node-driver-registrar/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/build/create_binaries.sh
  projects/kubernetes-sigs/aws-iam-authenticator/build/create_binaries.sh
  projects/kubernetes-sigs/metrics-server/1-18/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-19/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-20/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/build/create_binaries.sh
  projects/kubernetes/release/build/lib/binaries.sh
Labels: approved, lgtm, size/M

#582 add checksum updating to attribution periodic
  build/update-attribution-files/create_pr.sh
  build/update-attribution-files/make_attribution.sh
Labels: approved, lgtm, size/L

#585 Add install to instructions
  docs/contents/users/install/kops.md
Labels: approved, lgtm, size/XS

#583 kubernetes: reproducible builds and checksums
  build/update-attribution-files/make_attribution.sh
  projects/kubernetes/kubernetes/1-18/CHECKSUMS
  projects/kubernetes/kubernetes/1-18/checksums
  projects/kubernetes/kubernetes/1-19/CHECKSUMS
  projects/kubernetes/kubernetes/1-19/checksums
  projects/kubernetes/kubernetes/1-20/CHECKSUMS
  projects/kubernetes/kubernetes/1-20/checksums
  projects/kubernetes/kubernetes/1-21/CHECKSUMS
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/build/create_binaries.sh
  projects/kubernetes/kubernetes/build/lib/binaries.sh
Labels: approved, lgtm, size/L
