Repository aws/eks-distro, pull requests merged in 2021-07, with the labels that each got.

#418 Updated and added docs for 1.18-6
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/6/CHANGELOG-v1-18-eks-6.md
  docs/contents/releases/1-18/6/index.md
  docs/contents/releases/1-18/6/release-announcement.txt
Labels: approved, documentation, lgtm, v1.18

#424 Update release message template
  cmd/release/docs/internal/templates.go
Labels: approved, lgtm

#423 Added dates to release list
  docs/contents/index.md
Labels: approved, documentation, lgtm

#425 Added SNS and website docs update
  README.md
  docs/contents/community/code_of_conduct.md
  docs/contents/community/contributing.md
  docs/contents/community/faq.md
  docs/contents/community/governance.md
  docs/contents/community/overview.md
  docs/contents/index.md
Labels: approved, documentation, lgtm

#428 Move runbook
  docs/development/runbook.md
Labels: approved, lgtm

#431 Kops should not modify iam roles
  development/kops/create_cluster.sh
  development/kops/set_nodeport_access.sh
Labels: approved, lgtm

#432 Added date generator for index updater
  cmd/release/docs/internal/docs_updater.go
Labels: approved, lgtm

#430 Changed number generation defaults
  Makefile
  cmd/release/internal/directories.go
  cmd/release/internal/release.go
  cmd/release/internal/release_environments.go
  cmd/release/internal/release_numbers.go
  cmd/release/number/main.go
Labels: approved, lgtm

#433 Add more owners
  OWNERS
Labels: approved, lgtm

#429 Changed table generation to use prev release
  cmd/release/docs/internal/component_table.go
  cmd/release/docs/main.go
  cmd/release/internal/directories.go
  cmd/release/internal/release.go
Labels: approved, lgtm

#437 Bumped dev RELEASE for 1.18-7
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
  release/1-18/development/RELEASE
Labels: approved, lgtm, v1.18

#440 Bumped dev RELEASE for 1.19-6
  projects/kubernetes/kubernetes/1-19/KUBE_GIT_VERSION_FILE
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19

#443 Bumped dev RELEASE for 1.20-3
  projects/kubernetes/kubernetes/1-20/KUBE_GIT_VERSION_FILE
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20

#438 Bumped prod RELEASE for 1.18-7
  release/1-18/production/RELEASE
Labels: approved, lgtm, v1.18

#441 Bumped prod RELEASE for 1.19-6
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19

#436 Added docs for 1.18-7
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/7/CHANGELOG-v1-18-eks-7.md
  docs/contents/releases/1-18/7/index.md
  docs/contents/releases/1-18/7/release-announcement.txt
Labels: approved, documentation, lgtm, v1.18

#444 Bumped prod RELEASE for 1.20-3
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20

#439 Added docs for 1.19-6
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/6/CHANGELOG-v1-19-eks-6.md
  docs/contents/releases/1-19/6/index.md
  docs/contents/releases/1-19/6/release-announcement.txt
Labels: approved, documentation, lgtm, v1.19

#442 Added docs for 1.20-3
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/3/CHANGELOG-v1-20-eks-3.md
  docs/contents/releases/1-20/3/index.md
  docs/contents/releases/1-20/3/release-announcement.txt
Labels: approved, documentation, lgtm, v1.20

#435 Move log results
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm

#427 bumped kubernetes version to 1-21-2
  projects/kubernetes/kubernetes/1-21/GIT_TAG
  projects/kubernetes/kubernetes/1-21/KUBE_GIT_VERSION_FILE
Labels: approved, lgtm

#446 Updated KUBE_GIT_VERSION_FILE and dev RELEASE for 1.21-1
  projects/kubernetes/kubernetes/1-21/KUBE_GIT_VERSION_FILE
  release/1-21/development/RELEASE
Labels: approved, lgtm

#448 Revert "Updated KUBE_GIT_VERSION_FILE and dev RELEASE for 1.21-1"
  projects/kubernetes/kubernetes/1-21/KUBE_GIT_VERSION_FILE
  release/1-21/development/RELEASE
Labels: approved, lgtm

#449 Revert "Revert "Updated KUBE_GIT_VERSION_FILE and dev RELEASE for 1.21-1""
  projects/kubernetes/kubernetes/1-21/KUBE_GIT_VERSION_FILE
  release/1-21/development/RELEASE
Labels: approved, lgtm

#454 Updated kops version and runbook
  development/kops/install_requirements.sh
  docs/development/runbook.md
Labels: approved, lgtm

#447 Bumped prod RELEASE for 1.21-1
  release/1-21/production/RELEASE
Labels: approved, lgtm

#383 modified docs for 1-21
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/1/CHANGELOG-v1-21-eks-1.md
  docs/contents/releases/1-21/1/index.md
  docs/contents/releases/1-21/1/release-announcement.txt
  release/DEFAULT_RELEASE_BRANCH
Labels: approved, lgtm, v1.21

#445 Fix typo in create_pr.sh
  build/update-attribution-files/create_pr.sh
Labels: approved, lgtm

#453 kops: add support for arm based clusters and fix running locally
  development/kops/create_cluster.sh
  development/kops/create_configuration.sh
  development/kops/create_values_yaml.sh
  development/kops/eks-d.tpl
  development/kops/set_environment.sh
  development/kops/set_nodeport_access.sh
Labels: approved, lgtm

#456 fixed typo in 1.21 docs
  docs/contents/releases/1-21/1/index.md
Labels: approved, lgtm

#457 kops: only delete clusters older than a day
  development/kops/run_all.sh
Labels: approved, lgtm

#458 kops: dont share cluster name between arm and amd
  development/kops/prow.sh
Labels: approved, lgtm

#450 when validating dns wait for 8 successfully resolves before moving on
  development/kops/validate_dns.sh
Labels: approved, lgtm

#459 Added minimal base tag file
  EKS_DISTRO_MINIMAL_BASE_TAG_FILE
Labels: approved, lgtm

#473 Bumped 1.18-8 dev
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
  release/1-18/development/RELEASE
Labels: approved, lgtm, v1.18

#470 Bumped 1.19-7 dev
  projects/kubernetes/kubernetes/1-19/KUBE_GIT_VERSION_FILE
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19

#467 Bumped 1.20-4 dev
  projects/kubernetes/kubernetes/1-20/KUBE_GIT_VERSION_FILE
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20

#464 Bumped 1.21-2 dev
  projects/kubernetes/kubernetes/1-21/KUBE_GIT_VERSION_FILE
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21

#475 Bumped 1.18-8 prod
  release/1-18/production/RELEASE
Labels: approved, lgtm, v1.18

#471 Bumped 1.19-7 prod
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19

#468 Bumped 1.20-4 prod
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20

#465 Bumped 1.21-2 prod
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21

#472 Added 1.18-8 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/8/CHANGELOG-v1-18-eks-8.md
  docs/contents/releases/1-18/8/index.md
  docs/contents/releases/1-18/8/release-announcement.txt
Labels: approved, documentation, lgtm, v1.18

#469 Added 1.19-7 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/7/CHANGELOG-v1-19-eks-7.md
  docs/contents/releases/1-19/7/index.md
  docs/contents/releases/1-19/7/release-announcement.txt
Labels: approved, documentation, lgtm, v1.19

#466 Added 1.20-4 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/4/CHANGELOG-v1-20-eks-4.md
  docs/contents/releases/1-20/4/index.md
  docs/contents/releases/1-20/4/release-announcement.txt
Labels: approved, documentation, lgtm, v1.20

#463 Added 1.21-2 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/2/CHANGELOG-v1-21-eks-2.md
  docs/contents/releases/1-21/2/index.md
  docs/contents/releases/1-21/2/release-announcement.txt
Labels: approved, documentation, lgtm, v1.21

#478 Update docs owners
  docs/OWNERS
Labels: approved, lgtm

#477 Changed ECR url in SNS template
  cmd/release/docs/internal/templates.go
Labels: approved, lgtm

#480 Fixed pause uri in 1.21-1
  docs/contents/releases/1-21/1/index.md
Labels: approved, documentation, lgtm, v1.21

#476 Changed ECR url on index.md
  docs/contents/users/index.md
Labels: approved, documentation, lgtm
