Repository aws/eks-distro, pull requests merged in 2021-12, with the labels that each got.

#641 fix attribution periodic by allow checksums through that are different
  Common.mk
  build/lib/install_go_versions.sh
Labels: approved, lgtm, size/XS

#645 Updated aws-iam-authenticator version and added README
  projects/kubernetes-sigs/aws-iam-authenticator/1-18/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-18/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-18/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: approved, lgtm, size/L

#636 Updated patches for 1.18
  build/update-attribution-files/create_pr.sh
  projects/kubernetes/kubernetes/1-18/CHECKSUMS
  projects/kubernetes/kubernetes/1-18/patches/0001-EKS-PATCH-Added-allowlist-CIDR-flag-use-klog.patch
  projects/kubernetes/kubernetes/1-18/patches/0002-EKS-PATCH-Pass-region-to-sts-client-for-ap-east-1.patch
  projects/kubernetes/kubernetes/1-18/patches/0003-EKS-PATCH-staging-apiserver-disable-info-level-gRPC-.patch
  projects/kubernetes/kubernetes/1-18/patches/0004-EKS-PATCH-volume-plugin-requests-patch.patch
  projects/kubernetes/kubernetes/1-18/patches/0005-EKS-PATCH-Lookup-sts-endpoint-from-custom-map.patch
  projects/kubernetes/kubernetes/1-18/patches/0006-EKS-PATCH-using-regional-sts-endpoint-for-assume-ecr.patch
  projects/kubernetes/kubernetes/1-18/patches/0007-EKS-PATCH-fix-aws-loadbalancer-nodePort-cannot-chang.patch
  projects/kubernetes/kubernetes/1-18/patches/0008-EKS-PATCH-aws-Fix-address-sorting-of-multiple-interf.patch
  projects/kubernetes/kubernetes/1-18/patches/0009-EKS-PATCH-fix-aws-loadbalancer-vpc-cidr-calculation.patch
  projects/kubernetes/kubernetes/1-18/patches/0010-EKS-PATCH-refine-aws-loadbalancer-worker-node-SG-rul.patch
  projects/kubernetes/kubernetes/1-18/patches/0011-EKS-PATCH-Allow-UDP-for-AWS-NLB.patch
  projects/kubernetes/kubernetes/1-18/patches/0012-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-18/patches/0013-EKS-PATCH-Update-aws-sdk-go-to-v1.34.24.patch
  projects/kubernetes/kubernetes/1-18/patches/0014-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-18/patches/0016-EKS-PATCH-Delete-leaked-volume-if-driver-doesn-t-kno.patch
  projects/kubernetes/kubernetes/1-18/patches/0017-EKS-PATCH-chunk-target-operation-for-aws-targ.patch
  projects/kubernetes/kubernetes/1-18/patches/0018-EKS-Patch-Pass-additional-flags-to-subpath-mount-to-.patch
  projects/kubernetes/kubernetes/1-18/patches/0019-EKS-PATCH-Skip-TestLoopbackHostPortIPv6-run-on-non-I.patch
  projects/kubernetes/kubernetes/1-18/patches/0020-EKS-PATCH-apiserver-healthz-upper-log-verbosity-for-.patch
  projects/kubernetes/kubernetes/build/lib/binaries.sh
  projects/kubernetes/kubernetes/build/lib/git.sh
Labels: approved, v1.18, size/XXL

#646 Updated coredns version and added README
  development/kops/cluster_wait.sh
  development/kops/core_dns_cluster_role.yaml
  projects/coredns/coredns/1-18/GOLANG_VERSION
  projects/coredns/coredns/1-19/GOLANG_VERSION
  projects/coredns/coredns/1-20/GOLANG_VERSION
  projects/coredns/coredns/1-21/ATTRIBUTION.txt
  projects/coredns/coredns/1-21/CHECKSUMS
  projects/coredns/coredns/1-21/GIT_TAG
  projects/coredns/coredns/1-21/GOLANG_VERSION
  projects/coredns/coredns/Makefile
  projects/coredns/coredns/README.md
Labels: approved, lgtm, do-not-merge/hold, size/L

#648 Updated run_target_docker.sh to pull latest builder base
  build/lib/run_target_docker.sh
Labels: approved, lgtm, do-not-merge/hold, size/XS

#651 Coredns: fix checksums for 1.21
  projects/coredns/coredns/1-21/CHECKSUMS
Labels: approved, lgtm, size/XS

#650 Updated metrics server for 1.20 and 1.21 and added README
  projects/kubernetes-sigs/metrics-server/1-20/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-20/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-21/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-21/GIT_TAG
  projects/kubernetes-sigs/metrics-server/Makefile
  projects/kubernetes-sigs/metrics-server/README.md
Labels: approved, lgtm, size/M

#654 Bumped development RELEASE for 1.19-12
  projects/kubernetes/kubernetes/1-19/KUBE_GIT_VERSION_FILE
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#656 Bumped development RELEASE for 1.20-9
  projects/kubernetes/kubernetes/1-20/KUBE_GIT_VERSION_FILE
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#652 Bumped development RELEASE for 1.18-13
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
  release/1-18/development/RELEASE
Labels: approved, lgtm, v1.18, release, size/XS

#658 Bumped development RELEASE for 1.21-7
  projects/kubernetes/kubernetes/1-21/KUBE_GIT_VERSION_FILE
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#653 Bumped production RELEASE for 1.18-13
  release/1-18/production/RELEASE
Labels: approved, lgtm, v1.18, release, size/XS

#655 Bumped production RELEASE for 1.19-12
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#657 Bumped production RELEASE for 1.20-9
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#659 Bumped production RELEASE for 1.21-7
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#662 Added docs for 1.19-12 release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/12/CHANGELOG-v1-19-eks-12.md
  docs/contents/releases/1-19/12/index.md
  docs/contents/releases/1-19/12/release-announcement.txt
Labels: documentation, approved, lgtm, v1.19, release, size/L

#663 Added docs for 1.20-9 release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/9/CHANGELOG-v1-20-eks-9.md
  docs/contents/releases/1-20/9/index.md
  docs/contents/releases/1-20/9/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/L

#661 Added docs for 1.18-13 release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/13/CHANGELOG-v1-18-eks-13.md
  docs/contents/releases/1-18/13/index.md
  docs/contents/releases/1-18/13/release-announcement.txt
Labels: documentation, approved, lgtm, v1.18, release, size/M

#664 Added docs for 1.21-7 release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/7/CHANGELOG-v1-21-eks-7.md
  docs/contents/releases/1-21/7/index.md
  docs/contents/releases/1-21/7/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/L

#665 kubernetes: add patches for golang x/net/http2
  projects/kubernetes/kubernetes/1-18/CHECKSUMS
  projects/kubernetes/kubernetes/1-18/patches/0021-Patch-golang-x-net-http-server.go-for-CVE-2021-44716.patch
  projects/kubernetes/kubernetes/1-19/CHECKSUMS
  projects/kubernetes/kubernetes/1-19/patches/0021-Patch-golang-x-net-http-server.go-for-CVE-2021-44716.patch
  projects/kubernetes/kubernetes/1-20/CHECKSUMS
  projects/kubernetes/kubernetes/1-20/patches/0021-Patch-golang-x-net-http-server.go-for-CVE-2021-44716.patch
  projects/kubernetes/kubernetes/build/lib/binaries.sh
Labels: approved, lgtm, size/L

#667 backport upstream patch bumping x/net in kubernetes 1-21
  projects/kubernetes/kubernetes/1-21/CHECKSUMS
  projects/kubernetes/kubernetes/1-21/patches/0018-dependencies-Update-golang.org-x-net-to-v0.0.0-20211.patch
Labels: approved, lgtm, size/XXL

#668 sync attribution periodic job changes from eks-a
  Common.mk
  Makefile
  build/lib/common.sh
  build/lib/generate_help_body.sh
  build/lib/update_checksums.sh
  build/lib/validate_artifacts.sh
  build/update-attribution-files/create_pr.sh
  build/update-attribution-files/make_attribution.sh
Labels: approved, lgtm, size/L

#509 add minimal variant to build images based on new minimal base
  Common.mk
  Makefile
  cmd/main_postsubmit.go
  development/kops/prow.sh
  development/kops/run_all.sh
  projects/coredns/coredns/Makefile
  projects/coredns/coredns/docker/linux/Dockerfile
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/docker/linux/Dockerfile
  projects/kubernetes-sigs/metrics-server/Makefile
  projects/kubernetes-sigs/metrics-server/docker/linux/Dockerfile
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/release/Makefile
  projects/kubernetes/release/docker/kube-proxy-base/Dockerfile
  release/s3_sync.sh
Labels: approved, lgtm, size/L

#672 Add README back
  README.md
Labels: approved, lgtm, size/M
