Repository aws/eks-distro, pull requests merged in 2022-11, with the labels that each got.

#1383 add option to rebuild all during main post-submit if neccessary
  Makefile
Labels: approved, lgtm, size/XS

#1384 add option to skip checksum validation for binaries during the build,…
  Common.mk
Labels: approved, lgtm, size/XS

#1386 fix erroneous paren in common make file
  Common.mk
Labels: approved, lgtm, size/XS

#1382 Removed 1.20 support
  Common.mk
  README.md
  docs/contents/index.md
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  release/SUPPORTED_RELEASE_BRANCHES
Labels: documentation, approved, lgtm, size/M

#1389 make kOps cluster names unique in EKS-D post-submits
  development/kops/prow.sh
Labels: approved, lgtm, size/XS

#1390 use RANDOM instead of UUID to avoid length issues
  development/kops/prow.sh
Labels: approved, lgtm, size/XS

#1391 Bump to go1.15 to align with project release version
  projects/containernetworking/plugins/1-21/CHECKSUMS
  projects/containernetworking/plugins/1-21/GOLANG_VERSION
Labels: approved, lgtm, size/M

#1395 Bumps go version for cni plugin
  projects/containernetworking/plugins/1-22/CHECKSUMS
  projects/containernetworking/plugins/1-22/GOLANG_VERSION
Labels: approved, lgtm, size/M

#1398 Fix incorrect variable name of Go version
  build/lib/install_go_versions.sh
Labels: approved, lgtm, size/XS

#1424 Bump livenessprobe project versions for all versions
  projects/kubernetes-csi/livenessprobe/1-21/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-21/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-22/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-22/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-23/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-23/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-24/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-24/GIT_TAG
  projects/kubernetes-csi/livenessprobe/README.md
Labels: approved, lgtm, v1.21, size/M, v1.22, v1.23, v1.24, project

#1425 Bump node driver versions for all supported versions
  projects/kubernetes-csi/node-driver-registrar/1-21/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-21/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-21/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-22/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-22/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-22/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-23/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-23/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-23/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-24/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-24/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-24/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/README.md
Labels: approved, lgtm, v1.21, size/M, v1.22, v1.23, v1.24, project

#1426 Syncs common scripts and makefiles from eks-a-build-tooling
  Common.mk
  Makefile
  build/lib/all_projects.sh
  build/lib/buildkit.sh
  build/lib/common.sh
  build/lib/generate_help_body.sh
  build/lib/install_go_versions.sh
  build/lib/run_target_docker.sh
  build/lib/simple_create_binaries.sh
  build/lib/update_checksum_docker.sh
  build/update-attribution-files/create_pr.sh
  projects/coredns/coredns/Makefile
  projects/kubernetes/release/Makefile
Labels: approved, lgtm, size/L

#1442 Added patches to 1.23 and updated patch version
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/GIT_TAG
  projects/kubernetes/kubernetes/1-23/patches/0014-EKS-PATCH-Validate-etcd-paths.patch
  projects/kubernetes/kubernetes/1-23/patches/0015-EKS-PATCH-fix-node-address-validation.patch
Labels: approved, lgtm, size/XXL, v1.23, patch, project

#1443 Added CVE patches for 1.22
  projects/kubernetes/kubernetes/1-22/CHECKSUMS
  projects/kubernetes/kubernetes/1-22/patches/0015-EKS-PATCH-Validate-etcd-paths.patch
  projects/kubernetes/kubernetes/1-22/patches/0016-EKS-PATCH-fix-node-address-validation.patch
Labels: approved, lgtm, size/XXL, v1.22, patch

#1434 Add new 1.24 patches
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/patches/0012-EKS-PATCH-Validate-etcd-paths.patch
  projects/kubernetes/kubernetes/1-24/patches/0013-EKS-PATCH-fix-node-address-validation.patch
Labels: approved, lgtm, size/XXL, patch

#1455 Bump development release for 1.21
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1457 Bump development release for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1459 Bump development release for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1461 Bump development release for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1463 Reverts project order
  Makefile
Labels: approved, lgtm, size/XS

#1460 Bump production release for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1456 Bump production release for 1.21
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1458 Bump production release for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1462 Bump production release for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1465 Created and updated docs for 1.21
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/21/CHANGELOG-v1-21-eks-21.md
  docs/contents/releases/1-21/21/index.md
  docs/contents/releases/1-21/21/release-announcement.txt
Labels: documentation, approved, lgtm, size/M

#1466 Created and updated docs for 1.22
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/13/CHANGELOG-v1-22-eks-13.md
  docs/contents/releases/1-22/13/index.md
  docs/contents/releases/1-22/13/release-announcement.txt
Labels: documentation, approved, lgtm, size/M

#1467 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/8/CHANGELOG-v1-23-eks-8.md
  docs/contents/releases/1-23/8/index.md
  docs/contents/releases/1-23/8/release-announcement.txt
Labels: documentation, approved, lgtm, size/M

#1470 1.24 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/1/CHANGELOG-v1-24-eks-1.md
  docs/contents/releases/1-24/1/index.md
  docs/contents/releases/1-24/2/CHANGELOG-v1-24-eks-2.md
  docs/contents/releases/1-24/2/index.md
  docs/contents/releases/1-24/3/CHANGELOG-v1-24-eks-3.md
  docs/contents/releases/1-24/3/index.md
  docs/contents/releases/1-24/3/release-announcement.txt
  release/DEFAULT_RELEASE_BRANCH
Labels: documentation, approved, lgtm, size/L

#1471 Split checksum periodic out of attribution
  Makefile
Labels: approved, lgtm, size/S

#1473 Added missing 1.24 badge to README
  README.md
Labels: approved, lgtm, size/XS

#1474 Update owners
  OWNERS
Labels: approved, lgtm, size/XS

#1487 update version 1-22
  projects/kubernetes/kubernetes/1-22/CHECKSUMS
  projects/kubernetes/kubernetes/1-22/GIT_TAG
  projects/kubernetes/kubernetes/1-22/patches/0015-EKS-PATCH-Validate-etcd-paths.patch
  projects/kubernetes/kubernetes/1-22/patches/0016-EKS-PATCH-fix-node-address-validation.patch
Labels: approved, lgtm, size/XXL, v1.22, patch, project

#1494 Adds windows containers for livenessprobe/node-registrar
  Common.mk
  build/lib/create_windows_manifest_list.sh
  projects/kubernetes-csi/external-attacher/1-21/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-22/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-23/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
  projects/kubernetes-csi/external-attacher/Makefile
  projects/kubernetes-csi/external-provisioner/1-21/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-22/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-23/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/Makefile
  projects/kubernetes-csi/external-resizer/1-21/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-22/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-23/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-24/CHECKSUMS
  projects/kubernetes-csi/external-resizer/Makefile
  projects/kubernetes-csi/external-snapshotter/1-21/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-22/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-23/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-24/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/Makefile
  projects/kubernetes-csi/livenessprobe/1-21/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-22/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-23/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-24/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/Makefile
  projects/kubernetes-csi/livenessprobe/docker/windows/Dockerfile
  projects/kubernetes-csi/node-driver-registrar/1-21/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-22/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-23/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-24/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/Makefile
  projects/kubernetes-csi/node-driver-registrar/docker/windows/Dockerfile
Labels: approved, lgtm, size/L

#1495 Correct coredns release link in readme
  projects/coredns/coredns/README.md
Labels: approved, lgtm, size/XS

#1497 Fixes windows manifest validation
  build/lib/common.sh
  build/lib/create_windows_manifest_list.sh
Labels: approved, lgtm, size/XS

#1496 Change PHONE to PHONY
  projects/kubernetes/release/Makefile
Labels: approved, lgtm, size/XS

#1500 Bump development release for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, size/XS

#1502 Fix PHONT
  Makefile
Labels: approved, lgtm, size/XS
