Repository aws/eks-distro, pull requests merged in 2022-02, with the labels that each got.

#699 Added patch for all release branches
  projects/kubernetes/kubernetes/1-18/patches/0022-EKS-PATCH-AWS-Set-max-results-if-its-not-set.patch
  projects/kubernetes/kubernetes/1-19/patches/0022-EKS-PATCH-AWS-Set-max-results-if-its-not-set.patch
  projects/kubernetes/kubernetes/1-20/patches/0022-EKS-PATCH-AWS-Set-max-results-if-its-not-set.patch
  projects/kubernetes/kubernetes/1-21/patches/0019-EKS-PATCH-AWS-Set-max-results-if-its-not-set.patch
Labels: approved, lgtm, size/L

#702 Fixed checksums
  projects/kubernetes/kubernetes/1-18/CHECKSUMS
  projects/kubernetes/kubernetes/1-19/CHECKSUMS
  projects/kubernetes/kubernetes/1-20/CHECKSUMS
  projects/kubernetes/kubernetes/1-21/CHECKSUMS
Labels: approved, size/L

#700 Added 1-22 to supported release branches
  Common.mk
  release/SUPPORTED_RELEASE_BRANCHES
Labels: approved, lgtm, size/XS

#703 Split CSI Snapshotter
  projects/kubernetes-csi/external-snapshotter/1-18/ATTRIBUTION.txt
  projects/kubernetes-csi/external-snapshotter/1-18/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-18/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-18/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-19/ATTRIBUTION.txt
  projects/kubernetes-csi/external-snapshotter/1-19/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-19/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-19/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-20/ATTRIBUTION.txt
  projects/kubernetes-csi/external-snapshotter/1-20/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-20/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-20/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-21/ATTRIBUTION.txt
  projects/kubernetes-csi/external-snapshotter/1-21/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-21/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-21/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-22/ATTRIBUTION.txt
  projects/kubernetes-csi/external-snapshotter/1-22/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-22/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-22/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/Makefile
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/external-snapshotter/docker/linux/csi-snapshotter/Dockerfile
  projects/kubernetes-csi/external-snapshotter/docker/linux/snapshot-controller/Dockerfile
  projects/kubernetes-csi/external-snapshotter/docker/linux/snapshot-validation-webhook/Dockerfile
Labels: approved, lgtm, size/XXL

#701 set 1.22 builds to use the minimal base image
  Common.mk
  Makefile
  cmd/main_postsubmit.go
  development/kops/prow.sh
  development/kops/run_all.sh
Labels: approved, lgtm, size/S

#684 Initial changes and patches for 1.22
  development/kops/install_requirements.sh
  projects/coredns/coredns/1-22/ATTRIBUTION.txt
  projects/coredns/coredns/1-22/CHECKSUMS
  projects/coredns/coredns/1-22/GIT_TAG
  projects/coredns/coredns/1-22/GOLANG_VERSION
  projects/etcd-io/etcd/1-18/GOLANG_VERSION
  projects/etcd-io/etcd/1-19/GOLANG_VERSION
  projects/etcd-io/etcd/1-20/GOLANG_VERSION
  projects/etcd-io/etcd/1-21/GOLANG_VERSION
  projects/etcd-io/etcd/1-22/ATTRIBUTION.txt
  projects/etcd-io/etcd/1-22/CHECKSUMS
  projects/etcd-io/etcd/1-22/GIT_TAG
  projects/etcd-io/etcd/1-22/GOLANG_VERSION
  projects/etcd-io/etcd/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-22/ATTRIBUTION.txt
  projects/kubernetes-sigs/metrics-server/1-22/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-22/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-22/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-22/ATTRIBUTION.txt
  projects/kubernetes/kubernetes/1-22/CHECKSUMS
  projects/kubernetes/kubernetes/1-22/GIT_TAG
  projects/kubernetes/kubernetes/1-22/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-22/KUBE_GIT_VERSION_FILE
  projects/kubernetes/kubernetes/1-22/PAUSE_TAG
  projects/kubernetes/kubernetes/1-22/patches/0001-EKS-PATCH-Pass-region-to-sts-client.patch
  projects/kubernetes/kubernetes/1-22/patches/0002-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-22/patches/0003-EKS-PATCH-Use-GNU-date.patch
  projects/kubernetes/kubernetes/1-22/patches/0004-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-22/patches/0005-EKS-PATCH-Ignore-wait-no-child-processes-error-when-.patch
  projects/kubernetes/release/1-22/ATTRIBUTION.txt
  projects/kubernetes/release/1-22/CHECKSUMS
  projects/kubernetes/release/1-22/GIT_TAG
  projects/kubernetes/release/1-22/GOLANG_VERSION
  release/1-22/development/RELEASE
  release/1-22/production/RELEASE
Labels: approved, lgtm, size/XXL, v1.22

#706 fix kops subcommand from set to edit
  development/kops/install_requirements.sh
  development/kops/set_nodeport_access.sh
Labels: approved, lgtm, size/XS

#707 Fix kops command for real
  development/kops/set_nodeport_access.sh
Labels: approved, lgtm, size/XS

#709 Pass cluster name as flag instead of positional argument
  development/kops/set_nodeport_access.sh
Labels: approved, lgtm, size/XS

#710 fix 1-22 dev release build and kops script
  Makefile
  development/kops/cluster_wait.sh
  projects/kubernetes/release/1-22/ATTRIBUTION.txt
  release/prow-release.sh
  release/prow.sh
Labels: approved, lgtm, size/M

#711 remove old snapshotter files
  projects/kubernetes-csi/external-snapshotter/ATTRIBUTION.txt
  projects/kubernetes-csi/external-snapshotter/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/GIT_TAG
Labels: approved, lgtm, size/XXL

#712 trigger dev release of 1.22
  projects/kubernetes/kubernetes/1-22/KUBE_GIT_VERSION_FILE
  release/1-22/development/RELEASE
Labels: approved, lgtm, size/XS

#713 update dev release to 2
  projects/kubernetes/kubernetes/1-22/KUBE_GIT_VERSION_FILE
  release/1-22/development/RELEASE
Labels: approved, lgtm, size/XS

#714 update dev release to 3
  projects/kubernetes/kubernetes/1-22/KUBE_GIT_VERSION_FILE
  release/1-22/development/RELEASE
Labels: approved, lgtm, size/XS

#717 kubernetes: fix version file validation by remove .pre for postsubmits
  projects/kubernetes/kubernetes/Makefile
Labels: approved, lgtm, size/XS

#718 kube: remove checked in kube_git_version_file
  docs/development/runbook.md
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
  projects/kubernetes/kubernetes/1-19/KUBE_GIT_VERSION_FILE
  projects/kubernetes/kubernetes/1-20/KUBE_GIT_VERSION_FILE
  projects/kubernetes/kubernetes/1-21/KUBE_GIT_VERSION_FILE
  projects/kubernetes/kubernetes/1-22/KUBE_GIT_VERSION_FILE
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/README.md
Labels: approved, lgtm, size/M

#719 Deleted kms-provider-0 logging patch
  projects/kubernetes/kubernetes/1-18/CHECKSUMS
  projects/kubernetes/kubernetes/1-18/patches/0020-EKS-PATCH-apiserver-healthz-upper-log-verbosity-for-.patch
  projects/kubernetes/kubernetes/1-19/CHECKSUMS
  projects/kubernetes/kubernetes/1-19/patches/0016-EKS-PATCH-apiserver-healthz-upper-log-verbosity-for-.patch
  projects/kubernetes/kubernetes/1-20/CHECKSUMS
  projects/kubernetes/kubernetes/1-20/patches/0018-EKS-PATCH-apiserver-healthz-upper-log-verbosity-for-.patch
  projects/kubernetes/kubernetes/1-21/CHECKSUMS
  projects/kubernetes/kubernetes/1-21/patches/0017-EKS-PATCH-apiserver-healthz-upper-log-verbosity-for-.patch
Labels: approved, lgtm, size/L

#724 Added two patches to 1-21
  projects/kubernetes/kubernetes/1-21/CHECKSUMS
  projects/kubernetes/kubernetes/1-21/patches/0020-EKS-PATCH-extend-sa-token-if-audience-is-apiserver-1.patch
  projects/kubernetes/kubernetes/1-21/patches/0021-EKS-PATCH-Parse-ipv6-address-before-comparison-10773.patch
Labels: approved, lgtm, v1.21, size/L

#722 Fix and major refactor of make for releases
  Makefile
  cmd/release/docs/existing_docs/update.go
  cmd/release/docs/internal/directories.go
  cmd/release/docs/internal/docs_pr.go
  cmd/release/docs/internal/release.go
  cmd/release/docs/internal/status.go
  cmd/release/docs/internal/templates.go
  cmd/release/docs/main.go
  cmd/release/docs/new_docs/component_table.go
  cmd/release/docs/new_docs/generate.go
  cmd/release/docs/new_docs/templates/changelog.go
  cmd/release/docs/new_docs/templates/index.go
  cmd/release/docs/new_docs/templates/release_annoucement.go
  cmd/release/internal/directories.go
  cmd/release/internal/release_numbers.go
  cmd/release/number/internal/number_pr.go
  cmd/release/number/main.go
  cmd/release/pull_request/open_pr.go
  cmd/release/utils/directories.go
  cmd/release/utils/release_environments.go
  cmd/release/utils/release_numbers.go
  cmd/release/utils/version_format.go
Labels: approved, lgtm, size/XL

#727 Bumped 1.22 to 1.22.6 and added patches
  projects/kubernetes/kubernetes/1-22/CHECKSUMS
  projects/kubernetes/kubernetes/1-22/GIT_TAG
  projects/kubernetes/kubernetes/1-22/patches/0005-EKS-PATCH-AWS-Set-max-results-if-its-not-set.patch
  projects/kubernetes/kubernetes/1-22/patches/0005-EKS-PATCH-Ignore-wait-no-child-processes-error-when-.patch
  projects/kubernetes/kubernetes/1-22/patches/0006-EKS-PATCH-extend-sa-token-if-audience-is-apiserver-1.patch
  projects/kubernetes/kubernetes/1-22/patches/0007-EKS-PATCH-Parse-ipv6-address-before-comparison-10773.patch
  projects/kubernetes/kubernetes/1-22/patches/0008-EKS-PATCH-AWS-Include-IPv6-addresses-in-NodeAddres.patch
Labels: approved, lgtm, size/XL, v1.22

#732 Bumped development RELEASE for 1.20-11
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#730 Bumped development RELEASE for 1.19-14
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#734 Bumped development RELEASE for 1.21-9
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#736 Add chrisdoherty4 to OWNERS
  OWNERS
Labels: approved, lgtm, needs-ok-to-test, size/XS

#738 kops: handle kubectl download failure and amd/arm overwriting
  Makefile
  development/kops/install_requirements.sh
Labels: approved, lgtm, size/S

#728 Bumped development RELEASE for 1.18-15
  release/1-18/development/RELEASE
Labels: approved, lgtm, v1.18, release, size/XS

#729 Bumped production RELEASE for 1.18-15
  release/1-18/production/RELEASE
Labels: approved, lgtm, v1.18, release, size/XS

#731 Bumped production RELEASE for 1.19-14
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#733 Bumped production RELEASE for 1.20-11
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#735 Bumped production RELEASE for 1.21-9
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#737 kube: tag head in source tarball for downstream building
  projects/kubernetes/kubernetes/build/create_tarballs.sh
Labels: approved, lgtm, size/S

#747 Added docs for 1.20-11 release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/11/CHANGELOG-v1-20-eks-11.md
  docs/contents/releases/1-20/11/index.md
  docs/contents/releases/1-20/11/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/M

#745 Added docs for 1.18-15 release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/15/CHANGELOG-v1-18-eks-15.md
  docs/contents/releases/1-18/15/index.md
  docs/contents/releases/1-18/15/release-announcement.txt
Labels: documentation, approved, lgtm, v1.18, release, size/M

#746 Added docs for 1.19-14 release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/14/CHANGELOG-v1-19-eks-14.md
  docs/contents/releases/1-19/14/index.md
  docs/contents/releases/1-19/14/release-announcement.txt
Labels: documentation, approved, lgtm, v1.19, release, size/M

#749 Bumped 1.22-4 dev release
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#750 Added docs for 1.21-9 release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/9/CHANGELOG-v1-21-eks-9.md
  docs/contents/releases/1-21/9/index.md
  docs/contents/releases/1-21/9/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M
