Repository aws/eks-distro, pull requests merged in 2022-08, with the labels that each got.

#1152 Removed 1.19 from docs
  README.md
  docs/contents/index.md
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
Labels: documentation, approved, lgtm, v1.19, size/M

#1155 build 1-21, 1-20 with minimal base image
  Common.mk
Labels: approved, lgtm, size/XS

#1161 Fixed 1-23 cni build failure
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS, v1.23

#1164 Adds ATTRIBUTION for cni plugins 1.23
  projects/containernetworking/plugins/1-23/ATTRIBUTION.txt
  projects/containernetworking/plugins/Makefile
Labels: approved, lgtm, size/XL

#1165 build and install kops from source with patch removing req on flannel…
  development/kops/install_requirements.sh
  development/kops/patches/0001-remove-hardcoded-requierment-on-flannel-plugin.patch
Labels: approved, lgtm, size/M

#1166 Set git config
  development/kops/install_requirements.sh
Labels: approved, lgtm, size/XS

#1167 use the correct path and not redundant kops in path
  development/kops/install_requirements.sh
Labels: approved, lgtm, size/XS

#1168 Revert kops build changes
  development/kops/install_requirements.sh
  development/kops/patches/0001-remove-hardcoded-requierment-on-flannel-plugin.patch
Labels: approved, lgtm, size/M

#1169 Uses kops base url for kops test runs
  development/kops/create_configuration.sh
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#1158 DO NOT UNHOLD! Bumped development RELEASE for 1.23-6
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1159 Bumped production RELEASE for 1.23-4
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1154 Make 1.23 the DEFAULT_RELEASE_BRANCH and add 1.23 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/1/CHANGELOG-v1-23-eks-1.md
  docs/contents/releases/1-23/1/index.md
  docs/contents/releases/1-23/2/CHANGELOG-v1-23-eks-2.md
  docs/contents/releases/1-23/2/index.md
  docs/contents/releases/1-23/3/CHANGELOG-v1-23-eks-3.md
  docs/contents/releases/1-23/3/index.md
  docs/contents/releases/1-23/4/CHANGELOG-v1-23-eks-4.md
  docs/contents/releases/1-23/4/index.md
  docs/contents/releases/1-23/4/release-announcement.txt
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  release/DEFAULT_RELEASE_BRANCH
Labels: documentation, approved, lgtm, size/L, v1.23

#1180 Update OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#1183 Bumps kops to 0.24.1
  development/kops/cluster_wait.sh
  development/kops/install_requirements.sh
  development/kops/set_environment.sh
Labels: approved, lgtm, size/S

#1186 Conditional for --short flag for kubectl version
  development/kops/install_requirements.sh
Labels: approved, lgtm, size/XS

#1187 Set kops version in only one place
  development/kops/install_requirements.sh
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#1188 Fix kubectl version --client flag
  development/kops/install_requirements.sh
Labels: approved, lgtm, size/XS

#1189 1.24-1 dev release
  release/1-24/development/RELEASE
Labels: approved, lgtm, size/XS, v1.24

#1219 Bumped development RELEASE for 1.22-17
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1217 Bumped development RELEASE for 1.21-18
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1222 Bumped development RELEASE for 1.23-7
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1218 Bumped production RELEASE for 1.21-18
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1221 Bumped production RELEASE for 1.22-10
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1223 Bumped production RELEASE for 1.23-5
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23
