Repository aws/eks-distro, pull requests merged in 2022-04, with the labels that each got.

#848 update go versions in install helper and fix typo in common.mlk
  Common.mk
  build/lib/common.sh
  build/lib/install_go_versions.sh
Labels: approved, lgtm, size/M

#849 Added the 1.22 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/1/CHANGELOG-v1-22-eks-1.md
  docs/contents/releases/1-22/1/index.md
  docs/contents/releases/1-22/2/CHANGELOG-v1-22-eks-2.md
  docs/contents/releases/1-22/2/index.md
  docs/contents/releases/1-22/3/CHANGELOG-v1-22-eks-3.md
  docs/contents/releases/1-22/3/index.md
  docs/contents/releases/1-22/4/CHANGELOG-v1-22-eks-4.md
  docs/contents/releases/1-22/4/index.md
  docs/contents/releases/1-22/4/release-announcement.txt
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
Labels: documentation, approved, lgtm, size/L, v1.22

#844 Updated DEFAULT_RELEASE_BRANCH to 1-22
  release/DEFAULT_RELEASE_BRANCH
Labels: approved, lgtm, size/XS, v1.22

#852 add script to update go versions in install script during build
  Makefile
  build/lib/install_go_versions.sh
  build/lib/update_go_versions.sh
  build/update-attribution-files/create_pr.sh
Labels: approved, lgtm, size/M

#853 cni-plugins: fix version with ldflag
  projects/containernetworking/plugins/CHECKSUMS
  projects/containernetworking/plugins/Makefile
  projects/containernetworking/plugins/README.md
Labels: approved, lgtm, size/L

#854 Reword 1.18 support
  README.md
Labels: documentation, approved, lgtm, v1.18, size/S

#855 Removed 1-18 from SUPPORTED_RELEASE_BRANCHES
  release/SUPPORTED_RELEASE_BRANCHES
Labels: approved, lgtm, v1.18, size/XS

#861 kubernetes: avoid out of space in presubmit by using mv
  projects/kubernetes/kubernetes/Makefile
Labels: approved, lgtm, size/XS

#865 Refactor of release number
  Makefile
  cmd/release/number/internal/number_pr.go
  cmd/release/number/main.go
Labels: approved, lgtm, size/M

#867 Removed 1-18 from project READMEs
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/metrics-server/README.md
Labels: documentation, approved, lgtm, size/S

#866 Updated iam-auth to 0.5.7 for all versions
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/patches/0001-Replace-dependencies-to-mitigate-license-issues.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/patches/0001-Replace-dependencies-to-mitigate-license-issues.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/patches/0001-Replace-dependencies-to-mitigate-license-issues.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/patches/0001-Replace-dependencies-to-mitigate-license-issues.patch
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: approved, lgtm, v1.19, v1.20, v1.21, size/L, v1.22

#869 Bumped development RELEASE for 1.19-17
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#871 Bumped development RELEASE for 1.20-14
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#873 Bumped development RELEASE for 1.21-12
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#876 Bumped development RELEASE for 1.22-11
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#870 Bumped production RELEASE for 1.19-17
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#872 Bumped production RELEASE for 1.20-14
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#874 Bumped production RELEASE for 1.21-12
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#875 Bumped production RELEASE for 1.22-5
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#877 Update docs for 1.19-17
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/17/CHANGELOG-v1-19-eks-17.md
  docs/contents/releases/1-19/17/index.md
  docs/contents/releases/1-19/17/release-announcement.txt
Labels: documentation, approved, lgtm, v1.19, size/M

#879 1.20-14 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/14/CHANGELOG-v1-20-eks-14.md
  docs/contents/releases/1-20/14/index.md
  docs/contents/releases/1-20/14/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/M

#880 1.21-12 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/12/CHANGELOG-v1-21-eks-12.md
  docs/contents/releases/1-21/12/index.md
  docs/contents/releases/1-21/12/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#881 Created and updated docs for 1.22-5
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/5/CHANGELOG-v1-22-eks-5.md
  docs/contents/releases/1-22/5/index.md
  docs/contents/releases/1-22/5/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#860 sync common script changes from eks-a
  Common.mk
  Makefile
  build/lib/buildkit.sh
  build/lib/common.sh
  build/lib/docker/linux/cgo/Dockerfile
  build/lib/docker/linux/useradd/Dockerfile
  build/lib/generate_help_body.sh
  build/lib/run_target_docker.sh
  build/lib/simple_create_binaries.sh
  build/lib/update_checksum_docker.sh
  projects/containernetworking/plugins/Makefile
  projects/coredns/coredns/Makefile
  projects/etcd-io/etcd/Makefile
  projects/kubernetes-csi/external-attacher/Makefile
  projects/kubernetes-csi/external-provisioner/Makefile
  projects/kubernetes-csi/external-resizer/Makefile
  projects/kubernetes-csi/external-snapshotter/Makefile
  projects/kubernetes-csi/livenessprobe/Makefile
  projects/kubernetes-csi/node-driver-registrar/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
  projects/kubernetes-sigs/metrics-server/Makefile
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/release/Makefile
Labels: approved, lgtm, size/XL

#884 Bumped development RELEASE for 1.22-12
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#886 Minor change to README
  README.md
Labels: documentation, approved, lgtm, size/XS

#887 Add markapruett to owners
  OWNERS
Labels: approved, lgtm, size/XS

#899 sync from eks-a to handle multiple go-licenses installs
  Common.mk
  build/lib/common.sh
  build/lib/gather_licenses.sh
  build/lib/install_go_versions.sh
Labels: approved, lgtm, size/M

#900 snapshotter: fix licenses target
  projects/kubernetes-csi/external-snapshotter/Makefile
Labels: approved, lgtm, size/XS

#898 Minor change to CNI README
  projects/containernetworking/plugins/README.md
Labels: approved, lgtm, size/XS

#903 Bumped development RELEASE for 1.20-15
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#904 Bumped development RELEASE for 1.21-13
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#906 Bumped development RELEASE for 1.22-13
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#902 Bumped production RELEASE for 1.19-18
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#905 Bumped production RELEASE for 1.21-13
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#907 Bumped production RELEASE for 1.22-6
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#908 Bumped production RELEASE for 1.20-15
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS
