Repository aws/eks-distro, pull requests merged in 2022-12, with the labels that each got.

#1506 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1509 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1508 Bumped production release number for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1510 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1511 Created and updated docs for 1.22
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/14/CHANGELOG-v1-22-eks-14.md
  docs/contents/releases/1-22/14/index.md
  docs/contents/releases/1-22/14/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#1512 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/9/CHANGELOG-v1-23-eks-9.md
  docs/contents/releases/1-23/9/index.md
  docs/contents/releases/1-23/9/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#1507 Change entrypoint
  projects/kubernetes/kubernetes/docker/Dockerfile
Labels: approved, lgtm, size/XS

#1513 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/4/CHANGELOG-v1-24-eks-4.md
  docs/contents/releases/1-24/4/index.md
  docs/contents/releases/1-24/4/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#1514 Modify flag for Github-release command
  cmd/release/gh-release/create.sh
Labels: approved, lgtm, size/XS

#1515 Updated metric server to v0.6.2 for 1.21+
  projects/kubernetes-sigs/metrics-server/1-21/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-21/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-22/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-22/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-23/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-23/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-24/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-24/GIT_TAG
  projects/kubernetes-sigs/metrics-server/README.md
Labels: approved, lgtm, size/M, project

#1516 Updated node-driver-registrar to v2.6.2 for 1.21+
  projects/kubernetes-csi/node-driver-registrar/1-21/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-21/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-22/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-22/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-23/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-23/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-24/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-24/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/README.md
Labels: approved, lgtm, size/M, project

#1522 Add ccm to projects
  Makefile
  cmd/main_postsubmit.go
  projects/kubernetes/cloud-provider-aws/.gitignore
  projects/kubernetes/cloud-provider-aws/1-21/ATTRIBUTION.txt
  projects/kubernetes/cloud-provider-aws/1-21/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-21/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-21/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-22/ATTRIBUTION.txt
  projects/kubernetes/cloud-provider-aws/1-22/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-22/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-22/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-23/ATTRIBUTION.txt
  projects/kubernetes/cloud-provider-aws/1-23/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-23/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-23/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-24/ATTRIBUTION.txt
  projects/kubernetes/cloud-provider-aws/1-24/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-24/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-24/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/Help.mk
  projects/kubernetes/cloud-provider-aws/Makefile
  projects/kubernetes/cloud-provider-aws/README.md
  projects/kubernetes/cloud-provider-aws/docker/linux/Dockerfile
Labels: approved, lgtm, size/XXL, project

#1524 Use new ccm build in kops
  development/kops/create_values_yaml.sh
  development/kops/eks-d.tpl
Labels: approved, lgtm, size/S

#1525 Cleans projects and go cache after post submit build
  Makefile
Labels: approved, lgtm, size/S

#1527 Moves clean up to proper location for postsubmit cleanup
  Makefile
Labels: approved, lgtm, size/XS

#1531 Cleans go cache and project in prow
  Common.mk
  Makefile
Labels: approved, lgtm, size/M

#1532 Passes make targets comma seperated
  Makefile
  cmd/main_postsubmit.go
Labels: approved, lgtm, size/XS

#1533 Fix layer caching
  Common.mk
Labels: approved, lgtm, size/S

#1534 Changes context dir to output for image builds
  Common.mk
  projects/coredns/coredns/docker/linux/Dockerfile
  projects/etcd-io/etcd/docker/linux/Dockerfile
  projects/kubernetes-csi/external-attacher/docker/linux/Dockerfile
  projects/kubernetes-csi/external-provisioner/docker/linux/Dockerfile
  projects/kubernetes-csi/external-resizer/docker/linux/Dockerfile
  projects/kubernetes-csi/external-snapshotter/docker/linux/csi-snapshotter/Dockerfile
  projects/kubernetes-csi/external-snapshotter/docker/linux/snapshot-controller/Dockerfile
  projects/kubernetes-csi/external-snapshotter/docker/linux/snapshot-validation-webhook/Dockerfile
  projects/kubernetes-csi/livenessprobe/docker/linux/Dockerfile
  projects/kubernetes-csi/livenessprobe/docker/windows/Dockerfile
  projects/kubernetes-csi/node-driver-registrar/docker/linux/Dockerfile
  projects/kubernetes-csi/node-driver-registrar/docker/windows/Dockerfile
  projects/kubernetes-sigs/aws-iam-authenticator/docker/linux/Dockerfile
  projects/kubernetes-sigs/metrics-server/docker/linux/Dockerfile
  projects/kubernetes/cloud-provider-aws/docker/linux/Dockerfile
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/docker/Dockerfile
  projects/kubernetes/release/docker/go-runner/Dockerfile
  projects/kubernetes/release/docker/kube-proxy-base/Dockerfile
Labels: approved, lgtm, size/L

#1536 Fixes checksums difference when building multiple versions
  Common.mk
Labels: approved, lgtm, size/XS

#1537 Builds components first for most post submits
  Makefile
  cmd/main_postsubmit.go
Labels: approved, lgtm, size/S

#1540 Cleans yum after pause build
  projects/kubernetes/kubernetes/docker/pause/Dockerfile
Labels: approved, lgtm, size/S

#1539 Use only the first release as the layer cache
  Common.mk
Labels: approved, lgtm, size/XS

#1541 Change entrypoint to match upstream
  projects/kubernetes/cloud-provider-aws/docker/linux/Dockerfile
Labels: approved, lgtm, size/XS

#1526 POC: Iam auth v0.5.12
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: approved, lgtm, size/XL, patch, project

#1542 drop pre-1.24.8 public patches
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/GIT_TAG
  projects/kubernetes/kubernetes/1-24/patches/0012-EKS-PATCH-Validate-etcd-paths.patch
  projects/kubernetes/kubernetes/1-24/patches/0013-EKS-PATCH-fix-node-address-validation.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, project

#1545 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1544 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1546 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1561 Update 1-23 attributions
  projects/kubernetes/kubernetes/1-23/ATTRIBUTION.txt
Labels: approved, lgtm, size/S

#1563 bump 1.24 prod release trigger
  release/1-24/production/RELEASE
Labels: approved, lgtm, size/XS

#1548 Bumped development release number for 1.21
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1555 bump prod release trigger for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1554 Bumped prod release number for 1.21
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1564 Created and updated docs for 1.21
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/22/CHANGELOG-v1-21-eks-22.md
  docs/contents/releases/1-21/22/index.md
  docs/contents/releases/1-21/22/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#1565 Created and updated docs for 1.22
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/15/CHANGELOG-v1-22-eks-15.md
  docs/contents/releases/1-22/15/index.md
  docs/contents/releases/1-22/15/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#1566 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/10/CHANGELOG-v1-23-eks-10.md
  docs/contents/releases/1-23/10/index.md
  docs/contents/releases/1-23/10/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#1567 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/5/CHANGELOG-v1-24-eks-5.md
  docs/contents/releases/1-24/5/index.md
  docs/contents/releases/1-24/5/release-announcement.txt
Labels: documentation, approved, lgtm, release, v1.24

#1569 Switches windows builds to base off new base image
  Common.mk
  EKS_DISTRO_WINDOWS_BASE_1809_TAG_FILE
  EKS_DISTRO_WINDOWS_BASE_20H2_TAG_FILE
  EKS_DISTRO_WINDOWS_BASE_LTSC2022_TAG_FILE
  build/lib/create_windows_manifest_list.sh
  projects/kubernetes-csi/livenessprobe/docker/windows/Dockerfile
  projects/kubernetes-csi/node-driver-registrar/docker/windows/Dockerfile
Labels: approved, lgtm, size/S

#1568 Adds run-in-docker helps and better checksum + attribution generation
  Common.mk
  Makefile
  build/lib/generate_help_body.sh
  build/lib/run_target_docker.sh
  build/lib/update_checksum_docker.sh
  build/update-attribution-files/make_attribution.sh
  docs/development/building-locally.md
  docs/development/update-project-dependency.md
  projects/containernetworking/plugins/Help.mk
  projects/containernetworking/plugins/Makefile
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/Help.mk
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/Help.mk
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/Help.mk
  projects/kubernetes-csi/external-attacher/Makefile
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/Help.mk
  projects/kubernetes-csi/external-provisioner/Makefile
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/Help.mk
  projects/kubernetes-csi/external-resizer/Makefile
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/Help.mk
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/Help.mk
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/Help.mk
  projects/kubernetes-csi/node-driver-registrar/Makefile
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/Help.mk
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/Help.mk
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/Help.mk
  projects/kubernetes/cloud-provider-aws/README.md
  projects/kubernetes/kubernetes/Help.mk
  projects/kubernetes/release/Help.mk
Labels: documentation, approved, lgtm, size/XL

#1571 Updated README for etcd
  projects/etcd-io/etcd/README.md
Labels: approved, lgtm, size/XS

#1578 move update Go version invocation to checksum update target
  Makefile
Labels: approved, lgtm, size/XS

#1575 Updated kops to 1.25.3
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS, v1.25

#1583 Fixes checksums and attribution when running all release branches
  build/update-attribution-files/make_attribution.sh
Labels: approved, lgtm, size/S

#1589 Fixes copying checksum files between versions by using double quote
  build/update-attribution-files/make_attribution.sh
Labels: approved, lgtm, size/XS

#1590 Release 1.25 dev 1
  release/1-25/development/RELEASE
Labels: approved, lgtm, size/XS

#1586 Bump etcd version to v3.5.6 for 1.22-1.24
  projects/etcd-io/etcd/1-22/CHECKSUMS
  projects/etcd-io/etcd/1-22/GIT_TAG
  projects/etcd-io/etcd/1-23/CHECKSUMS
  projects/etcd-io/etcd/1-23/GIT_TAG
  projects/etcd-io/etcd/1-24/CHECKSUMS
  projects/etcd-io/etcd/1-24/GIT_TAG
  projects/etcd-io/etcd/README.md
Labels: approved, lgtm, size/M, project

#1585 Add comment to script
  build/update-attribution-files/create_pr.sh
Labels: approved, lgtm, size/XS

#1593 Update cloud-provider-aws for 1.21 - 1.24
  projects/kubernetes/cloud-provider-aws/1-21/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-21/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-21/patches/0001-bump-go-to-1.18.patch
  projects/kubernetes/cloud-provider-aws/1-22/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-22/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-23/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-23/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-24/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-24/GIT_TAG
  projects/kubernetes/cloud-provider-aws/README.md
Labels: approved, lgtm, size/L, patch, project

#1492 Add conformance badge for k8s certification
  README.md
  docs/contents/certified-kubernetes-1.24-color.svg
Labels: documentation, approved, lgtm, needs-ok-to-test, size/S

#1594 Bump Kubernetes 1-22 to v1.22.16
  projects/kubernetes/kubernetes/1-22/CHECKSUMS
  projects/kubernetes/kubernetes/1-22/GIT_TAG
  projects/kubernetes/kubernetes/1-22/patches/0014-EKS-PATCH-Fix-endpoint-reconciler-failing-to-delete-.patch
Labels: approved, lgtm, size/XL, patch, project

#1597 Update labeler job name
  .github/workflows/label.yml
Labels: approved, lgtm, size/XS

#1598 Bumped development release number for 1.21
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1599 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1600 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1601 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1603 Bumped production release number for 1.21
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1604 Bumped production release number for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1605 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1606 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1607 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1615 Created and updated docs for 1.22
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/16/CHANGELOG-v1-22-eks-16.md
  docs/contents/releases/1-22/16/index.md
  docs/contents/releases/1-22/16/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#1609 Created and updated docs for 1.21
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/23/CHANGELOG-v1-21-eks-23.md
  docs/contents/releases/1-21/23/index.md
  docs/contents/releases/1-21/23/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#1613 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/6/CHANGELOG-v1-24-eks-6.md
  docs/contents/releases/1-24/6/index.md
  docs/contents/releases/1-24/6/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#1614 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/11/CHANGELOG-v1-23-eks-11.md
  docs/contents/releases/1-23/11/index.md
  docs/contents/releases/1-23/11/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#1608 add version labels to labeler
  .github/labeler.yml
Labels: approved, lgtm, size/S

#1619 Adds slash hold to add label instead of API labels arg
  build/update-attribution-files/create_pr.sh
Labels: approved, lgtm, size/XS
