Repository aws/eks-distro, pull requests merged in 2022-03, with the labels that each got.

#753 kube: use short commit hash after applying patches as binary version
  projects/kubernetes/kubernetes/.gitignore
  projects/kubernetes/kubernetes/1-18/CHECKSUMS
  projects/kubernetes/kubernetes/1-19/CHECKSUMS
  projects/kubernetes/kubernetes/1-20/CHECKSUMS
  projects/kubernetes/kubernetes/1-21/CHECKSUMS
  projects/kubernetes/kubernetes/1-22/CHECKSUMS
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/build/create_binaries.sh
  projects/kubernetes/kubernetes/build/create_tarballs.sh
  projects/kubernetes/kubernetes/build/create_version_file.sh
  projects/kubernetes/kubernetes/build/lib/binaries.sh
  projects/kubernetes/kubernetes/build/lib/version.sh
Labels: approved, lgtm, size/L

#759 kops: fix metrics server for 1.22 now that it uses a newer version
  development/kops/cluster_wait.sh
  development/kops/metrics-server-0.6-clusterrole.yaml
Labels: approved, size/M

#758 Bumped development RELEASE for 1.22-5
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, v1.22

#764 Change ipv6 patch 1.22
  projects/kubernetes/kubernetes/1-22/CHECKSUMS
  projects/kubernetes/kubernetes/1-22/patches/0007-EKS-PATCH-Parse-ipv6-address-before-comparison-10773.patch
Labels: approved, lgtm, size/M, v1.22

#762 Bumped development RELEASE for 1.22-6
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS

#763 Bumped production RELEASE for 1.22-1
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS

#766 kube: fix building twice due to path mismatch
  projects/kubernetes/kubernetes/Makefile
Labels: approved, lgtm, size/XS

#769 use cilium for kops conformance tests runs
  development/kops/create_values_yaml.sh
  development/kops/eks-d.tpl
  development/kops/install_requirements.sh
  development/kops/run_sonobuoy.sh
Labels: approved, size/M

#770 run 1-21 + 1-22 arm kops cluster as ipv6
  Makefile
  development/kops/create_values_yaml.sh
  development/kops/set_environment.sh
Labels: approved, size/XS

#772 use cilium helm chart and image from eks-a instead of having kops ins…
  development/kops/cluster_wait.sh
  development/kops/eks-d.tpl
  development/kops/install_requirements.sh
  development/kops/run_sonobuoy.sh
Labels: approved, lgtm, size/M

#775 kops test: switch back to kops managed cilium and fix session affin
  development/kops/cluster_wait.sh
  development/kops/eks-d.tpl
Labels: approved, lgtm, size/M

#779 kops: only run ipv6 for 122
  Makefile
Labels: approved, lgtm, size/XS

#783 Updated CSI external-provisione for 1.20 and 1.21
  projects/kubernetes-csi/external-provisioner/1-20/ATTRIBUTION.txt
  projects/kubernetes-csi/external-provisioner/1-20/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-20/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-20/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-21/ATTRIBUTION.txt
  projects/kubernetes-csi/external-provisioner/1-21/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-21/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-21/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/README.md
Labels: approved, lgtm, v1.20, v1.21, size/XXL

#782 Updated metrics server for 1.18 - 1.21
  projects/kubernetes-sigs/metrics-server/1-18/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-18/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-18/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-19/ATTRIBUTION.txt
  projects/kubernetes-sigs/metrics-server/1-19/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-19/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-19/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-20/ATTRIBUTION.txt
  projects/kubernetes-sigs/metrics-server/1-20/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-20/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-20/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-21/ATTRIBUTION.txt
  projects/kubernetes-sigs/metrics-server/1-21/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-21/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-21/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/README.md
Labels: approved, lgtm, v1.19, v1.20, v1.18, v1.21, size/XXL

#781 Updated iam-auth to 0.5.5 for 1.18 - 1.21
  projects/kubernetes-sigs/aws-iam-authenticator/1-18/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-18/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-18/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-18/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-18/patches/0001-Replace-dependencies-to-mitigate-license-issues.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/patches/0001-Replace-dependencies-to-mitigate-license-issues.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/patches/0001-Replace-dependencies-to-mitigate-license-issues.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/patches/0001-Replace-dependencies-to-mitigate-license-issues.patch
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: approved, lgtm, v1.19, v1.20, v1.18, v1.21, size/XXL

#780 Update to 1.19.16
  projects/kubernetes/kubernetes/1-19/CHECKSUMS
  projects/kubernetes/kubernetes/1-19/GIT_TAG
  projects/kubernetes/kubernetes/1-19/patches/0002-EKS-PATCH-Pass-region-to-sts-client-for-ap-east-1.patch
  projects/kubernetes/kubernetes/1-19/patches/0003-EKS-PATCH-staging-apiserver-disable-info-level-gRPC-.patch
  projects/kubernetes/kubernetes/1-19/patches/0005-EKS-PATCH-Lookup-sts-endpoint-from-custom-map.patch
  projects/kubernetes/kubernetes/1-19/patches/0006-EKS-PATCH-using-regional-sts-endpoint-for-assume-ecr.patch
  projects/kubernetes/kubernetes/1-19/patches/0007-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-19/patches/0008-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-19/patches/0010-EKS-PATCH-Delete-leaked-volume-if-driver-doesn-t-kno.patch
  projects/kubernetes/kubernetes/1-19/patches/0011-EKS-PATCH-Update-aws-sdk-go-to-v1.34.24.patch
  projects/kubernetes/kubernetes/1-19/patches/0014-EKS-PATCH-Fix-kubectl-version-unit-test.patch
  projects/kubernetes/kubernetes/1-19/patches/0015-EKS-PATCH-Skip-TestLoopbackHostPortIPv6-run-on-non-I.patch
  projects/kubernetes/kubernetes/1-19/patches/0017-EKS-PATCH-Get-inodes-and-disk-usage-via-pure-go.patch
  projects/kubernetes/kubernetes/1-19/patches/0018-EKS-PATCH-Add-test-for-counting-inodes-correct-with-.patch
  projects/kubernetes/kubernetes/1-19/patches/0019-EKS-PATCH-ConsistentRead-tries-10-times.patch
  projects/kubernetes/kubernetes/1-19/patches/0020-EKS-PATCH-Ignore-wait-no-child-processes-error-when-.patch
  projects/kubernetes/kubernetes/1-19/patches/0021-Patch-golang-x-net-http-server.go-for-CVE-2021-44716.patch
  projects/kubernetes/kubernetes/1-19/patches/0022-EKS-PATCH-AWS-Set-max-results-if-its-not-set.patch
Labels: approved, lgtm, v1.19, size/L

#788 Fix metrics server
  development/kops/cluster_wait.sh
Labels: approved, lgtm, size/S

#789 Fix metrics server for 1.19-1.20 and change comment
  development/kops/cluster_wait.sh
Labels: approved, lgtm, size/XS

#784 Update external attacher
  projects/kubernetes-csi/external-attacher/1-18/ATTRIBUTION.txt
  projects/kubernetes-csi/external-attacher/1-18/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-18/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-18/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-19/ATTRIBUTION.txt
  projects/kubernetes-csi/external-attacher/1-19/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-19/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-19/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-20/ATTRIBUTION.txt
  projects/kubernetes-csi/external-attacher/1-20/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-20/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-20/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-21/ATTRIBUTION.txt
  projects/kubernetes-csi/external-attacher/1-21/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-21/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-21/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/README.md
Labels: approved, lgtm, v1.19, v1.20, v1.18, v1.21, size/XXL, v1.22

#777 Bumped 1-21 version to 1.21.9 and updated patches
  projects/kubernetes/kubernetes/1-21/CHECKSUMS
  projects/kubernetes/kubernetes/1-21/GIT_TAG
  projects/kubernetes/kubernetes/1-21/patches/0002-EKS-PATCH-Pass-region-to-sts-client.patch
  projects/kubernetes/kubernetes/1-21/patches/0003-EKS-PATCH-staging-apiserver-disable-info-level-gRPC-.patch
  projects/kubernetes/kubernetes/1-21/patches/0005-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-21/patches/0006-EKS-PATCH-Use-GNU-date.patch
  projects/kubernetes/kubernetes/1-21/patches/0007-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-21/patches/0008-EKS-PATCH-delete-leaked-volume-if-driver-doesn-t-kno.patch
  projects/kubernetes/kubernetes/1-21/patches/0013-EKS-PATCH-ConsistentRead-tries-10-times.patch
  projects/kubernetes/kubernetes/1-21/patches/0014-EKS-PATCH-Ignore-wait-no-child-processes-error-when-calling-mo.patch
  projects/kubernetes/kubernetes/1-21/patches/0015-EKS-PATCH-Get-inodes-and-disk-usage-via-pure-go.patch
  projects/kubernetes/kubernetes/1-21/patches/0016-EKS-PATCH-Add-test-for-counting-inodes-correct-with-hardlinks.patch
  projects/kubernetes/kubernetes/1-21/patches/0018-dependencies-Update-golang.org-x-net-to-v0.0.0-20211.patch
  projects/kubernetes/kubernetes/1-21/patches/0019-EKS-PATCH-AWS-Set-max-results-if-its-not-set.patch
  projects/kubernetes/kubernetes/1-21/patches/0020-EKS-PATCH-extend-sa-token-if-audience-is-apiserver-1.patch
  projects/kubernetes/kubernetes/1-21/patches/0021-EKS-PATCH-Parse-ipv6-address-before-comparison-10773.patch
  projects/kubernetes/kubernetes/1-21/patches/0022-EKS-PATCH-AWS-Include-IPv6-addresses-in-NodeAddresse.patch
Labels: approved, lgtm, v1.21, size/XXL

#767 Changed Kubernetes version to 1.20.15 and updated patches
  projects/kubernetes/kubernetes/1-20/CHECKSUMS
  projects/kubernetes/kubernetes/1-20/GIT_TAG
  projects/kubernetes/kubernetes/1-20/patches/0002-EKS-PATCH-Pass-region-to-sts-client-for-ap-east-1.patch
  projects/kubernetes/kubernetes/1-20/patches/0003-EKS-PATCH-staging-apiserver-disable-info-level-gRPC-.patch
  projects/kubernetes/kubernetes/1-20/patches/0005-EKS-PATCH-Lookup-sts-endpoint-from-custom-map.patch
  projects/kubernetes/kubernetes/1-20/patches/0006-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-20/patches/0007-EKS-PATCH-Use-GNU-date.patch
  projects/kubernetes/kubernetes/1-20/patches/0008-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-20/patches/0011-EKS-PATCH-delete-leaked-volume-if-driver-doesn-t-kno.patch
  projects/kubernetes/kubernetes/1-20/patches/0012-PATCH-kubeadm-CoreDNS-permissions-for-endpointslices.patch
  projects/kubernetes/kubernetes/1-20/patches/0013-EKS-PATCH-AWS-Set-max-results-if-its-not-set.patch
  projects/kubernetes/kubernetes/1-20/patches/0015-EKS-PATCH-Fix-kubectl-version-unit-test.patch
  projects/kubernetes/kubernetes/1-20/patches/0016-EKS-PATCH-Refine-locking-in-API-Priority-and-Fairnes.patch
  projects/kubernetes/kubernetes/1-20/patches/0017-EKS-PATCH-ConsistentRead-tries-10-times.patch
  projects/kubernetes/kubernetes/1-20/patches/0019-EKS-PATCH-Get-inodes-and-disk-usage-via-pure-go.patch
  projects/kubernetes/kubernetes/1-20/patches/0020-EKS-PATCH-Ignore-wait-no-child-processes-error-when-.patch
Labels: approved, lgtm, v1.20, size/L

#723 remove unused image tag files and cmd on kube dockerfile
  EKS_DISTRO_MINIMAL_BASE_CSI_TAG_FILE
  EKS_DISTRO_MINIMAL_BASE_GLIBC_TAG_FILE
  projects/kubernetes/kubernetes/docker/Dockerfile
Labels: approved, size/XS

#791 Updated CSI snapshotter for 1-20 and 1-21
  projects/kubernetes-csi/external-snapshotter/1-20/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-20/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-21/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-21/GIT_TAG
Labels: approved, lgtm, size/S

#793 Updated CSI livenessprobe for 1.18 - 1.21
  projects/kubernetes-csi/livenessprobe/1-18/ATTRIBUTION.txt
  projects/kubernetes-csi/livenessprobe/1-18/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-18/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-18/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-19/ATTRIBUTION.txt
  projects/kubernetes-csi/livenessprobe/1-19/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-19/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-19/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-20/ATTRIBUTION.txt
  projects/kubernetes-csi/livenessprobe/1-20/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-20/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-20/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-21/ATTRIBUTION.txt
  projects/kubernetes-csi/livenessprobe/1-21/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-21/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-21/GOLANG_VERSION
Labels: approved, lgtm, size/L

#794 Updated node-driver-registrar for 1.18 - 1.21
  projects/kubernetes-csi/node-driver-registrar/1-18/ATTRIBUTION.txt
  projects/kubernetes-csi/node-driver-registrar/1-18/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-18/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-18/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-19/ATTRIBUTION.txt
  projects/kubernetes-csi/node-driver-registrar/1-19/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-19/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-19/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-20/ATTRIBUTION.txt
  projects/kubernetes-csi/node-driver-registrar/1-20/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-20/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-20/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-21/ATTRIBUTION.txt
  projects/kubernetes-csi/node-driver-registrar/1-21/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-21/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-21/GOLANG_VERSION
Labels: approved, lgtm, size/L

#792 Updated CSI resizer for all versions
  projects/kubernetes-csi/external-resizer/1-18/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-18/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-18/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-19/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-19/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-19/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-20/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-20/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-20/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-21/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-21/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-21/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-22/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-22/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-22/GOLANG_VERSION
Labels: approved, lgtm, size/M

#795 fix versions for metrics server and iam auth and add validation for v…
  projects/coredns/coredns/Makefile
  projects/etcd-io/etcd/Makefile
  projects/etcd-io/etcd/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/1-18/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/1-18/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-19/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-20/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-21/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-22/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/Makefile
  projects/kubernetes-sigs/metrics-server/README.md
Labels: approved, lgtm, size/L

#804 Bumped development RELEASE for 1.22-7
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#806 Updated etcd to 3.5.2 for 1.22
  projects/etcd-io/etcd/1-22/CHECKSUMS
  projects/etcd-io/etcd/1-22/GIT_TAG
Labels: approved, lgtm, size/S, v1.22

#808 iam-auth: remove v from version to match upstream
  projects/kubernetes-sigs/aws-iam-authenticator/1-18/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
Labels: approved, lgtm, size/M

#807 Bump etcd versions for 1.18 - 1.21
  projects/etcd-io/etcd/1-18/CHECKSUMS
  projects/etcd-io/etcd/1-18/GIT_TAG
  projects/etcd-io/etcd/1-18/GOLANG_VERSION
  projects/etcd-io/etcd/1-19/CHECKSUMS
  projects/etcd-io/etcd/1-19/GIT_TAG
  projects/etcd-io/etcd/1-19/GOLANG_VERSION
  projects/etcd-io/etcd/1-20/CHECKSUMS
  projects/etcd-io/etcd/1-20/GIT_TAG
  projects/etcd-io/etcd/1-20/GOLANG_VERSION
  projects/etcd-io/etcd/1-21/CHECKSUMS
  projects/etcd-io/etcd/1-21/GIT_TAG
  projects/etcd-io/etcd/1-21/GOLANG_VERSION
Labels: approved, lgtm, size/M

#797 Bumped development RELEASE for 1.18-16
  release/1-18/development/RELEASE
Labels: approved, lgtm, v1.18, release, size/XS

#798 Bumped development RELEASE for 1.19-15
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#799 Bumped development RELEASE for 1.20-12
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#802 Bumped development RELEASE for 1.21-10
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#811 Bumped development RELEASE for 1.22-8
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS

#801 Bumped production RELEASE for 1.19-15
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#800 Bumped production RELEASE for 1.20-12
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#805 Bumped production RELEASE for 1.22-2
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#812 Bumped production RELEASE for 1.18-16
  release/1-18/production/RELEASE
Labels: approved, lgtm, v1.18, release, size/XS

#815 Bumped development RELEASE for 1.18-17
  release/1-18/development/RELEASE
Labels: approved, lgtm, v1.18, release, size/XS

#817 Bumped development RELEASE for 1.19-16
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#819 Bumped development RELEASE for 1.20-13
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#821 Bumped development RELEASE for 1.21-11
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#823 Bumped development RELEASE for 1.22-9
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#816 Bumped production RELEASE for 1.18-17
  release/1-18/production/RELEASE
Labels: approved, lgtm, v1.18, release, size/XS

#818 Bumped production RELEASE for 1.19-16
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#820 Bumped production RELEASE for 1.20-13
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#822 Bumped production RELEASE for 1.21-11
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#824 Bumped production RELEASE for 1.22-3
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#830 Docs for 1.20-12
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/12/CHANGELOG-v1-20-eks-12.md
  docs/contents/releases/1-20/12/index.md
  docs/contents/releases/1-20/12/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/M

#826 Docs for 1.18-16
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/16/CHANGELOG-v1-18-eks-16.md
  docs/contents/releases/1-18/16/index.md
  docs/contents/releases/1-18/16/release-announcement.txt
Labels: documentation, approved, lgtm, v1.18, release, size/M

#832 Docs for 1.21-10
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/10/CHANGELOG-v1-21-eks-10.md
  docs/contents/releases/1-21/10/index.md
  docs/contents/releases/1-21/10/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#828 Docs for 1.19-15
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/15/CHANGELOG-v1-19-eks-15.md
  docs/contents/releases/1-19/15/index.md
  docs/contents/releases/1-19/15/release-announcement.txt
Labels: documentation, approved, lgtm, v1.19, release, size/M

#827 Docs for 1.18-17
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/17/CHANGELOG-v1-18-eks-17.md
  docs/contents/releases/1-18/17/index.md
  docs/contents/releases/1-18/17/release-announcement.txt
Labels: documentation, approved, lgtm, v1.18, release, size/M

#829 Docs for 1.19-16
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/16/CHANGELOG-v1-19-eks-16.md
  docs/contents/releases/1-19/16/index.md
  docs/contents/releases/1-19/16/release-announcement.txt
Labels: documentation, approved, lgtm, v1.19, release, size/M

#831 Docs for 1.20-13
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/13/CHANGELOG-v1-20-eks-13.md
  docs/contents/releases/1-20/13/index.md
  docs/contents/releases/1-20/13/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/M

#833 Docs for 1.21-11
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/11/CHANGELOG-v1-21-eks-11.md
  docs/contents/releases/1-21/11/index.md
  docs/contents/releases/1-21/11/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#834 Remove unneeded code in release generation
  Makefile
  cmd/release/docs/internal/docs_pr.go
  cmd/release/docs/internal/release.go
  cmd/release/docs/main.go
  cmd/release/number/internal/number_pr.go
  cmd/release/number/main.go
  cmd/release/pull_request/create_release_pr.sh
  cmd/release/pull_request/open_pr.go
  cmd/release/pull_request/pr_input.go
Labels: approved, lgtm, size/L

#841 Bumped development RELEASE for 1.22-10
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#842 Bumped production RELEASE for 1.22-4
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#845 Add warning about discontinued support of 1.18
  README.md
Labels: documentation, approved, lgtm, size/XS
