Repository aws/eks-distro, pull requests merged in 2022-09, with the labels that each got.

#1215 Bumped development RELEASE for 1.20-20
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1216 Bumped production RELEASE for 1.20-20
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1232 Created and updated docs for 1.21-18
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/18/CHANGELOG-v1-21-eks-18.md
  docs/contents/releases/1-21/18/index.md
  docs/contents/releases/1-21/18/release-announcement.txt
Labels: approved, lgtm, v1.21, release, size/M

#1236 Re add120 go sums & go mods
  .gitignore
  projects/coredns/coredns/1-20/go.mod
  projects/coredns/coredns/1-20/go.sum
  projects/etcd-io/etcd/1-20/go.mod
  projects/etcd-io/etcd/1-20/go.sum
  projects/kubernetes-csi/external-attacher/1-20/go.mod
  projects/kubernetes-csi/external-attacher/1-20/go.sum
  projects/kubernetes-csi/external-provisioner/go.mod
  projects/kubernetes-csi/external-provisioner/go.sum
  projects/kubernetes-csi/external-resizer/1-20/go.mod
  projects/kubernetes-csi/external-resizer/1-20/go.sum
  projects/kubernetes-csi/external-snapshotter/1-20/go.mod
  projects/kubernetes-csi/external-snapshotter/1-20/go.sum
  projects/kubernetes-csi/livenessprobe/1-20/go.mod
  projects/kubernetes-csi/livenessprobe/1-20/go.sum
  projects/kubernetes-csi/node-driver-registrar/1-20/go.mod
  projects/kubernetes-csi/node-driver-registrar/1-20/go.sum
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/go.mod
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/go.sum
  projects/kubernetes-sigs/metrics-server/1-20/go.mod
  projects/kubernetes-sigs/metrics-server/1-20/go.sum
  projects/kubernetes/kubernetes/1-20/go.mod
  projects/kubernetes/kubernetes/1-20/go.sum
Labels: approved, lgtm, area/security

#1172 patch coredns v1.8.3 associated with release 1-20 to fix CVE-2020-27813
  projects/coredns/coredns/1-20/patches/0001-Upgrade-github.com-gorilla-websocket-to-fix-CVE-2020.patch
Labels: approved, lgtm, size/M

#1239 remove go mod and sum for k8s 120
  projects/kubernetes/kubernetes/1-20/go.mod
  projects/kubernetes/kubernetes/1-20/go.sum
Labels: approved, lgtm, size/XXL

#1234 Created and updated docs for 1.22-10
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/10/CHANGELOG-v1-22-eks-10.md
  docs/contents/releases/1-22/10/index.md
  docs/contents/releases/1-22/10/release-announcement.txt
Labels: approved, lgtm, release, size/M, v1.22

#1235 Created and updated docs for 1.23-5
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/5/CHANGELOG-v1-23-eks-5.md
  docs/contents/releases/1-23/5/index.md
  docs/contents/releases/1-23/5/release-announcement.txt
Labels: approved, lgtm, release, size/M, v1.23

#1241 Created and updated docs for 1.20-20
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/20/CHANGELOG-v1-20-eks-20.md
  docs/contents/releases/1-20/20/index.md
  docs/contents/releases/1-20/20/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/M

#1251 Add github actions autolabeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: approved, lgtm, size/S

#1257 Adds buildkit cache to image builds
  Common.mk
Labels: approved, lgtm, size/M

#1242 Major refactor of release make commands
  Makefile
  cmd/release/docs/existing_docs/update.go
  cmd/release/docs/existingdocs/index.go
  cmd/release/docs/existingdocs/readme.go
  cmd/release/docs/internal/directories.go
  cmd/release/docs/internal/docs_pr.go
  cmd/release/docs/internal/release.go
  cmd/release/docs/internal/status.go
  cmd/release/docs/main.go
  cmd/release/docs/new_docs/component_table.go
  cmd/release/docs/new_docs/generate.go
  cmd/release/docs/new_docs/templates/changelog.go
  cmd/release/docs/new_docs/templates/index.go
  cmd/release/docs/new_docs/templates/release_annoucement.go
  cmd/release/docs/newdocs/generate.go
  cmd/release/docs/newdocs/input.go
  cmd/release/docs/newdocs/templates.go
  cmd/release/gh-release/create.sh
  cmd/release/gh-release/main.go
  cmd/release/github_release/main.go
  cmd/release/number/internal/number_pr.go
  cmd/release/number/main.go
  cmd/release/pull_request/create_release_pr.sh
  cmd/release/pull_request/open_pr.go
  cmd/release/pull_request/pr_input.go
  cmd/release/utils/changetype/changetype.go
  cmd/release/utils/directories.go
  cmd/release/utils/git/manager.go
  cmd/release/utils/git/open-pr.sh
  cmd/release/utils/git/pr.go
  cmd/release/utils/git/runners.go
  cmd/release/utils/release.go
  cmd/release/utils/release_environments.go
  cmd/release/utils/release_numbers.go
  cmd/release/utils/values/componenttable.go
  cmd/release/utils/values/componenttable_test.go
  cmd/release/utils/values/directories.go
  cmd/release/utils/values/filenames.go
  cmd/release/utils/values/filepaths.go
  cmd/release/utils/values/local.go
  cmd/release/utils/version_format.go
  go.mod
Labels: approved, lgtm, size/XXL

#1244 K8s git tag in readme
  README.md
  cmd/release/docs/existingdocs/readme.go
  cmd/release/utils/release.go
Labels: approved, lgtm, size/M

#1243 kubernetes release: Bumps 1.24 to use 0.14
  projects/kubernetes/release/1-24/ATTRIBUTION.txt
  projects/kubernetes/release/1-24/CHECKSUMS
  projects/kubernetes/release/1-24/GIT_TAG
  projects/kubernetes/release/1-24/GOLANG_VERSION
  projects/kubernetes/release/Makefile
Labels: approved, lgtm, size/S
