Repository aws/eks-distro, pull requests merged in 2022-01, with the labels that each got.

#674 Added make command to update all release numbers
  Makefile
  release/SUPPORTED_RELEASE_BRANCHES
Labels: approved, lgtm, size/XS

#675 Bump csi versions
  projects/kubernetes-csi/external-attacher/CHECKSUMS
  projects/kubernetes-csi/external-attacher/GIT_TAG
  projects/kubernetes-csi/external-attacher/Makefile
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/GIT_TAG
  projects/kubernetes-csi/external-provisioner/Makefile
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/CHECKSUMS
  projects/kubernetes-csi/external-resizer/GIT_TAG
  projects/kubernetes-csi/external-resizer/Makefile
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/GIT_TAG
  projects/kubernetes-csi/livenessprobe/Makefile
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/Makefile
  projects/kubernetes-csi/node-driver-registrar/README.md
Labels: approved, lgtm, size/L

#676 Bumped development RELEASE for 1.18-14
  projects/kubernetes/kubernetes/1-18/KUBE_GIT_VERSION_FILE
  release/1-18/development/RELEASE
Labels: approved, lgtm, v1.18, release, size/XS

#677 Bumped development RELEASE for 1.19-13
  projects/kubernetes/kubernetes/1-19/KUBE_GIT_VERSION_FILE
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#679 Bumped development RELEASE for 1.20-10
  projects/kubernetes/kubernetes/1-20/KUBE_GIT_VERSION_FILE
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#682 Bumped development RELEASE for 1.21-8
  projects/kubernetes/kubernetes/1-21/KUBE_GIT_VERSION_FILE
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#678 Bumped production RELEASE for 1.19-13
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#681 Bumped production RELEASE for 1.18-14
  release/1-18/production/RELEASE
Labels: approved, lgtm, v1.18, release, size/XS

#680 Bumped production RELEASE for 1.20-10
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#683 Bumped production RELEASE for 1.21-8
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#687 Added docs for 1.19-13 release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/13/CHANGELOG-v1-19-eks-13.md
  docs/contents/releases/1-19/13/index.md
  docs/contents/releases/1-19/13/release-announcement.txt
Labels: documentation, approved, lgtm, v1.19, release, size/M

#688 Added docs for 1.20-10 release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/10/CHANGELOG-v1-20-eks-10.md
  docs/contents/releases/1-20/10/index.md
  docs/contents/releases/1-20/10/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/M

#689 Added docs for 1.21-8 release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/8/CHANGELOG-v1-21-eks-8.md
  docs/contents/releases/1-21/8/index.md
  docs/contents/releases/1-21/8/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#690 Remove micahhausler from owners
  OWNERS
Labels: approved, lgtm, size/XS

#686 Added docs for 1.18-14 release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-18/14/CHANGELOG-v1-18-eks-14.md
  docs/contents/releases/1-18/14/index.md
  docs/contents/releases/1-18/14/release-announcement.txt
Labels: documentation, approved, lgtm, v1.18, release, size/M

#691 Remove bnrjee from OWNERS file
  OWNERS
Labels: approved, lgtm, size/S

#693 coredns + etcd: fix upload location for oci tars
  Common.mk
  build/lib/install_go_versions.sh
Labels: approved, lgtm, size/S
