Repository aws/eks-distro, pull requests merged in 2022-05, with the labels that each got.

#913 Created and updated docs for 1.21-13
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/13/CHANGELOG-v1-21-eks-13.md
  docs/contents/releases/1-21/13/index.md
  docs/contents/releases/1-21/13/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#897 Minor docs changes
  README.md
  docs/contents/releases/1-22/5/CHANGELOG-v1-22-eks-5.md
Labels: documentation, approved, lgtm, size/S

#910 1.22-6 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/6/CHANGELOG-v1-22-eks-6.md
  docs/contents/releases/1-22/6/index.md
  docs/contents/releases/1-22/6/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#911 Created and updated docs for 1.19-18
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/18/CHANGELOG-v1-19-eks-18.md
  docs/contents/releases/1-19/18/index.md
  docs/contents/releases/1-19/18/release-announcement.txt
Labels: documentation, approved, lgtm, v1.19, release, size/M

#912 Created and updated docs for 1.20-15
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/15/CHANGELOG-v1-20-eks-15.md
  docs/contents/releases/1-20/15/index.md
  docs/contents/releases/1-20/15/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/M

#922 Update external-snapshotter kubernetes dep
  projects/kubernetes-csi/external-snapshotter/1-19/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-19/go.mod
  projects/kubernetes-csi/external-snapshotter/1-19/go.sum
  projects/kubernetes-csi/external-snapshotter/1-19/patches/0001-Update-kubernetes-deps-to-0.19.16.patch
  projects/kubernetes-csi/external-snapshotter/1-20/go.mod
  projects/kubernetes-csi/external-snapshotter/1-20/go.sum
  projects/kubernetes-csi/external-snapshotter/1-20/patches/0001-Update-kuberentes-dep-to-1.21.5.patch
  projects/kubernetes-csi/external-snapshotter/1-21/go.mod
  projects/kubernetes-csi/external-snapshotter/1-21/go.sum
  projects/kubernetes-csi/external-snapshotter/1-21/patches/0001-Update-kuberentes-dep-to-1.21.5.patch
  projects/kubernetes-csi/external-snapshotter/Makefile
Labels: approved, lgtm, v1.19, v1.20, v1.21, size/XXL

#923 Etcd: Update gopkg.in/yaml.v2 to v2.2.8
  projects/etcd-io/etcd/1-19/CHECKSUMS
  projects/etcd-io/etcd/1-19/go.mod
  projects/etcd-io/etcd/1-19/go.sum
  projects/etcd-io/etcd/1-19/patches/0001-Update-gopkg.in-yaml.v2-to-v2.2.8.patch
  projects/etcd-io/etcd/1-20/CHECKSUMS
  projects/etcd-io/etcd/1-20/go.mod
  projects/etcd-io/etcd/1-20/go.sum
  projects/etcd-io/etcd/1-20/patches/0001-Update-gopkg.in-yaml.v2-to-v2.2.8.patch
  projects/etcd-io/etcd/1-21/CHECKSUMS
  projects/etcd-io/etcd/1-21/go.mod
  projects/etcd-io/etcd/1-21/go.sum
  projects/etcd-io/etcd/1-21/patches/0001-Update-gopkg.in-yaml.v2-to-v2.2.8.patch
  projects/etcd-io/etcd/1-22/CHECKSUMS
  projects/etcd-io/etcd/1-22/go.mod
  projects/etcd-io/etcd/1-22/go.sum
  projects/etcd-io/etcd/1-22/patches/0001-Update-gopkg.in-yaml.v2-to-v2.2.8.patch
Labels: approved, lgtm, v1.19, v1.20, v1.21, size/XXL, v1.22

#921 Update cni plugins libcni dep
  projects/containernetworking/plugins/CHECKSUMS
  projects/containernetworking/plugins/go.mod
  projects/containernetworking/plugins/go.sum
  projects/containernetworking/plugins/patches/0001-Update-libcni-to-0.8.1.patch
Labels: approved, lgtm, v1.19, v1.20, v1.21, size/L, v1.22

#924 etcd: Add 3.5.3 for kube 1.23
  Makefile
  build/lib/update_checksum_docker.sh
  projects/etcd-io/etcd/1-23/ATTRIBUTION.txt
  projects/etcd-io/etcd/1-23/CHECKSUMS
  projects/etcd-io/etcd/1-23/ETCDCTL_ATTRIBUTION.txt
  projects/etcd-io/etcd/1-23/GIT_TAG
  projects/etcd-io/etcd/1-23/GOLANG_VERSION
  projects/etcd-io/etcd/1-23/Overrides.mk
  projects/etcd-io/etcd/README.md
Labels: approved, lgtm, size/XXL, v1.23

#933 Initial changes for 1.23
  Common.mk
  development/kops/cluster_wait.sh
  development/kops/install_requirements.sh
  projects/coredns/coredns/1-23/ATTRIBUTION.txt
  projects/coredns/coredns/1-23/CHECKSUMS
  projects/coredns/coredns/1-23/GIT_TAG
  projects/coredns/coredns/1-23/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-23/ATTRIBUTION.txt
  projects/kubernetes-csi/external-attacher/1-23/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-23/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-23/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-23/ATTRIBUTION.txt
  projects/kubernetes-csi/external-provisioner/1-23/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-23/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-23/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-23/ATTRIBUTION.txt
  projects/kubernetes-csi/external-resizer/1-23/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-23/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-23/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-23/ATTRIBUTION.txt
  projects/kubernetes-csi/external-snapshotter/1-23/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-23/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-23/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-23/ATTRIBUTION.txt
  projects/kubernetes-csi/livenessprobe/1-23/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-23/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-23/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-23/ATTRIBUTION.txt
  projects/kubernetes-csi/node-driver-registrar/1-23/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-23/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-23/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-23/ATTRIBUTION.txt
  projects/kubernetes-sigs/metrics-server/1-23/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-23/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-23/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-23/ATTRIBUTION.txt
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/GIT_TAG
  projects/kubernetes/kubernetes/1-23/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-23/PAUSE_TAG
  projects/kubernetes/kubernetes/1-23/patches/0001-Placeholder.patch
  projects/kubernetes/release/1-23/ATTRIBUTION.txt
  projects/kubernetes/release/1-23/CHECKSUMS
  projects/kubernetes/release/1-23/GIT_TAG
  projects/kubernetes/release/1-23/GOLANG_VERSION
  release/1-23/development/RELEASE
  release/1-23/production/RELEASE
  release/SUPPORTED_RELEASE_BRANCHES
Labels: approved, lgtm, size/XXL, v1.23

#935 Fixes go-runner path in docker container
  development/kops/eks-d.tpl
  projects/kubernetes/release/1-23/GIT_TAG
  projects/kubernetes/release/docker/go-runner/Dockerfile
Labels: approved, lgtm, size/XS

#936 Update ATTRIBUTION.txt
  projects/kubernetes/kubernetes/1-23/ATTRIBUTION.txt
Labels: approved, lgtm, size/XS

#937 Fixes kube-proxy for 1.23
  development/kops/cluster_wait.sh
  projects/kubernetes/kubernetes/1-23/ATTRIBUTION.txt
  projects/kubernetes/release/docker/kube-proxy-base/Dockerfile
Labels: approved, do-not-merge/hold, size/S

#938 Bumped development RELEASE for 1.23-1
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#934 Changed iam auth to 0.5.8
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: approved, lgtm, v1.19, v1.20, v1.21, size/M, v1.22

#941 Updated livenessprobe to 2.7.0 for all versions
  projects/kubernetes-csi/livenessprobe/1-19/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-19/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-19/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-20/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-20/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-20/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-21/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-21/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-21/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-22/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-22/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-22/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-23/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-23/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-23/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/README.md
Labels: approved, lgtm, v1.19, v1.20, v1.21, size/M, v1.22, v1.23

#931 snapshotter: Fixes go.sum false positive alert for protobuf def
  projects/kubernetes-csi/external-snapshotter/1-19/patches/0001-Update-kubernetes-deps-to-0.19.16.patch
Labels: approved, lgtm, size/M

#942 Bumped development RELEASE for 1.19-19
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#944 Bumped development RELEASE for 1.20-16
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#946 Bumped development RELEASE for 1.21-14
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#948 Bumped development RELEASE for 1.22-14
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#943 Bumped production RELEASE for 1.19-19
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#945 Bumped production RELEASE for 1.20-16
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#954 Created and updated docs for 1.20-16
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/16/CHANGELOG-v1-20-eks-16.md
  docs/contents/releases/1-20/16/index.md
  docs/contents/releases/1-20/16/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/M

#955 Created and updated docs for 1.21-14
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/14/CHANGELOG-v1-21-eks-14.md
  docs/contents/releases/1-21/14/index.md
  docs/contents/releases/1-21/14/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#953 1.19-19 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/19/CHANGELOG-v1-19-eks-19.md
  docs/contents/releases/1-19/19/index.md
  docs/contents/releases/1-19/19/release-announcement.txt
Labels: documentation, approved, lgtm, v1.19, release, size/M

#959 Patch csi-provisioner for release branch 1-19
  projects/kubernetes-csi/external-provisioner/1-19/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-19/go.mod
  projects/kubernetes-csi/external-provisioner/1-19/go.sum
  projects/kubernetes-csi/external-provisioner/1-19/patches/0002-Update-kuberenetes-deps-to-0.21.5-and-1.21.5.patch
  projects/kubernetes-csi/external-provisioner/Makefile
Labels: approved, lgtm, v1.19, size/XXL

#962 Bumped development RELEASE for 1.23-2
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23
