Repository aws/eks-distro, pull requests merged in 2022-06, with the labels that each got.

#966 Bumped development RELEASE for 1.23-3
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#967 Bumped production RELEASE for 1.23-1
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#964 Remove mrajashree and sostheim from OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#970 Testing 1.22 rebuild
  Makefile
Labels: approved, lgtm, size/XS

#969 Updated EKS-A wording
  docs/contents/index.md
Labels: approved, lgtm, size/S

#971 Updates gather licenses for new version of go-licenses
  build/lib/common.sh
  build/lib/install_go_versions.sh
  projects/kubernetes/release/Makefile
Labels: approved, lgtm, size/S

#919 Adds go.sums for each project to repo
  Common.mk
  Makefile
  README.md
  build/lib/patch_for_dep_update.sh
  build/lib/update_vendor.sh
  build/update-attribution-files/create_pr.sh
  build/update-attribution-files/make_attribution.sh
  docs/development/update-project-dependency.md
Labels: approved, lgtm, size/L

#956 Created and updated docs for 1.22-7
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/7/CHANGELOG-v1-22-eks-7.md
  docs/contents/releases/1-22/7/index.md
  docs/contents/releases/1-22/7/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#977 Add CII best practices badge
  README.md
Labels: approved, lgtm, size/XS

#982 Warning about 1.19 deprecation
  README.md
Labels: documentation, approved, lgtm, v1.19, size/S

#997 Updated Kubernetes version of 1.23.7
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/GIT_TAG
Labels: approved, lgtm, size/M, v1.23

#998 Updated Kubernetes version to 1.22.10
  projects/kubernetes/kubernetes/1-22/CHECKSUMS
  projects/kubernetes/kubernetes/1-22/GIT_TAG
Labels: approved, lgtm, size/M, v1.22

#999 Updated Kubernetes version to 1.21.13
  projects/kubernetes/kubernetes/1-21/CHECKSUMS
  projects/kubernetes/kubernetes/1-21/GIT_TAG
Labels: approved, lgtm, v1.21, size/M

#1004 Updated node-driver-registrar for 1.19 - 1.23
  projects/kubernetes-csi/node-driver-registrar/1-19/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-19/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-20/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-20/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-21/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-21/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-22/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-22/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-23/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-23/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/README.md
Labels: approved, lgtm, v1.19, v1.20, v1.21, size/M, v1.22, v1.23

#1007 Updated etcd to 3.5.4 for 1.23
  projects/etcd-io/etcd/1-23/CHECKSUMS
  projects/etcd-io/etcd/1-23/GIT_TAG
Labels: approved, lgtm, size/S, v1.23

#1009 Updated external-attacher to 3.5.0 for 1.19 - 1.23
  projects/kubernetes-csi/external-attacher/1-19/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-19/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-19/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-20/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-20/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-20/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-21/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-21/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-21/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-22/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-22/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-22/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-23/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-23/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-23/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/README.md
Labels: approved, lgtm, v1.19, v1.20, v1.21, size/M, v1.22, v1.23

#1039 Added go 1.18
  build/lib/common.sh
  build/lib/install_go_versions.sh
Labels: approved, lgtm, size/XS

#1010 Updated external-snapshotter to 6.0.1 for 1.20 - 1.23
  projects/kubernetes-csi/external-snapshotter/1-20/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-20/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-20/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-20/patches/0001-Update-kuberentes-dep-to-1.21.5.patch
  projects/kubernetes-csi/external-snapshotter/1-21/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-21/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-21/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-21/patches/0001-Update-kuberentes-dep-to-1.21.5.patch
  projects/kubernetes-csi/external-snapshotter/1-22/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-22/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-22/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-23/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-23/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-23/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/README.md
Labels: approved, lgtm, v1.20, v1.21, size/L, v1.22, v1.23

#1011 Updated external-provisioner to 3.1.1 for 1.20 - 1.23
  projects/kubernetes-csi/external-provisioner/1-20/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-20/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-21/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-21/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-22/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-22/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-23/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-23/GIT_TAG
  projects/kubernetes-csi/external-provisioner/README.md
Labels: approved, lgtm, v1.20, v1.21, size/M, v1.22, v1.23

#1005 Update external resizer 1.5.0
  projects/kubernetes-csi/external-resizer/1-19/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-19/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-19/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-20/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-20/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-20/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-21/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-21/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-21/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-22/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-22/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-22/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-23/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-23/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-23/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/README.md
Labels: approved, lgtm, v1.19, v1.20, v1.21, size/M, v1.22, v1.23

#1029 Bumped development RELEASE for 1.19-20
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#1031 Bumped development RELEASE for 1.20-17
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1033 Bumped development RELEASE for 1.21-15
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1035 Bumped development RELEASE for 1.22-15
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1030 Bumped production RELEASE for 1.19-20
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#1032 Bumped production RELEASE for 1.20-17
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1034 Bumped production RELEASE for 1.21-15
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1036 Bumped production RELEASE for 1.22-8
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1038 Bumped production RELEASE for 1.23-2
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1043 Tweaks Attribution job ordering and when PRs are created
  Makefile
  build/lib/update_go_versions.sh
  build/update-attribution-files/create_pr.sh
Labels: approved, lgtm, size/M

#1052 Fixed CSI project READMEs for how to get Golang version
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
Labels: documentation, approved, lgtm, size/M

#1053 Created and updated 1.21-15 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/15/CHANGELOG-v1-21-eks-15.md
  docs/contents/releases/1-21/15/index.md
  docs/contents/releases/1-21/15/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, size/M

#1054 Created and updated docs for 1.20-17
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/17/CHANGELOG-v1-20-eks-17.md
  docs/contents/releases/1-20/17/index.md
  docs/contents/releases/1-20/17/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, size/M

#1055 Created and updated docs for 1.19-20
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/20/CHANGELOG-v1-19-eks-20.md
  docs/contents/releases/1-19/20/index.md
  docs/contents/releases/1-19/20/release-announcement.txt
Labels: documentation, approved, lgtm, v1.19, size/M

#1064 Update issue templates
  .github/ISSUE_TEMPLATE/release-tracking-issue.md
Labels: lgtm, size/M
