Repository aws/eks-distro, pull requests merged in 2022-10, with the labels that each got.

#1269 Updated kubernetes-csi/external-snapshotter to v6.1.0
  projects/kubernetes-csi/external-snapshotter/1-20/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-20/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-21/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-21/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-22/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-22/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-23/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-23/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-24/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-24/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/README.md
Labels: approved, lgtm, v1.20, v1.21, size/M, v1.22, v1.23, v1.24, project

#1270 Updated kubernetes-csi/external-resizer to v1.6.0
  projects/kubernetes-csi/external-resizer/1-20/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-20/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-21/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-21/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-22/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-22/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-23/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-23/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-24/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-24/GIT_TAG
  projects/kubernetes-csi/external-resizer/README.md
Labels: approved, lgtm, v1.20, v1.21, size/M, v1.22, v1.23, v1.24, project

#1274 Updated kubernetes-csi/external-provisioner to v3.3.0
  projects/kubernetes-csi/external-provisioner/1-20/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-20/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-21/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-21/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-22/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-22/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-23/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-23/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/GIT_TAG
  projects/kubernetes-csi/external-provisioner/README.md
Labels: approved, lgtm, v1.20, v1.21, size/M, v1.22, v1.23, v1.24, project

#1275 Updated kubernetes-csi/external-attacher to v4.0.0
  projects/kubernetes-csi/external-attacher/1-20/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-20/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-21/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-21/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-22/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-22/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-23/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-23/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/GIT_TAG
  projects/kubernetes-csi/external-attacher/README.md
Labels: approved, lgtm, v1.20, v1.21, size/M, v1.22, v1.23, v1.24, project

#1276 Minor patch description changes
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/patches/0009-EKS-PATCH-Add-rate-limiting-when-calling-STS-assume-.patch
  projects/kubernetes/kubernetes/1-24/patches/0010-EKS-PATCH-Update-naming-for-a-const.patch
Labels: approved, lgtm, size/M

#1252 Add automation for gathering info for the CHANGELOGs
  .github/labeler.yml
  README.md
  cmd/release/docs/newdocs/input.go
  cmd/release/utils/values/searchprs.go
  go.mod
  go.sum
Labels: approved, lgtm, size/L

#1280 Added warning about 1.20 deprecation
  README.md
Labels: approved, lgtm, size/S

#1282 Added patch to update AWS-SDK for 1.24
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/patches/0011-EKS-PATCH-Update-aws-sdk-go-from-v1.42.23-to-v1.44.1.patch
Labels: approved, lgtm, size/XXL, v1.24, patch

#1279 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1278 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1284 Clean up 1.20 files
  .gitignore
  projects/coredns/coredns/1-20/go.mod
  projects/coredns/coredns/1-20/go.sum
  projects/etcd-io/etcd/1-20/go.mod
  projects/etcd-io/etcd/1-20/go.sum
  projects/kubernetes-csi/external-attacher/1-20/go.mod
  projects/kubernetes-csi/external-attacher/1-20/go.sum
  projects/kubernetes-csi/external-provisioner/1-20/go.mod
  projects/kubernetes-csi/external-provisioner/1-20/go.sum
  projects/kubernetes-csi/external-resizer/1-20/go.mod
  projects/kubernetes-csi/external-resizer/1-20/go.sum
  projects/kubernetes-csi/external-snapshotter/1-20/go.mod
  projects/kubernetes-csi/external-snapshotter/1-20/go.sum
  projects/kubernetes-csi/livenessprobe/1-20/go.mod
  projects/kubernetes-csi/livenessprobe/1-20/go.sum
  projects/kubernetes-csi/node-driver-registrar/1-20/go.mod
  projects/kubernetes-csi/node-driver-registrar/1-20/go.sum
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/go.mod
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/go.sum
  projects/kubernetes-sigs/metrics-server/1-20/go.mod
  projects/kubernetes-sigs/metrics-server/1-20/go.sum
  projects/kubernetes/kubernetes/1-20/go.mod
  projects/kubernetes/kubernetes/1-20/go.sum
Labels: approved, lgtm, size/XXL

#1286 Append job logs link to bot-authored PR descriptions
  build/update-attribution-files/create_pr.sh
Labels: approved, lgtm, size/M

#1302 Update .gitignore
  .gitignore
Labels: approved, lgtm, size/XS

#1300 Updated etcd to v3.4.20 for 1.20 and 1.21
  projects/etcd-io/etcd/1-20/CHECKSUMS
  projects/etcd-io/etcd/1-20/GIT_TAG
  projects/etcd-io/etcd/1-20/GOLANG_VERSION
  projects/etcd-io/etcd/1-20/patches/0001-Update-gopkg.in-yaml.v2-to-v2.2.8.patch
  projects/etcd-io/etcd/1-21/CHECKSUMS
  projects/etcd-io/etcd/1-21/GIT_TAG
  projects/etcd-io/etcd/1-21/GOLANG_VERSION
  projects/etcd-io/etcd/1-21/patches/0001-Update-gopkg.in-yaml.v2-to-v2.2.8.patch
  projects/etcd-io/etcd/README.md
Labels: approved, lgtm, v1.20, v1.21, size/XL, patch, project

#1301 Update cni to v0.9.0 for 1.21 and 1.22
  projects/containernetworking/plugins/1-21/CHECKSUMS
  projects/containernetworking/plugins/1-21/GIT_TAG
  projects/containernetworking/plugins/1-22/CHECKSUMS
  projects/containernetworking/plugins/1-22/GIT_TAG
  projects/containernetworking/plugins/README.md
Labels: approved, lgtm, v1.21, size/L, v1.22, project

#1318 Bumped development release number for 1.21
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1322 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1316 Bumped development release number for 1.20
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1319 Bumped production release number for 1.21-19
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1323 Bumped production release number for 1.23-6
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1331 Bumped development release number for 1.20
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1320 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1321 Bumped production release number for 1.22-11
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1334 Change number in Changelog generation
  cmd/release/utils/values/searchprs.go
Labels: approved, lgtm, size/S

#1332 Bumped production release number for 1.20
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1337 Fix the logic for finding the last document release date
  cmd/release/utils/values/searchprs.go
Labels: approved, lgtm, size/XS

#1341 Created and updated docs for 1.22-11
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/11/CHANGELOG-v1-22-eks-11.md
  docs/contents/releases/1-22/11/index.md
  docs/contents/releases/1-22/11/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M

#1339 Created and updated docs for 1.23-6
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/6/CHANGELOG-v1-23-eks-6.md
  docs/contents/releases/1-23/6/index.md
  docs/contents/releases/1-23/6/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#1340 Created and updated docs for 1.20-21
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/21/CHANGELOG-v1-20-eks-21.md
  docs/contents/releases/1-20/21/index.md
  docs/contents/releases/1-20/21/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/M

#1338 Created and updated docs for 1.21-19
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/19/CHANGELOG-v1-21-eks-19.md
  docs/contents/releases/1-21/19/index.md
  docs/contents/releases/1-21/19/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#1342 Update project dependecy update runbook (move changes to fork)
  docs/development/update-project-dependency.md
Labels: documentation, approved, lgtm, size/XS

#1348 Bump etcd versions for 1.20 & 1.21
  projects/etcd-io/etcd/1-20/CHECKSUMS
  projects/etcd-io/etcd/1-20/GIT_TAG
  projects/etcd-io/etcd/1-21/CHECKSUMS
  projects/etcd-io/etcd/1-21/GIT_TAG
  projects/etcd-io/etcd/README.md
Labels: approved, lgtm, size/S, project

#1353 Adds script to verify local registry is running
  build/lib/local_registry_check.sh
Labels: approved, lgtm, size/M

#1357 Fix make tag
  Makefile
Labels: approved, lgtm, size/XS

#1359 Bumped development release number for 1.20
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1361 Bumped development release number for 1.21
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1363 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1365 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1367 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1369 Remove first two lines from changelog and index.md
  .gitignore
  cmd/release/gh-release/create.sh
Labels: approved, lgtm, size/S

#1370 Add Sajia to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#1360 Bumped production release number for 1.20
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1362 Bumped production release number for 1.21
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1364 Bumped production release number for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1366 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1368 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1372 Created and updated docs for 1.20
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/22/CHANGELOG-v1-20-eks-22.md
  docs/contents/releases/1-20/22/index.md
  docs/contents/releases/1-20/22/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/M

#1373 Created and updated docs for 1.21
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/20/CHANGELOG-v1-21-eks-20.md
  docs/contents/releases/1-21/20/index.md
  docs/contents/releases/1-21/20/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#1375 Created and updated docs for 1.22
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/12/CHANGELOG-v1-22-eks-12.md
  docs/contents/releases/1-22/12/index.md
  docs/contents/releases/1-22/12/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#1376 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/7/CHANGELOG-v1-23-eks-7.md
  docs/contents/releases/1-23/7/index.md
  docs/contents/releases/1-23/7/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#1380 use latest LTS ubuntu AMI for kOps
  development/kops/eks-d.tpl
Labels: approved, lgtm, size/XS

#1381 Use latest ubuntu ami for kops
  development/kops/eks-d.tpl
Labels: approved, lgtm, size/XS

#1356 Fixed make github-release and added tests
  Makefile
  cmd/release/docs/existingdocs/index.go
  cmd/release/docs/existingdocs/readme.go
  cmd/release/docs/main.go
  cmd/release/gh-release/main.go
  cmd/release/utils/release.go
  cmd/release/utils/release/release.go
  cmd/release/utils/release/release_test.go
  cmd/release/utils/release/releaseinput.go
  cmd/release/utils/values/filepaths.go
  cmd/release/utils/values/local.go
Labels: approved, lgtm, size/XL
