Repository aws/eks-distro, pull requests merged in 2022-07, with the labels that each got.

#1057 Fix bug in tag and created make github-release
  Makefile
  cmd/release/github_release/create_github_release.sh
  cmd/release/github_release/main.go
Labels: approved, lgtm, size/L

#1068 Added Make-kubelet-set.. patch to 1.23 and minor changes to other patches
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/patches/0003-EKS-PATCH-Use-GNU-date.patch
  projects/kubernetes/kubernetes/1-23/patches/0004-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
  projects/kubernetes/kubernetes/1-23/patches/0006-EKS-PATCH-Parse-ipv6-address-before-comparison-10773.patch
  projects/kubernetes/kubernetes/1-23/patches/0007-EKS-PATCH-AWS-Include-IPv6-addresses-in-NodeAddres.patch
  projects/kubernetes/kubernetes/1-23/patches/0007-EKS-PATCH-AWS-Include-IPv6-addresses-in-NodeAddresse.patch
  projects/kubernetes/kubernetes/1-23/patches/0009-EKS-PATCH-Make-kubelet-set-alpha.kubernetes.io-provi.patch
Labels: approved, lgtm, size/L, v1.23

#1076 Updated external-provisioner to 3.2.1 for 1.20 - 1.23
  projects/kubernetes-csi/external-provisioner/1-20/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-20/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-20/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-21/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-21/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-21/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-22/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-22/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-22/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-23/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-23/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-23/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/README.md
Labels: approved, lgtm, v1.20, v1.21, size/M, v1.22, v1.23

#1107 Updated iam-auth to v0.5.9 for 1.19 - 1.23
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-19/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-20/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: approved, lgtm, v1.19, v1.20, v1.21, size/M, v1.22, v1.23

#1092 Bumped development RELEASE for 1.19-21
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#1094 Bumped development RELEASE for 1.20-18
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1096 Bumped development RELEASE for 1.21-16
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1098 Bumped development RELEASE for 1.22-16
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1100 Bumped development RELEASE for 1.23-5
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1093 Bumped production RELEASE for 1.19-21
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#1095 Bumped production RELEASE for 1.20-18
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1097 Bumped production RELEASE for 1.21-16
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1099 Bumped production RELEASE for 1.22-9
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1101 Bumped production RELEASE for 1.23-3
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1110 Created and updated docs for 1.19-21
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/21/CHANGELOG-v1-19-eks-21.md
  docs/contents/releases/1-19/21/index.md
  docs/contents/releases/1-19/21/release-announcement.txt
Labels: documentation, approved, lgtm, v1.19, release, size/M

#1114 Created and updated docs for 1.22-9
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/9/CHANGELOG-v1-22-eks-9.md
  docs/contents/releases/1-22/9/index.md
  docs/contents/releases/1-22/9/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#1112 Created and updated docs for 1.20-18
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/18/CHANGELOG-v1-20-eks-18.md
  docs/contents/releases/1-20/18/index.md
  docs/contents/releases/1-20/18/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/M

#1117 Minor change to 1.22 patch description
  projects/kubernetes/kubernetes/1-22/CHECKSUMS
  projects/kubernetes/kubernetes/1-22/patches/0004-EKS-PATCH-aws_credentials-update-ecr-url-validation-.patch
Labels: approved, lgtm, size/M

#1118 Re-add version 1.22 alerts
  .gitignore
  projects/coredns/coredns/1-22/go.mod
  projects/coredns/coredns/1-22/go.sum
  projects/kubernetes-csi/external-attacher/1-22/go.mod
  projects/kubernetes-csi/external-attacher/1-22/go.sum
  projects/kubernetes-csi/external-provisioner/1-22/go.mod
  projects/kubernetes-csi/external-provisioner/1-22/go.sum
  projects/kubernetes-csi/external-resizer/1-22/go.mod
  projects/kubernetes-csi/external-resizer/1-22/go.sum
  projects/kubernetes-csi/external-snapshotter/1-22/go.mod
  projects/kubernetes-csi/external-snapshotter/1-22/go.sum
  projects/kubernetes-csi/livenessprobe/1-22/go.mod
  projects/kubernetes-csi/livenessprobe/1-22/go.sum
  projects/kubernetes-csi/node-driver-registrar/1-22/go.mod
  projects/kubernetes-csi/node-driver-registrar/1-22/go.sum
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/go.mod
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/go.sum
  projects/kubernetes-sigs/metrics-server/1-22/go.mod
  projects/kubernetes-sigs/metrics-server/1-22/go.sum
  projects/kubernetes/kubernetes/1-22/go.mod
  projects/kubernetes/kubernetes/1-22/go.sum
Labels: size/XXL

#1132 Bumped development RELEASE for 1.19-22
  release/1-19/development/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#1134 Bumped development RELEASE for 1.20-19
  release/1-20/development/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1136 Bumped development RELEASE for 1.21-17
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1133 Bumped production RELEASE for 1.19-22
  release/1-19/production/RELEASE
Labels: approved, lgtm, v1.19, release, size/XS

#1135 Bumped production RELEASE for 1.20-19
  release/1-20/production/RELEASE
Labels: approved, lgtm, v1.20, release, size/XS

#1137 Bumped production RELEASE for 1.21-17
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1148 Created and updated docs for 1.20-19
  README.md
  docs/contents/index.md
  docs/contents/releases/1-20/19/CHANGELOG-v1-20-eks-19.md
  docs/contents/releases/1-20/19/index.md
  docs/contents/releases/1-20/19/release-announcement.txt
Labels: documentation, approved, lgtm, v1.20, release, size/M

#1149 Created and updated docs for 1.21-17
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/17/CHANGELOG-v1-21-eks-17.md
  docs/contents/releases/1-21/17/index.md
  docs/contents/releases/1-21/17/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#1147 1.19-22 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-19/22/CHANGELOG-v1-19-eks-22.md
  docs/contents/releases/1-19/22/index.md
  docs/contents/releases/1-19/22/release-announcement.txt
Labels: documentation, approved, lgtm, v1.19, release, size/M

#1131 summarize updating project dependencies read me
  docs/development/update-project-dependency.md
Labels: approved, lgtm, size/M

#1153 Removed 1.19 from SUPPORTED_RELEASE_BRANCHES
  release/SUPPORTED_RELEASE_BRANCHES
Labels: approved, lgtm, v1.19, size/XS
