Repository aws/eks-distro, pull requests merged in 2023-05, with the labels that each got.

#2002 Adds ecr credential provider image
  projects/kubernetes/cloud-provider-aws/1-22/ATTRIBUTION.txt
  projects/kubernetes/cloud-provider-aws/1-22/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-23/ATTRIBUTION.txt
  projects/kubernetes/cloud-provider-aws/1-23/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-24/ATTRIBUTION.txt
  projects/kubernetes/cloud-provider-aws/1-24/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-25/ATTRIBUTION.txt
  projects/kubernetes/cloud-provider-aws/1-25/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-26/ATTRIBUTION.txt
  projects/kubernetes/cloud-provider-aws/1-26/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-27/ATTRIBUTION.txt
  projects/kubernetes/cloud-provider-aws/1-27/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/Makefile
  projects/kubernetes/cloud-provider-aws/expected_artifacts
Labels: approved, lgtm, size/M, v1.22, v1.23, v1.24, v1.25, v1.26, v1.27

#1998 Updated external provisioner to v3.5.0
  projects/kubernetes-csi/external-provisioner/1-22/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-22/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-22/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-23/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-23/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-23/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-24/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-25/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-26/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-27/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/README.md
Labels: approved, lgtm, size/M, v1.22, v1.23, v1.24, project, v1.25, v1.26, v1.27

#2008 Add auth patch
  projects/kubernetes/kubernetes/1-22/CHECKSUMS
  projects/kubernetes/kubernetes/1-22/patches/0017-EKS-PATCH-add-Authentication-tracking-request-error-.patch
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/patches/0019-EKS-PATCH-add-Authentication-tracking-request-error-.patch
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/patches/0014-EKS-PATCH-add-Authentication-tracking-request-error-.patch
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/patches/0008-EKS-PATCH-add-Authentication-tracking-request-error-.patch
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/patches/0006-EKS-PATCH-add-Authentication-tracking-request-error-.patch
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/patches/0002-EKS-PATCH-add-Authentication-tracking-request-error-.patch
Labels: approved, lgtm, size/XXL, v1.22, v1.23, v1.24, patch, v1.25, v1.26, v1.27

#2000 Updated node-driver-registrar to v2.8.0
  projects/kubernetes-csi/node-driver-registrar/1-22/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-22/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-22/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-22/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/node-driver-registrar/1-23/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-23/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-23/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-23/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/node-driver-registrar/1-24/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-24/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-24/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-24/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/node-driver-registrar/1-25/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-25/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-25/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-25/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/node-driver-registrar/1-26/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-26/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-26/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-26/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/node-driver-registrar/1-27/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-27/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-27/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-27/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/node-driver-registrar/README.md
Labels: approved, lgtm, size/XXL, v1.22, v1.23, v1.24, patch, project, v1.25, v1.26, v1.27

#2001 Updated livenessprobe to v2.10.0
  projects/kubernetes-csi/livenessprobe/1-22/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-22/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-22/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-22/patches/0001-bump-x-net-to-0.7.0-to-fix-vulnerability.patch
  projects/kubernetes-csi/livenessprobe/1-23/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-23/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-23/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-23/patches/0001-bump-x-net-to-0.7.0-to-fix-vulnerability.patch
  projects/kubernetes-csi/livenessprobe/1-24/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-24/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-24/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-24/patches/0001-bump-x-net-to-0.7.0-to-fix-vulnerability.patch
  projects/kubernetes-csi/livenessprobe/1-25/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-25/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-25/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-25/patches/0001-bump-x-net-to-0.7.0-to-fix-vulnerability.patch
  projects/kubernetes-csi/livenessprobe/1-26/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-26/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-26/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-26/patches/0001-bump-x-net-to-0.7.0-to-fix-vulnerability.patch
  projects/kubernetes-csi/livenessprobe/1-27/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-27/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-27/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-27/patches/0001-bump-x-net-to-0.7.0-to-fix-vulnerability.patch
  projects/kubernetes-csi/livenessprobe/README.md
Labels: approved, lgtm, size/XL, v1.22, v1.23, v1.24, patch, project, v1.25, v1.26, v1.27

#2007 Bump golang/x/net to 0.7.0 and golang/x/text to v0.3.8 for CoreDNS 1.22-1.27
  projects/coredns/coredns/1-22/CHECKSUMS
  projects/coredns/coredns/1-22/patches/0001-Bump-golang-x-net-and-golang-x-text-dependency.patch
  projects/coredns/coredns/1-23/CHECKSUMS
  projects/coredns/coredns/1-23/patches/0001-Bump-golang-x-net-and-golang-x-text-dependency.patch
  projects/coredns/coredns/1-24/CHECKSUMS
  projects/coredns/coredns/1-24/patches/0001-Bump-golang-x-net-and-golang-x-text-dependency.patch
  projects/coredns/coredns/1-25/CHECKSUMS
  projects/coredns/coredns/1-25/patches/0001-Bump-golang-x-net-and-golang-x-text-dependency.patch
  projects/coredns/coredns/1-26/CHECKSUMS
  projects/coredns/coredns/1-26/patches/0001-Bump-golang-x-net-and-golang-x-text-dependency.patch
  projects/coredns/coredns/1-27/CHECKSUMS
  projects/coredns/coredns/1-27/patches/0001-Bump-golang-x-net-and-golang-x-text-dependency.patch
Labels: approved, lgtm, size/XXL, v1.22, v1.23, v1.24, patch, v1.25, v1.26, v1.27

#2003 Updated go version for Kunbernetes 1.23 and 1.24
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-24/GOLANG_VERSION
Labels: approved, size/M, v1.23, v1.24

#2011 Updated coredns for 1.24 and 1.27
  projects/coredns/coredns/1-24/CHECKSUMS
  projects/coredns/coredns/1-24/GIT_TAG
  projects/coredns/coredns/1-24/GOLANG_VERSION
  projects/coredns/coredns/1-24/patches/0001-Bump-golang-x-net-and-golang-x-text-dependency.patch
  projects/coredns/coredns/1-27/CHECKSUMS
  projects/coredns/coredns/1-27/GIT_TAG
  projects/coredns/coredns/1-27/GOLANG_VERSION
  projects/coredns/coredns/1-27/patches/0001-Bump-golang-x-net-and-golang-x-text-dependency.patch
  projects/coredns/coredns/1-27/patches/0001-Bump-golang-x-net-dependency.patch
  projects/coredns/coredns/README.md
Labels: approved, lgtm, size/XL, v1.24, patch, project, v1.27

#2024 Update cni plugins
  projects/containernetworking/plugins/1-22/CHECKSUMS
  projects/containernetworking/plugins/1-22/GIT_TAG
  projects/containernetworking/plugins/1-22/GOLANG_VERSION
  projects/containernetworking/plugins/1-22/patches/0001-Bump-golang-x-net-to-0.7.0.patch
  projects/containernetworking/plugins/1-22/patches/0001-Update-libcni-to-0.8.1.patch
  projects/containernetworking/plugins/1-22/patches/0002-go.mod-github.com-buger-jsonparser-v1.1.1.patch
  projects/containernetworking/plugins/1-23/CHECKSUMS
  projects/containernetworking/plugins/1-23/GIT_TAG
  projects/containernetworking/plugins/1-23/GOLANG_VERSION
  projects/containernetworking/plugins/1-23/patches/0001-Bump-golang-x-net-to-0.7.0.patch
  projects/containernetworking/plugins/1-24/CHECKSUMS
  projects/containernetworking/plugins/1-24/GIT_TAG
  projects/containernetworking/plugins/1-24/GOLANG_VERSION
  projects/containernetworking/plugins/1-24/patches/0001-Bump-golang-x-net-to-0.7.0.patch
  projects/containernetworking/plugins/1-25/CHECKSUMS
  projects/containernetworking/plugins/1-25/GIT_TAG
  projects/containernetworking/plugins/1-25/GOLANG_VERSION
  projects/containernetworking/plugins/1-25/patches/0001-Bump-golang-x-net-to-0.7.0.patch
  projects/containernetworking/plugins/1-26/CHECKSUMS
  projects/containernetworking/plugins/1-26/GIT_TAG
  projects/containernetworking/plugins/1-26/patches/0001-Bump-golang-x-net-to-0.7.0.patch
  projects/containernetworking/plugins/1-27/CHECKSUMS
  projects/containernetworking/plugins/1-27/GIT_TAG
  projects/containernetworking/plugins/1-27/GOLANG_VERSION
  projects/containernetworking/plugins/1-27/patches/0001-Bump-golang-x-net-to-0.7.0.patch
  projects/containernetworking/plugins/README.md
Labels: approved, lgtm, size/XXL, v1.22, v1.23, v1.24, patch, project, v1.25, v1.26, v1.27

#2025 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22, DEV-release

#2027 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, DEV-release

#2029 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2031 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2033 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2035 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2026 Bumped production release number for 1.22-27
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22, PROD-release

#2028 Bumped production release number for 1.23-22
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, PROD-release

#2030 Bumped production release number for 1.24-17
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2034 Bumped production release number for 1.26-9
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2036 Bumped production release number for 1.27-3
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2037 Bumped production release number for 1.25-13
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2044 Created and updated docs for 1.22-27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/27/CHANGELOG-v1-22-eks-27.md
  docs/contents/releases/1-22/27/index.md
  docs/contents/releases/1-22/27/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#2045 Created and updated docs for 1.23-22
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/22/CHANGELOG-v1-23-eks-22.md
  docs/contents/releases/1-23/22/index.md
  docs/contents/releases/1-23/22/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#2046 Created and updated docs for 1.24-17
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/17/CHANGELOG-v1-24-eks-17.md
  docs/contents/releases/1-24/17/index.md
  docs/contents/releases/1-24/17/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2047 Created and updated docs for 1.25-13
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/13/CHANGELOG-v1-25-eks-13.md
  docs/contents/releases/1-25/13/index.md
  docs/contents/releases/1-25/13/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2048 Created and updated docs for 1.26-9
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/9/CHANGELOG-v1-26-eks-9.md
  docs/contents/releases/1-26/9/index.md
  docs/contents/releases/1-26/9/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2043 Fixed generation of changelog for non-minor releases
  cmd/release/utils/values/searchprs.go
Labels: approved, lgtm, size/S

#2051 Added notice about end of support for Kubernetes v1.22
  README.md
Labels: approved, lgtm, size/S

#2054 Update to 1.20 and go-github
  cmd/release/utils/values/searchprs.go
  go.mod
  go.sum
Labels: approved, lgtm, size/S

#2058 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22, DEV-release

#2060 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, DEV-release

#2062 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2066 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2068 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2059 Bumped production release number for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22, PROD-release

#2061 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, PROD-release

#2063 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2065 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2067 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2069 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2071 Revised make command for minor release docs
  Makefile
  cmd/release/docs/main.go
  cmd/release/utils/values/filepaths.go
  cmd/release/utils/values/searchprs.go
Labels: approved, lgtm, size/M

#2072 Created and updated docs for 1.22-28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/28/CHANGELOG-v1-22-eks-28.md
  docs/contents/releases/1-22/28/index.md
  docs/contents/releases/1-22/28/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#2073 Created and updated docs for 1.23-23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/23/CHANGELOG-v1-23-eks-23.md
  docs/contents/releases/1-23/23/index.md
  docs/contents/releases/1-23/23/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#2074 Created and updated docs for 1.24-18
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/18/CHANGELOG-v1-24-eks-18.md
  docs/contents/releases/1-24/18/index.md
  docs/contents/releases/1-24/18/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2075 Created and updated docs for 1.25-14
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/14/CHANGELOG-v1-25-eks-14.md
  docs/contents/releases/1-25/14/index.md
  docs/contents/releases/1-25/14/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2076 Created and updated docs for 1.26-10
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/10/CHANGELOG-v1-26-eks-10.md
  docs/contents/releases/1-26/10/index.md
  docs/contents/releases/1-26/10/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2055 Update owners to add new people
  OWNERS
Labels: approved, lgtm, size/XS

#2077 Add 1.27 Release Docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/1/CHANGELOG-v1-27-eks-1.md
  docs/contents/releases/1-27/1/index.md
  docs/contents/releases/1-27/2/CHANGELOG-v1-27-eks-2.md
  docs/contents/releases/1-27/2/index.md
  docs/contents/releases/1-27/3/CHANGELOG-v1-27-eks-3.md
  docs/contents/releases/1-27/3/index.md
  docs/contents/releases/1-27/4/CHANGELOG-v1-27-eks-4.md
  docs/contents/releases/1-27/4/index.md
  docs/contents/releases/1-27/4/release-announcement.txt
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/README.md
  release/DEFAULT_RELEASE_BRANCH
Labels: documentation, approved, lgtm, release, size/L, v1.27

#2081 Update kops to 1.26.3
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS
