Repository aws/eks-distro, pull requests merged in 2023-03, with the labels that each got.

#1813 Upgrade iam-auth for versions 1.21 to 1.26
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: lgtm, v1.21, size/M, v1.22, v1.23, v1.24, project, v1.25, v1.26

#1816 Move go.sum
  .gitignore
Labels: approved, lgtm, size/XS

#1728 Switch kube-proxy-base to using iptables-wrapper
  projects/kubernetes/release/docker/kube-proxy-base/Dockerfile
Labels: approved, lgtm, size/XS

#1820 Force rebuild of all components
  Makefile
Labels: approved, lgtm, size/XS

#1827 Updated patches for Kubernetes v1.26
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
  projects/kubernetes/kubernetes/1-26/patches/0004-EKS-PATCH-Add-ConcurrentNodeSyncs-option-to-node-con.patch
Labels: approved, lgtm, size/XXL, patch, v1.26

#1829 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1831 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1833 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1835 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1837 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1830 Bumped production release number for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1832 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1834 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1836 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1838 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1840 Created and updated docs for 1.22-22
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/22/CHANGELOG-v1-22-eks-22.md
  docs/contents/releases/1-22/22/index.md
  docs/contents/releases/1-22/22/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#1841 Created and updated docs for 1.23-17
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/17/CHANGELOG-v1-23-eks-17.md
  docs/contents/releases/1-23/17/index.md
  docs/contents/releases/1-23/17/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#1842 Created and updated docs for 1.24-12
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/12/CHANGELOG-v1-24-eks-12.md
  docs/contents/releases/1-24/12/index.md
  docs/contents/releases/1-24/12/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#1843 Created and updated docs for 1.25-7
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/8/CHANGELOG-v1-25-eks-8.md
  docs/contents/releases/1-25/8/index.md
  docs/contents/releases/1-25/8/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#1844 Adds check-for-supported-release-branch for checking presubmit
  Common.mk
Labels: approved, lgtm, size/S

#1845 Add patch to update x/net to 0.7.0 in livenessprobe
  projects/kubernetes-csi/livenessprobe/1-21/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-21/patches/0001-bump-x-net-to-0.7.0-to-fix-vulnerability.patch
Labels: approved, lgtm, v1.21, size/M, patch

#1850 Patch to update x/net to 0.7.0 in node-driver-registrar and external-…
  projects/kubernetes-csi/external-attacher/1-21/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-21/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/node-driver-registrar/1-21/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-21/patches/0001-Replace-xnet-with-v0.7.0.patch
Labels: approved, lgtm, v1.21, size/L, patch

#1855 Patch to bump x/net to 0.7.0 for 1-22 to 1-26 in livenessprobe and external-attacher
  projects/kubernetes-csi/external-attacher/1-22/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-22/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/external-attacher/1-23/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-23/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/external-attacher/1-25/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-25/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/external-attacher/1-26/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-26/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/livenessprobe/1-22/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-22/patches/0001-bump-x-net-to-0.7.0-to-fix-vulnerability.patch
  projects/kubernetes-csi/livenessprobe/1-23/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-23/patches/0001-bump-x-net-to-0.7.0-to-fix-vulnerability.patch
  projects/kubernetes-csi/livenessprobe/1-24/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-24/patches/0001-bump-x-net-to-0.7.0-to-fix-vulnerability.patch
  projects/kubernetes-csi/livenessprobe/1-25/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-25/patches/0001-bump-x-net-to-0.7.0-to-fix-vulnerability.patch
  projects/kubernetes-csi/livenessprobe/1-26/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-26/patches/0001-bump-x-net-to-0.7.0-to-fix-vulnerability.patch
Labels: approved, lgtm, size/XXL, v1.22, v1.23, v1.24, patch, v1.25, v1.26

#1856 Patch to bump x/net to 0.7.0 for 1-22 to 1-26 in node-driver-registrar
  projects/kubernetes-csi/node-driver-registrar/1-22/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-22/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/node-driver-registrar/1-23/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-23/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/node-driver-registrar/1-24/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-24/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/node-driver-registrar/1-25/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-25/patches/0001-Replace-xnet-with-v0.7.0.patch
  projects/kubernetes-csi/node-driver-registrar/1-26/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-26/patches/0001-Replace-xnet-with-v0.7.0.patch
Labels: approved, lgtm, size/XL, v1.22, v1.23, v1.24, patch, v1.25, v1.26

#1854 Bump to Kubernetes 1.26.2
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.26

#1858 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1860 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1862 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1864 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1866 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1859 Bumped production release number for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1861 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1863 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1867 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1823 End 1.21 support
  .github/labeler.yml
  Makefile
  release/SUPPORTED_RELEASE_BRANCHES
Labels: approved, lgtm, release, size/XS

#1870 1.22-23 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/23/CHANGELOG-v1-22-eks-23.md
  docs/contents/releases/1-22/23/index.md
  docs/contents/releases/1-22/23/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#1871 1.23-18 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/18/CHANGELOG-v1-23-eks-18.md
  docs/contents/releases/1-23/18/index.md
  docs/contents/releases/1-23/18/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#1872 1.24-13 doc
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/13/CHANGELOG-v1-24-eks-13.md
  docs/contents/releases/1-24/13/index.md
  docs/contents/releases/1-24/13/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#1873 1.25-9 docs
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/9/CHANGELOG-v1-25-eks-9.md
  docs/contents/releases/1-25/9/index.md
  docs/contents/releases/1-25/9/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#1874 Replace legacy k8s GCR registry with community-owned registry
  development/kops/run_sonobuoy.sh
  development/kops/tests/csi/deploy/csi-mock-driver-deployment.yaml.tpl
Labels: approved, lgtm, size/XS

#1876 Add 1.25 conformance badge
  README.md
  docs/contents/certified-kubernetes-1.24-color.svg
  docs/contents/certified-kubernetes-1.25-color.svg
Labels: documentation, approved, lgtm, size/XS

#1877 Updated metrics server to v0.6.3
  projects/kubernetes-sigs/metrics-server/1-22/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-22/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-22/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-23/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-23/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-23/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-24/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-24/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-24/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-25/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-25/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-25/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-26/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-26/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-26/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/README.md
Labels: approved, lgtm, size/M, v1.22, v1.23, v1.24, project, v1.25, v1.26

#1878 Update iam auth for 1.22 - 1.26
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: approved, lgtm, size/L, v1.22, v1.23, v1.24, patch, project, v1.25, v1.26

#1883 Update 1.26 patch descriptions
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-26/patches/0002-EKS-PATCH-AWS-Include-IPv6-addresses-in-NodeAddresse.patch
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
  projects/kubernetes/kubernetes/1-26/patches/0004-EKS-PATCH-Add-ConcurrentNodeSyncs-option-to-node-con.patch
Labels: approved, lgtm, size/L, patch, v1.26

#1886 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1888 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1890 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1892 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1894 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1887 Bumped production release number for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1889 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1891 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1893 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1895 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1897 Created and updated docs for 1.22-24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/24/CHANGELOG-v1-22-eks-24.md
  docs/contents/releases/1-22/24/index.md
  docs/contents/releases/1-22/24/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#1898 Created and updated docs for 1.23-19
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/19/CHANGELOG-v1-23-eks-19.md
  docs/contents/releases/1-23/19/index.md
  docs/contents/releases/1-23/19/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#1899 Created and updated docs for 1.24-14
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/14/CHANGELOG-v1-24-eks-14.md
  docs/contents/releases/1-24/14/index.md
  docs/contents/releases/1-24/14/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#1900 Created and updated docs for 1.25-10
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/10/CHANGELOG-v1-25-eks-10.md
  docs/contents/releases/1-25/10/index.md
  docs/contents/releases/1-25/10/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#1901 Added make command to help with minor release docs generation
  Makefile
  cmd/release/docs/main.go
  cmd/release/docs/newdocs/input.go
Labels: approved, lgtm, size/M

#1902 Bump kops to 1.26.2
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS
