Repository aws/eks-distro, pull requests merged in 2023-11, with the labels that each got.

#2497 Bump-x/net-grpc-to-fix-CVE-2023-44487-and-CVE-2023-39325
  projects/kubernetes-sigs/metrics-server/1-24/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-24/patches/0001-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-25/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-25/patches/0001-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-26/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-26/patches/0001-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-27/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-27/patches/0001-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-28/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-28/patches/0001-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28

#2500 Bump Cloud-Provider-AWS versions
  projects/kubernetes/cloud-provider-aws/1-24/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-24/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-25/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-25/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-26/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-26/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-27/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-27/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-28/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-28/GIT_TAG
Labels: approved, lgtm, size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28

#2502 Bump-x/net-to-fix-CVE-2023-44487-and-CVE-2023-39325 for CNI plugin
  projects/containernetworking/plugins/1-24/CHECKSUMS
  projects/containernetworking/plugins/1-24/patches/0001-Bump-x-net-to-patch-version-to-fix-CVE-2023-44487-and-CVE-2023-39325.patch
  projects/containernetworking/plugins/1-25/CHECKSUMS
  projects/containernetworking/plugins/1-25/patches/0001-Bump-x-net-to-patch-version-to-fix-CVE-2023-44487-and-CVE-2023-39325.patch
  projects/containernetworking/plugins/1-26/CHECKSUMS
  projects/containernetworking/plugins/1-26/patches/0001-Bump-x-net-to-patch-version-to-fix-CVE-2023-44487-and-CVE-2023-39325.patch
  projects/containernetworking/plugins/1-27/CHECKSUMS
  projects/containernetworking/plugins/1-27/patches/0001-Bump-x-net-to-patch-version-to-fix-CVE-2023-44487-and-CVE-2023-39325.patch
  projects/containernetworking/plugins/1-28/CHECKSUMS
  projects/containernetworking/plugins/1-28/patches/0001-Bump-x-net-to-patch-version-to-fix-CVE-2023-44487-and-CVE-2023-39325.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28

#2506 Bump cloud-provider Golang version to 1.20 for k8 1.24 and 1.26
  projects/kubernetes/cloud-provider-aws/1-24/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-24/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-26/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-26/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/README.md
Labels: approved, lgtm, size/M, v1.24, project, v1.26

#2509 Patch cni-plugin by bumping gRPC verion to 1.56.3
  projects/containernetworking/plugins/1-24/CHECKSUMS
  projects/containernetworking/plugins/1-24/patches/0002-Bump-gPRC-version-to-v1.56.3.patch
  projects/containernetworking/plugins/1-25/CHECKSUMS
  projects/containernetworking/plugins/1-25/patches/0002-Bump-gPRC-version-to-v1.56.3.patch
  projects/containernetworking/plugins/1-26/CHECKSUMS
  projects/containernetworking/plugins/1-26/patches/0002-Bump-gPRC-version-to-v1.56.3.patch
  projects/containernetworking/plugins/1-27/CHECKSUMS
  projects/containernetworking/plugins/1-27/patches/0002-Bump-gPRC-version-to-v1.56.3.patch
  projects/containernetworking/plugins/1-28/CHECKSUMS
  projects/containernetworking/plugins/1-28/patches/0002-Bump-gPRC-version-to-v1.56.3.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28

#2507 Reorder K8 patches
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/patches/0021-EKS-PATCH-Bump-1.23-runc-version-to-1.1.6.patch
  projects/kubernetes/kubernetes/1-23/patches/0022-EKS-PATCH-Handle-eventually-consistent-EC2-PrivateDn.patch
  projects/kubernetes/kubernetes/1-23/patches/0023-EKS-PATCH-Remove-check-for-CSI-driver-running-on-nod.patch
  projects/kubernetes/kubernetes/1-23/patches/0024-EKS-PATCH-Update-managedFields-time-when-value-is-mo.patch
  projects/kubernetes/kubernetes/1-23/patches/0025-EKS-PATCH-Return-error-for-localhost-seccomp-type-wi.patch
Labels: approved, lgtm, size/M, patch

#2510 Patch livenessprobe by bumping gRPC to v1.58.3
  projects/kubernetes-csi/livenessprobe/1-24/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-24/patches/0002-Bump-gPRC-version-to-v1.58.3.patch
  projects/kubernetes-csi/livenessprobe/1-25/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-25/patches/0002-Bump-gPRC-version-to-v1.58.3.patch
  projects/kubernetes-csi/livenessprobe/1-26/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-26/patches/0002-Bump-gPRC-version-to-v1.58.3.patch
  projects/kubernetes-csi/livenessprobe/1-27/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-27/patches/0002-Bump-gPRC-version-to-v1.58.3.patch
  projects/kubernetes-csi/livenessprobe/1-28/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-28/patches/0002-Bump-gPRC-version-to-v1.58.3.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28

#2428 Correct method for extracting job type from name
  development/kops/prow.sh
  development/kops/run_all.sh
  development/kops/set_environment.sh
Labels: approved, lgtm, size/L

#2514 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2516 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2520 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, v1.27, DEV-release

#2522 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2525 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2526 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2527 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2528 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2529 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, v1.24, DEV-release

#2519 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2515 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2517 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2521 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2523 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2533 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/30/CHANGELOG-v1-24-eks-30.md
  docs/contents/releases/1-24/30/index.md
  docs/contents/releases/1-24/30/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2534 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/16/CHANGELOG-v1-27-eks-16.md
  docs/contents/releases/1-27/16/index.md
  docs/contents/releases/1-27/16/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2535 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/22/CHANGELOG-v1-26-eks-22.md
  docs/contents/releases/1-26/22/index.md
  docs/contents/releases/1-26/22/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2536 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/26/CHANGELOG-v1-25-eks-26.md
  docs/contents/releases/1-25/26/index.md
  docs/contents/releases/1-25/26/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2537 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/9/CHANGELOG-v1-28-eks-9.md
  docs/contents/releases/1-28/9/index.md
  docs/contents/releases/1-28/9/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2289 remove deprecated flag --short
  development/kops/install_requirements.sh
Labels: approved, lgtm, ok-to-test, size/XS

#2545 Add 1-23 in Supported Branches and Run attribution only for 1.23 K8
  build/update-attribution-files/make_attribution.sh
  release/SUPPORTED_RELEASE_BRANCHES
Labels: approved, lgtm, release, size/M

#2546 Update GIT_TAG declaration in make_attribution.sh script
  build/update-attribution-files/make_attribution.sh
Labels: approved, lgtm, size/XS

#2539 Patch external-provisioner k8 version to 1.28.2
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/patches/0001-Bump-k8-version-to-1.28.2.patch
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/patches/0001-Bump-k8-version-to-1.28.2.patch
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/patches/0001-Bump-k8-version-to-1.28.2.patch
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/patches/0001-Bump-k8-version-to-1.28.2.patch
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/patches/0001-Bump-k8-version-to-1.28.2.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28

#2547 Update attribution script to exclude changes from 1.23
  build/update-attribution-files/make_attribution.sh
Labels: approved, lgtm, size/XS

#2550 Update the make_attribution script
  build/update-attribution-files/make_attribution.sh
Labels: approved, lgtm, size/XS

#2556 Add labeler for v1.29 projects
  .github/labeler.yml
Labels: approved, lgtm, size/M

#2558 Bump kops for 1.29
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#2552 CoreDNS patch to bump gRPC
  projects/coredns/coredns/1-24/CHECKSUMS
  projects/coredns/coredns/1-24/patches/0004-Bump-gRPC-version-to-v1.58.3-to-resolve-GHSA-m425-mq.patch
  projects/coredns/coredns/1-25/CHECKSUMS
  projects/coredns/coredns/1-25/patches/0004-Bump-gRPC-version-to-v1.58.3-to-resolve-GHSA-m425-mq.patch
  projects/coredns/coredns/1-26/CHECKSUMS
  projects/coredns/coredns/1-26/patches/0004-Bump-gRPC-version-to-v1.58.3-to-resolve-GHSA-m425-mq.patch
  projects/coredns/coredns/1-27/CHECKSUMS
  projects/coredns/coredns/1-27/patches/0003-Bump-gRPC-version-to-v1.58.3-to-resolve-GHSA-m425-mq.patch
  projects/coredns/coredns/1-28/CHECKSUMS
  projects/coredns/coredns/1-28/patches/0003-Bump-gRPC-version-to-v1.58.3-to-resolve-GHSA-m425-mq.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28

#2562 Update 1-29 git_tag and patches
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/GIT_TAG
  projects/kubernetes/kubernetes/1-29/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-29/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-29/patches/0003-EKS-PATCH-Use-Patch-instead-of-SSA-for-Pod-Disruptio.patch
  projects/kubernetes/release/1-29/CHECKSUMS
  projects/kubernetes/release/1-29/GIT_TAG
  projects/kubernetes/release/1-29/GOLANG_VERSION
Labels: approved, lgtm, size/XL, patch, project, v1.29

#2563 Bump k8s version to 1.26.11
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
  projects/kubernetes/kubernetes/1-26/patches/0004-EKS-PATCH-Add-ConcurrentNodeSyncs-option-to-node-con.patch
  projects/kubernetes/kubernetes/1-26/patches/0007-EKS-PATCH-Use-Patch-instead-of-SSA-for-Pod-Disruptio.patch
  projects/kubernetes/kubernetes/1-26/patches/0008-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.26.6.patch
  projects/kubernetes/kubernetes/1-26/patches/0009-EKS-PATCH-Support-tracking-executing-requests.patch
  projects/kubernetes/kubernetes/1-26/patches/0010-EKS-PATCH-Update-go-module-to-fix-kube-proxy.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.26

#2564 Bump k8s version to 1.27.8
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-27/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-27/patches/0004-EKS-PATCH-Use-Patch-instead-of-SSA-for-Pod-Disruptio.patch
  projects/kubernetes/kubernetes/1-27/patches/0005-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.27.3.patch
  projects/kubernetes/kubernetes/1-27/patches/0006-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.27.6.patch
  projects/kubernetes/kubernetes/1-27/patches/0007-EKS-PATCH-Support-tracking-executing-requests.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.27

#2565 Bump k8s version to 1.25.16
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.25

#2566 Bump k8s version to 1.28.4
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-28/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-28/patches/0003-EKS-PATCH-Use-Patch-instead-of-SSA-for-Pod-Disruptio.patch
  projects/kubernetes/kubernetes/1-28/patches/0004-EKS-PATCH-Fix-Kube-proxy-s-CVE-for-v1.28.2.patch
Labels: approved, lgtm, size/XL, patch, project, v1.28

#2569 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2570 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2571 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2572 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2573 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2581 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2578 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2579 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2580 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2582 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2584 Bump kubernetes 1-29 to rc.1
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.29

#2586 Update kops version to 1.28.1 for all release builds
  development/kops/install_requirements.sh
  development/kops/set_environment.sh
Labels: approved, lgtm, size/M

#2587 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/27/CHANGELOG-v1-25-eks-27.md
  docs/contents/releases/1-25/27/index.md
  docs/contents/releases/1-25/27/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2588 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/31/CHANGELOG-v1-24-eks-31.md
  docs/contents/releases/1-24/31/index.md
  docs/contents/releases/1-24/31/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2589 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/23/CHANGELOG-v1-26-eks-23.md
  docs/contents/releases/1-26/23/index.md
  docs/contents/releases/1-26/23/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2590 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/17/CHANGELOG-v1-27-eks-17.md
  docs/contents/releases/1-27/17/index.md
  docs/contents/releases/1-27/17/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2591 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/10/CHANGELOG-v1-28-eks-10.md
  docs/contents/releases/1-28/10/index.md
  docs/contents/releases/1-28/10/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2592 Use 1.29-alpha kops for 1.29
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#2585 Add grpc version bump patch to CoreDNS 1-29
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/patches/0003-Bump-gRPC-version-to-v1.58.3-to-resolve-GHSA-m425-mq.patch
Labels: approved, lgtm, size/L, patch, v1.29

#2574 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29
