Repository aws/eks-distro, pull requests merged in 2023-04, with the labels that each got.

#1907 Fix minor release docs
  Makefile
  cmd/release/docs/main.go
  cmd/release/gh-release/main.go
  cmd/release/utils/release/release.go
  cmd/release/utils/release/releaseinput.go
Labels: approved, lgtm, size/M

#1908 Fix changelog generation
  Makefile
  cmd/release/docs/main.go
  cmd/release/docs/newdocs/input.go
  cmd/release/utils/values/searchprs.go
Labels: approved, lgtm, size/M

#1912 Pull latest ubuntu ami from ec2 for us when creating a kops cluster
  Makefile
  development/kops/create_values_yaml.sh
  development/kops/eks-d.tpl
  development/kops/set_environment.sh
Labels: approved, lgtm, size/S

#1913 Update external-provisioner to v3.4.1 for 1.22-1.26
  projects/kubernetes-csi/external-provisioner/1-22/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-22/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-23/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-23/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/GIT_TAG
Labels: approved, lgtm, size/M, v1.22, v1.23, v1.24, project, v1.25, v1.26

#1914 Update Cloud Provider AWS for 1.26 to 1.26.1
  projects/kubernetes/cloud-provider-aws/1-26/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-26/GIT_TAG
Labels: approved, lgtm, size/XS, project, v1.26

#1915 Update etcd to v3.5.7 for all versions
  projects/etcd-io/etcd/1-22/CHECKSUMS
  projects/etcd-io/etcd/1-22/GIT_TAG
  projects/etcd-io/etcd/1-22/GOLANG_VERSION
  projects/etcd-io/etcd/1-23/CHECKSUMS
  projects/etcd-io/etcd/1-23/GIT_TAG
  projects/etcd-io/etcd/1-23/GOLANG_VERSION
  projects/etcd-io/etcd/1-24/CHECKSUMS
  projects/etcd-io/etcd/1-24/GIT_TAG
  projects/etcd-io/etcd/1-24/GOLANG_VERSION
  projects/etcd-io/etcd/1-25/CHECKSUMS
  projects/etcd-io/etcd/1-25/GIT_TAG
  projects/etcd-io/etcd/1-25/GOLANG_VERSION
  projects/etcd-io/etcd/1-26/CHECKSUMS
  projects/etcd-io/etcd/1-26/GIT_TAG
  projects/etcd-io/etcd/1-26/GOLANG_VERSION
Labels: approved, lgtm, size/M, v1.22, v1.23, v1.24, project, v1.25, v1.26

#1921 Renamed announcement file
  docs/contents/releases/1-26/6/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/XS, v1.26

#1928 Update CCM for 1.27
  projects/kubernetes/cloud-provider-aws/1-27/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-27/GIT_TAG
Labels: approved, size/XS, project, v1.27

#1922 Updated EKS-D to Kubernetes v1.26.3
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
  projects/kubernetes/kubernetes/1-26/patches/0004-EKS-PATCH-Add-ConcurrentNodeSyncs-option-to-node-con.patch
Labels: approved, size/M, patch, project, v1.26

#1925 Update iam auth 0.6.9 for 1.25 -1.27
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/patches/0001-Bumps-go-version-in-go.mod.patch
Labels: approved, size/L, patch, project, v1.25, v1.26, v1.27

#1927 updated release for 1.27
  projects/kubernetes/release/1-27/CHECKSUMS
  projects/kubernetes/release/1-27/GIT_TAG
  projects/kubernetes/release/1-27/GOLANG_VERSION
Labels: approved, size/XS, project, v1.27

#1929 Update etcd for 1.27
  projects/etcd-io/etcd/1-27/CHECKSUMS
  projects/etcd-io/etcd/1-27/GIT_TAG
  projects/etcd-io/etcd/1-27/GOLANG_VERSION
Labels: approved, size/S, project, v1.27

#1930 Bump golang version for coredns for 1.25+
  projects/coredns/coredns/1-25/CHECKSUMS
  projects/coredns/coredns/1-25/GOLANG_VERSION
  projects/coredns/coredns/1-26/CHECKSUMS
  projects/coredns/coredns/1-26/GOLANG_VERSION
  projects/coredns/coredns/1-27/CHECKSUMS
  projects/coredns/coredns/1-27/GOLANG_VERSION
Labels: approved, lgtm, size/S, v1.25, v1.26, v1.27

#1934 Fix out-of-space for build
  projects/kubernetes/kubernetes/build/lib/binaries.sh
Labels: approved, lgtm, size/M

#1947 Cleaning out cache again to fix out of space issue
  projects/kubernetes/kubernetes/build/lib/binaries.sh
Labels: approved, lgtm, size/S

#1935 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1939 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1941 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1943 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1936 Bumped production release number for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1938 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1940 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1942 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1944 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1950 Created and updated docs for 1.22-25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/25/CHANGELOG-v1-22-eks-25.md
  docs/contents/releases/1-22/25/index.md
  docs/contents/releases/1-22/25/release-announcement.txt
Labels: documentation, approved, do-not-merge/hold, release, size/M, v1.22

#1951 Created and updated docs for 1.23-20
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/20/CHANGELOG-v1-23-eks-20.md
  docs/contents/releases/1-23/20/index.md
  docs/contents/releases/1-23/20/release-announcement.txt
Labels: documentation, approved, do-not-merge/hold, release, size/M, v1.23

#1952 Created and updated docs for 1.24-15
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/15/CHANGELOG-v1-24-eks-15.md
  docs/contents/releases/1-24/15/index.md
  docs/contents/releases/1-24/15/release-announcement.txt
Labels: documentation, approved, do-not-merge/hold, release, size/M, v1.24

#1953 Created and updated docs for 1.25-11
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/11/CHANGELOG-v1-25-eks-11.md
  docs/contents/releases/1-25/11/index.md
  docs/contents/releases/1-25/11/release-announcement.txt
Labels: documentation, approved, do-not-merge/hold, release, size/M, v1.25

#1958 Bump iam-authenticator version for 1.22-1.24 to v0.5.17
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: approved, lgtm, size/L, v1.22, v1.23, v1.24, patch, project

#1945 Initial dev release of 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27

#1960 Changed kops version to v1.27.0-alpha.1 for release branch 1-27
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#1962 Changes kops version to a commit
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#1965 bump go-github to v50.2.0
  cmd/release/utils/values/searchprs.go
  go.mod
  go.sum
Labels: approved, lgtm, size/M

#1966 changed kops download location
  development/kops/install_requirements.sh
Labels: approved, lgtm, size/XS

#1969 Fix kops bucket url
  development/kops/install_requirements.sh
Labels: approved, size/XS

#1970 trigger full rebuild with makefile dummy change
  Makefile
Labels: approved, lgtm, size/XS

#1967 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27

#1968 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27

#1920 Removed outdated user section in docs #776
  docs/contents/index.md
  docs/contents/users/build-prerequisites.md
  docs/contents/users/build.md
  docs/contents/users/index.md
  docs/mkdocs.yml
Labels: documentation, approved, lgtm, ok-to-test, size/L

#1971 Update for Kubernetes 1.26.4
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-26/patches/0005-EKS-PATCH-Added-serialization-from-etcd-error-metric.patch
Labels: approved, lgtm, size/L, patch, project, v1.26

#1974 Update CCM 1.27.1
  projects/kubernetes/cloud-provider-aws/1-27/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-27/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-27/GOLANG_VERSION
Labels: approved, lgtm, size/XS, project, v1.27

#1986 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27

#1984 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1976 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1978 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, DEV-release

#1982 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#1977 Bumped production release number for 1.22-26
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22, PROD-release

#1979 Bumped production release number for 1.23-21
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, PROD-release

#1981 Bumped production release number for 1.24-16
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#1983 Bumped production release number for 1.25-12
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#1985 Bumped production release number for 1.26-8
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#1987 Bumped production release number for 1.27-2
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#1989 Added prod and dev labels to labeler
  .github/labeler.yml
  cmd/release/utils/git/open-pr.sh
  cmd/release/utils/git/pr.go
Labels: approved, lgtm, size/S

#1991 Created and updated docs for 1.22-26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/26/CHANGELOG-v1-22-eks-26.md
  docs/contents/releases/1-22/26/index.md
  docs/contents/releases/1-22/26/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#1992 Created and updated docs for 1.23-21
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/21/CHANGELOG-v1-23-eks-21.md
  docs/contents/releases/1-23/21/index.md
  docs/contents/releases/1-23/21/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#1993 Created and updated docs for 1.24-16
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/16/CHANGELOG-v1-24-eks-16.md
  docs/contents/releases/1-24/16/index.md
  docs/contents/releases/1-24/16/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#1994 Created and updated docs for 1.25-12
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/12/CHANGELOG-v1-25-eks-12.md
  docs/contents/releases/1-25/12/index.md
  docs/contents/releases/1-25/12/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#1995 Created and updated docs for 1.26-8
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/8/CHANGELOG-v1-26-eks-8.md
  docs/contents/releases/1-26/8/index.md
  docs/contents/releases/1-26/8/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#1996 Added community contribution message
  docs/contents/releases/1-26/8/CHANGELOG-v1-26-eks-8.md
Labels: documentation, approved, do-not-merge/hold, release, size/XS, v1.26
