Repository aws/eks-distro, pull requests merged in 2023-12, with the labels that each got.

#2595 Patch external-provisioner and Bump k8 to 1.28.4and otelgrpc, otelhttp to 0.46.1
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/patches/0002-Bump-k8-to-1.28.4and-otelgrpc-otelhttp-to-0.46.1.patch
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/patches/0002-Bump-k8-to-1.28.4and-otelgrpc-otelhttp-to-0.46.1.patch
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/patches/0002-Bump-k8-to-1.28.4and-otelgrpc-otelhttp-to-0.46.1.patch
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/patches/0002-Bump-k8-to-1.28.4and-otelgrpc-otelhttp-to-0.46.1.patch
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/patches/0002-Bump-k8-to-1.28.4and-otelgrpc-otelhttp-to-0.46.1.patch
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/patches/0002-Bump-k8-to-1.28.4and-otelgrpc-otelhttp-to-0.46.1.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2605 update ccm version for 1.24 - 1.28 and golang build version to 1.21
  projects/kubernetes/cloud-provider-aws/1-24/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-24/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-24/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-25/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-25/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-25/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-26/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-26/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-26/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-27/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-27/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-27/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-28/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-28/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-28/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-29/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-29/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-29/GOLANG_VERSION
Labels: approved, lgtm, size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2600 update iam-auth for 1.24 - 1.28
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GIT_TAG
Labels: approved, lgtm, size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2598 update node driver registrar to 2.9.2
  build/lib/create_windows_manifest_list.sh
  projects/kubernetes-csi/node-driver-registrar/1-24/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-24/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-25/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-25/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-26/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-26/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-27/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-27/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-28/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-28/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-29/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-29/GIT_TAG
Labels: approved, lgtm, size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2613 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2614 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2615 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2616 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#2622 Bump production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2623 Bump production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2625 Bump production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2626 Bump production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2631 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/11/CHANGELOG-v1-28-eks-11.md
  docs/contents/releases/1-28/11/index.md
  docs/contents/releases/1-28/11/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2627 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/18/CHANGELOG-v1-27-eks-18.md
  docs/contents/releases/1-27/18/index.md
  docs/contents/releases/1-27/18/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2628 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/24/CHANGELOG-v1-26-eks-24.md
  docs/contents/releases/1-26/24/index.md
  docs/contents/releases/1-26/24/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2629 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/28/CHANGELOG-v1-25-eks-28.md
  docs/contents/releases/1-25/28/index.md
  docs/contents/releases/1-25/28/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2630 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/32/CHANGELOG-v1-24-eks-32.md
  docs/contents/releases/1-24/32/index.md
  docs/contents/releases/1-24/32/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2619 Update local build commands and scripts
  Makefile
  build/lib/common.sh
  build/lib/update_checksums.sh
Labels: approved, lgtm, size/XS

#2634 Bump etcd version to v3.5.11
  projects/etcd-io/etcd/1-24/CHECKSUMS
  projects/etcd-io/etcd/1-24/GIT_TAG
  projects/etcd-io/etcd/1-25/CHECKSUMS
  projects/etcd-io/etcd/1-25/GIT_TAG
  projects/etcd-io/etcd/1-26/CHECKSUMS
  projects/etcd-io/etcd/1-26/GIT_TAG
  projects/etcd-io/etcd/1-27/CHECKSUMS
  projects/etcd-io/etcd/1-27/GIT_TAG
  projects/etcd-io/etcd/1-28/CHECKSUMS
  projects/etcd-io/etcd/1-28/GIT_TAG
  projects/etcd-io/etcd/1-29/CHECKSUMS
  projects/etcd-io/etcd/1-29/GIT_TAG
  projects/etcd-io/etcd/README.md
Labels: approved, lgtm, size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2639 Bump k8 1.29 to 1.29.0
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.29

#2640 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#2641 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#2637 Revert "Bump etcd version to v3.5.11"
  projects/etcd-io/etcd/1-24/CHECKSUMS
  projects/etcd-io/etcd/1-24/GIT_TAG
  projects/etcd-io/etcd/1-25/CHECKSUMS
  projects/etcd-io/etcd/1-25/GIT_TAG
  projects/etcd-io/etcd/1-26/CHECKSUMS
  projects/etcd-io/etcd/1-26/GIT_TAG
  projects/etcd-io/etcd/1-27/CHECKSUMS
  projects/etcd-io/etcd/1-27/GIT_TAG
  projects/etcd-io/etcd/1-28/CHECKSUMS
  projects/etcd-io/etcd/1-28/GIT_TAG
  projects/etcd-io/etcd/1-29/CHECKSUMS
  projects/etcd-io/etcd/1-29/GIT_TAG
  projects/etcd-io/etcd/README.md
Labels: approved, lgtm, size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2638 Bump i-auth 1.24 to 0.5.23 and the rest to 0.6.16
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: approved, lgtm, size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2644 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2643 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2645 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2646 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2647 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2652 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2651 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2648 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2649 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2650 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2653 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/29/CHANGELOG-v1-25-eks-29.md
  docs/contents/releases/1-25/29/index.md
  docs/contents/releases/1-25/29/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2654 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/25/CHANGELOG-v1-26-eks-25.md
  docs/contents/releases/1-26/25/index.md
  docs/contents/releases/1-26/25/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2655 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/19/CHANGELOG-v1-27-eks-19.md
  docs/contents/releases/1-27/19/index.md
  docs/contents/releases/1-27/19/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2656 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/12/CHANGELOG-v1-28-eks-12.md
  docs/contents/releases/1-28/12/index.md
  docs/contents/releases/1-28/12/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2657 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/33/CHANGELOG-v1-24-eks-33.md
  docs/contents/releases/1-24/33/index.md
  docs/contents/releases/1-24/33/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2658 Patch plugin to bump containered version to v1.7.11
  projects/containernetworking/plugins/1-24/CHECKSUMS
  projects/containernetworking/plugins/1-24/patches/0003-Bump-containerd-verison-to-v1.7.11.patch
  projects/containernetworking/plugins/1-25/CHECKSUMS
  projects/containernetworking/plugins/1-25/patches/0003-Bump-containerd-verison-to-v1.7.11.patch
  projects/containernetworking/plugins/1-26/CHECKSUMS
  projects/containernetworking/plugins/1-26/patches/0003-Bump-containerd-verison-to-v1.7.11.patch
  projects/containernetworking/plugins/1-27/CHECKSUMS
  projects/containernetworking/plugins/1-27/patches/0003-Bump-containerd-verison-to-v1.7.11.patch
  projects/containernetworking/plugins/1-28/CHECKSUMS
  projects/containernetworking/plugins/1-28/patches/0003-Bump-containerd-verison-to-v1.7.11.patch
  projects/containernetworking/plugins/1-29/CHECKSUMS
  projects/containernetworking/plugins/1-29/patches/0003-Bump-containerd-verison-to-v1.7.11.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2662 bump kops verison to alpha.3
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#2663 CSI sidecar bumps for attacher(v4.4.3), snapshotter(v6.6.3), resizer(v1.9.3), node-driver-registrar(v2.9.3)
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-25/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-25/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-26/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-26/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-27/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-27/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/GIT_TAG
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-resizer/1-24/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-24/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-25/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-25/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-26/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-26/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-27/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-27/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-29/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-29/GIT_TAG
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/1-24/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-24/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-25/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-25/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-26/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-26/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-27/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-27/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-29/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-29/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/node-driver-registrar/1-24/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-24/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-25/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-25/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-26/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-26/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-27/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-27/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-28/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-28/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-29/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-29/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/README.md
Labels: approved, lgtm, ok-to-test, size/L, v1.24, project, v1.25, v1.26, v1.27, v1.28, v1.29
