Repository aws/eks-distro, pull requests merged in 2023-07, with the labels that each got.

#2167 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, DEV-release

#2169 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2171 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2173 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2175 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2168 Bumped production release number for 1.23-26
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, v1.23, PROD-release

#2170 Bumped production release number for 1.24-21
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2172 Bumped production release number for 1.25-17
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2174 Bumped production release number for 1.26-13
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2176 Bumped production release number for 1.27-7
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2177 Created and updated docs for 1.23-26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/26/CHANGELOG-v1-23-eks-26.md
  docs/contents/releases/1-23/26/index.md
  docs/contents/releases/1-23/26/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#2178 Created and updated docs for 1.24-21
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/21/CHANGELOG-v1-24-eks-21.md
  docs/contents/releases/1-24/21/index.md
  docs/contents/releases/1-24/21/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2179 Created and updated docs for 1.25-17
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/17/CHANGELOG-v1-25-eks-17.md
  docs/contents/releases/1-25/17/index.md
  docs/contents/releases/1-25/17/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2180 Created and updated docs for 1.26-13
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/13/CHANGELOG-v1-26-eks-13.md
  docs/contents/releases/1-26/13/index.md
  docs/contents/releases/1-26/13/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2181 Created and updated docs for 1.27-7
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/7/CHANGELOG-v1-27-eks-7.md
  docs/contents/releases/1-27/7/index.md
  docs/contents/releases/1-27/7/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2184 Updated kOps to 1.27
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#2189 Update cloud-provider-aws README
  projects/kubernetes/cloud-provider-aws/README.md
Labels: approved, lgtm, size/XS

#2190 Added patch for 1.23
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/patches/0021-EKS-PATCH-Return-error-for-localhost-seccomp-type-wi.patch
Labels: approved, lgtm, size/XL, v1.23, patch

#2191 Bumped development release number for 1.23-29
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, DEV-release

#2193 Bumped development release number for 1.24-23
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2195 Bumped development release number for 1.25-18
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2197 Bumped development release number for 1.26-15
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2199 Bumped development release number for 1.27-9
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2192 Bumped production release number for 1.23-27
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, PROD-release

#2194 Bumped production release number for 1.24-22
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2196 Bumped production release number for 1.25-18
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2198 Bumped production release number for 1.26-14
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2200 Bumped production release number for 1.27-8
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2202 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/22/CHANGELOG-v1-24-eks-22.md
  docs/contents/releases/1-24/22/index.md
  docs/contents/releases/1-24/22/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2203 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/18/CHANGELOG-v1-25-eks-18.md
  docs/contents/releases/1-25/18/index.md
  docs/contents/releases/1-25/18/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2204 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/14/CHANGELOG-v1-26-eks-14.md
  docs/contents/releases/1-26/14/index.md
  docs/contents/releases/1-26/14/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2205 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/8/CHANGELOG-v1-27-eks-8.md
  docs/contents/releases/1-27/8/index.md
  docs/contents/releases/1-27/8/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2165 Patch k8 1.23 to Bump runc to 1.1.6
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/patches/0022-EKS-PATCH-Bump-1.23-runc-version-to-1.1.6.patch
Labels: approved, lgtm, size/XXL, v1.23, patch

#2214 Update k8s v1.28.0-rc.0
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-28/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-28/patches/0002-EKS-PATCH-add-Authentication-tracking-request-error-.patch
Labels: approved, lgtm, size/L, patch, project, v1.28
