Repository aws/eks-distro, pull requests merged in 2023-09, with the labels that each got.

#2318 Added file release/1-23/production/RELEASE
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, PROD-release

#2319 Added file release/1-24/production/RELEASE
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2320 Added file release/1-25/production/RELEASE
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2321 Added file release/1-26/production/RELEASE
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2322 Added file release/1-27/production/RELEASE
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2323 Added file release/1-28/production/RELEASE
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2328 1.27 11 docs 1693585469
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/11/CHANGELOG-v1-27-eks-11.md
  docs/contents/releases/1-27/11/index.md
  docs/contents/releases/1-27/11/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2324 1.23 30 docs 1693585106
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/30/CHANGELOG-v1-23-eks-30.md
  docs/contents/releases/1-23/30/index.md
  docs/contents/releases/1-23/30/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#2325 1.24 25 docs 1693585331
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/25/CHANGELOG-v1-24-eks-25.md
  docs/contents/releases/1-24/25/index.md
  docs/contents/releases/1-24/25/release-announcement.txt
Labels: documentation, approved, lgtm, release, v1.24

#2326 1.26 17 docs 1693585382
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/17/CHANGELOG-v1-26-eks-17.md
  docs/contents/releases/1-26/17/index.md
  docs/contents/releases/1-26/17/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2327 1.25 21 docs 1693585424
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/21/CHANGELOG-v1-25-eks-21.md
  docs/contents/releases/1-25/21/index.md
  docs/contents/releases/1-25/21/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2340 Release 1.28-4
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/patches/0003-EKS-PATCH-Feature-gate-SidecarContainers-code-in-kub.patch
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XL, patch, DEV-release, v1.28

#2341 Bump production release for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2333 Updated to Kubernetes 1.24.17
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/GIT_TAG
Labels: approved, lgtm, size/M, v1.24, project

#2330 Updated to Kubernetes 1.27.5
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.27

#2331 Updated to Kubernetes 1.26.8
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/patches/0004-EKS-PATCH-Add-ConcurrentNodeSyncs-option-to-node-con.patch
Labels: approved, lgtm, size/M, patch, project, v1.26

#2332 Updated to Kubernetes 1.25.13
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.25

#2334 Added new patch to 1.25
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/patches/0010-EKS-PATCH-Handle-eventually-consistent-EC2-PrivateDn.patch
Labels: approved, lgtm, size/L, patch, v1.25

#2335 Add new patches to Kubernetes 1.24
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/patches/0016-EKS-PATCH-Handle-eventually-consistent-EC2-PrivateDn.patch
  projects/kubernetes/kubernetes/1-24/patches/0017-EKS-PATCH-Incorporating-feedback-on-119341.patch
Labels: approved, lgtm, size/L, v1.24, patch

#2345 Coredns CVE-2022-28948 fix
  projects/coredns/coredns/1-23/CHECKSUMS
  projects/coredns/coredns/1-23/patches/0002-Bump-gopkg.in-yaml.v3-to-v3.0.0-to-fix-CVE-2022-2894.patch
Labels: approved, lgtm, size/M, v1.23, patch

#2348 Bump external-resizer to v1.9.0 for k8s v1.23-1.28
  projects/kubernetes-csi/external-resizer/1-23/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-23/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-24/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-24/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-25/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-25/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-26/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-26/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-27/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-27/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/GIT_TAG
  projects/kubernetes-csi/external-resizer/README.md
Labels: approved, lgtm, size/M, v1.23, v1.24, project, v1.25, v1.26, v1.27, v1.28

#2349 Bump etcd to v3.5.9 for k8s 1.28
  projects/etcd-io/etcd/1-28/CHECKSUMS
  projects/etcd-io/etcd/1-28/GIT_TAG
Labels: approved, lgtm, size/S, project, v1.28

#2357 Bump gopkg.in/yaml.v3 to v3.0.1 to fix CVE-2022-28948
  projects/coredns/coredns/1-23/CHECKSUMS
  projects/coredns/coredns/1-23/patches/0002-Bump-gopkg.in-yaml.v3-to-v3.0.1-to-fix-CVE-2022-2894.patch
Labels: approved, lgtm, size/S, v1.23, patch

#2358 Bump go-restful for coredns 1.24
  projects/coredns/coredns/1-24/CHECKSUMS
  projects/coredns/coredns/1-24/patches/0002-Bump-go-restful-to-2.16.0-incompatible-to-address-CV.patch
Labels: approved, lgtm, size/M, v1.24, patch

#2359 Bump go-restful for coredns 1.25
  projects/coredns/coredns/1-25/CHECKSUMS
  projects/coredns/coredns/1-25/patches/0002-Bump-go-restful-to-2.16.0-incompatible-to-address-CV.patch
Labels: approved, lgtm, size/M, patch, v1.25

#2360 Bump go-restful for coredns 1.26
  projects/coredns/coredns/1-26/CHECKSUMS
  projects/coredns/coredns/1-26/patches/0002-Bump-go-restful-to-2.16.0-incompatible-to-address-CV.patch
Labels: approved, lgtm, size/M, patch, v1.26

#2350 Added file release/1-23/development/RELEASE
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, DEV-release

#2351 Added file release/1-24/development/RELEASE
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2352 Added file release/1-25/development/RELEASE
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2353 Added file release/1-26/development/RELEASE
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2354 Added file release/1-27/development/RELEASE
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2355 Added file release/1-28/development/RELEASE
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2366 Added file release/1-23/production/RELEASE
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, PROD-release

#2367 Added file release/1-24/production/RELEASE
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2368 Added file release/1-25/production/RELEASE
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2369 Added file release/1-26/production/RELEASE
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2370 Added file release/1-27/production/RELEASE
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2371 Added file release/1-28/production/RELEASE
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2374 Update docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/31/CHANGELOG-v1-23-eks-31.md
  docs/contents/releases/1-23/31/index.md
  docs/contents/releases/1-23/31/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#2375 Update docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/26/CHANGELOG-v1-24-eks-26.md
  docs/contents/releases/1-24/26/index.md
  docs/contents/releases/1-24/26/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2376 Update docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/22/CHANGELOG-v1-25-eks-22.md
  docs/contents/releases/1-25/22/index.md
  docs/contents/releases/1-25/22/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2377 Update docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/18/CHANGELOG-v1-26-eks-18.md
  docs/contents/releases/1-26/18/index.md
  docs/contents/releases/1-26/18/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2378 Update docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/12/CHANGELOG-v1-27-eks-12.md
  docs/contents/releases/1-27/12/index.md
  docs/contents/releases/1-27/12/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2380 Match hashes in patches for CoreDNS 1.9.3
  projects/coredns/coredns/1-24/patches/0002-Bump-go-restful-to-2.16.0-incompatible-to-address-CV.patch
  projects/coredns/coredns/1-25/patches/0002-Bump-go-restful-to-2.16.0-incompatible-to-address-CV.patch
  projects/coredns/coredns/1-26/patches/0002-Bump-go-restful-to-2.16.0-incompatible-to-address-CV.patch
Labels: approved, lgtm, size/XS, v1.24, patch, v1.25, v1.26

#2336 Update 1.28 to use kops 1.28.0-beta.1
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#2382 Revert "Update 1.28 to use kops 1.28.0-beta.1 (#2336)"
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#2381 Bump Go version to 1.20 for CoreDNS
  projects/coredns/coredns/1-23/CHECKSUMS
  projects/coredns/coredns/1-23/GOLANG_VERSION
  projects/coredns/coredns/1-24/CHECKSUMS
  projects/coredns/coredns/1-24/GOLANG_VERSION
  projects/coredns/coredns/1-25/CHECKSUMS
  projects/coredns/coredns/1-25/GOLANG_VERSION
  projects/coredns/coredns/1-26/CHECKSUMS
  projects/coredns/coredns/1-26/GOLANG_VERSION
  projects/coredns/coredns/1-27/CHECKSUMS
  projects/coredns/coredns/1-27/GOLANG_VERSION
  projects/coredns/coredns/1-28/CHECKSUMS
  projects/coredns/coredns/1-28/GOLANG_VERSION
Labels: approved, lgtm, size/M, v1.23, v1.24, v1.25, v1.26, v1.27, v1.28

#2384 Change time to match coreDNS 1.9.3 patches
  projects/coredns/coredns/1-25/CHECKSUMS
  projects/coredns/coredns/1-25/patches/0002-Bump-go-restful-to-2.16.0-incompatible-to-address-CV.patch
  projects/coredns/coredns/1-26/CHECKSUMS
  projects/coredns/coredns/1-26/patches/0002-Bump-go-restful-to-2.16.0-incompatible-to-address-CV.patch
Labels: approved, lgtm, size/S, patch, v1.25, v1.26

#2387 Bump external-attacher to v4.4.0
  projects/kubernetes-csi/external-attacher/1-23/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-23/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-25/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-25/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-26/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-26/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-27/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-27/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/GIT_TAG
  projects/kubernetes-csi/external-attacher/README.md
Labels: approved, lgtm, size/M, v1.23, v1.24, project, v1.25, v1.26, v1.27, v1.28

#2389 Bump node-driver-registrar to v2.9.0
  projects/kubernetes-csi/node-driver-registrar/1-23/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-23/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-24/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-24/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-25/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-25/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-26/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-26/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-27/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-27/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-28/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-28/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/README.md
Labels: approved, lgtm, size/M, v1.23, v1.24, project, v1.25, v1.26, v1.27, v1.28

#2392 Bump patch versions k8s 1.25-1.28
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/GIT_TAG
  projects/kubernetes/kubernetes/1-25/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-28/patches/0003-EKS-PATCH-Feature-gate-SidecarContainers-code-in-kub.patch
Labels: approved, lgtm, size/XL, patch, project, v1.25, v1.26, v1.27, v1.28

#2394 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/1/CHANGELOG-v1-28-eks-1.md
  docs/contents/releases/1-28/1/index.md
  docs/contents/releases/1-28/2/CHANGELOG-v1-28-eks-2.md
  docs/contents/releases/1-28/2/index.md
  docs/contents/releases/1-28/3/CHANGELOG-v1-28-eks-3.md
  docs/contents/releases/1-28/3/index.md
  docs/contents/releases/1-28/4/CHANGELOG-v1-28-eks-4.md
  docs/contents/releases/1-28/4/index.md
  docs/contents/releases/1-28/5/CHANGELOG-v1-28-eks-5.md
  docs/contents/releases/1-28/5/index.md
  docs/contents/releases/1-28/5/release-announcement.txt
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/README.md
  release/DEFAULT_RELEASE_BRANCH
Labels: documentation, approved, lgtm, release, size/L, v1.28

#2397 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, DEV-release

#2401 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2403 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2405 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2407 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2412 Update external snapshotter README
  projects/kubernetes-csi/external-snapshotter/README.md
Labels: approved, lgtm, size/S

#2398 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, PROD-release

#2400 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2402 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2404 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2406 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2408 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2413 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/32/CHANGELOG-v1-23-eks-32.md
  docs/contents/releases/1-23/32/index.md
  docs/contents/releases/1-23/32/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#2414 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/27/CHANGELOG-v1-24-eks-27.md
  docs/contents/releases/1-24/27/index.md
  docs/contents/releases/1-24/27/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2415 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/23/CHANGELOG-v1-25-eks-23.md
  docs/contents/releases/1-25/23/index.md
  docs/contents/releases/1-25/23/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2416 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/19/CHANGELOG-v1-26-eks-19.md
  docs/contents/releases/1-26/19/index.md
  docs/contents/releases/1-26/19/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2417 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/13/CHANGELOG-v1-27-eks-13.md
  docs/contents/releases/1-27/13/index.md
  docs/contents/releases/1-27/13/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2418 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/6/CHANGELOG-v1-28-eks-6.md
  docs/contents/releases/1-28/6/index.md
  docs/contents/releases/1-28/6/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28
