Repository aws/eks-distro, pull requests merged in 2023-08, with the labels that each got.

#2215 Bump kops to 1.28.0-alpha.1 for k8s v1.28
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#2207 Small typo
  release/sns_notification.sh
Labels: approved, lgtm, release, size/XS

#2218 bump metrics server to v0.6.4 for all supported k8s versions
  projects/kubernetes-sigs/metrics-server/1-23/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-23/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-24/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-24/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-25/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-25/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-26/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-26/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-27/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-27/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-28/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-28/GIT_TAG
Labels: approved, lgtm, size/M, v1.23, v1.24, project, v1.25, v1.26, v1.27

#2225 bump iam auth version
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/patches/0001-bump-golang-x-net-to-0.7.0.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/patches/0001-bump-golang-x-net-to-0.7.0.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/patches/0001-bump-golang-x-net-to-0.7.0.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/patches/0001-bump-golang-x-net-to-0.7.0.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/patches/0001-bump-golang-x-net-to-0.7.0.patch
Labels: approved, lgtm, size/L, v1.24, patch, project, v1.25, v1.26, v1.27

#2228 Add 1.28 labeler for automation
  .github/labeler.yml
Labels: approved, lgtm, size/XS

#2222 update k8s 1.26 git tag and patches
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
  projects/kubernetes/kubernetes/1-26/patches/0004-EKS-PATCH-Add-ConcurrentNodeSyncs-option-to-node-con.patch
Labels: approved, lgtm, size/M, patch, project, v1.26

#2224 update k8s 1.27 git tag and patches
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-27/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
Labels: approved, lgtm, size/M, patch, project, v1.27

#2226 Updated etcd to v3.5.8 for all supported versions
  projects/etcd-io/etcd/1-23/CHECKSUMS
  projects/etcd-io/etcd/1-23/GIT_TAG
  projects/etcd-io/etcd/1-23/patches/0001-bump-golang-x-net-to-0.7.0.patch
  projects/etcd-io/etcd/1-24/CHECKSUMS
  projects/etcd-io/etcd/1-24/GIT_TAG
  projects/etcd-io/etcd/1-24/patches/0001-bump-golang-x-net-to-0.7.0.patch
  projects/etcd-io/etcd/1-25/CHECKSUMS
  projects/etcd-io/etcd/1-25/GIT_TAG
  projects/etcd-io/etcd/1-25/patches/0001-bump-golang-x-net-to-0.7.0.patch
  projects/etcd-io/etcd/1-26/CHECKSUMS
  projects/etcd-io/etcd/1-26/GIT_TAG
  projects/etcd-io/etcd/1-26/patches/0001-bump-golang-x-net-to-0.7.0.patch
  projects/etcd-io/etcd/1-27/CHECKSUMS
  projects/etcd-io/etcd/1-27/GIT_TAG
  projects/etcd-io/etcd/1-27/patches/0001-bump-golang-x-net-to-0.7.0.patch
  projects/etcd-io/etcd/1-28/CHECKSUMS
  projects/etcd-io/etcd/1-28/GIT_TAG
  projects/etcd-io/etcd/1-28/patches/0001-bump-golang-x-net-to-0.7.0.patch
  projects/etcd-io/etcd/README.md
Labels: approved, lgtm, size/XL, v1.23, v1.24, patch, project, v1.25, v1.26, v1.27, v1.28

#2234 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, DEV-release

#2238 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2240 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2242 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2244 Added file release/1-28/development/RELEASE
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2236 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2235 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, PROD-release

#2237 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2239 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2241 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2243 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2248 re-trigger 1.28 dev release
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2245 Added file release/1-28/production/RELEASE
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2247 Custom user agent for EKS D dev script `curl` calls
  development/kops/install_requirements.sh
  development/kops/set_environment.sh
Labels: approved, lgtm, size/M

#2251 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/28/CHANGELOG-v1-23-eks-28.md
  docs/contents/releases/1-23/28/index.md
  docs/contents/releases/1-23/28/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#2252 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/23/CHANGELOG-v1-24-eks-23.md
  docs/contents/releases/1-24/23/index.md
  docs/contents/releases/1-24/23/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2229 Upate k8s release to v1.15.1
  projects/kubernetes/release/1-28/CHECKSUMS
  projects/kubernetes/release/1-28/GIT_TAG
  projects/kubernetes/release/1-28/GOLANG_VERSION
  projects/kubernetes/release/Makefile
Labels: approved, lgtm, size/S, project, v1.28

#2257 Add notice about end of support for k8s 1.23
  README.md
Labels: approved, lgtm, size/S

#2260 Remove 1.23 from supported branches
  .github/labeler.yml
  release/SUPPORTED_RELEASE_BRANCHES
Labels: approved, lgtm, release, size/XS

#2262 Remove 1.23 from docs
  README.md
  docs/contents/index.md
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/README.md
Labels: documentation, approved, lgtm, size/M

#2263 Revert 1.23 deprecation
  .github/labeler.yml
  README.md
  docs/contents/index.md
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/README.md
  release/SUPPORTED_RELEASE_BRANCHES
Labels: documentation, approved, lgtm, release, size/M

#2266 Update authenticator project GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/patches/0001-bump-golang-x-net-to-0.7.0.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: lgtm, size/L, v1.23, patch, project, v1.25, v1.26, v1.27, v1.28

#2267 Update cloud-provider-aws GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-23/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-23/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-24/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-24/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-25/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-25/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-25/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-26/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-26/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-27/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-27/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-28/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-28/GIT_TAG
  projects/kubernetes/cloud-provider-aws/README.md
Labels: lgtm, size/M, v1.23, v1.24, project, v1.25, v1.26, v1.27, v1.28

#2274 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, DEV-release

#2273 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2270 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2269 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2271 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2272 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2281 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, PROD-release

#2279 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2278 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2285 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/24/CHANGELOG-v1-24-eks-24.md
  docs/contents/releases/1-24/24/index.md
  docs/contents/releases/1-24/24/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2284 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/29/CHANGELOG-v1-23-eks-29.md
  docs/contents/releases/1-23/29/index.md
  docs/contents/releases/1-23/29/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#2286 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/20/CHANGELOG-v1-25-eks-20.md
  docs/contents/releases/1-25/20/index.md
  docs/contents/releases/1-25/20/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2287 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/16/CHANGELOG-v1-26-eks-16.md
  docs/contents/releases/1-26/16/index.md
  docs/contents/releases/1-26/16/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2288 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/10/CHANGELOG-v1-27-eks-10.md
  docs/contents/releases/1-27/10/index.md
  docs/contents/releases/1-27/10/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2282 update 1.28 GIT_TAG
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/M, project, DEV-release, v1.28

#2276 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2301 Patch to bump K8 version to 1.27.5
  projects/kubernetes-csi/external-provisioner/1-23/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-23/patches/0001-Patch-to-bump-K8-version-to-1.27.5.patch
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/patches/0001-Patch-to-bump-K8-version-to-1.27.5.patch
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/patches/0001-Patch-to-bump-K8-version-to-1.27.5.patch
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/patches/0001-Patch-to-bump-K8-version-to-1.27.5.patch
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/patches/0001-Patch-to-bump-K8-version-to-1.27.5.patch
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/patches/0001-Patch-to-bump-K8-version-to-1.27.5.patch
Labels: approved, lgtm, size/L, v1.23, v1.24, patch, v1.25, v1.26, v1.27, v1.28

#2307 update 1.28 GIT_TAG
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.28

#2306 Update cloud-provider-aws GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-28/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-28/GIT_TAG
Labels: approved, lgtm, size/S, project, v1.28

#2308 Update aws-iam-authenticator GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: approved, lgtm, size/S, v1.24, project

#2312 Added file release/1-23/development/RELEASE
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, DEV-release

#2313 Added file release/1-24/development/RELEASE
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2314 Added file release/1-25/development/RELEASE
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2315 Added file release/1-26/development/RELEASE
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2316 Added file release/1-27/development/RELEASE
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2317 Added file release/1-28/development/RELEASE
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28
