Repository aws/eks-distro, pull requests merged in 2023-02, with the labels that each got.

#1713 Added make print-versions
  Makefile
  cmd/print-versions/main.go
  cmd/release/minor/projects/projects.go
  cmd/release/utils/projects/projects.go
  cmd/release/utils/projects/versions.go
  cmd/release/utils/values/releasebranch.go
Labels: approved, lgtm, size/L

#1718 Require imdsv2 on kops cp and worker nodes
  development/kops/eks-d.tpl
Labels: approved, lgtm, size/XS

#1721 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1722 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1723 Fixed bug in webhook patch for 1.25
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/patches/0002-EKS-PATCH-admission-webhook-exclusion-from-file.patch
Labels: approved, lgtm, size/M, patch, v1.25

#1724 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1725 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1733 Bumped development release number for 1.21
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1734 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1736 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1738 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1740 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1735 Bumped production release number for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1737 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1739 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1741 Bumped production release number for 1-21
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1742 Bumped production release number for 1-26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1730 Have go mod & go sum generate correctly
  build/update-attribution-files/make_attribution.sh
Labels: approved, lgtm, size/XS

#1745 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/14/CHANGELOG-v1-23-eks-14.md
  docs/contents/releases/1-23/14/index.md
  docs/contents/releases/1-23/14/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#1746 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/9/CHANGELOG-v1-24-eks-9.md
  docs/contents/releases/1-24/9/index.md
  docs/contents/releases/1-24/9/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#1743 Created and updated docs for 1.21
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/26/CHANGELOG-v1-21-eks-26.md
  docs/contents/releases/1-21/26/index.md
  docs/contents/releases/1-21/26/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#1744 Created and updated docs for 1.22
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/19/CHANGELOG-v1-22-eks-19.md
  docs/contents/releases/1-22/19/index.md
  docs/contents/releases/1-22/19/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#1727 Docs: Fixing truncated code in numbered lists
  docs/contents/users/install/kubeadm-onsite.md
  docs/mkdocs.yml
Labels: documentation, approved, lgtm, size/M

#1753 Add clean-go-cache target like eks-a build tooling
  Common.mk
Labels: approved, lgtm, size/XS

#1755 Updated docs for end of support for 1.21
  README.md
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/README.md
Labels: approved, lgtm, size/M

#1754 Add bhavitha to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#1757 Add ubuntu 22 and new make target for nft test
  Makefile
  development/kops/create_values_yaml.sh
  development/kops/eks-d.tpl
Labels: approved, lgtm, size/S

#1758 Add default values and fix formatting
  Makefile
  development/kops/eks-d.tpl
  development/kops/set_environment.sh
Labels: approved, lgtm, size/S

#1751 Improve build log out but still allow full debug log
  Common.mk
  build/lib/common.sh
  build/lib/create_windows_manifest_list.sh
  build/lib/go_mod_download.sh
  build/lib/simple_create_binaries.sh
  build/lib/simple_create_tarballs.sh
  build/update-attribution-files/create_pr.sh
  projects/kubernetes/kubernetes/Makefile
  release/copy_artifacts.sh
  release/create_release_checksums.sh
Labels: approved, lgtm, release, size/L

#1760 Remove go.mod and go.sum from top level of external-provisioner project
  projects/kubernetes-csi/external-provisioner/go.mod
  projects/kubernetes-csi/external-provisioner/go.sum
Labels: approved, lgtm, size/XXL

#1761 make target logging machine-parsing friendly
  Common.mk
Labels: approved, lgtm, size/XS

#1732 support for building EKS-D in codebuild
  Common.mk
  Makefile
  build/lib/common.sh
  development/kops/codebuild.sh
  projects/kubernetes/kubernetes/Makefile
Labels: approved, lgtm, size/L

#1763 Add ubuntu to worker node group
  Makefile
  development/kops/eks-d.tpl
Labels: approved, lgtm, size/XS

#1768 Remove ubuntu 22 conformance run
  Makefile
Labels: approved, lgtm, size/XS

#1769 Updated external-attacher to 4.2.0
  projects/kubernetes-csi/external-attacher/1-21/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-21/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-22/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-22/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-23/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-23/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-25/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-25/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-26/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-26/GIT_TAG
  projects/kubernetes-csi/external-attacher/README.md
Labels: approved, lgtm, v1.21, size/M, v1.22, v1.23, v1.24, project, v1.25, v1.26

#1767 Removed flakes
  projects/kubernetes/kubernetes/top_flakes
Labels: approved, lgtm, size/XS

#1785 Move aws-iam-auth back to v0.5.12 for < k8s 1.25
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: approved, lgtm, v1.21, size/M, v1.22, v1.23, v1.24, project

#1774 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1773 Bumped development release number for 1.21
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1776 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1777 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1778 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1782 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1779 Bumped production release number for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1781 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1783 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1784 Bumped production release number for 1.21
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1756 1.25 docs for initial full release
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/1/CHANGELOG-v1-25-eks-1.md
  docs/contents/releases/1-25/1/index.md
  docs/contents/releases/1-25/2/CHANGELOG-v1-25-eks-2.md
  docs/contents/releases/1-25/2/index.md
  docs/contents/releases/1-25/3/CHANGELOG-v1-25-eks-3.md
  docs/contents/releases/1-25/3/index.md
  docs/contents/releases/1-25/4/CHANGELOG-v1-25-eks-4.md
  docs/contents/releases/1-25/4/index.md
  docs/contents/releases/1-25/5/CHANGELOG-v1-25-eks-5.md
  docs/contents/releases/1-25/5/index.md
  docs/contents/releases/1-25/6/CHANGELOG-v1-25-eks-6.md
  docs/contents/releases/1-25/6/index.md
  docs/contents/releases/1-25/6/release-announcement.txt
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/README.md
  release/DEFAULT_RELEASE_BRANCH
Labels: documentation, approved, lgtm, release, size/L, v1.25

#1800 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1794 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1796 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1792 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1798 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1791 Bumped production release number for 1.21
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1795 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1797 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1799 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1801 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1802 Created and updated docs for 1.22
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/21/CHANGELOG-v1-22-eks-21.md
  docs/contents/releases/1-22/21/index.md
  docs/contents/releases/1-22/21/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#1803 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/16/CHANGELOG-v1-23-eks-16.md
  docs/contents/releases/1-23/16/index.md
  docs/contents/releases/1-23/16/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#1804 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/11/CHANGELOG-v1-24-eks-11.md
  docs/contents/releases/1-24/11/index.md
  docs/contents/releases/1-24/11/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#1805 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/7/CHANGELOG-v1-25-eks-7.md
  docs/contents/releases/1-25/7/index.md
  docs/contents/releases/1-25/7/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#1788 Go mod minimal go version updater
  Common.mk
Labels: approved, lgtm, size/XS

#1806 update labeler to auto-label base image updates
  .github/labeler.yml
Labels: approved, lgtm, size/XS

#1808 Fix update-go-mods
  Common.mk
Labels: approved, lgtm, size/XS

#1809 Fix gomod attribution issue
  Common.mk
Labels: approved, lgtm, size/XS

#1810 Sed command fix in gomod attribution job
  Common.mk
Labels: approved, lgtm, size/XS

#1811 Move gomod to 1.18 in attribution job
  Common.mk
Labels: approved, lgtm, size/XS

#1812 revert gomod changes in Attributions
  Common.mk
Labels: approved, lgtm, size/XS
