Repository aws/eks-distro, pull requests merged in 2023-10, with the labels that each got.

#2421 Add commands to test development/kops/install_requirements.sh
  Makefile
  development/kops/run_all.sh
Labels: approved, lgtm, size/M

#2422 Use correct comment format in run_all.sh
  development/kops/run_all.sh
Labels: approved, lgtm, size/XS

#2426 Patch Metrics-Server to fix CVE-2023-42821
  projects/kubernetes-sigs/metrics-server/1-23/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-23/patches/0001-Bump-Markdown-to-patch-version-to-fix-CVE-2023-42821.patch
  projects/kubernetes-sigs/metrics-server/1-24/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-24/patches/0001-Bump-Markdown-to-patch-version-to-fix-CVE-2023-42821.patch
  projects/kubernetes-sigs/metrics-server/1-25/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-25/patches/0001-Bump-Markdown-to-patch-version-to-fix-CVE-2023-42821.patch
  projects/kubernetes-sigs/metrics-server/1-26/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-26/patches/0001-Bump-Markdown-to-patch-version-to-fix-CVE-2023-42821.patch
  projects/kubernetes-sigs/metrics-server/1-27/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-27/patches/0001-Bump-Markdown-to-patch-version-to-fix-CVE-2023-42821.patch
  projects/kubernetes-sigs/metrics-server/1-28/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-28/patches/0001-Bump-Markdown-to-patch-version-to-fix-CVE-2023-42821.patch
Labels: approved, lgtm, size/L, v1.23, v1.24, patch, v1.25, v1.26, v1.27, v1.28

#2429 Bump livenessprobe to v2.11.0
  projects/kubernetes-csi/livenessprobe/1-23/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-23/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-24/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-24/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-25/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-25/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-26/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-26/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-27/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-27/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-28/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-28/GIT_TAG
  projects/kubernetes-csi/livenessprobe/README.md
Labels: approved, lgtm, size/M, v1.23, v1.24, project, v1.25, v1.26, v1.27, v1.28

#2431 Bump etcd version to v3.5.9
  projects/etcd-io/etcd/1-23/CHECKSUMS
  projects/etcd-io/etcd/1-23/GIT_TAG
  projects/etcd-io/etcd/1-24/CHECKSUMS
  projects/etcd-io/etcd/1-24/GIT_TAG
  projects/etcd-io/etcd/1-25/CHECKSUMS
  projects/etcd-io/etcd/1-25/GIT_TAG
  projects/etcd-io/etcd/1-26/CHECKSUMS
  projects/etcd-io/etcd/1-26/GIT_TAG
  projects/etcd-io/etcd/1-27/CHECKSUMS
  projects/etcd-io/etcd/1-27/GIT_TAG
  projects/etcd-io/etcd/README.md
Labels: approved, lgtm, size/M, v1.23, v1.24, project, v1.25, v1.26, v1.27

#2430 Bump external provisioner to v3.6.0
  projects/kubernetes-csi/external-provisioner/1-23/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-23/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-23/patches/0001-Patch-to-bump-K8-version-to-1.27.5.patch
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-24/patches/0001-Patch-to-bump-K8-version-to-1.27.5.patch
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-25/patches/0001-Patch-to-bump-K8-version-to-1.27.5.patch
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-26/patches/0001-Patch-to-bump-K8-version-to-1.27.5.patch
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-27/patches/0001-Patch-to-bump-K8-version-to-1.27.5.patch
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-28/patches/0001-Patch-to-bump-K8-version-to-1.27.5.patch
  projects/kubernetes-csi/external-provisioner/README.md
Labels: approved, lgtm, size/XL, v1.23, v1.24, patch, project, v1.25, v1.26, v1.27, v1.28

#2423 Update k8s patches
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/patches/0002-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-23/patches/0023-EKS-PATCH-Handle-eventually-consistent-EC2-PrivateDn.patch
  projects/kubernetes/kubernetes/1-23/patches/0024-EKS-PATCH-Remove-check-for-CSI-driver-running-on-nod.patch
  projects/kubernetes/kubernetes/1-23/patches/0025-EKS-PATCH-Update-managedFields-time-when-value-is-mo.patch
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/patches/0002-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-24/patches/0018-EKS-PATCH-Update-managedFields-time-when-value-is-mo.patch
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/patches/0002-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-27/patches/0003-EKS-PATCH-add-Authentication-tracking-request-error-.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
Labels: approved, lgtm, size/XXL, v1.23, v1.24, patch, v1.25, v1.26, v1.27, v1.28

#2435 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, v1.23, DEV-release

#2437 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2439 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2441 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, v1.26, DEV-release

#2443 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2446 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2448 Trigger Dev Release
  release/1-23/development/RELEASE
  release/1-24/development/RELEASE
  release/1-25/development/RELEASE
  release/1-26/development/RELEASE
  release/1-27/development/RELEASE
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, v1.24, v1.25, v1.26, v1.27, DEV-release, v1.28

#2450 Bump dev release
  release/1-23/development/RELEASE
  release/1-24/development/RELEASE
  release/1-25/development/RELEASE
  release/1-26/development/RELEASE
  release/1-27/development/RELEASE
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/S, v1.23, v1.24, v1.25, v1.26, v1.27, DEV-release, v1.28

#2436 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, v1.23, PROD-release

#2438 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2440 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2442 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2444 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, v1.27, PROD-release

#2445 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2451 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/33/CHANGELOG-v1-23-eks-33.md
  docs/contents/releases/1-23/33/index.md
  docs/contents/releases/1-23/33/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#2452 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/28/CHANGELOG-v1-24-eks-28.md
  docs/contents/releases/1-24/28/index.md
  docs/contents/releases/1-24/28/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2453 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/24/CHANGELOG-v1-25-eks-24.md
  docs/contents/releases/1-25/24/index.md
  docs/contents/releases/1-25/24/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2454 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/20/CHANGELOG-v1-26-eks-20.md
  docs/contents/releases/1-26/20/index.md
  docs/contents/releases/1-26/20/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2455 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/14/CHANGELOG-v1-27-eks-14.md
  docs/contents/releases/1-27/14/index.md
  docs/contents/releases/1-27/14/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2456 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/7/CHANGELOG-v1-28-eks-7.md
  docs/contents/releases/1-28/7/index.md
  docs/contents/releases/1-28/7/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2461 Bump K8 CSI project attacher, provisioner, resizer, snapshotter
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-25/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-25/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-26/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-26/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-27/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-27/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/GIT_TAG
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/GIT_TAG
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/1-24/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-24/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-25/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-25/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-26/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-26/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-27/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-27/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/GIT_TAG
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/1-24/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-24/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-25/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-25/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-26/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-26/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-27/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-27/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/README.md
Labels: approved, lgtm, size/L, v1.24, project, v1.25, v1.26, v1.27, v1.28

#2468 Patch CoreDNS to fix CVE-2023-44487 and CVE-2023-39325
  projects/coredns/coredns/1-24/CHECKSUMS
  projects/coredns/coredns/1-24/patches/0003-Bump-golang-x-net-to-fix-CVE-2023-44487-and-2023-39325.patch
  projects/coredns/coredns/1-25/CHECKSUMS
  projects/coredns/coredns/1-25/patches/0003-Bump-golang-x-net-to-fix-CVE-2023-44487-and-2023-39325.patch
  projects/coredns/coredns/1-26/CHECKSUMS
  projects/coredns/coredns/1-26/patches/0003-Bump-golang-x-net-to-fix-CVE-2023-44487-and-2023-39325.patch
  projects/coredns/coredns/1-27/CHECKSUMS
  projects/coredns/coredns/1-27/patches/0002-Bump-golang-x-net-to-fix-CVE-2023-44487-CVE-2023-39325.patch
  projects/coredns/coredns/1-28/CHECKSUMS
  projects/coredns/coredns/1-28/patches/0002-Bump-golang-x-net-to-fix-CVE-2023-44487-CVE-2023-39325.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28

#2469 Patch livenessprobe to Fix CVE-2023-44487 and CVE-2023-39325
  projects/kubernetes-csi/livenessprobe/1-24/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-24/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/livenessprobe/1-25/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-25/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/livenessprobe/1-26/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-26/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/livenessprobe/1-27/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-27/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/livenessprobe/1-28/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-28/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28

#2470 Patch node-driver-register to Fix CVE-2023-44487 and CVE-2023-39325
  projects/kubernetes-csi/node-driver-registrar/1-24/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-24/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/node-driver-registrar/1-25/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-25/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/node-driver-registrar/1-26/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-26/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/node-driver-registrar/1-27/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-27/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/node-driver-registrar/1-28/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-28/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28

#2419 Include golang version bumps in project label
  .github/labeler.yml
Labels: approved, lgtm, size/XS

#2476 Deprecate 1.23
  .github/labeler.yml
  README.md
  release/SUPPORTED_RELEASE_BRANCHES
Labels: approved, lgtm, release, size/S

#2478 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2480 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2482 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2484 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2486 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2479 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2481 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2483 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2485 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2487 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2490 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/21/CHANGELOG-v1-26-eks-21.md
  docs/contents/releases/1-26/21/index.md
  docs/contents/releases/1-26/21/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2488 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/8/CHANGELOG-v1-28-eks-8.md
  docs/contents/releases/1-28/8/index.md
  docs/contents/releases/1-28/8/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2489 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/15/CHANGELOG-v1-27-eks-15.md
  docs/contents/releases/1-27/15/index.md
  docs/contents/releases/1-27/15/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2491 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/25/CHANGELOG-v1-25-eks-25.md
  docs/contents/releases/1-25/25/index.md
  docs/contents/releases/1-25/25/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2492 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/29/CHANGELOG-v1-24-eks-29.md
  docs/contents/releases/1-24/29/index.md
  docs/contents/releases/1-24/29/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2495 Remove 1.23 from project Readme
  docs/contents/index.md
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/README.md
Labels: documentation, approved, lgtm, size/S

#2496 Bump golang version to 1.21 for CoreDNS
  projects/coredns/coredns/1-24/CHECKSUMS
  projects/coredns/coredns/1-24/GOLANG_VERSION
  projects/coredns/coredns/1-25/CHECKSUMS
  projects/coredns/coredns/1-25/GOLANG_VERSION
  projects/coredns/coredns/1-26/CHECKSUMS
  projects/coredns/coredns/1-26/GOLANG_VERSION
  projects/coredns/coredns/1-27/CHECKSUMS
  projects/coredns/coredns/1-27/GOLANG_VERSION
  projects/coredns/coredns/1-28/CHECKSUMS
  projects/coredns/coredns/1-28/GOLANG_VERSION
Labels: approved, lgtm, size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28
