Repository aws/eks-distro, pull requests merged in 2023-01, with the labels that each got.

#1618 Make variable name consistent
  Common.mk
Labels: approved, lgtm, size/XS

#1626 Updated node-driver-registrar to v2.7.0 for all versions
  projects/kubernetes-csi/node-driver-registrar/1-21/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-21/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-22/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-22/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-23/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-23/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-24/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-24/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-25/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-25/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/README.md
Labels: approved, lgtm, v1.21, size/M, v1.22, v1.23, v1.24, project, v1.25

#1625 Updated livenessprobe to v2.9.0 for all versions
  projects/kubernetes-csi/livenessprobe/1-21/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-21/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-21/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-22/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-22/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-22/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-23/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-23/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-23/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-24/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-24/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-24/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-25/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-25/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-25/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/README.md
Labels: approved, lgtm, v1.21, size/M, v1.22, v1.23, v1.24, project, v1.25

#1628 Updated aws-iam-auth to v0.6.2 for all versions
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
Labels: approved, lgtm, v1.21, size/XL, v1.22, v1.23, v1.24, patch, project, v1.25

#1621 Updated external attacher to v4.1.0 for all versions
  projects/kubernetes-csi/external-attacher/1-21/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-21/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-21/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-22/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-22/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-22/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-23/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-23/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-23/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-24/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-25/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-25/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-25/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/README.md
Labels: approved, lgtm, v1.21, size/M, v1.22, v1.23, v1.24, project, v1.25

#1622 Updated external provisioner to v3.4.0 for all versions
  projects/kubernetes-csi/external-provisioner/1-21/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-21/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-21/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-22/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-22/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-22/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-23/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-23/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-23/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-24/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-25/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/README.md
Labels: approved, lgtm, v1.21, size/M, v1.22, v1.23, v1.24, project, v1.25

#1623 Updated external resizer to v1.7.0 for all versions
  projects/kubernetes-csi/external-resizer/1-21/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-21/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-21/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-22/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-22/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-22/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-23/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-23/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-23/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-24/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-24/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-24/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-25/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-25/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-25/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/README.md
Labels: approved, lgtm, v1.21, size/M, v1.22, v1.23, v1.24, project, v1.25

#1629 Remove non-minimal base image
  Common.mk
  projects/coredns/coredns/Makefile
  projects/coredns/coredns/docker/linux/Dockerfile
  projects/kubernetes-sigs/aws-iam-authenticator/Makefile
  projects/kubernetes-sigs/aws-iam-authenticator/docker/linux/Dockerfile
  projects/kubernetes-sigs/metrics-server/Makefile
  projects/kubernetes-sigs/metrics-server/docker/linux/Dockerfile
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/release/Makefile
  projects/kubernetes/release/docker/kube-proxy-base/Dockerfile
Labels: approved, lgtm, size/L

#1633 Use printf to preserve newlines
  build/update-attribution-files/create_pr.sh
Labels: approved, lgtm, size/XS

#1627 Updated cloud-provider-aws to 1.24.4
  projects/kubernetes/cloud-provider-aws/1-24/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-24/GIT_TAG
  projects/kubernetes/cloud-provider-aws/README.md
Labels: approved, lgtm, size/S, v1.24, project

#1637 downgrade 125 pause to 3.8
  projects/kubernetes/kubernetes/1-25/PAUSE_TAG
Labels: approved, lgtm, size/XS, v1.25

#1638 make release command work with both SSH and HTTPS git clients
  cmd/release/utils/git/open-pr.sh
Labels: approved, lgtm, size/XS

#1645 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1639 Bumped development release number for 1.21
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1647 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1646 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1640 Bumped production release number for 1.21
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1648 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1644 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1651 Created and updated docs for 1.22
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/17/CHANGELOG-v1-22-eks-17.md
  docs/contents/releases/1-22/17/index.md
  docs/contents/releases/1-22/17/release-announcement.txt
Labels: documentation, approved, lgtm, size/M, v1.22

#1652 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/12/CHANGELOG-v1-23-eks-12.md
  docs/contents/releases/1-23/12/index.md
  docs/contents/releases/1-23/12/release-announcement.txt
Labels: documentation, approved, lgtm, size/M, v1.23

#1653 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/7/CHANGELOG-v1-24-eks-7.md
  docs/contents/releases/1-24/7/index.md
  docs/contents/releases/1-24/7/release-announcement.txt
Labels: documentation, approved, lgtm, size/M, v1.24

#1650 Created and updated docs for 1.21
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/24/CHANGELOG-v1-21-eks-24.md
  docs/contents/releases/1-21/24/index.md
  docs/contents/releases/1-21/24/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, size/M

#1660 Update readme for etcd project in EKS-D
  projects/etcd-io/etcd/README.md
Labels: approved, lgtm, size/XS

#1663 Bump iam-authenticator verisons for 1.21-1.25
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-21/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-22/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-23/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/patches/0001-Bumps-go-version-in-go.mod.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/patches/0001-Bumps-go-version-in-go.mod.patch
Labels: approved, lgtm, v1.21, size/XL, v1.22, v1.23, v1.24, patch, project, v1.25

#1659 Add notice about stopping support for v1.21
  README.md
Labels: approved, lgtm, size/S

#1671 use default value for `gitRoot` flag in `main_postsubmit`
  cmd/main_postsubmit.go
Labels: approved, lgtm, size/XS

#1670 Fixes Kubernetes builds when there are no patches directory
  Common.mk
  build/lib/run_target_docker.sh
Labels: approved, lgtm, size/S

#1674 Updated to use kOps 1.26.0-beta.2
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS, v1.26

#1673 update version from 1.25.1 to 1.25.2
  projects/kubernetes/cloud-provider-aws/1-25/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-25/GIT_TAG
Labels: approved, lgtm, size/XS, project, v1.25

#1656 Added make minor-release-foundation
  Makefile
  cmd/release/minor/main.go
  cmd/release/minor/projects/projects.go
  cmd/release/utils/values/filepaths.go
  cmd/release/utils/values/local.go
  cmd/release/utils/values/projects.go
  cmd/release/utils/values/releasebranch.go
Labels: approved, lgtm, size/L

#1677 Bumped development release number for 1.21
  release/1-21/development/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1678 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1679 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1680 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1681 Bumped development release number for 1.22
  release/1-22/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1687 Bumped production release number for 1.21
  release/1-21/production/RELEASE
Labels: approved, lgtm, v1.21, release, size/XS

#1683 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25

#1684 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24

#1685 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23

#1686 Bumped production release number for 1.22
  release/1-22/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.22

#1691 Added 1.26 to labeler
  .github/labeler.yml
Labels: approved, lgtm, size/XS, v1.26

#1689 Updated CSI External Snapshotter to v6.2.1 for 1.26
  projects/kubernetes-csi/external-snapshotter/1-26/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-26/GIT_TAG
Labels: approved, lgtm, size/S, project, v1.26

#1690 Updated cloud-provider-aws for 1.26 to v1.26.0
  projects/kubernetes/cloud-provider-aws/1-26/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-26/GIT_TAG
Labels: approved, lgtm, size/XS, project, v1.26

#1696 Add release docs to be labeled as release
  .github/labeler.yml
Labels: approved, lgtm, size/XS

#1692 Created and updated docs for 1.21
  README.md
  docs/contents/index.md
  docs/contents/releases/1-21/25/CHANGELOG-v1-21-eks-25.md
  docs/contents/releases/1-21/25/index.md
  docs/contents/releases/1-21/25/release-announcement.txt
Labels: documentation, approved, lgtm, v1.21, release, size/M

#1693 Created and updated docs for 1.22
  README.md
  docs/contents/index.md
  docs/contents/releases/1-22/18/CHANGELOG-v1-22-eks-18.md
  docs/contents/releases/1-22/18/index.md
  docs/contents/releases/1-22/18/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.22

#1694 Created and updated docs for 1.23
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/13/CHANGELOG-v1-23-eks-13.md
  docs/contents/releases/1-23/13/index.md
  docs/contents/releases/1-23/13/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#1699 test rerelease
  docs/contents/releases/1-24/8/CHANGELOG-v1-24-eks-8.md
Labels: documentation, approved, lgtm, release, size/XS, v1.24

#1688 Updated CSI External Snapshotter to v6.2.1
  projects/kubernetes-csi/external-snapshotter/1-21/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-21/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-22/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-22/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-23/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-23/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-24/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-24/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-25/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-25/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/README.md
Labels: approved, lgtm, v1.21, size/M, v1.22, v1.23, v1.24, project, v1.25

#1700 Retrigger 1-24 announcement postsubmit
  docs/contents/releases/1-24/8/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/XS, v1.24

#1697 Update go.mod and go.sum manually
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/go.mod
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/go.sum
Labels: approved, lgtm, size/XL, v1.26

#1704 Add 1-26 Patches
  projects/kubernetes/kubernetes/1-26/ATTRIBUTION.txt
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-AWS-Include-IPv6-addresses-in-NodeAddresse.patch
  projects/kubernetes/kubernetes/1-26/patches/0002-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
Labels: approved, lgtm, size/XXL, patch, v1.26

#1702 Bumped development release number for 1.26-1
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26

#1701 Added patches for 1.26
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-26/patches/0002-EKS-PATCH-AWS-Include-IPv6-addresses-in-NodeAddresse.patch
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Bypassed-admission-controller-webhook-for-.patch
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
Labels: approved, lgtm, size/XXL, patch, v1.26
