Repository aws/eks-distro, pull requests merged in 2023-06, with the labels that each got.

#2086 Deprecate 1.22 from SUPPORTED_RELEASE_BRANCHES
  .github/labeler.yml
  release/SUPPORTED_RELEASE_BRANCHES
Labels: approved, lgtm, release, size/XS

#2085 Remove 1.22 from docs
  README.md
  docs/contents/index.md
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/README.md
Labels: documentation, approved, lgtm, size/M

#2092 Super minor change to one patch
  projects/kubernetes/kubernetes/1-23/patches/0019-EKS-PATCH-add-Authentication-tracking-request-error-.patch
Labels: approved, size/XS, v1.23, patch

#2094 Updated to kubernetes 1.26.5
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
  projects/kubernetes/kubernetes/1-26/patches/0004-EKS-PATCH-Add-ConcurrentNodeSyncs-option-to-node-con.patch
  projects/kubernetes/kubernetes/1-26/patches/0006-EKS-PATCH-add-Authentication-tracking-request-error-.patch
Labels: approved, size/L, patch, project, v1.26

#2095 Updated to Kubernetes 1.27.2
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-27/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-27/patches/0002-EKS-PATCH-add-Authentication-tracking-request-error-.patch
Labels: approved, size/M, patch, project, v1.27

#2107 Updated CNI plugin to v1.3.0
  projects/containernetworking/plugins/1-23/CHECKSUMS
  projects/containernetworking/plugins/1-23/GIT_TAG
  projects/containernetworking/plugins/1-23/GOLANG_VERSION
  projects/containernetworking/plugins/1-23/patches/0001-Bump-golang-x-net-to-0.7.0.patch
  projects/containernetworking/plugins/1-24/CHECKSUMS
  projects/containernetworking/plugins/1-24/GIT_TAG
  projects/containernetworking/plugins/1-24/GOLANG_VERSION
  projects/containernetworking/plugins/1-24/patches/0001-Bump-golang-x-net-to-0.7.0.patch
  projects/containernetworking/plugins/1-25/CHECKSUMS
  projects/containernetworking/plugins/1-25/GIT_TAG
  projects/containernetworking/plugins/1-25/GOLANG_VERSION
  projects/containernetworking/plugins/1-25/patches/0001-Bump-golang-x-net-to-0.7.0.patch
  projects/containernetworking/plugins/1-26/CHECKSUMS
  projects/containernetworking/plugins/1-26/GIT_TAG
  projects/containernetworking/plugins/1-26/GOLANG_VERSION
  projects/containernetworking/plugins/1-26/patches/0001-Bump-golang-x-net-to-0.7.0.patch
  projects/containernetworking/plugins/1-27/CHECKSUMS
  projects/containernetworking/plugins/1-27/GIT_TAG
  projects/containernetworking/plugins/1-27/GOLANG_VERSION
  projects/containernetworking/plugins/1-27/patches/0001-Bump-golang-x-net-to-0.7.0.patch
  projects/containernetworking/plugins/README.md
Labels: approved, lgtm, size/XXL, v1.23, v1.24, patch, project, v1.25, v1.26, v1.27

#2097 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, DEV-release

#2099 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2101 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2103 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2105 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2098 Bumped production release number for 1.23-24
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, PROD-release

#2100 Bumped production release number for 1.24-19
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2102 Bumped production release number for 1.25-15
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2104 Bumped production release number for 1.26-11
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2106 Bumped production release number for 1.27-5
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2112 Created and updated docs for 1.24-19
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/19/CHANGELOG-v1-24-eks-19.md
  docs/contents/releases/1-24/19/index.md
  docs/contents/releases/1-24/19/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2115 Created and updated docs for 1.27-5
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/5/CHANGELOG-v1-27-eks-5.md
  docs/contents/releases/1-27/5/index.md
  docs/contents/releases/1-27/5/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2113 Created and updated docs for 1.25-15
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/15/CHANGELOG-v1-25-eks-15.md
  docs/contents/releases/1-25/15/index.md
  docs/contents/releases/1-25/15/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2114 Created and updated docs for 1.26-11
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/11/CHANGELOG-v1-26-eks-11.md
  docs/contents/releases/1-26/11/index.md
  docs/contents/releases/1-26/11/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2111 Created and updated docs for 1.23-24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/24/CHANGELOG-v1-23-eks-24.md
  docs/contents/releases/1-23/24/index.md
  docs/contents/releases/1-23/24/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.23

#2124 Deprecate Go 1.15 and 1.16
  build/lib/common.sh
  build/lib/install_go_versions.sh
Labels: approved, lgtm, size/M

#2128 Updated to Kubernetes 1.26.6
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
  projects/kubernetes/kubernetes/1-26/patches/0004-EKS-PATCH-Add-ConcurrentNodeSyncs-option-to-node-con.patch
Labels: approved, lgtm, size/L, patch, project, v1.26

#2129 Updated to Kubernetes 1.27.3
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.27

#2135 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, DEV-release

#2137 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2139 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2141 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2143 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2136 Bumped production release number for 1.23
  release/1-23/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.23, PROD-release

#2138 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2140 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2142 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2144 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2148 Created and updated docs for 1.23-25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-23/25/CHANGELOG-v1-23-eks-25.md
  docs/contents/releases/1-23/25/index.md
  docs/contents/releases/1-23/25/release-announcement.txt
Labels: documentation, approved, release, size/M, v1.23

#2149 Created and updated docs for 1.24-20
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/20/CHANGELOG-v1-24-eks-20.md
  docs/contents/releases/1-24/20/index.md
  docs/contents/releases/1-24/20/release-announcement.txt
Labels: documentation, approved, release, size/M, v1.24

#2150 Created and updated docs for 1.25-16
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/16/CHANGELOG-v1-25-eks-16.md
  docs/contents/releases/1-25/16/index.md
  docs/contents/releases/1-25/16/release-announcement.txt
Labels: documentation, approved, release, size/M, v1.25

#2151 Created and updated docs for 1.26-12
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/12/CHANGELOG-v1-26-eks-12.md
  docs/contents/releases/1-26/12/index.md
  docs/contents/releases/1-26/12/release-announcement.txt
Labels: documentation, approved, release, size/M, v1.26

#2152 Created and updated docs for 1.27-6
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/6/CHANGELOG-v1-27-eks-6.md
  docs/contents/releases/1-27/6/index.md
  docs/contents/releases/1-27/6/release-announcement.txt
Labels: documentation, do-not-merge/hold, release, size/M, v1.27

#2153 bump k/release to Go 1.19
  projects/kubernetes/release/1-23/CHECKSUMS
  projects/kubernetes/release/1-23/GOLANG_VERSION
Labels: approved, lgtm, size/XS, v1.23

#2154 bump coredns 123 golang version to 1.18
  projects/coredns/coredns/1-23/CHECKSUMS
  projects/coredns/coredns/1-23/GOLANG_VERSION
Labels: approved, lgtm, size/XS, v1.23

#2155 Bump Golang version for Cloud-Provider to 1.19
  projects/kubernetes/cloud-provider-aws/1-23/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-23/GOLANG_VERSION
Labels: approved, lgtm, size/S, v1.23

#2156 Update readme for Bumping Golang 1.17 to Go 1.19
  projects/coredns/coredns/README.md
  projects/kubernetes/cloud-provider-aws/README.md
  projects/kubernetes/release/README.md
Labels: approved, lgtm, size/S

#2159 Bump projects using EKS Go 1.18 to 1.19
  projects/coredns/coredns/1-23/CHECKSUMS
  projects/coredns/coredns/1-23/GOLANG_VERSION
  projects/coredns/coredns/1-24/CHECKSUMS
  projects/coredns/coredns/1-24/GOLANG_VERSION
  projects/coredns/coredns/1-25/CHECKSUMS
  projects/coredns/coredns/1-25/GOLANG_VERSION
  projects/coredns/coredns/1-26/CHECKSUMS
  projects/coredns/coredns/1-26/GOLANG_VERSION
  projects/kubernetes/release/1-24/CHECKSUMS
  projects/kubernetes/release/1-24/GOLANG_VERSION
  projects/kubernetes/release/1-25/CHECKSUMS
  projects/kubernetes/release/1-25/GOLANG_VERSION
  projects/kubernetes/release/1-26/CHECKSUMS
  projects/kubernetes/release/1-26/GOLANG_VERSION
Labels: approved, lgtm, size/M, v1.23, v1.24, v1.25, v1.26

#2163 Revert CoreDNS Golang Versions bump for 1.23-1.26
  projects/coredns/coredns/1-23/CHECKSUMS
  projects/coredns/coredns/1-23/GOLANG_VERSION
  projects/coredns/coredns/1-24/CHECKSUMS
  projects/coredns/coredns/1-24/GOLANG_VERSION
  projects/coredns/coredns/1-25/CHECKSUMS
  projects/coredns/coredns/1-25/GOLANG_VERSION
  projects/coredns/coredns/1-26/CHECKSUMS
  projects/coredns/coredns/1-26/GOLANG_VERSION
Labels: approved, lgtm, size/S, v1.23, v1.24, v1.25, v1.26
