Repository aws/eks-distro, pull requests merged in 2024-04, with the labels that each got.

#2882 Add torredil to OWNERS
  OWNERS
Labels: approved, lgtm, ok-to-test, size/XS

#2885 Add patches to resolve CVE-2024-24786 in external-attacher
  projects/kubernetes-csi/external-attacher/1-23/patches/0001-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-.patch
  projects/kubernetes-csi/external-attacher/1-24/patches/0002-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-.patch
Labels: approved, lgtm, size/XXL, patch

#2881 Add patches to resolve CVE-2024-24786 in external-resizer for 1-23/1-24
  projects/kubernetes-csi/external-resizer/1-23/patches/0001-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-csi/external-resizer/1-24/patches/0002-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-24786.patch
Labels: approved, lgtm, ok-to-test, size/XXL, patch

#2886 Add patches to resolve CVE-2024-24786 in external-snapshotter
  projects/kubernetes-csi/external-snapshotter/1-23/patches/0001-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-.patch
  projects/kubernetes-csi/external-snapshotter/1-24/patches/0001-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-.patch
Labels: approved, lgtm, patch

#2887 Add patches to resolve CVE-2024-24786 in node-driver-registrar
  projects/kubernetes-csi/node-driver-registrar/1-23/patches/0001-Add-patches-to-resolve-CVE-2024-24786-in-node-driver.patch
  projects/kubernetes-csi/node-driver-registrar/1-24/patches/0001-Add-patches-to-resolve-CVE-2024-24786-in-node-driver.patch
Labels: approved, lgtm, size/XXL, patch

#2889 Revert CVE-2024-24786 patches for kubernetes-csi 1.23/1.24
  projects/kubernetes-csi/external-attacher/1-23/patches/0001-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-.patch
  projects/kubernetes-csi/external-attacher/1-24/patches/0002-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-.patch
  projects/kubernetes-csi/external-provisioner/1-23/patches/0001-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-csi/external-provisioner/1-24/patches/0001-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-csi/external-resizer/1-23/patches/0001-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-csi/external-resizer/1-24/patches/0002-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-csi/external-snapshotter/1-23/patches/0001-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-.patch
  projects/kubernetes-csi/external-snapshotter/1-24/patches/0001-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-.patch
  projects/kubernetes-csi/livenessprobe/1-23/patches/0001-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-csi/livenessprobe/1-24/patches/0001-Bump-google.golang.org-protobuf-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-csi/node-driver-registrar/1-23/patches/0001-Add-patches-to-resolve-CVE-2024-24786-in-node-driver.patch
  projects/kubernetes-csi/node-driver-registrar/1-24/patches/0001-Add-patches-to-resolve-CVE-2024-24786-in-node-driver.patch
Labels: approved, lgtm, size/XXL, patch

#2888 Bump metrics-server from v0.7.0 to v0.7.1 for 1.25 to 1.29
  projects/kubernetes-sigs/metrics-server/1-25/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-25/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-25/patches/0001-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-sigs/metrics-server/1-26/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-26/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-26/patches/0001-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-sigs/metrics-server/1-27/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-27/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-27/patches/0001-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-sigs/metrics-server/1-28/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-28/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-28/patches/0001-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-sigs/metrics-server/1-29/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-29/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-29/patches/0001-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-sigs/metrics-server/README.md
Labels: approved, lgtm, size/L, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2903 Bump development release for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, DEV-release, v1.30

#2905 Bump kops
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#2909 Bump kops all versions
  development/kops/create_cluster.sh
  development/kops/set_environment.sh
Labels: approved, lgtm, size/M

#2910 Set KOPS_RUN_TOO_NEW_VERSION in env.sh
  development/kops/create_configuration.sh
Labels: approved, lgtm, size/M

#2912 Revert kops changes to unblock release
  development/kops/create_cluster.sh
  development/kops/create_configuration.sh
  development/kops/set_environment.sh
Labels: approved, lgtm, size/M

#2913 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2915 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2917 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2919 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2921 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#2923 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#2914 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2916 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2918 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2920 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2922 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#2927 correct code for setting KOPS_RUN_TOO_NEW_VERSION
  development/kops/create_configuration.sh
Labels: approved, lgtm, size/XS

#2931 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/20/CHANGELOG-v1-28-eks-20.md
  docs/contents/releases/1-28/20/index.md
  docs/contents/releases/1-28/20/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2928 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/37/CHANGELOG-v1-25-eks-37.md
  docs/contents/releases/1-25/37/index.md
  docs/contents/releases/1-25/37/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2929 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/33/CHANGELOG-v1-26-eks-33.md
  docs/contents/releases/1-26/33/index.md
  docs/contents/releases/1-26/33/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2930 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/27/CHANGELOG-v1-27-eks-27.md
  docs/contents/releases/1-27/27/index.md
  docs/contents/releases/1-27/27/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2932 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/9/CHANGELOG-v1-29-eks-9.md
  docs/contents/releases/1-29/9/index.md
  docs/contents/releases/1-29/9/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#2933 Add KOPS_RUN_TOO_NEW_VERION to set_env
  development/kops/set_environment.sh
Labels: approved, lgtm, size/XS

#2934 Bump etcd to v3.5.12
  projects/etcd-io/etcd/1-25/CHECKSUMS
  projects/etcd-io/etcd/1-25/GIT_TAG
  projects/etcd-io/etcd/1-26/CHECKSUMS
  projects/etcd-io/etcd/1-26/GIT_TAG
  projects/etcd-io/etcd/1-27/CHECKSUMS
  projects/etcd-io/etcd/1-27/GIT_TAG
  projects/etcd-io/etcd/1-28/CHECKSUMS
  projects/etcd-io/etcd/1-28/GIT_TAG
  projects/etcd-io/etcd/1-29/CHECKSUMS
  projects/etcd-io/etcd/1-29/GIT_TAG
  projects/etcd-io/etcd/1-30/CHECKSUMS
  projects/etcd-io/etcd/1-30/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.25, v1.26, v1.27, v1.28, v1.29, v1.30

#2924 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#2939 Kubernetes project updates 1-30
  projects/kubernetes/kubernetes/1-30/CHECKSUMS
  projects/kubernetes/kubernetes/1-30/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.30

#2942 metrics-server project updates 1-30
  projects/kubernetes-sigs/metrics-server/1-30/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-30/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-30/patches/0001-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
Labels: approved, lgtm, size/M, patch, project, v1.30

#2943 external-resizer project updates 1-30
  projects/kubernetes-csi/external-resizer/1-30/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-30/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-30/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.30

#2944 external-attacher project updates 1-30
  projects/kubernetes-csi/external-attacher/1-30/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-30/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-30/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.30

#2940 CCM project updates 1-30
  projects/kubernetes/cloud-provider-aws/1-30/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-30/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-30/GOLANG_VERSION
Labels: approved, lgtm, size/S, project, v1.30

#2941 authenticator project updates 1-30
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/GIT_TAG
Labels: approved, lgtm, size/S, project, v1.30

#2946 node-driver-registrar project updates 1-30
  projects/kubernetes-csi/node-driver-registrar/1-30/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-30/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-30/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Node-Dri.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.30

#2947 external-provisioner project updates 1-30
  projects/kubernetes-csi/external-provisioner/1-30/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-30/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-30/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.30

#2950 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#2960 external-provisioner project updates 1.25-1.29
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-25/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-26/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-27/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-28/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-29/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2953 authenticator project updates 1.25-1.29
  projects/kubernetes-csi/external-snapshotter/last_commit.diff
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GIT_TAG
Labels: approved, lgtm, size/XXL, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2954 ccm project updates 1.25-1.29
  projects/kubernetes/cloud-provider-aws/1-25/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-25/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-26/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-26/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-27/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-27/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-28/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-28/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-29/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-29/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2955 kubernetes project updates 1.25-1.29
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/patches/0017-EKS-PATCH-Update-log-verbosity-for-node-health-and-t.patch
  projects/kubernetes/kubernetes/1-25/patches/0018-EKS-PATCH-CVE-2024-24786-Bump-github.com-golang-prot.patch
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/patches/0010-EKS-PATCH-Update-log-verbosity-for-node-health-and-t.patch
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-27/patches/0009-EKS-PATCH-fix-UT-failure-TestPrintIPAddressList.patch
  projects/kubernetes/kubernetes/1-27/patches/0010-EKS-PATCH-Update-log-verbosity-for-node-health-and-t.patch
  projects/kubernetes/kubernetes/1-27/patches/0011-EKS-PATCH-Serve-watch-without-resourceVersion-from-c.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-28/patches/0004-EKS-PATCH-fix-UT-failure-TestPrintIPAddressList.patch
  projects/kubernetes/kubernetes/1-28/patches/0005-EKS-PATCH-Fix-bootstrap-openapi-bug.patch
  projects/kubernetes/kubernetes/1-28/patches/0006-EKS-PATCH-Update-log-verbosity-for-node-health-and-t.patch
  projects/kubernetes/kubernetes/1-28/patches/0007-EKS-PATCH-Serve-watch-without-resourceVersion-from-c.patch
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/GIT_TAG
  projects/kubernetes/kubernetes/1-29/patches/0004-EKS-PATCH-fix-UT-failure-TestPrintIPAddressList.patch
  projects/kubernetes/kubernetes/1-29/patches/0005-EKS-PATCH-Update-log-verbosity-for-node-health-and-t.patch
  projects/kubernetes/kubernetes/1-29/patches/0006-EKS-PATCH-Fix-bootstrap-openapi-bug.patch
  projects/kubernetes/kubernetes/1-29/patches/0007-EKS-PATCH-Serve-watch-without-resourceVersion-from-c.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2957 external-attacher project updates 1.25-1.29
  projects/kubernetes-csi/external-attacher/1-25/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-25/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-25/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-attacher/1-26/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-26/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-26/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-attacher/1-27/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-27/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-27/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-28/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-29/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2958 external-snapshotter project updates 1.25-1.29
  projects/kubernetes-csi/external-snapshotter/1-25/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-25/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-25/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-snapshotter/1-26/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-26/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-26/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-snapshotter/1-27/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-27/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-27/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-28/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-snapshotter/1-29/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-29/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-29/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2959 node-driver-registrar project updates 1.25-1.29
  projects/kubernetes-csi/node-driver-registrar/1-25/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-25/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-25/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Node-Dri.patch
  projects/kubernetes-csi/node-driver-registrar/1-26/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-26/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-26/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Node-Dri.patch
  projects/kubernetes-csi/node-driver-registrar/1-27/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-27/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-27/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Node-Dri.patch
  projects/kubernetes-csi/node-driver-registrar/1-28/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-28/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-28/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Node-Dri.patch
  projects/kubernetes-csi/node-driver-registrar/1-29/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-29/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-29/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Node-Dri.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2956 external-resizer project updates 1.25-1.29
  projects/kubernetes-csi/external-resizer/1-25/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-25/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-25/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-resizer/1-26/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-26/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-26/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-resizer/1-27/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-27/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-27/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-28/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-resizer/1-29/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-29/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-29/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2952 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#2964 Bump etcd to v3.5.13
  projects/etcd-io/etcd/1-25/CHECKSUMS
  projects/etcd-io/etcd/1-25/GIT_TAG
  projects/etcd-io/etcd/1-26/CHECKSUMS
  projects/etcd-io/etcd/1-26/GIT_TAG
  projects/etcd-io/etcd/1-27/CHECKSUMS
  projects/etcd-io/etcd/1-27/GIT_TAG
  projects/etcd-io/etcd/1-28/CHECKSUMS
  projects/etcd-io/etcd/1-28/GIT_TAG
  projects/etcd-io/etcd/1-29/CHECKSUMS
  projects/etcd-io/etcd/1-29/GIT_TAG
  projects/etcd-io/etcd/1-30/CHECKSUMS
  projects/etcd-io/etcd/1-30/GIT_TAG
  projects/etcd-io/etcd/README.md
Labels: approved, lgtm, size/M, project, v1.25, v1.26, v1.27, v1.28, v1.29, v1.30

#2978 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#2967 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2971 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2969 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2974 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2968 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2972 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2973 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2976 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#2977 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#2988 Fix external-provisioner CVE-2024-3177 by bumping k8s.io/kubernetes to v1.29.4
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/patches/0001-Fix-external-provisioner-CVE-2024-3177-by-bumping-k8.patch
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/patches/0001-Fix-external-provisioner-CVE-2024-3177-by-bumping-k8.patch
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/patches/0001-Fix-external-provisioner-CVE-2024-3177-by-bumping-k8.patch
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/patches/0001-Fix-external-provisioner-CVE-2024-3177-by-bumping-k8.patch
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/patches/0001-Fix-external-provisioner-CVE-2024-3177-by-bumping-k8.patch
  projects/kubernetes-csi/external-provisioner/1-30/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-30/patches/0001-Fix-external-provisioner-CVE-2024-3177-by-bumping-k8.patch
Labels: approved, lgtm, size/XXL, patch, v1.25, v1.26, v1.27, v1.28, v1.29, v1.30

#2987 Patch external-resizer CVE-2023-45288 by bumping /x/net to 0.23.0
  projects/kubernetes-csi/external-resizer/1-25/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-25/patches/0002-Fix-CVE-2023-45288-by-bumping-x-net-to-0.23.0.patch
  projects/kubernetes-csi/external-resizer/1-26/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-26/patches/0002-Fix-CVE-2023-45288-by-bumping-x-net-to-0.23.0.patch
  projects/kubernetes-csi/external-resizer/1-27/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-27/patches/0002-Fix-CVE-2023-45288-by-bumping-x-net-to-0.23.0.patch
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/patches/0002-Fix-CVE-2023-45288-by-bumping-x-net-to-0.23.0.patch
  projects/kubernetes-csi/external-resizer/1-29/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-29/patches/0002-Fix-CVE-2023-45288-by-bumping-x-net-to-0.23.0.patch
  projects/kubernetes-csi/external-resizer/1-30/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-30/patches/0002-Fix-CVE-2023-45288-by-bumping-x-net-to-0.23.0.patch
Labels: approved, lgtm, size/XXL, patch, v1.25, v1.26, v1.27, v1.28, v1.29, v1.30

#2982 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/38/CHANGELOG-v1-25-eks-38.md
  docs/contents/releases/1-25/38/index.md
  docs/contents/releases/1-25/38/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2983 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/34/CHANGELOG-v1-26-eks-34.md
  docs/contents/releases/1-26/34/index.md
  docs/contents/releases/1-26/34/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26
