Repository aws/eks-distro, pull requests merged in 2024-06, with the labels that each got.

#3088 Kubernetes CSI Bumps
  projects/kubernetes-csi/external-attacher/1-26/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-26/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-26/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-26/patches/0001-Bump-otelgrpc-to-resolve-CVE-2023-47108.patch
  projects/kubernetes-csi/external-attacher/1-27/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-27/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-27/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-27/patches/0001-Bump-otelgrpc-to-resolve-CVE-2023-47108.patch
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-28/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-28/patches/0001-Bump-otelgrpc-to-resolve-CVE-2023-47108.patch
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-29/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-29/patches/0001-Bump-otelgrpc-to-resolve-CVE-2023-47108.patch
  projects/kubernetes-csi/external-attacher/1-30/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-30/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-30/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-30/patches/0001-Bump-otelgrpc-to-resolve-CVE-2023-47108.patch
  projects/kubernetes-csi/external-resizer/1-26/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-26/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-26/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-26/patches/0001-Bump-otelgrpc-otelhttp-to-0.46.1-to-resolve-CVE-2023.patch
  projects/kubernetes-csi/external-resizer/1-26/patches/0002-Fix-CVE-2023-45288-by-bumping-x-net-to-0.23.0.patch
  projects/kubernetes-csi/external-resizer/1-27/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-27/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-27/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-27/patches/0001-Bump-otelgrpc-otelhttp-to-0.46.1-to-resolve-CVE-2023.patch
  projects/kubernetes-csi/external-resizer/1-27/patches/0002-Fix-CVE-2023-45288-by-bumping-x-net-to-0.23.0.patch
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-28/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-28/patches/0001-Bump-otelgrpc-otelhttp-to-0.46.1-to-resolve-CVE-2023.patch
  projects/kubernetes-csi/external-resizer/1-28/patches/0002-Fix-CVE-2023-45288-by-bumping-x-net-to-0.23.0.patch
  projects/kubernetes-csi/external-resizer/1-29/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-29/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-29/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-29/patches/0001-Bump-otelgrpc-otelhttp-to-0.46.1-to-resolve-CVE-2023.patch
  projects/kubernetes-csi/external-resizer/1-29/patches/0002-Fix-CVE-2023-45288-by-bumping-x-net-to-0.23.0.patch
  projects/kubernetes-csi/external-resizer/1-30/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-30/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-30/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-30/patches/0001-Bump-otelgrpc-otelhttp-to-0.46.1-to-resolve-CVE-2023.patch
  projects/kubernetes-csi/external-resizer/1-30/patches/0002-Fix-CVE-2023-45288-by-bumping-x-net-to-0.23.0.patch
  projects/kubernetes-csi/external-snapshotter/1-26/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-26/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-26/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-27/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-27/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-27/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-28/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-29/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-29/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-29/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-30/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-30/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-30/GOLANG_VERSION
Labels: approved, lgtm, ok-to-test, size/XXL, patch, project, v1.26, v1.27, v1.28, v1.29, v1.30

#3101 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3099 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3103 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#3095 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#3097 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3104 Update OWNERS
  OWNERS
Labels: approved, lgtm, ok-to-test, size/XS

#3098 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3100 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3094 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#3096 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#3102 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3106 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/32/CHANGELOG-v1-27-eks-32.md
  docs/contents/releases/1-27/32/index.md
  docs/contents/releases/1-27/32/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#3107 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/25/CHANGELOG-v1-28-eks-25.md
  docs/contents/releases/1-28/25/index.md
  docs/contents/releases/1-28/25/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3108 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/14/CHANGELOG-v1-29-eks-14.md
  docs/contents/releases/1-29/14/index.md
  docs/contents/releases/1-29/14/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3109 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/7/CHANGELOG-v1-30-eks-7.md
  docs/contents/releases/1-30/7/index.md
  docs/contents/releases/1-30/7/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3105 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/38/CHANGELOG-v1-26-eks-38.md
  docs/contents/releases/1-26/38/index.md
  docs/contents/releases/1-26/38/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#3110 Add bash logging for create_pr.sh
  build/update-attribution-files/create_pr.sh
Labels: approved, lgtm, size/XS

#3093 fixes conf failures due to cilium upstream issue
  development/kops/cluster_wait.sh
Labels: approved, lgtm, size/XS

#3112 Bump CSI external-snapshotter v8.0.1
  projects/kubernetes-csi/external-snapshotter/1-25/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-25/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-25/GOLANG_VERSION
  projects/kubernetes-csi/external-snapshotter/1-26/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-26/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-27/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-27/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-29/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-29/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-30/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-30/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.25, v1.26, v1.27, v1.28, v1.29, v1.30

#3113 Bump CSI external-resizer v1.11.1
  projects/kubernetes-csi/external-resizer/1-25/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-25/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-25/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-25/patches/0001-Bump-otelgrpc-otelhttp-to-0.46.1-to-resolve-CVE-2023.patch
  projects/kubernetes-csi/external-resizer/1-25/patches/0002-Fix-CVE-2023-45288-by-bumping-x-net-to-0.23.0.patch
  projects/kubernetes-csi/external-resizer/1-26/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-26/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-27/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-27/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-29/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-29/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-30/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-30/GIT_TAG
Labels: approved, lgtm, size/XXL, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29, v1.30

#3111 CSI project bumps: attacher v4.6.1, provisioner to v5.0.1
  projects/kubernetes-csi/external-attacher/1-25/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-25/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-25/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-25/patches/0001-Bump-otelgrpc-to-resolve-CVE-2023-47108.patch
  projects/kubernetes-csi/external-attacher/1-26/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-26/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-27/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-27/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-30/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-30/GIT_TAG
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-25/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-25/patches/0001-Fix-external-provisioner-CVE-2024-3177-by-bumping-k8.patch
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-26/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-26/patches/0001-Fix-external-provisioner-CVE-2024-3177-by-bumping-k8.patch
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-27/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-27/patches/0001-Fix-external-provisioner-CVE-2024-3177-by-bumping-k8.patch
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-28/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-28/patches/0001-Fix-external-provisioner-CVE-2024-3177-by-bumping-k8.patch
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-29/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-29/patches/0001-Fix-external-provisioner-CVE-2024-3177-by-bumping-k8.patch
  projects/kubernetes-csi/external-provisioner/1-30/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-30/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-30/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-30/patches/0001-Fix-external-provisioner-CVE-2024-3177-by-bumping-k8.patch
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
Labels: approved, lgtm, size/XXL, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29, v1.30

#3117 Revert "fixes conf failures due to cilium upstream issue (#3093)"
  development/kops/cluster_wait.sh
Labels: approved, lgtm, size/XS

#3128 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3127 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#3129 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3130 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3131 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#3132 Update make commands for releases
  Makefile
Labels: approved, lgtm, size/XS

#3138 Bump production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#3137 Bump production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#3134 Bump production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3135 Bump production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3136 Bump production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3140 Created and Updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/15/CHANGELOG-v1-29-eks-15.md
  docs/contents/releases/1-29/15/index.md
  docs/contents/releases/1-29/15/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3139 Created and Updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/8/CHANGELOG-v1-30-eks-8.md
  docs/contents/releases/1-30/8/index.md
  docs/contents/releases/1-30/8/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3141 Created and Updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/26/CHANGELOG-v1-28-eks-26.md
  docs/contents/releases/1-28/26/index.md
  docs/contents/releases/1-28/26/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3142 Created and Updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/33/CHANGELOG-v1-27-eks-33.md
  docs/contents/releases/1-27/33/index.md
  docs/contents/releases/1-27/33/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#3143 Created and Updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/39/CHANGELOG-v1-26-eks-39.md
  docs/contents/releases/1-26/39/index.md
  docs/contents/releases/1-26/39/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26
