Repository aws/eks-distro, pull requests merged in 2024-12, with the labels that each got.

#3435 Update GIT_TAG authenticator
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.28, v1.29, v1.30, v1.31

#3443 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, do-not-merge/hold, release, size/XS, DEV-release, v1.28

#3442 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, do-not-merge/hold, release, size/XS, DEV-release, v1.29

#3441 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, do-not-merge/hold, release, size/XS, DEV-release, v1.30

#3440 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, do-not-merge/hold, release, size/XS, DEV-release, v1.31

#3446 Update checksums manually
  projects/containernetworking/plugins/1-32/CHECKSUMS
  projects/coredns/coredns/1-32/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-32/CHECKSUMS
Labels: approved, lgtm, size/M, v1.32

#3448 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3447 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3450 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3451 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3453 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/38/CHANGELOG-v1-28-eks-38.md
  docs/contents/releases/1-28/38/index.md
  docs/contents/releases/1-28/38/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3456 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/9/CHANGELOG-v1-31-eks-9.md
  docs/contents/releases/1-31/9/index.md
  docs/contents/releases/1-31/9/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3454 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/27/CHANGELOG-v1-29-eks-27.md
  docs/contents/releases/1-29/27/index.md
  docs/contents/releases/1-29/27/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3455 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/20/CHANGELOG-v1-30-eks-20.md
  docs/contents/releases/1-30/20/index.md
  docs/contents/releases/1-30/20/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3462 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#3464 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3465 Upgrade external-provisioner crypto v0.31.0 for CVE-2024-45337
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/patches/0002-Upgrade-crypto-to-v0.31.0-for-CVE-2024-45337.patch
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/patches/0002-Upgrade-crypto-to-v0.31.0-for-CVE-2024-45337.patch
  projects/kubernetes-csi/external-provisioner/1-30/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-30/patches/0002-Upgrade-crypto-to-v0.31.0-for-CVE-2024-45337.patch
  projects/kubernetes-csi/external-provisioner/1-31/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-31/patches/0002-Upgrade-crypto-to-v0.31.0-for-CVE-2024-45337.patch
  projects/kubernetes-csi/external-provisioner/1-32/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-32/patches/0002-Upgrade-crypto-to-v0.31.0-for-CVE-2024-45337.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32

#3473 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3470 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3466 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3478 external-provisioner: Address CVE-2024-45338
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/patches/0003-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-provisioner/1-30/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-30/patches/0003-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-provisioner/1-31/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-31/patches/0003-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-provisioner/1-32/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-32/patches/0003-Address-CVE-2024-45338.patch
Labels: approved, lgtm, size/XXL, patch, v1.29, v1.30, v1.31, v1.32

#3479 external-attacher: Address CVE-2024-45338
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-attacher/1-30/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-30/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-attacher/1-31/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-31/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-attacher/1-32/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-32/patches/0001-Address-CVE-2024-45338.patch
Labels: approved, lgtm, size/XXL, patch, v1.29, v1.30, v1.31, v1.32

#3481 livenessprobe: Address CVE-2024-45338
  projects/kubernetes-csi/livenessprobe/1-29/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-29/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/livenessprobe/1-30/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-30/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/livenessprobe/1-31/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-31/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/livenessprobe/1-32/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-32/patches/0001-Address-CVE-2024-45338.patch
Labels: approved, lgtm, size/XXL, patch, v1.29, v1.30, v1.31, v1.32

#3468 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3467 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3471 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3472 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3480 external resizer: Address CVE-2024-45338
  projects/kubernetes-csi/external-resizer/1-29/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-29/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-resizer/1-30/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-30/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-resizer/1-31/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-31/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-resizer/1-32/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-32/patches/0001-Address-CVE-2024-45338.patch
Labels: approved, lgtm, size/XXL, patch, v1.29, v1.30, v1.31, v1.32

#3482 node-driver-registrar Address CVE-2024-45338
  projects/kubernetes-csi/node-driver-registrar/1-29/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-29/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/node-driver-registrar/1-30/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-30/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/node-driver-registrar/1-31/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-31/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/node-driver-registrar/1-32/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-32/patches/0001-Address-CVE-2024-45338.patch
Labels: approved, lgtm, size/XXL, patch, v1.29, v1.30, v1.31, v1.32

#3483 external-snapshotter Address CVE-2024-45338
  projects/kubernetes-csi/external-snapshotter/1-29/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-29/patches/0001-external-snapshotter-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-snapshotter/1-30/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-30/patches/0001-external-snapshotter-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-snapshotter/1-31/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-31/patches/0001-external-snapshotter-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-snapshotter/1-32/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-32/patches/0001-external-snapshotter-Address-CVE-2024-45338.patch
Labels: approved, lgtm, size/XXL, patch, v1.29, v1.30, v1.31, v1.32

#3487 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#3488 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32
