Repository aws/eks-distro, pull requests merged in 2024-07, with the labels that each got.

#3147 add etcd patches for 1.27-1.30
  projects/etcd-io/etcd/1-27/server/patches/0001-EKS-PATCH-etcdserver-api-v3rpc-MemberList-never-retu.patch
  projects/etcd-io/etcd/1-27/server/patches/0002-EKS-PATCH-server-side-throttle-changes.patch
  projects/etcd-io/etcd/1-27/server/patches/0003-gRPC-health-server-sets-serving-status-to-NOT_SERVIN.patch
  projects/etcd-io/etcd/1-27/server/patches/0004-v3rpc-run-health-notifier-to-listen-on-online-defrag.patch
  projects/etcd-io/etcd/1-27/server/patches/0005-EKS-PATCH-Add-metric-to-monitor-etcd-server-NotServi.patch
  projects/etcd-io/etcd/1-28/server/patches/0001-EKS-PATCH-etcdserver-api-v3rpc-MemberList-never-retu.patch
  projects/etcd-io/etcd/1-28/server/patches/0002-EKS-PATCH-server-side-throttle-changes.patch
  projects/etcd-io/etcd/1-28/server/patches/0003-gRPC-health-server-sets-serving-status-to-NOT_SERVIN.patch
  projects/etcd-io/etcd/1-28/server/patches/0004-v3rpc-run-health-notifier-to-listen-on-online-defrag.patch
  projects/etcd-io/etcd/1-28/server/patches/0005-EKS-PATCH-Add-metric-to-monitor-etcd-server-NotServi.patch
  projects/etcd-io/etcd/1-29/server/patches/0001-EKS-PATCH-etcdserver-api-v3rpc-MemberList-never-retu.patch
  projects/etcd-io/etcd/1-29/server/patches/0002-EKS-PATCH-server-side-throttle-changes.patch
  projects/etcd-io/etcd/1-29/server/patches/0003-gRPC-health-server-sets-serving-status-to-NOT_SERVIN.patch
  projects/etcd-io/etcd/1-29/server/patches/0004-v3rpc-run-health-notifier-to-listen-on-online-defrag.patch
  projects/etcd-io/etcd/1-29/server/patches/0005-EKS-PATCH-Add-metric-to-monitor-etcd-server-NotServi.patch
  projects/etcd-io/etcd/1-30/server/patches/0001-EKS-PATCH-etcdserver-api-v3rpc-MemberList-never-retu.patch
  projects/etcd-io/etcd/1-30/server/patches/0002-EKS-PATCH-server-side-throttle-changes.patch
  projects/etcd-io/etcd/1-30/server/patches/0003-gRPC-health-server-sets-serving-status-to-NOT_SERVIN.patch
  projects/etcd-io/etcd/1-30/server/patches/0004-v3rpc-run-health-notifier-to-listen-on-online-defrag.patch
  projects/etcd-io/etcd/1-30/server/patches/0005-EKS-PATCH-Add-metric-to-monitor-etcd-server-NotServi.patch
Labels: approved, lgtm, size/XXL, patch, v1.27, v1.28, v1.29, v1.30

#3145 update README's and supporting files for deprecating 1.25 and 1.26
  .github/labeler.yml
  README.md
  docs/contents/index.md
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/README.md
  release/K8_SUPPORTED_RELEASE_BRANCHES
Labels: documentation, approved, lgtm, release, size/L

#3148 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#3149 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3150 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3151 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3152 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#3153 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3154 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3155 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3156 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/34/CHANGELOG-v1-27-eks-34.md
  docs/contents/releases/1-27/34/index.md
  docs/contents/releases/1-27/34/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#3157 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/27/CHANGELOG-v1-28-eks-27.md
  docs/contents/releases/1-28/27/index.md
  docs/contents/releases/1-28/27/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3158 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/16/CHANGELOG-v1-29-eks-16.md
  docs/contents/releases/1-29/16/index.md
  docs/contents/releases/1-29/16/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3159 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/9/CHANGELOG-v1-30-eks-9.md
  docs/contents/releases/1-30/9/index.md
  docs/contents/releases/1-30/9/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3119 Kubernetes Project Updates
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-27/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-27/patches/0005-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.27.3.patch
  projects/kubernetes/kubernetes/1-27/patches/0010-EKS-PATCH-Update-log-verbosity-for-node-health-and-t.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-28/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-28/patches/0003-EKS-PATCH-Fix-etcd-storage_events_received_total-met.patch
  projects/kubernetes/kubernetes/1-28/patches/0006-EKS-PATCH-Update-log-verbosity-for-node-health-and-t.patch
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/GIT_TAG
  projects/kubernetes/kubernetes/1-29/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-29/patches/0003-EKS-PATCH-Fix-etcd-storage_events_received_total-met.patch
  projects/kubernetes/kubernetes/1-29/patches/0005-EKS-PATCH-Update-log-verbosity-for-node-health-and-t.patch
  projects/kubernetes/kubernetes/1-30/CHECKSUMS
  projects/kubernetes/kubernetes/1-30/GIT_TAG
  projects/kubernetes/kubernetes/1-30/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
Labels: approved, lgtm, size/L, patch, project, v1.27, v1.28, v1.29, v1.30

#3165 Bump go version and trigger dev release for 1.23-1.25
  projects/kubernetes/kubernetes/1-23/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-24/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-25/GOLANG_VERSION
  release/1-23/development/RELEASE
  release/1-24/development/RELEASE
  release/1-25/development/RELEASE
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/S, project, DEV-release

#3167 modify cloud-provider-aws checksums
  projects/kubernetes/cloud-provider-aws/1-23/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-24/CHECKSUMS
Labels: approved, lgtm, size/S

#3164 update cloud-provider-aws tags
  projects/kubernetes/cloud-provider-aws/1-27/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-27/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-27/patches/0002-EKS-PATCH-Bumps-x-net-package-for-CVE-2023-45288.patch
  projects/kubernetes/cloud-provider-aws/1-28/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-28/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-28/patches/0002-EKS-PATCH-Bumps-x-net-package-for-CVE-2023-45288.patch
  projects/kubernetes/cloud-provider-aws/1-29/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-29/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-29/patches/0002-EKS-PATCH-Bumps-x-net-package-for-CVE-2023-45288.patch
Labels: approved, lgtm, size/L, patch, project, v1.27, v1.28, v1.29

#3170 Revert "modify cloud-provider-aws checksums (#3167)"
  projects/kubernetes/cloud-provider-aws/1-23/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-24/CHECKSUMS
Labels: approved, lgtm, size/S

#3173 Sanitize 1.23 patch subject
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/patches/0033-EKS-PATCH-Fix-multiple-CVEs-in-windows-Kubelet.patch
Labels: approved, lgtm, size/M, patch

#3176 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#3177 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3178 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3179 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3181 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#3182 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3183 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3184 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3185 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/35/CHANGELOG-v1-27-eks-35.md
  docs/contents/releases/1-27/35/index.md
  docs/contents/releases/1-27/35/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#3186 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/28/CHANGELOG-v1-28-eks-28.md
  docs/contents/releases/1-28/28/index.md
  docs/contents/releases/1-28/28/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3187 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/17/CHANGELOG-v1-29-eks-17.md
  docs/contents/releases/1-29/17/index.md
  docs/contents/releases/1-29/17/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3188 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/10/CHANGELOG-v1-30-eks-10.md
  docs/contents/releases/1-30/10/index.md
  docs/contents/releases/1-30/10/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3189 CSI External Provisioner CVE Fix: Address CVE-2024-5321
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/patches/0001-Address-CVE-2024-5321.patch
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/patches/0001-Address-CVE-2024-5321.patch
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/patches/0001-Address-CVE-2024-5321.patch
  projects/kubernetes-csi/external-provisioner/1-30/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-30/patches/0001-Address-CVE-2024-5321.patch
Labels: approved, lgtm, size/XXL, patch, v1.27, v1.28, v1.29, v1.30

#3190 CSI External Attacher CVE fix: Address GHSA-xr7q-jx4m-x55m
  projects/kubernetes-csi/external-attacher/1-27/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-27/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
  projects/kubernetes-csi/external-attacher/1-30/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-30/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
Labels: approved, lgtm, size/XXL, patch, v1.27, v1.28, v1.29, v1.30

#3191 CSI External Snapshotter CVE Fix: Address GHSA-xr7q-jx4m-x55m
  projects/kubernetes-csi/external-snapshotter/1-27/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-27/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
  projects/kubernetes-csi/external-snapshotter/1-29/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-29/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
  projects/kubernetes-csi/external-snapshotter/1-30/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-30/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
Labels: approved, lgtm, size/XXL, patch, v1.27, v1.28, v1.29, v1.30

#3193 add patches for CVE-2024-5321 for kubernetes 1.24-1.26
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/patches/0035-EKS-PATCH-Fix-CVE-2024-5321.patch
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/patches/0023-EKS-PATCH-Fix-CVE-2024-5321.patch
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/patches/0014-EKS-PATCH-Fix-CVE-2024-5321.patch
Labels: approved, size/XXL, patch

#3197 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#3198 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3199 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3200 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30
