Repository aws/eks-distro, pull requests merged in 2024-01, with the labels that each got.

#2664 Add AndrewSirenko to OWNERS
  OWNERS
Labels: approved, lgtm, ok-to-test, size/XS

#2667 Bump k8s versions
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
  projects/kubernetes/kubernetes/1-26/patches/0004-EKS-PATCH-Add-ConcurrentNodeSyncs-option-to-node-con.patch
  projects/kubernetes/kubernetes/1-26/patches/0008-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.26.6.patch
  projects/kubernetes/kubernetes/1-26/patches/0010-EKS-PATCH-Update-go-module-to-fix-kube-proxy.patch
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-27/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-27/patches/0005-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.27.3.patch
  projects/kubernetes/kubernetes/1-27/patches/0006-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.27.6.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-28/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-28/patches/0004-EKS-PATCH-Fix-Kube-proxy-s-CVE-for-v1.28.2.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.26, v1.27, v1.28

#2673 Bump Coredns 1.29 to 1.11.1 and regenerate patch
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/GIT_TAG
  projects/coredns/coredns/1-29/patches/0001-Bump-golang-x-net-dependency.patch
  projects/coredns/coredns/1-29/patches/0001-Bump-golang-x-net-to-0.17.0-to-fix-CVE-2023-44487,CVE-2023-39325.patch
  projects/coredns/coredns/1-29/patches/0002-Bump-gRPC-version-to-v1.58.3-to-resolve-GHSA-m425-mq.patch
  projects/coredns/coredns/1-29/patches/0002-Bump-golang-x-net-to-fix-CVE-2023-44487-CVE-2023-39325.patch
  projects/coredns/coredns/1-29/patches/0003-Bump-gRPC-version-to-v1.58.3-to-resolve-GHSA-m425-mq.patch
  projects/coredns/coredns/README.md
Labels: approved, lgtm, size/XXL, patch, project, v1.29

#2674 Bump cni 1.29 to 1.4.0 and regenerate patches
  projects/containernetworking/plugins/1-29/CHECKSUMS
  projects/containernetworking/plugins/1-29/GIT_TAG
  projects/containernetworking/plugins/1-29/GOLANG_VERSION
  projects/containernetworking/plugins/1-29/patches/0001-Bump-containerd-verison-to-v1.7.11-to-fix-GHSA-7ww5-.patch
  projects/containernetworking/plugins/1-29/patches/0001-Bump-x-net-to-patch-version-to-fix-CVE-2023-44487-and-CVE-2023-39325.patch
  projects/containernetworking/plugins/1-29/patches/0002-Bump-gPRC-version-to-v1.56.3.patch
  projects/containernetworking/plugins/README.md
Labels: approved, lgtm, size/XXL, patch, project, v1.29

#2670 Update CCM versions
  projects/kubernetes/cloud-provider-aws/1-24/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-24/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-25/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-25/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-26/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-26/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-27/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-27/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-28/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-28/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-29/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-29/GIT_TAG
  projects/kubernetes/cloud-provider-aws/README.md
Labels: approved, lgtm, size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2675 Revert "Bump k8s versions (#2667)"
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
  projects/kubernetes/kubernetes/1-26/patches/0004-EKS-PATCH-Add-ConcurrentNodeSyncs-option-to-node-con.patch
  projects/kubernetes/kubernetes/1-26/patches/0008-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.26.6.patch
  projects/kubernetes/kubernetes/1-26/patches/0010-EKS-PATCH-Update-go-module-to-fix-kube-proxy.patch
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-27/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-27/patches/0005-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.27.3.patch
  projects/kubernetes/kubernetes/1-27/patches/0006-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.27.6.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-28/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-28/patches/0004-EKS-PATCH-Fix-Kube-proxy-s-CVE-for-v1.28.2.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.26, v1.27, v1.28

#2676 Add new 1.23 patches
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/patches/0031-EKS-PATCH-Fix-CVE-2023-5528.patch
  projects/kubernetes/kubernetes/1-23/patches/0032-EKS-PATCH-bump-google.golang.org-grpc-to-v1.56.3..patch
  projects/kubernetes/kubernetes/1-23/patches/0033-EKS-PATCH-Fix-multiple-CVEs-in-windows-Kubelet.patch
  projects/kubernetes/kubernetes/1-23/patches/0034-EKS-PATCH-Support-tracking-executing-requests.patch
  projects/kubernetes/kubernetes/1-23/patches/0035-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.23.17.patch
Labels: approved, lgtm, size/XXL, patch

#2669 Add 1.24 patches
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/patches/0023-EKS-PATCH-Fix-CVE-2023-5528.patch
  projects/kubernetes/kubernetes/1-24/patches/0024-EKS-PATCH-bump-google.golang.org-grpc-to-v1.56.3.patch
  projects/kubernetes/kubernetes/1-24/patches/0025-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.24.15.patch
  projects/kubernetes/kubernetes/1-24/patches/0026-EKS-PATCH-Support-tracking-executing-requests.patch
  projects/kubernetes/kubernetes/1-24/patches/0027-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.24.17.patch
Labels: approved, lgtm, size/XXL, v1.24, patch

#2679 Add new 1.25 patches
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/patches/0011-EKS-PATCH-Fix-controllers-scheduling-and-logging-bug.patch
  projects/kubernetes/kubernetes/1-25/patches/0012-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.25.11.patch
  projects/kubernetes/kubernetes/1-25/patches/0013-EKS-PATCH-Support-tracking-executing-requests.patch
  projects/kubernetes/kubernetes/1-25/patches/0014-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.25.14.patch
  projects/kubernetes/kubernetes/1-25/patches/0015-EKS-PATCH-bump-google.golang.org-grpc-to-v1.56.3.patch
  projects/kubernetes/kubernetes/1-25/patches/0016-EKS-PATCH-kms-fix-go-routine-leak-in-gRPC-connection.patch
Labels: approved, lgtm, size/XXL, patch, v1.25

#2680 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2681 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2682 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2683 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2684 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2685 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#2686 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2688 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2689 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2690 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2691 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#2692 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/34/CHANGELOG-v1-24-eks-34.md
  docs/contents/releases/1-24/34/index.md
  docs/contents/releases/1-24/34/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2693 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/30/CHANGELOG-v1-25-eks-30.md
  docs/contents/releases/1-25/30/index.md
  docs/contents/releases/1-25/30/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2694 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/26/CHANGELOG-v1-26-eks-26.md
  docs/contents/releases/1-26/26/index.md
  docs/contents/releases/1-26/26/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2695 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/20/CHANGELOG-v1-27-eks-20.md
  docs/contents/releases/1-27/20/index.md
  docs/contents/releases/1-27/20/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2696 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/13/CHANGELOG-v1-28-eks-13.md
  docs/contents/releases/1-28/13/index.md
  docs/contents/releases/1-28/13/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2702 Fix attribution.sh to pass bash value to make
  build/update-attribution-files/make_attribution.sh
Labels: approved, lgtm, size/XS

#2703 Add Make_Root for K8_SUPPORTED_BRANCHES
  build/update-attribution-files/make_attribution.sh
Labels: approved, lgtm, size/XS

#2704 Update Go version in external-attacher, provisioner, livenessprobe, node-driver-registrar
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-25/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-25/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-26/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-26/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-27/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-27/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-24/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-24/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-25/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-25/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-26/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-26/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-27/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-27/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-28/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-28/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-29/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-29/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-24/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-24/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-25/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-25/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-26/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-26/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-27/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-27/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-28/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-28/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-29/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-29/GOLANG_VERSION
Labels: approved, lgtm, size/L, v1.24, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2708 Patch coreDNS to resolve CVE-2023-48795
  projects/coredns/coredns/1-24/CHECKSUMS
  projects/coredns/coredns/1-24/patches/0005-Bump-x-crypto-version-to-0.17.0-to-resolve-CVE-2023-48795.patch
  projects/coredns/coredns/1-25/CHECKSUMS
  projects/coredns/coredns/1-25/patches/0005-Bump-x-crypto-version-to-0.17.0-to-resolve-CVE-2023-48795.patch
  projects/coredns/coredns/1-26/CHECKSUMS
  projects/coredns/coredns/1-26/patches/0005-Bump-x-crypto-version-to-0.17.0-to-resolve-CVE-2023-48795.patch
  projects/coredns/coredns/1-27/CHECKSUMS
  projects/coredns/coredns/1-27/patches/0004-Bump-x-crypto-version-to-0.17.0-to-resolve-CVE-2023-48795.patch
  projects/coredns/coredns/1-28/CHECKSUMS
  projects/coredns/coredns/1-28/patches/0004-Bump-x-crypto-version-to-0.17.0-to-resolve-CVE-2023-48795.patch
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/patches/0003-Bump-x-crypto-version-to-0.17.0-to-resolve-CVE-2023-48795.patch
Labels: approved, lgtm, size/XL, v1.24, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2711 Bump crypto version to v0.17.0 for metrics-server
  projects/kubernetes-sigs/metrics-server/1-24/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-24/patches/0002-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-24/patches/0003-Bump-crypto-version-to-fix-CVE-2023-48795.patch
  projects/kubernetes-sigs/metrics-server/1-25/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-25/patches/0002-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-25/patches/0003-Bump-crypto-version-to-fix-CVE-2023-48795.patch
  projects/kubernetes-sigs/metrics-server/1-26/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-26/patches/0002-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-26/patches/0003-Bump-crypto-version-to-fix-CVE-2023-48795.patch
  projects/kubernetes-sigs/metrics-server/1-27/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-27/patches/0002-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-27/patches/0003-Bump-crypto-version-to-fix-CVE-2023-48795.patch
  projects/kubernetes-sigs/metrics-server/1-28/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-28/patches/0002-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-28/patches/0003-Bump-crypto-version-to-fix-CVE-2023-48795.patch
  projects/kubernetes-sigs/metrics-server/1-29/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-29/patches/0002-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-29/patches/0003-Bump-crypto-version-to-fix-CVE-2023-48795.patch
Labels: approved, lgtm, size/XL, v1.24, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2714 Patch CoreDns 1.29 to fix CVE-2023-49295
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/patches/0004-Bump-quic-go-to-0.40.1-to-resolve-CVE-2023-49295.patch
Labels: approved, lgtm, size/L, patch, v1.29

#2715 Bump development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2716 Bump development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2717 Bump development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2718 Bump development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, DEV-release

#2720 Bump development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2721 Bump development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#2725 Bump production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2726 Bump production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2727 Bump production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2728 Bump production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2730 Bump production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#2731 Create and Update docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/35/CHANGELOG-v1-24-eks-35.md
  docs/contents/releases/1-24/35/index.md
  docs/contents/releases/1-24/35/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2732 Create and Update docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/31/CHANGELOG-v1-25-eks-31.md
  docs/contents/releases/1-25/31/index.md
  docs/contents/releases/1-25/31/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2733 Create and Update docs 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/27/CHANGELOG-v1-26-eks-27.md
  docs/contents/releases/1-26/27/index.md
  docs/contents/releases/1-26/27/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2734 Create and Update docs 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/21/CHANGELOG-v1-27-eks-21.md
  docs/contents/releases/1-27/21/index.md
  docs/contents/releases/1-27/21/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2735 Create and Update docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/14/CHANGELOG-v1-28-eks-14.md
  docs/contents/releases/1-28/14/index.md
  docs/contents/releases/1-28/14/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2736 Create and Update docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/1/CHANGELOG-v1-29-eks-1.md
  docs/contents/releases/1-29/1/index.md
  docs/contents/releases/1-29/2/CHANGELOG-v1-29-eks-2.md
  docs/contents/releases/1-29/2/index.md
  docs/contents/releases/1-29/3/CHANGELOG-v1-29-eks-3.md
  docs/contents/releases/1-29/3/index.md
  docs/contents/releases/1-29/3/release-announcement.txt
  release/DEFAULT_RELEASE_BRANCH
Labels: documentation, approved, lgtm, release, size/L, v1.29

#2738 kubernetes project updates only
  projects/kubernetes/kubernetes/1-23/CHECKSUMS
  projects/kubernetes/kubernetes/1-23/patches/0036-EKS-PATCH-kubelet-expose-OOM-metrics.patch
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/patches/0010-EKS-PATCH-Update-go-module-to-fix-kube-proxy.patch
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-27/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-27/patches/0005-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.27.3.patch
  projects/kubernetes/kubernetes/1-27/patches/0006-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.27.6.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-28/patches/0004-EKS-PATCH-Fix-Kube-proxy-s-CVE-for-v1.28.2.patch
Labels: size/XL, patch, project, v1.26, v1.27, v1.28

#2742 CSI external-attacher project updates 1.24 to 1.29
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-24/GOLANG_VERSION
  projects/kubernetes-csi/external-attacher/1-25/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-25/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-26/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-26/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-27/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-27/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/GIT_TAG
Labels: size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2744 CSI external-resizer project updates 1-24 to 1-29
  projects/kubernetes-csi/external-resizer/1-24/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-24/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-24/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-25/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-25/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-25/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-26/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-26/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-26/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-27/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-27/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-27/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-28/GOLANG_VERSION
  projects/kubernetes-csi/external-resizer/1-29/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-29/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-29/GOLANG_VERSION
Labels: size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2747 CSI node-driver-registrar project updates 1.24 to 1.29
  projects/kubernetes-csi/node-driver-registrar/1-24/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-24/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-25/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-25/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-26/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-26/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-27/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-27/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-28/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-28/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-29/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-29/GIT_TAG
Labels: size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2739 project update aws-iam-authenticator 1-24 to 1-29
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-24/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
Labels: size/M, v1.24, project, v1.25, v1.26, v1.27, v1.28

#2740 metrics-server project updates 1.24 to 1.29
  projects/kubernetes-sigs/metrics-server/1-24/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-24/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-24/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-24/patches/0001-Bump-Markdown-to-patch-version-to-fix-CVE-2023-42821.patch
  projects/kubernetes-sigs/metrics-server/1-24/patches/0002-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-24/patches/0003-Bump-crypto-version-to-fix-CVE-2023-48795.patch
  projects/kubernetes-sigs/metrics-server/1-25/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-25/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-25/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-25/patches/0001-Bump-Markdown-to-patch-version-to-fix-CVE-2023-42821.patch
  projects/kubernetes-sigs/metrics-server/1-25/patches/0002-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-25/patches/0003-Bump-crypto-version-to-fix-CVE-2023-48795.patch
  projects/kubernetes-sigs/metrics-server/1-26/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-26/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-26/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-26/patches/0001-Bump-Markdown-to-patch-version-to-fix-CVE-2023-42821.patch
  projects/kubernetes-sigs/metrics-server/1-26/patches/0002-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-26/patches/0003-Bump-crypto-version-to-fix-CVE-2023-48795.patch
  projects/kubernetes-sigs/metrics-server/1-27/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-27/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-27/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-27/patches/0001-Bump-Markdown-to-patch-version-to-fix-CVE-2023-42821.patch
  projects/kubernetes-sigs/metrics-server/1-27/patches/0002-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-27/patches/0003-Bump-crypto-version-to-fix-CVE-2023-48795.patch
  projects/kubernetes-sigs/metrics-server/1-28/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-28/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-28/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-28/patches/0001-Bump-Markdown-to-patch-version-to-fix-CVE-2023-42821.patch
  projects/kubernetes-sigs/metrics-server/1-28/patches/0002-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-28/patches/0003-Bump-crypto-version-to-fix-CVE-2023-48795.patch
  projects/kubernetes-sigs/metrics-server/1-29/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-29/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-29/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-29/patches/0001-Bump-Markdown-to-patch-version-to-fix-CVE-2023-42821.patch
  projects/kubernetes-sigs/metrics-server/1-29/patches/0002-Bump-x-net-and-grpc-to-patch-version-to-fix-CVE-2023.patch
  projects/kubernetes-sigs/metrics-server/1-29/patches/0003-Bump-crypto-version-to-fix-CVE-2023-48795.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2743 CSI external-provisioner project updates 1-24 to 1-29
  projects/kubernetes-csi/external-provisioner/1-24/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-24/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-24/patches/0001-Bump-k8-version-to-1.28.2.patch
  projects/kubernetes-csi/external-provisioner/1-24/patches/0002-Bump-k8-to-1.28.4-and-otelgrpc-otelhttp-to-0.46.1.patch
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-25/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-25/patches/0001-Bump-k8-version-to-1.28.2.patch
  projects/kubernetes-csi/external-provisioner/1-25/patches/0002-Bump-k8-to-1.28.4-and-otelgrpc-otelhttp-to-0.46.1.patch
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-26/patches/0001-Bump-k8-version-to-1.28.2.patch
  projects/kubernetes-csi/external-provisioner/1-26/patches/0002-Bump-k8-to-1.28.4-and-otelgrpc-otelhttp-to-0.46.1.patch
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-27/patches/0001-Bump-k8-version-to-1.28.2.patch
  projects/kubernetes-csi/external-provisioner/1-27/patches/0002-Bump-k8-to-1.28.4-and-otelgrpc-otelhttp-to-0.46.1.patch
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-28/patches/0001-Bump-k8-version-to-1.28.2.patch
  projects/kubernetes-csi/external-provisioner/1-28/patches/0002-Bump-k8-to-1.28.4-and-otelgrpc-otelhttp-to-0.46.1.patch
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-29/patches/0001-Bump-k8-version-to-1.28.2.patch
  projects/kubernetes-csi/external-provisioner/1-29/patches/0002-Bump-k8-to-1.28.4-and-otelgrpc-otelhttp-to-0.46.1.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2746 CSI livenessprobe project update 1.24 to 1.29 only
  projects/kubernetes-csi/livenessprobe/1-24/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-24/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-24/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/livenessprobe/1-24/patches/0002-Bump-gPRC-version-to-v1.58.3.patch
  projects/kubernetes-csi/livenessprobe/1-25/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-25/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-25/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/livenessprobe/1-25/patches/0002-Bump-gPRC-version-to-v1.58.3.patch
  projects/kubernetes-csi/livenessprobe/1-26/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-26/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-26/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/livenessprobe/1-26/patches/0002-Bump-gPRC-version-to-v1.58.3.patch
  projects/kubernetes-csi/livenessprobe/1-27/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-27/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-27/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/livenessprobe/1-27/patches/0002-Bump-gPRC-version-to-v1.58.3.patch
  projects/kubernetes-csi/livenessprobe/1-28/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-28/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-28/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/livenessprobe/1-28/patches/0002-Bump-gPRC-version-to-v1.58.3.patch
  projects/kubernetes-csi/livenessprobe/1-29/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-29/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-29/patches/0001-Fix-CVE-2023-44487-and-CVE-2023-39325-bump-golang.or.patch
  projects/kubernetes-csi/livenessprobe/1-29/patches/0002-Bump-gPRC-version-to-v1.58.3.patch
Labels: approved, lgtm, size/XXL, v1.24, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29
