Repository aws/eks-distro, pull requests merged in 2024-10, with the labels that each got.

#3349 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.28

#3350 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.29

#3351 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.30

#3352 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.31

#3353 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3354 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3356 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3357 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/34/CHANGELOG-v1-28-eks-34.md
  docs/contents/releases/1-28/34/index.md
  docs/contents/releases/1-28/34/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3358 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/23/CHANGELOG-v1-29-eks-23.md
  docs/contents/releases/1-29/23/index.md
  docs/contents/releases/1-29/23/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3360 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/16/CHANGELOG-v1-30-eks-16.md
  docs/contents/releases/1-30/16/index.md
  docs/contents/releases/1-30/16/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3359 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/5/CHANGELOG-v1-31-eks-5.md
  docs/contents/releases/1-31/5/index.md
  docs/contents/releases/1-31/5/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3363 Update aws-iam-authenticator
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.28, v1.29, v1.30, v1.31

#3365 Goland version update from upstream v1.29.9/.go-version and v1.28.14/…
  projects/kubernetes/kubernetes/1-28/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-29/GOLANG_VERSION
Labels: approved, lgtm, size/XS, project, v1.28, v1.29

#3366 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3368 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3369 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3377 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3378 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3379 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3380 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3382 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/6/CHANGELOG-v1-31-eks-6.md
  docs/contents/releases/1-31/6/index.md
  docs/contents/releases/1-31/6/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3384 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/24/CHANGELOG-v1-29-eks-24.md
  docs/contents/releases/1-29/24/index.md
  docs/contents/releases/1-29/24/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3385 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/35/CHANGELOG-v1-28-eks-35.md
  docs/contents/releases/1-28/35/index.md
  docs/contents/releases/1-28/35/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28
