Repository aws/eks-distro, pull requests merged in 2024-11, with the labels that each got.

#3386 Updated the K8's project patches and git_tag
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-28/patches/0006-EKS-PATCH-Update-log-verbosity-for-node-health-and-t.patch
  projects/kubernetes/kubernetes/1-28/patches/0011-EKS-PATCH-bugfix-endpoints-controller-track-resource.patch
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/GIT_TAG
  projects/kubernetes/kubernetes/1-29/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-29/patches/0005-EKS-PATCH-Update-log-verbosity-for-node-health-and-t.patch
  projects/kubernetes/kubernetes/1-29/patches/0008-EKS-PATCH-Update-knftables-with-new-sigs.k8s.io-modu.patch
  projects/kubernetes/kubernetes/1-29/patches/0011-EKS-PATCH-Bumps-runc-version-to-fix-CVE-2024-45310.patch
  projects/kubernetes/kubernetes/1-29/patches/0013-EKS-PATCH-bugfix-endpoints-controller-track-resource.patch
  projects/kubernetes/kubernetes/1-30/CHECKSUMS
  projects/kubernetes/kubernetes/1-30/GIT_TAG
  projects/kubernetes/kubernetes/1-30/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-30/patches/0002-EKS-PATCH-Update-log-verbosity-for-node-health-and-t.patch
  projects/kubernetes/kubernetes/1-30/patches/0004-EKS-PATCH-Bumps-runc-version-to-fix-CVE-2024-45310.patch
  projects/kubernetes/kubernetes/1-30/patches/0006-EKS-PATCH-bugfix-endpoints-controller-track-resource.patch
  projects/kubernetes/kubernetes/1-31/CHECKSUMS
  projects/kubernetes/kubernetes/1-31/GIT_TAG
  projects/kubernetes/kubernetes/1-31/patches/0004-EKS-PATCH-bugfix-endpoints-controller-track-resource.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.28, v1.29, v1.30, v1.31

#3390 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3391 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3392 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3393 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3403 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3400 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3401 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3402 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3394 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3395 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3396 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3397 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, PROD-release, v1.31

#3404 Update patches and git tags
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/GIT_TAG
  projects/coredns/coredns/1-29/patches/0001-Add-CVE-fixes-for-CVE-2023-39325-CVE-2023-44487.patch
  projects/coredns/coredns/1-29/patches/0002-EKS-PATCH-CVE-2023-48795.patch
  projects/coredns/coredns/1-29/patches/0003-Patch-for-CVE-2023-49295.patch
  projects/coredns/coredns/1-29/patches/0004-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-29/patches/0005-Fix-for-GHSA-c33x-xqrf-c478-CVE.patch
  projects/coredns/coredns/1-29/patches/0006-Fix-dependency-issue-when-vendor-for-inet.af-netaddr.patch
  projects/coredns/coredns/1-29/patches/0007-Patch-for-CVE-2024-51744.patch
  projects/coredns/coredns/1-30/CHECKSUMS
  projects/coredns/coredns/1-30/patches/0001-Patch-for-CVE-2024-51744.patch
  projects/coredns/coredns/1-31/CHECKSUMS
  projects/coredns/coredns/1-31/patches/0001-Patch-for-CVE-2024-51744.patch
  projects/kubernetes/cloud-provider-aws/1-30/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-30/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-31/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-31/GIT_TAG
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/patches/0011-EKS-PATCH-Handle-errors-when-preparing-lease-for-upd.patch
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/patches/0013-EKS-PATCH-CVE-2023-45142.patch
  projects/kubernetes/kubernetes/1-30/CHECKSUMS
  projects/kubernetes/kubernetes/1-30/patches/0006-EKS-PATCH-CVE-2023-45142.patch
  projects/kubernetes/kubernetes/1-31/CHECKSUMS
  projects/kubernetes/kubernetes/1-31/patches/0004-EKS-PATCH-CVE-2023-45142.patch
  projects/kubernetes/kubernetes/1-31/patches/0005-EKS-PATCH-CVE-2024-45310.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.28, v1.29, v1.30, v1.31

#3410 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3411 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3412 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3413 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3416 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3417 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3418 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3419 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, PROD-release, v1.31

#3420 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/36/CHANGELOG-v1-28-eks-36.md
  docs/contents/releases/1-28/36/index.md
  docs/contents/releases/1-28/36/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3421 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/25/CHANGELOG-v1-29-eks-25.md
  docs/contents/releases/1-29/25/index.md
  docs/contents/releases/1-29/25/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3422 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/18/CHANGELOG-v1-30-eks-18.md
  docs/contents/releases/1-30/18/index.md
  docs/contents/releases/1-30/18/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3423 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/7/CHANGELOG-v1-31-eks-7.md
  docs/contents/releases/1-31/7/index.md
  docs/contents/releases/1-31/7/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3424 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/37/CHANGELOG-v1-28-eks-37.md
  docs/contents/releases/1-28/37/index.md
  docs/contents/releases/1-28/37/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3425 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/26/CHANGELOG-v1-29-eks-26.md
  docs/contents/releases/1-29/26/index.md
  docs/contents/releases/1-29/26/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3426 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/19/CHANGELOG-v1-30-eks-19.md
  docs/contents/releases/1-30/19/index.md
  docs/contents/releases/1-30/19/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3427 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/8/CHANGELOG-v1-31-eks-8.md
  docs/contents/releases/1-31/8/index.md
  docs/contents/releases/1-31/8/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3414 add 1.32 labeller
  .github/labeler.yml
Labels: approved, lgtm, size/XS
