Repository aws/eks-distro, pull requests merged in 2024-02, with the labels that each got.

#2760 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#2758 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2754 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2756 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2752 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2753 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2751 Bumped production release number for 1.24
  release/1-24/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.24, PROD-release

#2755 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2757 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2759 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2761 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#2770 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/4/CHANGELOG-v1-29-eks-4.md
  docs/contents/releases/1-29/4/index.md
  docs/contents/releases/1-29/4/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#2768 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/22/CHANGELOG-v1-27-eks-22.md
  docs/contents/releases/1-27/22/index.md
  docs/contents/releases/1-27/22/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2769 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/15/CHANGELOG-v1-28-eks-15.md
  docs/contents/releases/1-28/15/index.md
  docs/contents/releases/1-28/15/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2765 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/32/CHANGELOG-v1-25-eks-32.md
  docs/contents/releases/1-25/32/index.md
  docs/contents/releases/1-25/32/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2766 Created and updated docs for 1.24
  README.md
  docs/contents/index.md
  docs/contents/releases/1-24/36/CHANGELOG-v1-24-eks-36.md
  docs/contents/releases/1-24/36/index.md
  docs/contents/releases/1-24/36/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.24

#2767 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/28/CHANGELOG-v1-26-eks-28.md
  docs/contents/releases/1-26/28/index.md
  docs/contents/releases/1-26/28/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2772 Bump otelgrpc to resolve CVE-2023-47108 for External-Attacher
  projects/kubernetes-csi/external-attacher/1-24/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-24/patches/0001-Bump-otelgrpc-to-resolve-CVE-2023-47108.patch
  projects/kubernetes-csi/external-attacher/1-25/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-25/patches/0001-Bump-otelgrpc-to-resolve-CVE-2023-47108.patch
  projects/kubernetes-csi/external-attacher/1-26/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-26/patches/0001-Bump-otelgrpc-to-resolve-CVE-2023-47108.patch
  projects/kubernetes-csi/external-attacher/1-27/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-27/patches/0001-Bump-otelgrpc-to-resolve-CVE-2023-47108.patch
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/patches/0001-Bump-otelgrpc-to-resolve-CVE-2023-47108.patch
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/patches/0001-Bump-otelgrpc-to-resolve-CVE-2023-47108.patch
  projects/kubernetes-csi/external-attacher/README.md
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2771 Bump otelgrpc to resolve CVE-2023-47108 for External Resizer
  projects/kubernetes-csi/external-resizer/1-24/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-24/patches/0001-Bump-otelgrpc-otelhttp-to-0.46.1-to-resolve-CVE-2023.patch
  projects/kubernetes-csi/external-resizer/1-25/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-25/patches/0001-Bump-otelgrpc-otelhttp-to-0.46.1-to-resolve-CVE-2023.patch
  projects/kubernetes-csi/external-resizer/1-26/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-26/patches/0001-Bump-otelgrpc-otelhttp-to-0.46.1-to-resolve-CVE-2023.patch
  projects/kubernetes-csi/external-resizer/1-27/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-27/patches/0001-Bump-otelgrpc-otelhttp-to-0.46.1-to-resolve-CVE-2023.patch
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/patches/0001-Bump-otelgrpc-otelhttp-to-0.46.1-to-resolve-CVE-2023.patch
  projects/kubernetes-csi/external-resizer/1-29/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-29/patches/0001-Bump-otelgrpc-otelhttp-to-0.46.1-to-resolve-CVE-2023.patch
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
Labels: approved, lgtm, size/XXL, v1.24, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2776 Deprecate 1.24
  .github/labeler.yml
  README.md
  docs/contents/index.md
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/README.md
  release/K8_SUPPORTED_RELEASE_BRANCHES
Labels: documentation, lgtm, do-not-merge/hold, release, size/L

#2779 Kubernetes project updates 1-26 to 1-29
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/GIT_TAG
Labels: lgtm, size/L, project, v1.26, v1.27, v1.28, v1.29

#2784 Bumped development release number for 1.23
  release/1-23/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release

#2786 Bumped development release number for 1.24
  release/1-24/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release

#2788 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2790 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2792 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2794 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2789 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2791 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2795 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2798 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/33/CHANGELOG-v1-25-eks-33.md
  docs/contents/releases/1-25/33/index.md
  docs/contents/releases/1-25/33/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2799 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/29/CHANGELOG-v1-26-eks-29.md
  docs/contents/releases/1-26/29/index.md
  docs/contents/releases/1-26/29/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2800 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/23/CHANGELOG-v1-27-eks-23.md
  docs/contents/releases/1-27/23/index.md
  docs/contents/releases/1-27/23/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2802 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/5/CHANGELOG-v1-29-eks-5.md
  docs/contents/releases/1-29/5/index.md
  docs/contents/releases/1-29/5/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#2806 Bump external-snapshotter and aws-iam-authenticator versions
  projects/kubernetes-csi/external-snapshotter/1-25/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-25/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-26/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-26/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-27/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-27/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-29/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-29/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GIT_TAG
  projects/kubernetes/kubernetes/1-27/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-27/patches/0005-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.27.3.patch
  projects/kubernetes/kubernetes/1-28/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-29/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
Labels: approved, lgtm, size/L, patch, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2809 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2810 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2811 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2812 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2814 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2815 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2816 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2817 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28
