Repository aws/eks-distro, pull requests merged in 2024-05, with the labels that each got.

#2979 Add script to auto tag releases when release docs job run
  release/github_tag_doc_release.sh
Labels: approved, lgtm, release, size/M

#2994 Kubernetes project updates 1.27 to 1.29
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-27/patches/0011-EKS-PATCH-Serve-watch-without-resourceVersion-from-c.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-28/patches/0005-EKS-PATCH-Fix-bootstrap-openapi-bug.patch
  projects/kubernetes/kubernetes/1-28/patches/0007-EKS-PATCH-Serve-watch-without-resourceVersion-from-c.patch
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/GIT_TAG
  projects/kubernetes/kubernetes/1-29/patches/0006-EKS-PATCH-Fix-bootstrap-openapi-bug.patch
  projects/kubernetes/kubernetes/1-29/patches/0007-EKS-PATCH-Serve-watch-without-resourceVersion-from-c.patch
  projects/kubernetes/kubernetes/1-29/patches/0008-EKS-PATCH-Update-knftables-with-new-sigs.k8s.io-modu.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.27, v1.28, v1.29

#2995 aws-iam-authenticator project updates 1.26 to 1.30 only
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/GOLANG_VERSION
Labels: approved, lgtm, size/M, project, v1.26, v1.27, v1.28, v1.29, v1.30

#2998 Bump CCM GitTag to 1.30.0
  projects/kubernetes/cloud-provider-aws/1-30/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-30/GIT_TAG
Labels: approved, lgtm, size/S, project, v1.30

#2989 Update CSI projects README.md to supported versions
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
Labels: approved, lgtm, size/M

#3003 Addresses coredns CVEs 2024-24786 & 2024-22189 in applicable versions only
  projects/coredns/coredns/1-26/CHECKSUMS
  projects/coredns/coredns/1-26/patches/0006-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-27/CHECKSUMS
  projects/coredns/coredns/1-27/patches/0005-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-28/CHECKSUMS
  projects/coredns/coredns/1-28/patches/0005-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/patches/0005-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-29/patches/0006-Fix-for-CVE-2024-22189.patch
  projects/coredns/coredns/1-30/CHECKSUMS
  projects/coredns/coredns/1-30/patches/0005-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-30/patches/0006-Fix-for-CVE-2024-22189.patch
Labels: approved, lgtm, size/XL, patch, v1.26, v1.27, v1.28, v1.29, v1.30

#3005 Bump x/net to 0.23.0 to resolve CVE-2023-45288 for CNI plugin
  projects/containernetworking/plugins/1-25/CHECKSUMS
  projects/containernetworking/plugins/1-25/patches/0004-Bump-x-net-to-0.23.0-to-resolve-CVE-2023-45288.patch
  projects/containernetworking/plugins/1-26/CHECKSUMS
  projects/containernetworking/plugins/1-26/patches/0004-Bump-x-net-to-0.23.0-to-resolve-CVE-2023-45288.patch
  projects/containernetworking/plugins/1-27/CHECKSUMS
  projects/containernetworking/plugins/1-27/patches/0004-Bump-x-net-to-0.23.0-to-resolve-CVE-2023-45288.patch
  projects/containernetworking/plugins/1-28/CHECKSUMS
  projects/containernetworking/plugins/1-28/patches/0004-Bump-x-net-to-0.23.0-to-resolve-CVE-2023-45288.patch
  projects/containernetworking/plugins/1-29/CHECKSUMS
  projects/containernetworking/plugins/1-29/patches/0003-Bump-x-net-to-0.23.0-to-resolve-CVE-2023-45288.patch
  projects/containernetworking/plugins/1-30/CHECKSUMS
  projects/containernetworking/plugins/1-30/patches/0003-Bump-x-net-to-0.23.0-to-resolve-CVE-2023-45288.patch
Labels: approved, lgtm, size/XXL, patch, v1.25, v1.26, v1.27, v1.28, v1.29, v1.30

#3009 Add CVE-2024-24786 coreDNS patches for 1.25
  projects/coredns/coredns/1-25/CHECKSUMS
  projects/coredns/coredns/1-25/patches/0006-Fix-for-CVE-2024-24786.patch
Labels: approved, lgtm, size/M, patch, v1.25

#3014 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#3016 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#3018 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#3020 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3022 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3024 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3015 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#3017 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#3019 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#3021 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3023 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3025 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3026 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/39/CHANGELOG-v1-25-eks-39.md
  docs/contents/releases/1-25/39/index.md
  docs/contents/releases/1-25/39/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#3027 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/35/CHANGELOG-v1-26-eks-35.md
  docs/contents/releases/1-26/35/index.md
  docs/contents/releases/1-26/35/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#3028 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/29/CHANGELOG-v1-27-eks-29.md
  docs/contents/releases/1-27/29/index.md
  docs/contents/releases/1-27/29/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#3031 Add script logging to see the remotes in tagging script
  release/github_tag_doc_release.sh
Labels: approved, lgtm, release, size/XS

#3029 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/22/CHANGELOG-v1-28-eks-22.md
  docs/contents/releases/1-28/22/index.md
  docs/contents/releases/1-28/22/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3032 Comment out tagging and echo the output of remotes
  release/github_tag_doc_release.sh
Labels: approved, lgtm, release, size/XS

#3030 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/11/CHANGELOG-v1-29-eks-11.md
  docs/contents/releases/1-29/11/index.md
  docs/contents/releases/1-29/11/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3034 Set executable bit on /var/logs/pods so its files are readable by all
  development/kops/gather_logs.sh
Labels: approved, lgtm, size/XS

#3037 Update cloud-provider-aws to 1.30 (again)
  projects/kubernetes/cloud-provider-aws/1-30/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-30/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-30/GOLANG_VERSION
Labels: approved, lgtm, size/S, project, v1.30

#3044 etcd project updates
  projects/etcd-io/etcd/1-25/CHECKSUMS
  projects/etcd-io/etcd/1-25/GOLANG_VERSION
  projects/etcd-io/etcd/1-26/CHECKSUMS
  projects/etcd-io/etcd/1-26/GOLANG_VERSION
  projects/etcd-io/etcd/1-27/CHECKSUMS
  projects/etcd-io/etcd/1-27/GOLANG_VERSION
  projects/etcd-io/etcd/1-28/CHECKSUMS
  projects/etcd-io/etcd/1-28/GOLANG_VERSION
  projects/etcd-io/etcd/1-29/CHECKSUMS
  projects/etcd-io/etcd/1-29/GOLANG_VERSION
  projects/etcd-io/etcd/1-30/CHECKSUMS
  projects/etcd-io/etcd/1-30/GOLANG_VERSION
Labels: approved, lgtm, size/M, project, v1.25, v1.26, v1.27, v1.28, v1.29, v1.30

#3043 kubernetes-sigs project updates
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GOLANG_VERSION
Labels: approved, lgtm, size/S, project, v1.25

#3042 Kubernetes project updates
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/GIT_TAG
  projects/kubernetes/kubernetes/1-30/CHECKSUMS
  projects/kubernetes/kubernetes/1-30/GIT_TAG
Labels: approved, lgtm, size/L, project, v1.27, v1.28, v1.29, v1.30

#3047 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3054 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3055 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#3048 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3050 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3051 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#3052 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#3059 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#3057 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3062 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/30/CHANGELOG-v1-27-eks-30.md
  docs/contents/releases/1-27/30/index.md
  docs/contents/releases/1-27/30/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#3060 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/40/CHANGELOG-v1-25-eks-40.md
  docs/contents/releases/1-25/40/index.md
  docs/contents/releases/1-25/40/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#3061 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/36/CHANGELOG-v1-26-eks-36.md
  docs/contents/releases/1-26/36/index.md
  docs/contents/releases/1-26/36/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#3063 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/23/CHANGELOG-v1-28-eks-23.md
  docs/contents/releases/1-28/23/index.md
  docs/contents/releases/1-28/23/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3064 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/12/CHANGELOG-v1-29-eks-12.md
  docs/contents/releases/1-29/12/index.md
  docs/contents/releases/1-29/12/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3065 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/5/CHANGELOG-v1-30-eks-5.md
  docs/contents/releases/1-30/5/index.md
  docs/contents/releases/1-30/5/release-announcement.txt
  release/DEFAULT_RELEASE_BRANCH
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3066 Bump livenessprobe git tag to v2.13.0 and go version to 1.22
  projects/kubernetes-csi/livenessprobe/1-26/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-26/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-26/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-26/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Liveness.patch
  projects/kubernetes-csi/livenessprobe/1-27/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-27/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-27/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-27/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Liveness.patch
  projects/kubernetes-csi/livenessprobe/1-28/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-28/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-28/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-28/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Liveness.patch
  projects/kubernetes-csi/livenessprobe/1-29/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-29/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-29/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-29/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Liveness.patch
  projects/kubernetes-csi/livenessprobe/1-30/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-30/GIT_TAG
  projects/kubernetes-csi/livenessprobe/1-30/GOLANG_VERSION
  projects/kubernetes-csi/livenessprobe/1-30/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Liveness.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.26, v1.27, v1.28, v1.29, v1.30

#3067 Bump node-driver-registrar git tag to v2.11.0 and go version to 1.22
  projects/kubernetes-csi/node-driver-registrar/1-26/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-26/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-26/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-27/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-27/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-27/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-28/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-28/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-28/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-29/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-29/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-29/GOLANG_VERSION
  projects/kubernetes-csi/node-driver-registrar/1-30/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-30/GIT_TAG
  projects/kubernetes-csi/node-driver-registrar/1-30/GOLANG_VERSION
Labels: approved, lgtm, size/M, project, v1.26, v1.27, v1.28, v1.29, v1.30

#3068 Bump development release 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3069 Bump development release 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3070 Bump development release 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3072 Bump development release 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#3073 Bump development release 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#3076 Update node driver registrar expect check
  development/kops/run_tests.sh
Labels: approved, lgtm, size/XS

#3077 Bump production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3078 Bump production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3079 Bump production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3080 Bump production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#3081 Bump production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#3083 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/13/CHANGELOG-v1-29-eks-13.md
  docs/contents/releases/1-29/13/index.md
  docs/contents/releases/1-29/13/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3082 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/6/CHANGELOG-v1-30-eks-6.md
  docs/contents/releases/1-30/6/index.md
  docs/contents/releases/1-30/6/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3084 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/24/CHANGELOG-v1-28-eks-24.md
  docs/contents/releases/1-28/24/index.md
  docs/contents/releases/1-28/24/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3085 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/37/CHANGELOG-v1-26-eks-37.md
  docs/contents/releases/1-26/37/index.md
  docs/contents/releases/1-26/37/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#3086 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/31/CHANGELOG-v1-27-eks-31.md
  docs/contents/releases/1-27/31/index.md
  docs/contents/releases/1-27/31/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27
