Repository aws/eks-distro, pull requests merged in 2024-09, with the labels that each got.

#3292 Bumped the pause tag version to 3.10 as upstream has updated it
  projects/kubernetes/kubernetes/1-31/PAUSE_TAG
Labels: approved, lgtm, size/XS, v1.31

#3293 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3294 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3295 Bump Snapshotter v8.1.0; Fix external-provisioner runc CVE
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/patches/0001-Bump-runc-v1.1.14.patch
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/patches/0001-Bump-runc-v1.1.14.patch
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/patches/0001-Bump-runc-v1.1.14.patch
  projects/kubernetes-csi/external-provisioner/1-30/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-30/patches/0001-Bump-runc-v1.1.14.patch
  projects/kubernetes-csi/external-provisioner/1-31/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-31/patches/0001-Bump-runc-v1.1.14.patch
  projects/kubernetes-csi/external-snapshotter/1-27/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-27/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-27/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-28/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
  projects/kubernetes-csi/external-snapshotter/1-29/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-29/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-29/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
  projects/kubernetes-csi/external-snapshotter/1-30/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-30/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-30/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
  projects/kubernetes-csi/external-snapshotter/1-31/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-31/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-31/patches/0001-Address-GHSA-xr7q-jx4m-x55m.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.27, v1.28, v1.29, v1.30, v1.31

#3302 bump etcd tag for 1.27-1.30
  projects/etcd-io/etcd/1-27/CHECKSUMS
  projects/etcd-io/etcd/1-27/GIT_TAG
  projects/etcd-io/etcd/1-28/CHECKSUMS
  projects/etcd-io/etcd/1-28/GIT_TAG
  projects/etcd-io/etcd/1-29/CHECKSUMS
  projects/etcd-io/etcd/1-29/GIT_TAG
  projects/etcd-io/etcd/1-30/CHECKSUMS
  projects/etcd-io/etcd/1-30/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.27, v1.28, v1.29, v1.30

#3304 bump aws-iam-authenticator tags for 1.27-1.30
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.27, v1.28, v1.29, v1.30

#3301 bump ccm tag for 1.28-1.30
  projects/kubernetes/cloud-provider-aws/1-28/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-28/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-29/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-29/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-30/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-30/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.28, v1.29, v1.30

#3291 update coredns git tag to 1.11.3 for 1.30 and 1.31 and fix 1.29 patch
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/patches/0001-Add-CVE-fixes-for-CVE-2023-39325-CVE-2023-44487.patch
  projects/coredns/coredns/1-29/patches/0001-Bump-golang-x-net-to-0.17.0-to-fix-CVE-2023-44487,CVE-2023-39325.patch
  projects/coredns/coredns/1-29/patches/0002-EKS-PATCH-CVE-2023-48795.patch
  projects/coredns/coredns/1-29/patches/0003-Bump-x-crypto-version-to-0.17.0-to-resolve-CVE-2023-48795.patch
  projects/coredns/coredns/1-29/patches/0003-Patch-for-CVE-2023-49295.patch
  projects/coredns/coredns/1-29/patches/0004-Bump-quic-go-to-0.40.1-to-resolve-CVE-2023-49295.patch
  projects/coredns/coredns/1-29/patches/0004-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-29/patches/0005-Fix-for-GHSA-c33x-xqrf-c478-CVE.patch
  projects/coredns/coredns/1-29/patches/0006-Fix-dependency-issue-when-vendor-for-inet.af-netaddr.patch
  projects/coredns/coredns/1-30/CHECKSUMS
  projects/coredns/coredns/1-30/GIT_TAG
  projects/coredns/coredns/1-30/patches/0001-Bump-golang-x-net-to-0.17.0-to-fix-CVE-2023-44487,CVE-2023-39325.patch
  projects/coredns/coredns/1-30/patches/0002-Bump-gRPC-version-to-v1.58.3-to-resolve-GHSA-m425-mq.patch
  projects/coredns/coredns/1-30/patches/0003-Bump-x-crypto-version-to-0.17.0-to-resolve-CVE-2023-48795.patch
  projects/coredns/coredns/1-30/patches/0004-Bump-quic-go-to-0.40.1-to-resolve-CVE-2023-49295.patch
  projects/coredns/coredns/1-30/patches/0005-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-30/patches/0006-Fix-for-GHSA-c33x-xqrf-c478-CVE.patch
  projects/coredns/coredns/1-30/patches/0007-Fix-dependency-issue-when-vendor-for-inet.af-netaddr.patch
  projects/coredns/coredns/1-31/CHECKSUMS
  projects/coredns/coredns/1-31/GIT_TAG
  projects/coredns/coredns/1-31/patches/0001-Bump-golang-x-net-to-0.17.0-to-fix-CVE-2023-44487,CVE-2023-39325.patch
  projects/coredns/coredns/1-31/patches/0002-Bump-gRPC-version-to-v1.58.3-to-resolve-GHSA-m425-mq.patch
  projects/coredns/coredns/1-31/patches/0003-Bump-x-crypto-version-to-0.17.0-to-resolve-CVE-2023-48795.patch
  projects/coredns/coredns/1-31/patches/0004-Bump-quic-go-to-0.40.1-to-resolve-CVE-2023-49295.patch
  projects/coredns/coredns/1-31/patches/0005-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-31/patches/0006-Fix-for-CVE-2024-22189.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.29, v1.30, v1.31

#3308 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#3309 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3310 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3311 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3312 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#3313 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3314 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3315 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3316 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/39/CHANGELOG-v1-27-eks-39.md
  docs/contents/releases/1-27/39/index.md
  docs/contents/releases/1-27/39/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#3317 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/32/CHANGELOG-v1-28-eks-32.md
  docs/contents/releases/1-28/32/index.md
  docs/contents/releases/1-28/32/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3318 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/21/CHANGELOG-v1-29-eks-21.md
  docs/contents/releases/1-29/21/index.md
  docs/contents/releases/1-29/21/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3319 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/14/CHANGELOG-v1-30-eks-14.md
  docs/contents/releases/1-30/14/index.md
  docs/contents/releases/1-30/14/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3320 add patches for k/k 1.27-1.31
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/patches/0014-EKS-PATCH-Bumps-runc-version-to-fix-CVE-2024-45310.patch
  projects/kubernetes/kubernetes/1-27/patches/0015-EKS-PATCH-Add-apf-queue-wait-audit-log-latency-annot.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/patches/0009-EKS-PATCH-Bumps-runc-version-to-fix-CVE-2024-45310.patch
  projects/kubernetes/kubernetes/1-28/patches/0010-EKS-PATCH-Add-apf-queue-wait-audit-log-latency-annot.patch
  projects/kubernetes/kubernetes/1-28/patches/0011-EKS-PATCH-bugfix-endpoints-controller-track-resource.patch
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/patches/0011-EKS-PATCH-Bumps-runc-version-to-fix-CVE-2024-45310.patch
  projects/kubernetes/kubernetes/1-29/patches/0012-EKS-PATCH-Add-apf-queue-wait-audit-log-latency-annot.patch
  projects/kubernetes/kubernetes/1-29/patches/0013-EKS-PATCH-bugfix-endpoints-controller-track-resource.patch
  projects/kubernetes/kubernetes/1-30/CHECKSUMS
  projects/kubernetes/kubernetes/1-30/patches/0004-EKS-PATCH-Bumps-runc-version-to-fix-CVE-2024-45310.patch
  projects/kubernetes/kubernetes/1-30/patches/0005-EKS-PATCH-Add-apf-queue-wait-audit-log-latency-annot.patch
  projects/kubernetes/kubernetes/1-30/patches/0006-EKS-PATCH-bugfix-endpoints-controller-track-resource.patch
  projects/kubernetes/kubernetes/1-31/CHECKSUMS
  projects/kubernetes/kubernetes/1-31/patches/0004-EKS-PATCH-bugfix-endpoints-controller-track-resource.patch
Labels: approved, lgtm, size/XXL, patch, v1.27, v1.28, v1.29, v1.30, v1.31

#3323 bump kubernetes-sigs tags for 1.31
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-31/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-31/GIT_TAG
  projects/kubernetes-sigs/metrics-server/1-31/GOLANG_VERSION
  projects/kubernetes-sigs/metrics-server/1-31/go.mod
  projects/kubernetes-sigs/metrics-server/1-31/go.sum
Labels: approved, lgtm, size/L, project, v1.31

#3326 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#3327 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3328 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3329 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3330 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3332 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3333 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3334 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3335 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3340 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/1/CHANGELOG-v1-31-eks-1.md
  docs/contents/releases/1-31/1/index.md
  docs/contents/releases/1-31/1/release-announcement.txt
  docs/contents/releases/1-31/2/CHANGELOG-v1-31-eks-2.md
  docs/contents/releases/1-31/2/index.md
  docs/contents/releases/1-31/2/release-announcement.txt
  docs/contents/releases/1-31/3/CHANGELOG-v1-31-eks-3.md
  docs/contents/releases/1-31/3/index.md
  docs/contents/releases/1-31/3/release-announcement.txt
  docs/contents/releases/1-31/4/CHANGELOG-v1-31-eks-4.md
  docs/contents/releases/1-31/4/index.md
  docs/contents/releases/1-31/4/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/L, v1.31

#3336 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/40/CHANGELOG-v1-27-eks-40.md
  docs/contents/releases/1-27/40/index.md
  docs/contents/releases/1-27/40/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#3337 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/33/CHANGELOG-v1-28-eks-33.md
  docs/contents/releases/1-28/33/index.md
  docs/contents/releases/1-28/33/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3338 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/22/CHANGELOG-v1-29-eks-22.md
  docs/contents/releases/1-29/22/index.md
  docs/contents/releases/1-29/22/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3339 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/15/CHANGELOG-v1-30-eks-15.md
  docs/contents/releases/1-30/15/index.md
  docs/contents/releases/1-30/15/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3298 Deprecate 1.27 and make 1.31 the Default Release
  .github/labeler.yml
  README.md
  docs/contents/index.md
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/README.md
  release/DEFAULT_RELEASE_BRANCH
  release/K8_SUPPORTED_RELEASE_BRANCHES
Labels: documentation, approved, lgtm, release, size/M
