Repository aws/eks-distro, pull requests merged in 2024-03, with the labels that each got.

#2818 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#2819 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/34/CHANGELOG-v1-25-eks-34.md
  docs/contents/releases/1-25/34/index.md
  docs/contents/releases/1-25/34/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2820 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/30/CHANGELOG-v1-26-eks-30.md
  docs/contents/releases/1-26/30/index.md
  docs/contents/releases/1-26/30/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2821 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/24/CHANGELOG-v1-27-eks-24.md
  docs/contents/releases/1-27/24/index.md
  docs/contents/releases/1-27/24/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2822 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/17/CHANGELOG-v1-28-eks-17.md
  docs/contents/releases/1-28/17/index.md
  docs/contents/releases/1-28/17/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2827 kubernetes project updates 1.26 to 1.29
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/GIT_TAG
  projects/kubernetes/kubernetes/1-26/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-26/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-26/patches/0003-EKS-PATCH-Update-aws-sdk-go-for-new-regions.patch
  projects/kubernetes/kubernetes/1-26/patches/0004-EKS-PATCH-Add-ConcurrentNodeSyncs-option-to-node-con.patch
  projects/kubernetes/kubernetes/1-26/patches/0008-EKS-PATCH-Fix-CVE-for-kube-proxy-v1.26.6.patch
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/GIT_TAG
  projects/kubernetes/kubernetes/1-27/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-27/patches/0008-EKS-PATCH-Fix-etcd-storage_events_received_total-met.patch
  projects/kubernetes/kubernetes/1-27/patches/0009-EKS-PATCH-fix-UT-failure-TestPrintIPAddressList.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/GIT_TAG
  projects/kubernetes/kubernetes/1-28/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-28/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/kubernetes/1-28/patches/0003-EKS-PATCH-Fix-etcd-storage_events_received_total-met.patch
  projects/kubernetes/kubernetes/1-28/patches/0004-EKS-PATCH-fix-UT-failure-TestPrintIPAddressList.patch
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/patches/0003-EKS-PATCH-Fix-etcd-storage_events_received_total-met.patch
  projects/kubernetes/kubernetes/1-29/patches/0004-EKS-PATCH-fix-UT-failure-TestPrintIPAddressList.patch
Labels: approved, lgtm, size/L, patch, project, v1.26, v1.27, v1.28, v1.29

#2830 aws-iam-authenticator project updates 1-25 to 1.29
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-25/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-26/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-27/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GIT_TAG
Labels: lgtm, size/M, project, v1.25, v1.26, v1.27, v1.28, v1.29

#2831 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2832 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2833 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2835 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#2836 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2837 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2838 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, v1.27, PROD-release

#2839 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2840 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, PROD-release, v1.29

#2842 Created and updated docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/35/CHANGELOG-v1-25-eks-35.md
  docs/contents/releases/1-25/35/index.md
  docs/contents/releases/1-25/35/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25

#2843 Created and updated docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/31/CHANGELOG-v1-26-eks-31.md
  docs/contents/releases/1-26/31/index.md
  docs/contents/releases/1-26/31/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2844 Created and updated docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/25/CHANGELOG-v1-27-eks-25.md
  docs/contents/releases/1-27/25/index.md
  docs/contents/releases/1-27/25/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2845 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/18/CHANGELOG-v1-28-eks-18.md
  docs/contents/releases/1-28/18/index.md
  docs/contents/releases/1-28/18/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2846 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/7/CHANGELOG-v1-29-eks-7.md
  docs/contents/releases/1-29/7/index.md
  docs/contents/releases/1-29/7/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#2847 Patch protobuf to resolve CVE-2024-24786 for External-Provisioner
  projects/kubernetes-csi/external-provisioner/1-25/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-25/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-provisioner/1-26/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-26/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-provisioner/1-27/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-27/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
Labels: approved, lgtm, size/XXL, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2848 Patch protobuf to resolve CVE-2024-24786 for External-Resizer
  projects/kubernetes-csi/external-resizer/1-25/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-25/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-resizer/1-26/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-26/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-resizer/1-27/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-27/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-resizer/1-29/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-29/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
Labels: approved, lgtm, size/XXL, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2849 Patch protobuf to resolve CVE-2024-24786 for External-Snapshotter
  projects/kubernetes-csi/external-snapshotter/1-25/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-25/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-snapshotter/1-26/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-26/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-snapshotter/1-27/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-27/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-snapshotter/1-29/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-29/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
Labels: approved, lgtm, size/XXL, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2850 Patch protobuf to resolve CVE-2024-24786 for External-Attacher
  projects/kubernetes-csi/external-attacher/1-25/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-25/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-attacher/1-26/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-26/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-attacher/1-27/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-27/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/patches/0002-Bump-protobuf-to-resolve-CVE-2024-24786-for-External.patch
Labels: approved, lgtm, size/XXL, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2852 Patch protobuf to resolve CVE-2024-24786 for Liveness-Probe
  projects/kubernetes-csi/livenessprobe/1-25/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-25/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Liveness.patch
  projects/kubernetes-csi/livenessprobe/1-26/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-26/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Liveness.patch
  projects/kubernetes-csi/livenessprobe/1-27/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-27/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Liveness.patch
  projects/kubernetes-csi/livenessprobe/1-28/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-28/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Liveness.patch
  projects/kubernetes-csi/livenessprobe/1-29/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-29/patches/0001-Bump-protobuf-to-resolve-CVE-2024-24786-for-Liveness.patch
Labels: approved, lgtm, size/XXL, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2855 metrics server Bump protobuf to resolve CVE-2024-24786
  projects/kubernetes-sigs/metrics-server/1-25/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-25/patches/0001-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-sigs/metrics-server/1-26/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-26/patches/0001-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-sigs/metrics-server/1-27/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-27/patches/0001-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-sigs/metrics-server/1-28/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-28/patches/0001-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-sigs/metrics-server/1-29/CHECKSUMS
  projects/kubernetes-sigs/metrics-server/1-29/patches/0001-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/kubernetes-sigs/metrics-server/README.md
Labels: approved, lgtm, size/L, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2856 Cni-plugin Bump protobuf to 1.33.0 to resolve CVE-2024-24786
  projects/containernetworking/plugins/1-25/CHECKSUMS
  projects/containernetworking/plugins/1-25/patches/0004-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/containernetworking/plugins/1-26/CHECKSUMS
  projects/containernetworking/plugins/1-26/patches/0004-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/containernetworking/plugins/1-27/CHECKSUMS
  projects/containernetworking/plugins/1-27/patches/0004-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/containernetworking/plugins/1-28/CHECKSUMS
  projects/containernetworking/plugins/1-28/patches/0004-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/containernetworking/plugins/1-29/CHECKSUMS
  projects/containernetworking/plugins/1-29/patches/0002-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/containernetworking/plugins/README.md
Labels: approved, lgtm, size/XXL, patch, v1.25, v1.26, v1.27, v1.28, v1.29

#2865 Bumped development release number for 1.25
  release/1-25/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, DEV-release

#2861 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, DEV-release

#2862 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#2863 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#2866 Bumped development release number for 1.26
  release/1-26/development/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, DEV-release

#2869 Bumped production release number for 1.25
  release/1-25/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.25, PROD-release

#2870 Bumped production release number for 1.26
  release/1-26/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.26, PROD-release

#2871 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, v1.27, PROD-release

#2872 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#2873 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#2877 Create and Update docs for 1.26
  README.md
  docs/contents/index.md
  docs/contents/releases/1-26/32/CHANGELOG-v1-26-eks-32.md
  docs/contents/releases/1-26/32/index.md
  docs/contents/releases/1-26/32/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.26

#2874 Create and Update docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/8/CHANGELOG-v1-29-eks-8.md
  docs/contents/releases/1-29/8/index.md
  docs/contents/releases/1-29/8/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#2875 Create and Update docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/19/CHANGELOG-v1-28-eks-19.md
  docs/contents/releases/1-28/19/index.md
  docs/contents/releases/1-28/19/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#2876 Create and Update docs for 1.27
  README.md
  docs/contents/index.md
  docs/contents/releases/1-27/26/CHANGELOG-v1-27-eks-26.md
  docs/contents/releases/1-27/26/index.md
  docs/contents/releases/1-27/26/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.27

#2878 Create and Update docs for 1.25
  README.md
  docs/contents/index.md
  docs/contents/releases/1-25/36/CHANGELOG-v1-25-eks-36.md
  docs/contents/releases/1-25/36/index.md
  docs/contents/releases/1-25/36/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.25
