Repository aws/eks-distro, pull requests merged in 2025-07, with the labels that each got.

#3899 Project Updates
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/patches/0021-EKS-PATCH-Bump-go-version-to-1.23.10.patch
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/patches/0021-EKS-PATCH-Bump-go-version-to-1.23.10.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/patches/0021-EKS-PATCH-Bump-go-version-to-1.23.10.patch
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/patches/0018-EKS-PATCH-Bump-go-version-to-1.23.10.patch
  projects/kubernetes/kubernetes/1-33/CHECKSUMS
  projects/kubernetes/kubernetes/1-33/patches/0006-EKS-PATCH-Fix-Consistent-paginated-lists-serve-from-.patch
  projects/kubernetes/kubernetes/1-33/patches/0007-EKS-PATCH-add-etcd-server-overrides-to-etcd-probe-fa.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.33

#3902 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3906 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3907 Added file release/1-28/development/RELEASE
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3909 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3910 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3912 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3913 Bumped production release number for 1.33
  release/1-33/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.33

#3915 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/53/CHANGELOG-v1-28-eks-53.md
  docs/contents/releases/1-28/53/index.md
  docs/contents/releases/1-28/53/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3916 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/42/CHANGELOG-v1-29-eks-42.md
  docs/contents/releases/1-29/42/index.md
  docs/contents/releases/1-29/42/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3918 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/24/CHANGELOG-v1-31-eks-24.md
  docs/contents/releases/1-31/24/index.md
  docs/contents/releases/1-31/24/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3919 Created and updated docs for 1.32
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/17/CHANGELOG-v1-32-eks-17.md
  docs/contents/releases/1-32/17/index.md
  docs/contents/releases/1-32/17/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.32

#3933 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3934 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3935 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3938 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3939 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3941 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3943 Bumped production release number for 1.33
  release/1-33/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.33

#3952 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/43/CHANGELOG-v1-29-eks-43.md
  docs/contents/releases/1-29/43/index.md
  docs/contents/releases/1-29/43/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3954 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/25/CHANGELOG-v1-31-eks-25.md
  docs/contents/releases/1-31/25/index.md
  docs/contents/releases/1-31/25/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3956 Created and updated docs for 1.33
  README.md
  docs/contents/index.md
  docs/contents/releases/1-33/8/CHANGELOG-v1-33-eks-8.md
  docs/contents/releases/1-33/8/index.md
  docs/contents/releases/1-33/8/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.33

#3962 Fixing tags and patches for coreDNS for 1.27-1.32
  projects/coredns/coredns/1-27/CHECKSUMS
  projects/coredns/coredns/1-27/GIT_TAG
  projects/coredns/coredns/1-27/patches/0001-Add-CVE-fixes-for-CVE-2023-39325-CVE-2023-44487.patch
  projects/coredns/coredns/1-27/patches/0001-patch-for-CVE-2022-41723.patch
  projects/coredns/coredns/1-27/patches/0002-CVE-patch-for-v1.10.1-eksbuild.5.patch
  projects/coredns/coredns/1-27/patches/0002-EKS-PATCH-CVE-2023-48795.patch
  projects/coredns/coredns/1-27/patches/0003-CVE-patch-for-v1.10.1-eksbuild.6.patch
  projects/coredns/coredns/1-27/patches/0003-Patch-for-CVE-2023-49295.patch
  projects/coredns/coredns/1-27/patches/0004-EKS-PATCH-CVE-2023-48795.patch
  projects/coredns/coredns/1-27/patches/0005-Fix-for-GHSA-c33x-xqrf-c478-CVE.patch
  projects/coredns/coredns/1-27/patches/0005-PUBLIC-ECR-PATCH.patch
  projects/coredns/coredns/1-27/patches/0006-Fix-dependency-issue-when-vendor-for-inet.af-netaddr.patch
  projects/coredns/coredns/1-27/patches/0006-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-27/patches/0007-Fix-dependency-issue-when-vendor-for-inet.af-netaddr.patch
  projects/coredns/coredns/1-27/patches/0008-update-x-net-to-0.25.patch
  projects/coredns/coredns/1-27/patches/0009-Updated-go-dependencies-to-fix-CoreDNS1.10.1-CVEs.patch
  projects/coredns/coredns/1-27/patches/0010-CVEs-fix.patch
  projects/coredns/coredns/1-28/CHECKSUMS
  projects/coredns/coredns/1-28/GIT_TAG
  projects/coredns/coredns/1-28/patches/0001-patch-for-CVE-2022-41723.patch
  projects/coredns/coredns/1-28/patches/0002-CVE-patch-for-v1.10.1-eksbuild.5.patch
  projects/coredns/coredns/1-28/patches/0003-CVE-patch-for-v1.10.1-eksbuild.6.patch
  projects/coredns/coredns/1-28/patches/0004-EKS-PATCH-CVE-2023-48795.patch
  projects/coredns/coredns/1-28/patches/0005-PUBLIC-ECR-PATCH.patch
  projects/coredns/coredns/1-28/patches/0006-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-28/patches/0007-Fix-dependency-issue-when-vendor-for-inet.af-netaddr.patch
  projects/coredns/coredns/1-28/patches/0008-update-x-net-to-0.25.patch
  projects/coredns/coredns/1-28/patches/0009-Updated-go-dependencies-to-fix-CoreDNS1.10.1-CVEs.patch
  projects/coredns/coredns/1-28/patches/0010-CVEs-fix.patch
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/GIT_TAG
  projects/coredns/coredns/1-29/patches/0001-update-quic-go-for-CVE.patch
  projects/coredns/coredns/1-29/patches/0002-update-expr-for-CVE.patch
  projects/coredns/coredns/1-29/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-29/patches/0004-1.11.4-update-go-version-x-net-version.patch
  projects/coredns/coredns/1-30/CHECKSUMS
  projects/coredns/coredns/1-30/GIT_TAG
  projects/coredns/coredns/1-30/patches/0001-update-quic-go-for-CVE.patch
  projects/coredns/coredns/1-30/patches/0002-update-expr-for-CVE.patch
  projects/coredns/coredns/1-30/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-30/patches/0004-1.11.4-update-go-version-x-net-version.patch
  projects/coredns/coredns/1-31/CHECKSUMS
  projects/coredns/coredns/1-31/GIT_TAG
  projects/coredns/coredns/1-31/patches/0001-update-quic-go-for-CVE.patch
  projects/coredns/coredns/1-31/patches/0002-update-expr-for-CVE.patch
  projects/coredns/coredns/1-31/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-31/patches/0004-1.11.4-update-go-version-x-net-version.patch
  projects/coredns/coredns/1-32/CHECKSUMS
  projects/coredns/coredns/1-32/GIT_TAG
  projects/coredns/coredns/1-32/patches/0001-Patch-CVE-2025-22872-for-coredns-v1.12.1.patch
  projects/coredns/coredns/1-32/patches/0001-update-quic-go-for-CVE.patch
  projects/coredns/coredns/1-32/patches/0002-update-expr-for-CVE.patch
  projects/coredns/coredns/1-32/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-32/patches/0004-1.11.4-update-go-version-x-net-version.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.28, v1.29, v1.30, v1.31, v1.32

#3964 Added file release/1-28/development/RELEASE
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3965 Added file release/1-30/development/RELEASE
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3967 Added file release/1-32/development/RELEASE
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#3974 Added file release/1-31/production/RELEASE
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3978 1.29 44 docs 1753996442
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/44/CHANGELOG-v1-29-eks-44.md
  docs/contents/releases/1-29/44/index.md
  docs/contents/releases/1-29/44/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3977 1.28 55 docs 1753996395
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/55/CHANGELOG-v1-28-eks-55.md
  docs/contents/releases/1-28/55/index.md
  docs/contents/releases/1-28/55/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3979 1.30 37 docs 1753996481
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/37/CHANGELOG-v1-30-eks-37.md
  docs/contents/releases/1-30/37/index.md
  docs/contents/releases/1-30/37/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3981 1.32 19 docs 1753996556
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/19/CHANGELOG-v1-32-eks-19.md
  docs/contents/releases/1-32/19/index.md
  docs/contents/releases/1-32/19/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.32
