Repository aws/eks-distro, pull requests merged in 2025-06, with the labels that each got.

#3850 Added file release/1-29/development/RELEASE
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3851 Added file release/1-30/development/RELEASE
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3852 Added file release/1-31/development/RELEASE
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3853 Added file release/1-32/development/RELEASE
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#3854 Added file release/1-33/development/RELEASE
  release/1-33/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.33

#3856 Added file release/1-29/production/RELEASE
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3857 Added file release/1-30/production/RELEASE
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3859 Added file release/1-32/production/RELEASE
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3861 1.28 51 docs 1749232187
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/51/CHANGELOG-v1-28-eks-51.md
  docs/contents/releases/1-28/51/index.md
  docs/contents/releases/1-28/51/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3863 1.30 33 docs 1749232260
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/33/CHANGELOG-v1-30-eks-33.md
  docs/contents/releases/1-30/33/index.md
  docs/contents/releases/1-30/33/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3864 1.31 22 docs 1749232286
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/22/CHANGELOG-v1-31-eks-22.md
  docs/contents/releases/1-31/22/index.md
  docs/contents/releases/1-31/22/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3865 1.32 15 docs 1749232331
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/15/CHANGELOG-v1-32-eks-15.md
  docs/contents/releases/1-32/15/index.md
  docs/contents/releases/1-32/15/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.32

#3875 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3876 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3877 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3878 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#3881 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3884 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3885 Bumped production release number for 1.33
  release/1-33/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.33

#3888 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/52/CHANGELOG-v1-28-eks-52.md
  docs/contents/releases/1-28/52/index.md
  docs/contents/releases/1-28/52/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3889 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/41/CHANGELOG-v1-29-eks-41.md
  docs/contents/releases/1-29/41/index.md
  docs/contents/releases/1-29/41/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3890 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/34/CHANGELOG-v1-30-eks-34.md
  docs/contents/releases/1-30/34/index.md
  docs/contents/releases/1-30/34/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30
