Repository aws/eks-distro, pull requests merged in 2025-01, with the labels that each got.

#3491 Add CVE 2024-45338 patch for kubernetes-csi/1.28
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/patches/0003-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/patches/0001-external-snapshotter-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/livenessprobe/1-28/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-28/patches/0001-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/node-driver-registrar/1-28/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-28/patches/0001-Address-CVE-2024-45338.patch
Labels: approved, lgtm, size/XXL, patch, v1.28

#3505 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/39/CHANGELOG-v1-28-eks-39.md
  docs/contents/releases/1-28/39/index.md
  docs/contents/releases/1-28/39/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3507 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/28/CHANGELOG-v1-29-eks-28.md
  docs/contents/releases/1-29/28/index.md
  docs/contents/releases/1-29/28/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3508 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/21/CHANGELOG-v1-30-eks-21.md
  docs/contents/releases/1-30/21/index.md
  docs/contents/releases/1-30/21/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3509 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/10/CHANGELOG-v1-31-eks-10.md
  docs/contents/releases/1-31/10/index.md
  docs/contents/releases/1-31/10/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3495 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3496 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3497 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3498 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3500 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3501 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3502 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3503 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3512 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/29/CHANGELOG-v1-29-eks-29.md
  docs/contents/releases/1-29/29/index.md
  docs/contents/releases/1-29/29/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3513 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/22/CHANGELOG-v1-30-eks-22.md
  docs/contents/releases/1-30/22/index.md
  docs/contents/releases/1-30/22/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3514 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/11/CHANGELOG-v1-31-eks-11.md
  docs/contents/releases/1-31/11/index.md
  docs/contents/releases/1-31/11/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3515 Bump 1.32 containernetworking Git_Tag to v1.5.1
  projects/containernetworking/plugins/1-32/CHECKSUMS
  projects/containernetworking/plugins/1-32/GIT_TAG
  projects/containernetworking/plugins/1-32/GOLANG_VERSION
  projects/containernetworking/plugins/1-32/patches/0001-Bump-containerd-verison-to-v1.7.11-to-fix-GHSA-7ww5-.patch
  projects/containernetworking/plugins/1-32/patches/0001-Bump-go-directive-to-1.21-to-fix-go-deps-download.patch
  projects/containernetworking/plugins/1-32/patches/0002-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/containernetworking/plugins/1-32/patches/0003-Bump-x-net-to-0.23.0-to-resolve-CVE-2023-45288.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.32

#3516 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#3519 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3522 kubernetes-sigs/aws-iam-authenticator updates 1.28-1.31
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-32/CHECKSUMS
Labels: approved, lgtm, size/M, project, v1.28, v1.29, v1.30, v1.31, v1.32

#3523 update containernetworking/plugins 1.28-1.32
  projects/containernetworking/plugins/1-28/CHECKSUMS
  projects/containernetworking/plugins/1-28/GIT_TAG
  projects/containernetworking/plugins/1-28/GOLANG_VERSION
  projects/containernetworking/plugins/1-28/patches/0001-Bump-go-directive-to-1.21-to-fix-go-deps-download.patch
  projects/containernetworking/plugins/1-28/patches/0001-Bump-x-net-to-patch-version-to-fix-CVE-2023-44487-and-CVE-2023-39325.patch
  projects/containernetworking/plugins/1-28/patches/0002-Bump-gPRC-version-to-v1.56.3.patch
  projects/containernetworking/plugins/1-28/patches/0003-Bump-containerd-verison-to-v1.7.11.patch
  projects/containernetworking/plugins/1-28/patches/0004-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/containernetworking/plugins/1-28/patches/0004-Bump-x-net-to-0.23.0-to-resolve-CVE-2023-45288.patch
  projects/containernetworking/plugins/1-29/CHECKSUMS
  projects/containernetworking/plugins/1-29/GIT_TAG
  projects/containernetworking/plugins/1-29/GOLANG_VERSION
  projects/containernetworking/plugins/1-29/patches/0001-Bump-containerd-verison-to-v1.7.11-to-fix-GHSA-7ww5-.patch
  projects/containernetworking/plugins/1-29/patches/0001-Bump-go-directive-to-1.21-to-fix-go-deps-download.patch
  projects/containernetworking/plugins/1-29/patches/0002-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/containernetworking/plugins/1-29/patches/0003-Bump-x-net-to-0.23.0-to-resolve-CVE-2023-45288.patch
  projects/containernetworking/plugins/1-30/CHECKSUMS
  projects/containernetworking/plugins/1-30/GIT_TAG
  projects/containernetworking/plugins/1-30/GOLANG_VERSION
  projects/containernetworking/plugins/1-30/patches/0001-Bump-containerd-verison-to-v1.7.11-to-fix-GHSA-7ww5-.patch
  projects/containernetworking/plugins/1-30/patches/0001-Bump-go-directive-to-1.21-to-fix-go-deps-download.patch
  projects/containernetworking/plugins/1-30/patches/0002-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/containernetworking/plugins/1-30/patches/0003-Bump-x-net-to-0.23.0-to-resolve-CVE-2023-45288.patch
  projects/containernetworking/plugins/1-31/CHECKSUMS
  projects/containernetworking/plugins/1-31/GIT_TAG
  projects/containernetworking/plugins/1-31/GOLANG_VERSION
  projects/containernetworking/plugins/1-31/patches/0001-Bump-containerd-verison-to-v1.7.11-to-fix-GHSA-7ww5-.patch
  projects/containernetworking/plugins/1-31/patches/0001-Bump-go-directive-to-1.21-to-fix-go-deps-download.patch
  projects/containernetworking/plugins/1-31/patches/0002-Bump-protobuf-to-1.33.0-to-resolve-CVE-2024-24786.patch
  projects/containernetworking/plugins/1-31/patches/0003-Bump-x-net-to-0.23.0-to-resolve-CVE-2023-45288.patch
  projects/containernetworking/plugins/1-32/CHECKSUMS
Labels: approved, lgtm, size/XXL, patch, project, v1.28, v1.29, v1.30, v1.31, v1.32

#3524 update coredns/coredns 1.29-1.32
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/GIT_TAG
  projects/coredns/coredns/1-29/GOLANG_VERSION
  projects/coredns/coredns/1-29/patches/0001-update-quic-go-for-CVE.patch
  projects/coredns/coredns/1-29/patches/0007-Patch-for-CVE-2024-51744.patch
  projects/coredns/coredns/1-30/CHECKSUMS
  projects/coredns/coredns/1-30/GIT_TAG
  projects/coredns/coredns/1-30/GOLANG_VERSION
  projects/coredns/coredns/1-30/patches/0001-Patch-for-CVE-2024-51744.patch
  projects/coredns/coredns/1-30/patches/0001-update-quic-go-for-CVE.patch
  projects/coredns/coredns/1-31/CHECKSUMS
  projects/coredns/coredns/1-31/GIT_TAG
  projects/coredns/coredns/1-31/GOLANG_VERSION
  projects/coredns/coredns/1-31/patches/0001-Patch-for-CVE-2024-51744.patch
  projects/coredns/coredns/1-31/patches/0001-update-quic-go-for-CVE.patch
  projects/coredns/coredns/1-32/CHECKSUMS
  projects/coredns/coredns/1-32/GIT_TAG
  projects/coredns/coredns/1-32/GOLANG_VERSION
  projects/coredns/coredns/1-32/patches/0001-Patch-for-CVE-2024-51744.patch
  projects/coredns/coredns/1-32/patches/0001-update-quic-go-for-CVE.patch
Labels: approved, lgtm, size/L, patch, project, v1.29, v1.30, v1.31, v1.32

#3530 update 1.32 cni plugin patch
  projects/containernetworking/plugins/1-32/CHECKSUMS
  projects/containernetworking/plugins/1-32/patches/0001-Bump-go-directive-to-1.21-to-fix-go-deps-download.patch
Labels: approved, lgtm, size/M, patch, v1.32

#3531 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3532 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3533 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3534 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3539 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3540 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3541 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3542 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3544 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/30/CHANGELOG-v1-29-eks-30.md
  docs/contents/releases/1-29/30/index.md
  docs/contents/releases/1-29/30/release-announcement.txt
Labels: documentation, approved, do-not-merge/hold, release, size/M, v1.29

#3545 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/23/CHANGELOG-v1-30-eks-23.md
  docs/contents/releases/1-30/23/index.md
  docs/contents/releases/1-30/23/release-announcement.txt
Labels: documentation, approved, do-not-merge/hold, release, size/M, v1.30

#3546 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/12/CHANGELOG-v1-31-eks-12.md
  docs/contents/releases/1-31/12/index.md
  docs/contents/releases/1-31/12/release-announcement.txt
Labels: documentation, approved, do-not-merge/hold, release, size/M, v1.31

#3547 Add deprecation notice for projects
  README.md
Labels: approved, lgtm, size/XS

#3548 Update README.md to reflect correct deprecated versions
  README.md
Labels: approved, lgtm, size/XS

#3551 update OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#3552 Created and updated docs for 1.32
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/1/CHANGELOG-v1-32-eks-1.md
  docs/contents/releases/1-32/1/index.md
  docs/contents/releases/1-32/2/CHANGELOG-v1-32-eks-2.md
  docs/contents/releases/1-32/2/index.md
  docs/contents/releases/1-32/3/CHANGELOG-v1-32-eks-3.md
  docs/contents/releases/1-32/3/index.md
  docs/contents/releases/1-32/4/CHANGELOG-v1-32-eks-4.md
  docs/contents/releases/1-32/4/index.md
  docs/contents/releases/1-32/4/release-announcement.txt
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes-sigs/metrics-server/README.md
  projects/kubernetes/cloud-provider-aws/README.md
  release/DEFAULT_RELEASE_BRANCH
Labels: documentation, approved, lgtm, release, size/L, v1.32

#3555 Added patches from 1.24 to 1.32
  projects/kubernetes/kubernetes/1-24/CHECKSUMS
  projects/kubernetes/kubernetes/1-24/patches/0038-EKS-PATCH-Updated-added-visibility-to-apiserver-x509.patch
  projects/kubernetes/kubernetes/1-24/patches/0039-EKS-PATCH-skip-TestCreateBlobDisk-test.patch
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/patches/0026-EKS-PATCH-skip-TestCreateBlobDisk-test.patch
  projects/kubernetes/kubernetes/1-25/patches/0027-EKS-PATCH-Updated-added-visibility-to-apiserver-x509.patch
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/patches/0018-EKS-PATCH-Updated-added-visibility-to-apiserver-x509.patch
  projects/kubernetes/kubernetes/1-26/patches/0018-skip-x509-tests.patch
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/patches/0017-EKS-PATCH-kubelet-use-env-vars-in-node-log-query-PS-.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/patches/0014-EKS-PATCH-kubelet-use-env-vars-in-node-log-query-PS-.patch
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/GIT_TAG
  projects/kubernetes/kubernetes/1-30/CHECKSUMS
  projects/kubernetes/kubernetes/1-30/GIT_TAG
  projects/kubernetes/kubernetes/1-31/CHECKSUMS
  projects/kubernetes/kubernetes/1-31/GIT_TAG
  projects/kubernetes/kubernetes/1-32/CHECKSUMS
  projects/kubernetes/kubernetes/1-32/GIT_TAG
Labels: approved, size/XXL, patch, project, v1.28, v1.29, v1.30, v1.31, v1.32

#3557 Fix provisioner bump
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-28/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-28/patches/0001-Bump-runc-v1.1.14.patch
  projects/kubernetes-csi/external-provisioner/1-28/patches/0002-Upgrade-crypto-to-v0.31.0-for-CVE-2024-45337.patch
  projects/kubernetes-csi/external-provisioner/1-28/patches/0003-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-29/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-29/patches/0001-Bump-runc-v1.1.14.patch
  projects/kubernetes-csi/external-provisioner/1-29/patches/0002-Upgrade-crypto-to-v0.31.0-for-CVE-2024-45337.patch
  projects/kubernetes-csi/external-provisioner/1-29/patches/0003-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-provisioner/1-30/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-30/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-30/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-30/patches/0001-Bump-runc-v1.1.14.patch
  projects/kubernetes-csi/external-provisioner/1-30/patches/0002-Upgrade-crypto-to-v0.31.0-for-CVE-2024-45337.patch
  projects/kubernetes-csi/external-provisioner/1-30/patches/0003-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-provisioner/1-31/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-31/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-31/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-31/patches/0001-Bump-runc-v1.1.14.patch
  projects/kubernetes-csi/external-provisioner/1-31/patches/0002-Upgrade-crypto-to-v0.31.0-for-CVE-2024-45337.patch
  projects/kubernetes-csi/external-provisioner/1-31/patches/0003-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-provisioner/1-32/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-32/GIT_TAG
  projects/kubernetes-csi/external-provisioner/1-32/GOLANG_VERSION
  projects/kubernetes-csi/external-provisioner/1-32/patches/0001-Bump-runc-v1.1.14.patch
  projects/kubernetes-csi/external-provisioner/1-32/patches/0002-Upgrade-crypto-to-v0.31.0-for-CVE-2024-45337.patch
  projects/kubernetes-csi/external-provisioner/1-32/patches/0003-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-provisioner/README.md
Labels: approved, size/XXL, patch, project, v1.28, v1.29, v1.30, v1.31, v1.32

#3558 Update Golang/Gittag for etcd
  projects/etcd-io/etcd/1-28/CHECKSUMS
  projects/etcd-io/etcd/1-28/GIT_TAG
  projects/etcd-io/etcd/1-28/GOLANG_VERSION
  projects/etcd-io/etcd/1-29/CHECKSUMS
  projects/etcd-io/etcd/1-29/GIT_TAG
  projects/etcd-io/etcd/1-29/GOLANG_VERSION
  projects/etcd-io/etcd/1-30/CHECKSUMS
  projects/etcd-io/etcd/1-30/GIT_TAG
  projects/etcd-io/etcd/1-30/GOLANG_VERSION
  projects/etcd-io/etcd/1-31/CHECKSUMS
  projects/etcd-io/etcd/1-31/GIT_TAG
  projects/etcd-io/etcd/1-31/GOLANG_VERSION
  projects/etcd-io/etcd/1-32/CHECKSUMS
  projects/etcd-io/etcd/1-32/GIT_TAG
  projects/etcd-io/etcd/1-32/GOLANG_VERSION
Labels: approved, lgtm, size/M, project, v1.28, v1.29, v1.30, v1.31, v1.32

#3559 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3561 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3563 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3565 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3560 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3562 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3564 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3566 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3568 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3572 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/24/CHANGELOG-v1-30-eks-24.md
  docs/contents/releases/1-30/24/index.md
  docs/contents/releases/1-30/24/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3573 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/13/CHANGELOG-v1-31-eks-13.md
  docs/contents/releases/1-31/13/index.md
  docs/contents/releases/1-31/13/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3574 Created and updated docs for 1.32
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/5/CHANGELOG-v1-32-eks-5.md
  docs/contents/releases/1-32/5/index.md
  docs/contents/releases/1-32/5/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.32

#3575 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/31/CHANGELOG-v1-29-eks-31.md
  docs/contents/releases/1-29/31/index.md
  docs/contents/releases/1-29/31/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3576 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/42/CHANGELOG-v1-28-eks-42.md
  docs/contents/releases/1-28/42/index.md
  docs/contents/releases/1-28/42/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28
