Repository aws/eks-distro, pull requests merged in 2025-04, with the labels that each got.

#3702 Add 1.33 labeler
  .github/labeler.yml
Labels: approved, lgtm, size/XS

#3707 Added the k/k8s patches from 1.26-1.28
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/patches/0020-EKS-PATCH-Update-the-goversion-to-1.23.patch
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/patches/0019-EKS-PATCH-hack-tools-update-to-golangci-lint-v1.56.2.patch
  projects/kubernetes/kubernetes/1-27/patches/0020-EKS-PATCH-Update-the-goversion-to-1.23.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/patches/0019-EKS-PATCH-Update-the-goversion-to-1.23.patch
Labels: approved, lgtm, size/XXL, patch, v1.28

#3711 updated the k8s patch for the 1.25
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/patches/0029-EKS-PATCH-Update-the-goversion-to-1.23.patch
Labels: approved, lgtm, size/XXL, patch

#3712 Update OWNERS
  OWNERS
Labels: approved, lgtm, size/XS, do-not-merge/invalid-commit-message

#3713 Use 1.32 metrics server for 1.33 release
  development/kops/create_values_yaml.sh
Labels: approved, lgtm, size/XS

#3715 Bumped development release number for 1.33
  release/1-33/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.33

#3714 Bumped production release number for 1.33
  release/1-33/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.33

#3716 Update git tag and K8 patches for 1.32.3
  projects/kubernetes/kubernetes/1-32/CHECKSUMS
  projects/kubernetes/kubernetes/1-32/GIT_TAG
  projects/kubernetes/kubernetes/1-32/patches/0003-EKS-PATCH-CVE-2023-45142.patch
  projects/kubernetes/release/1-28/CHECKSUMS
  projects/kubernetes/release/1-28/GOLANG_VERSION
  projects/kubernetes/release/1-29/CHECKSUMS
  projects/kubernetes/release/1-29/GOLANG_VERSION
  projects/kubernetes/release/1-30/CHECKSUMS
  projects/kubernetes/release/1-30/GOLANG_VERSION
  projects/kubernetes/release/1-31/CHECKSUMS
  projects/kubernetes/release/1-31/GOLANG_VERSION
  projects/kubernetes/release/1-32/CHECKSUMS
  projects/kubernetes/release/1-32/GOLANG_VERSION
Labels: approved, lgtm, size/M, patch, project, v1.28, v1.29, v1.30, v1.31, v1.32

#3722 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3723 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3724 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3725 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3726 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#3736 Manual - update checksums
  projects/kubernetes/release/1-28/CHECKSUMS
  projects/kubernetes/release/1-29/CHECKSUMS
  projects/kubernetes/release/1-30/CHECKSUMS
  projects/kubernetes/release/1-31/CHECKSUMS
  projects/kubernetes/release/1-32/CHECKSUMS
  projects/kubernetes/release/1-33/CHECKSUMS
Labels: approved, lgtm, size/S, v1.28, v1.29, v1.30, v1.31, v1.32, v1.33

#3727 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3728 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3729 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3731 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3742 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/47/CHANGELOG-v1-28-eks-47.md
  docs/contents/releases/1-28/47/index.md
  docs/contents/releases/1-28/47/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3743 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/36/CHANGELOG-v1-29-eks-36.md
  docs/contents/releases/1-29/36/index.md
  docs/contents/releases/1-29/36/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3744 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/29/CHANGELOG-v1-30-eks-29.md
  docs/contents/releases/1-30/29/index.md
  docs/contents/releases/1-30/29/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3745 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/18/CHANGELOG-v1-31-eks-18.md
  docs/contents/releases/1-31/18/index.md
  docs/contents/releases/1-31/18/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3746 Created and updated docs for 1.32
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/11/CHANGELOG-v1-32-eks-11.md
  docs/contents/releases/1-32/11/index.md
  docs/contents/releases/1-32/11/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.32

#3754 CSI external-snapshotter: Address CVE-2025-22872
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-snapshotter/1-29/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-29/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-snapshotter/1-30/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-30/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-snapshotter/1-31/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-31/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-snapshotter/1-32/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-32/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-snapshotter/1-33/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-33/patches/0002-Address-CVE-2025-22872.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32, v1.33

#3751 CSI external-attacher: Address CVE-2025-22872
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-attacher/1-30/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-30/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-attacher/1-31/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-31/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-attacher/1-32/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-32/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-attacher/1-33/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-33/patches/0002-Address-CVE-2025-22872.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32, v1.33

#3753 CSI external-resizer: Address CVE-2025-22872
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-resizer/1-29/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-29/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-resizer/1-30/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-30/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-resizer/1-31/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-31/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-resizer/1-32/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-32/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/external-resizer/1-33/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-33/patches/0002-Address-CVE-2025-22872.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32, v1.33

#3755 CSI livenessprobe: Address CVE-2025-22872
  projects/kubernetes-csi/livenessprobe/1-28/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-28/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/livenessprobe/1-29/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-29/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/livenessprobe/1-30/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-30/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/livenessprobe/1-31/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-31/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/livenessprobe/1-32/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-32/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/livenessprobe/1-33/CHECKSUMS
  projects/kubernetes-csi/livenessprobe/1-33/patches/0002-Address-CVE-2025-22872.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32, v1.33

#3756 CSI node-driver-registrar: Address CVE-2025-22872
  projects/kubernetes-csi/node-driver-registrar/1-28/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-28/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/node-driver-registrar/1-29/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-29/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/node-driver-registrar/1-30/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-30/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/node-driver-registrar/1-31/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-31/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/node-driver-registrar/1-32/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-32/patches/0002-Address-CVE-2025-22872.patch
  projects/kubernetes-csi/node-driver-registrar/1-33/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-33/patches/0002-Address-CVE-2025-22872.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32, v1.33

#3757 bump go version
  projects/kubernetes/release/1-33/CHECKSUMS
  projects/kubernetes/release/1-33/GOLANG_VERSION
Labels: approved, lgtm, size/XS, project, v1.33

#3761 Added patches for 1.28 to 1.33
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-32/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-32/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-33/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-33/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-33/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-33/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-33/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/patches/0020-EKS-PATCH-Update-the-goversion-to-1.23.patch
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/GIT_TAG
  projects/kubernetes/kubernetes/1-29/patches/0009-EKS-PATCH-hack-tools-update-to-golangci-lint-v1.56.2.patch
  projects/kubernetes/kubernetes/1-30/CHECKSUMS
  projects/kubernetes/kubernetes/1-30/GIT_TAG
  projects/kubernetes/kubernetes/1-31/CHECKSUMS
  projects/kubernetes/kubernetes/1-31/GIT_TAG
  projects/kubernetes/kubernetes/1-33/CHECKSUMS
  projects/kubernetes/kubernetes/1-33/GIT_TAG
  projects/kubernetes/kubernetes/1-33/patches/0003-EKS-PATCH-CVE-2023-45142.patch
Labels: approved, lgtm, size/XL, patch, project, v1.28, v1.29, v1.30, v1.31, v1.32, v1.33

#3762 Added file release/1-28/development/RELEASE
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3763 Added file release/1-29/development/RELEASE
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3764 Added file release/1-30/development/RELEASE
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3765 Added file release/1-31/development/RELEASE
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3767 Added file release/1-33/development/RELEASE
  release/1-33/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.33

#3770 Added file release/1-28/production/RELEASE
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3771 Added file release/1-29/production/RELEASE
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3772 Added file release/1-30/production/RELEASE
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3774 Added file release/1-32/production/RELEASE
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3775 Added file release/1-33/production/RELEASE
  release/1-33/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.33

#3776 1.28 48 docs 1745607928
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/48/CHANGELOG-v1-28-eks-48.md
  docs/contents/releases/1-28/48/index.md
  docs/contents/releases/1-28/48/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3777 1.29 37 docs 1745607994
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/37/CHANGELOG-v1-29-eks-37.md
  docs/contents/releases/1-29/37/index.md
  docs/contents/releases/1-29/37/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3778 1.30 30 docs 1745608031
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/30/CHANGELOG-v1-30-eks-30.md
  docs/contents/releases/1-30/30/index.md
  docs/contents/releases/1-30/30/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3779 1.31 19 docs 1745608065
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/19/CHANGELOG-v1-31-eks-19.md
  docs/contents/releases/1-31/19/index.md
  docs/contents/releases/1-31/19/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3780 1.32 12 docs 1745608098
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/12/CHANGELOG-v1-32-eks-12.md
  docs/contents/releases/1-32/12/index.md
  docs/contents/releases/1-32/12/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.32

#3781 Release 1.33
  projects/containernetworking/plugins/1-33/CHECKSUMS
  projects/containernetworking/plugins/1-33/GOLANG_VERSION
  projects/coredns/coredns/1-33/CHECKSUMS
  projects/coredns/coredns/1-33/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-33/patches/0004-1.11.4-update-go-version-x-net-version.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-33/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-33/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-33/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-33/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-33/GIT_TAG
  projects/kubernetes/kubernetes/1-33/CHECKSUMS
  projects/kubernetes/kubernetes/1-33/GIT_TAG
Labels: approved, lgtm, size/L, patch, project, v1.33

#3782 Bumped development release number for 1.33
  release/1-33/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.33
