Repository aws/eks-distro, pull requests merged in 2025-02, with the labels that each got.

#3578 Bump attacher CVE-2024-45338 x/net to v0.34.0
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/patches/0001-Bump-attacher-CVE-2024-45338-x-net-to-v0.34.0.patch
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/patches/0001-Bump-attacher-CVE-2024-45338-x-net-to-v0.34.0.patch
  projects/kubernetes-csi/external-attacher/1-30/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-30/patches/0001-Bump-attacher-CVE-2024-45338-x-net-to-v0.34.0.patch
  projects/kubernetes-csi/external-attacher/1-31/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-31/patches/0001-Bump-attacher-CVE-2024-45338-x-net-to-v0.34.0.patch
  projects/kubernetes-csi/external-attacher/1-32/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-32/patches/0001-Bump-attacher-CVE-2024-45338-x-net-to-v0.34.0.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32

#3579 Bump node-driver-registrar CVE-2024-45338 x/net to v0.34.0
  projects/kubernetes-csi/node-driver-registrar/1-28/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-28/patches/0001-Bump-node-driver-registrar-CVE-2024-45338-x-net-to-v.patch
  projects/kubernetes-csi/node-driver-registrar/1-29/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-29/patches/0001-Bump-node-driver-registrar-CVE-2024-45338-x-net-to-v.patch
  projects/kubernetes-csi/node-driver-registrar/1-30/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-30/patches/0001-Bump-node-driver-registrar-CVE-2024-45338-x-net-to-v.patch
  projects/kubernetes-csi/node-driver-registrar/1-31/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-31/patches/0001-Bump-node-driver-registrar-CVE-2024-45338-x-net-to-v.patch
  projects/kubernetes-csi/node-driver-registrar/1-32/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-32/patches/0001-Bump-node-driver-registrar-CVE-2024-45338-x-net-to-v.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32

#3585 Added patches for 1.27 to 1.32
  projects/kubernetes/kubernetes/1-27/CHECKSUMS
  projects/kubernetes/kubernetes/1-27/patches/0018-EKS-PATCH-Lower-verbosity-for-topologycache-messages.patch
  projects/kubernetes/kubernetes/1-28/CHECKSUMS
  projects/kubernetes/kubernetes/1-28/patches/0015-EKS-PATCH-Fix-StorageObjectCountTracker-is-nil-apf-e.patch
  projects/kubernetes/kubernetes/1-28/patches/0016-EKS-PATCH-Lower-verbosity-for-topologycache-messages.patch
  projects/kubernetes/kubernetes/1-28/patches/0017-EKS-PATCH-prioritize-user-EtcdOptions.StorageConfig..patch
  projects/kubernetes/kubernetes/1-28/patches/0018-EKS-PATCH-Update-pkg-controlplane-apiserver-config_t.patch
  projects/kubernetes/kubernetes/1-29/CHECKSUMS
  projects/kubernetes/kubernetes/1-29/patches/0016-EKS-PATCH-Fix-StorageObjectCountTracker-is-nil-apf-e.patch
  projects/kubernetes/kubernetes/1-29/patches/0017-EKS-PATCH-Lower-verbosity-for-topologycache-messages.patch
  projects/kubernetes/kubernetes/1-29/patches/0018-EKS-PATCH-prioritize-user-EtcdOptions.StorageConfig..patch
  projects/kubernetes/kubernetes/1-29/patches/0019-EKS-PATCH-Update-pkg-controlplane-apiserver-config_t.patch
  projects/kubernetes/kubernetes/1-30/CHECKSUMS
  projects/kubernetes/kubernetes/1-30/patches/0009-EKS-PATCH-Fix-StorageObjectCountTracker-is-nil-apf-e.patch
  projects/kubernetes/kubernetes/1-30/patches/0010-EKS-PATCH-Lower-verbosity-for-topologycache-messages.patch
  projects/kubernetes/kubernetes/1-30/patches/0011-EKS-PATCH-prioritize-user-EtcdOptions.StorageConfig..patch
  projects/kubernetes/kubernetes/1-30/patches/0012-EKS-PATCH-Update-pkg-controlplane-apiserver-config_t.patch
  projects/kubernetes/kubernetes/1-31/CHECKSUMS
  projects/kubernetes/kubernetes/1-31/patches/0007-EKS-PATCH-Lower-verbosity-for-topologycache-messages.patch
  projects/kubernetes/kubernetes/1-32/CHECKSUMS
  projects/kubernetes/kubernetes/1-32/patches/0004-EKS-PATCH-Lower-verbosity-for-topologycache-messages.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32

#3589 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3590 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3591 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3592 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#3593 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3594 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3595 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3596 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3597 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3598 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/43/CHANGELOG-v1-28-eks-43.md
  docs/contents/releases/1-28/43/index.md
  docs/contents/releases/1-28/43/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3599 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/32/CHANGELOG-v1-29-eks-32.md
  docs/contents/releases/1-29/32/index.md
  docs/contents/releases/1-29/32/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3600 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/25/CHANGELOG-v1-30-eks-25.md
  docs/contents/releases/1-30/25/index.md
  docs/contents/releases/1-30/25/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3601 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/14/CHANGELOG-v1-31-eks-14.md
  docs/contents/releases/1-31/14/index.md
  docs/contents/releases/1-31/14/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3602 Created and updated docs for 1.32
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/6/CHANGELOG-v1-32-eks-6.md
  docs/contents/releases/1-32/6/index.md
  docs/contents/releases/1-32/6/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.32

#3610 Remove metrics-server from release commands
  Makefile
  cmd/main_postsubmit.go
  development/ecr/ecr-command.sh
  development/ecr/setup.sh
Labels: approved, lgtm, size/XS

#3612 update coredns/coredns 1.28
  projects/coredns/coredns/1-28/CHECKSUMS
  projects/coredns/coredns/1-28/GIT_TAG
  projects/coredns/coredns/1-28/GOLANG_VERSION
  projects/coredns/coredns/1-28/patches/0001-Add-CVE-fixes-for-CVE-2023-39325-CVE-2023-44487.patch
  projects/coredns/coredns/1-28/patches/0001-patch-for-CVE-2022-41723.patch
  projects/coredns/coredns/1-28/patches/0002-CVE-patch-for-v1.10.1-eksbuild.5.patch
  projects/coredns/coredns/1-28/patches/0002-EKS-PATCH-CVE-2023-48795.patch
  projects/coredns/coredns/1-28/patches/0003-CVE-patch-for-v1.10.1-eksbuild.6.patch
  projects/coredns/coredns/1-28/patches/0003-Patch-for-CVE-2023-49295.patch
  projects/coredns/coredns/1-28/patches/0004-EKS-PATCH-CVE-2023-48795.patch
  projects/coredns/coredns/1-28/patches/0005-Fix-for-GHSA-c33x-xqrf-c478-CVE.patch
  projects/coredns/coredns/1-28/patches/0005-PUBLIC-ECR-PATCH.patch
  projects/coredns/coredns/1-28/patches/0006-Fix-dependency-issue-when-vendor-for-inet.af-netaddr.patch
  projects/coredns/coredns/1-28/patches/0006-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-28/patches/0007-Fix-dependency-issue-when-vendor-for-inet.af-netaddr.patch
  projects/coredns/coredns/1-28/patches/0008-update-x-net-to-0.25.patch
  projects/coredns/coredns/1-28/patches/0009-Updated-go-dependencies-to-fix-CoreDNS1.10.1-CVEs.patch
  projects/coredns/coredns/README.md
Labels: approved, lgtm, size/XXL, patch, project, v1.28

#3614 Kubernetes-csi resizer, snapshotter, and attacher patch releases
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-28/patches/0001-Bump-attacher-CVE-2024-45338-x-net-to-v0.34.0.patch
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-29/patches/0001-Bump-attacher-CVE-2024-45338-x-net-to-v0.34.0.patch
  projects/kubernetes-csi/external-attacher/1-30/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-30/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-30/patches/0001-Bump-attacher-CVE-2024-45338-x-net-to-v0.34.0.patch
  projects/kubernetes-csi/external-attacher/1-31/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-31/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-31/patches/0001-Bump-attacher-CVE-2024-45338-x-net-to-v0.34.0.patch
  projects/kubernetes-csi/external-attacher/1-32/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-32/GIT_TAG
  projects/kubernetes-csi/external-attacher/1-32/patches/0001-Bump-attacher-CVE-2024-45338-x-net-to-v0.34.0.patch
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-29/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-29/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-30/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-30/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-31/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-31/GIT_TAG
  projects/kubernetes-csi/external-resizer/1-32/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-32/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-28/patches/0001-external-snapshotter-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-snapshotter/1-29/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-29/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-29/patches/0001-external-snapshotter-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-snapshotter/1-30/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-30/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-30/patches/0001-external-snapshotter-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-snapshotter/1-31/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-31/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-31/patches/0001-external-snapshotter-Address-CVE-2024-45338.patch
  projects/kubernetes-csi/external-snapshotter/1-32/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-32/GIT_TAG
  projects/kubernetes-csi/external-snapshotter/1-32/patches/0001-external-snapshotter-Address-CVE-2024-45338.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.28, v1.29, v1.30, v1.31, v1.32

#3617 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3618 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3619 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3620 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3621 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32
