Repository aws/eks-distro, pull requests merged in 2025-10, with the labels that each got.

#4143 Created and updated docs for 1.34
  README.md
  docs/contents/index.md
  docs/contents/releases/1-34/1/CHANGELOG-v1-34-eks-1.md
  docs/contents/releases/1-34/1/index.md
  docs/contents/releases/1-34/2/CHANGELOG-v1-34-eks-2.md
  docs/contents/releases/1-34/2/index.md
  docs/contents/releases/1-34/3/CHANGELOG-v1-34-eks-3.md
  docs/contents/releases/1-34/3/index.md
  docs/contents/releases/1-34/4/CHANGELOG-v1-34-eks-4.md
  docs/contents/releases/1-34/4/index.md
  docs/contents/releases/1-34/4/release-announcement.txt
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes/cloud-provider-aws/README.md
  release/DEFAULT_RELEASE_BRANCH
Labels: documentation, approved, lgtm, release, size/L, v1.34

#4147 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.28

#4149 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.30

#4150 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.31

#4152 Bumped development release number for 1.33
  release/1-33/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.33

#4153 Bumped development release number for 1.34
  release/1-34/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.34

#4154 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, release, size/XS, PROD-release, v1.28

#4160 Bumped production release number for 1.34
  release/1-34/production/RELEASE
Labels: approved, release, size/XS, PROD-release, v1.34

#4163 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/42/CHANGELOG-v1-30-eks-42.md
  docs/contents/releases/1-30/42/index.md
  docs/contents/releases/1-30/42/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#4166 Created and updated docs for 1.33
  README.md
  docs/contents/index.md
  docs/contents/releases/1-33/14/CHANGELOG-v1-33-eks-14.md
  docs/contents/releases/1-33/14/index.md
  docs/contents/releases/1-33/14/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.33

#4169 only push multi-arch manifest for k8s images if PUSH_IMAGES is true
  projects/kubernetes/kubernetes/build/copy_kubernetes_artifacts.sh
Labels: approved, lgtm, size/S
