Repository aws/eks-distro, pull requests merged in 2025-03, with the labels that each got.

#3622 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3623 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3624 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3625 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3626 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3632 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/33/CHANGELOG-v1-29-eks-33.md
  docs/contents/releases/1-29/33/index.md
  docs/contents/releases/1-29/33/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3634 Created and updated docs for 1.32
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/7/CHANGELOG-v1-32-eks-7.md
  docs/contents/releases/1-32/7/index.md
  docs/contents/releases/1-32/7/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.32

#3635 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/15/CHANGELOG-v1-31-eks-15.md
  docs/contents/releases/1-31/15/index.md
  docs/contents/releases/1-31/15/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3631 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/44/CHANGELOG-v1-28-eks-44.md
  docs/contents/releases/1-28/44/index.md
  docs/contents/releases/1-28/44/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3636 project updates for 1.28-1.32
  projects/coredns/coredns/1-28/CHECKSUMS
  projects/coredns/coredns/1-28/GOLANG_VERSION
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/GOLANG_VERSION
  projects/coredns/coredns/1-30/CHECKSUMS
  projects/coredns/coredns/1-30/GOLANG_VERSION
  projects/coredns/coredns/1-31/CHECKSUMS
  projects/coredns/coredns/1-31/GOLANG_VERSION
  projects/coredns/coredns/1-32/CHECKSUMS
  projects/coredns/coredns/1-32/GOLANG_VERSION
  projects/etcd-io/etcd/1-28/CHECKSUMS
  projects/etcd-io/etcd/1-28/patches/0001-fix-of-the-preformance-regression-due-to-uncertain-sleep-interval.patch
  projects/etcd-io/etcd/1-28/patches/0002-Apply-smart-client-to-both-insecure-and-se.patch
  projects/etcd-io/etcd/1-29/CHECKSUMS
  projects/etcd-io/etcd/1-29/patches/0001-fix-of-the-preformance-regression-due-to-uncertain-sleep-interval.patch
  projects/etcd-io/etcd/1-29/patches/0002-Apply-smart-client-to-both-insecure-and-se.patch
  projects/etcd-io/etcd/1-30/CHECKSUMS
  projects/etcd-io/etcd/1-30/patches/0001-fix-of-the-preformance-regression-due-to-uncertain-sleep-interval.patch
  projects/etcd-io/etcd/1-30/patches/0002-Apply-smart-client-to-both-insecure-and-se.patch
  projects/etcd-io/etcd/1-31/CHECKSUMS
  projects/etcd-io/etcd/1-31/patches/0001-fix-of-the-preformance-regression-due-to-uncertain-sleep-interval.patch
  projects/etcd-io/etcd/1-31/patches/0002-Apply-smart-client-to-both-insecure-and-se.patch
  projects/etcd-io/etcd/1-32/CHECKSUMS
  projects/etcd-io/etcd/1-32/patches/0001-fix-of-the-preformance-regression-due-to-uncertain-sleep-interval.patch
  projects/etcd-io/etcd/1-32/patches/0002-Apply-smart-client-to-both-insecure-and-se.patch
  projects/kubernetes/cloud-provider-aws/1-28/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-28/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-29/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-29/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-31/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-31/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-32/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-32/GIT_TAG
Labels: approved, lgtm, size/XXL, patch, project, v1.28, v1.29, v1.30, v1.31, v1.32

#3637 patches for k/k 1.25 and 1.26
  projects/kubernetes/kubernetes/1-25/CHECKSUMS
  projects/kubernetes/kubernetes/1-25/patches/0028-EKS-PATCH-Lower-verbosity-for-topologycache-messages.patch
  projects/kubernetes/kubernetes/1-26/CHECKSUMS
  projects/kubernetes/kubernetes/1-26/patches/0019-EKS-PATCH-Lower-verbosity-for-topologycache-messages.patch
Labels: approved, lgtm, size/L, patch

#3642 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.28

#3643 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.29

#3644 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.30

#3645 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, release, size/XS, DEV-release, v1.31

#3648 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, do-not-merge/hold, release, size/XS, PROD-release, v1.29

#3649 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, do-not-merge/hold, release, size/XS, PROD-release, v1.30

#3650 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, do-not-merge/hold, release, size/XS, PROD-release, v1.31

#3651 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, do-not-merge/hold, release, size/XS, PROD-release, v1.32

#3654 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/45/CHANGELOG-v1-28-eks-45.md
  docs/contents/releases/1-28/45/index.md
  docs/contents/releases/1-28/45/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3657 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/16/CHANGELOG-v1-31-eks-16.md
  docs/contents/releases/1-31/16/index.md
  docs/contents/releases/1-31/16/release-announcement.txt
Labels: documentation, approved, release, size/M, v1.31

#3658 Created and updated docs for 1.32
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/8/CHANGELOG-v1-32-eks-8.md
  docs/contents/releases/1-32/8/index.md
  docs/contents/releases/1-32/8/release-announcement.txt
Labels: documentation, approved, release, size/M, v1.32

#3655 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/34/CHANGELOG-v1-29-eks-34.md
  docs/contents/releases/1-29/34/index.md
  docs/contents/releases/1-29/34/release-announcement.txt
Labels: documentation, approved, release, size/M, v1.29

#3656 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/27/CHANGELOG-v1-30-eks-27.md
  docs/contents/releases/1-30/27/index.md
  docs/contents/releases/1-30/27/release-announcement.txt
Labels: documentation, approved, release, size/M, v1.30

#3659 deprecate metrics-server
  Makefile
  cmd/main_postsubmit.go
  development/ecr/ecr-command.sh
  development/ecr/setup.sh
Labels: approved, lgtm, size/S

#3662 Upgrade gittag/golang for go runner
  projects/kubernetes/release/1-32/CHECKSUMS
  projects/kubernetes/release/1-32/GIT_TAG
  projects/kubernetes/release/1-32/GOLANG_VERSION
Labels: approved, lgtm, size/XS, project, v1.32

#3663 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#3666 update kops cluster creation to use last metrics server release
  development/kops/create_values_yaml.sh
Labels: approved, lgtm, size/S

#3671 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3672 Created and updated docs for 1.32
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/9/CHANGELOG-v1-32-eks-9.md
  docs/contents/releases/1-32/9/index.md
  docs/contents/releases/1-32/9/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.32

#3674 Address CVE-2025-22870 attacher
  projects/kubernetes-csi/external-attacher/1-28/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-28/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-attacher/1-29/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-29/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-attacher/1-30/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-30/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-attacher/1-31/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-31/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-attacher/1-32/CHECKSUMS
  projects/kubernetes-csi/external-attacher/1-32/patches/0001-Address-CVE-2025-22870.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32

#3675 Address CVE-2025-22870 provisioner
  projects/kubernetes-csi/external-provisioner/1-28/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-28/patches/0002-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-provisioner/1-29/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-29/patches/0002-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-provisioner/1-30/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-30/patches/0002-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-provisioner/1-31/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-31/patches/0002-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-provisioner/1-32/CHECKSUMS
  projects/kubernetes-csi/external-provisioner/1-32/patches/0002-Address-CVE-2025-22870.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32

#3676 Address CVE-2025-22870 resizer
  projects/kubernetes-csi/external-resizer/1-28/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-28/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-resizer/1-29/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-29/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-resizer/1-30/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-30/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-resizer/1-31/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-31/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-resizer/1-32/CHECKSUMS
  projects/kubernetes-csi/external-resizer/1-32/patches/0001-Address-CVE-2025-22870.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32

#3677 Address CVE-2025-22870 snapshotter
  projects/kubernetes-csi/external-snapshotter/1-28/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-28/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-snapshotter/1-29/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-29/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-snapshotter/1-30/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-30/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-snapshotter/1-31/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-31/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/external-snapshotter/1-32/CHECKSUMS
  projects/kubernetes-csi/external-snapshotter/1-32/patches/0001-Address-CVE-2025-22870.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32

#3679 Address CVE-2025-22870 node-driver-registrar
  projects/kubernetes-csi/node-driver-registrar/1-28/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-28/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/node-driver-registrar/1-28/patches/0001-Bump-node-driver-registrar-CVE-2024-45338-x-net-to-v.patch
  projects/kubernetes-csi/node-driver-registrar/1-29/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-29/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/node-driver-registrar/1-29/patches/0001-Bump-node-driver-registrar-CVE-2024-45338-x-net-to-v.patch
  projects/kubernetes-csi/node-driver-registrar/1-30/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-30/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/node-driver-registrar/1-30/patches/0001-Bump-node-driver-registrar-CVE-2024-45338-x-net-to-v.patch
  projects/kubernetes-csi/node-driver-registrar/1-31/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-31/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/node-driver-registrar/1-31/patches/0001-Bump-node-driver-registrar-CVE-2024-45338-x-net-to-v.patch
  projects/kubernetes-csi/node-driver-registrar/1-32/CHECKSUMS
  projects/kubernetes-csi/node-driver-registrar/1-32/patches/0001-Address-CVE-2025-22870.patch
  projects/kubernetes-csi/node-driver-registrar/1-32/patches/0001-Bump-node-driver-registrar-CVE-2024-45338-x-net-to-v.patch
Labels: approved, lgtm, size/XXL, patch, v1.28, v1.29, v1.30, v1.31, v1.32

#3682 Update coredns patches
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/patches/0002-update-expr-for-CVE.patch
  projects/coredns/coredns/1-30/CHECKSUMS
  projects/coredns/coredns/1-30/patches/0002-update-expr-for-CVE.patch
  projects/coredns/coredns/1-31/CHECKSUMS
  projects/coredns/coredns/1-31/patches/0002-update-expr-for-CVE.patch
  projects/coredns/coredns/1-32/CHECKSUMS
  projects/coredns/coredns/1-32/patches/0002-update-expr-for-CVE.patch
Labels: approved, lgtm, size/L, patch, v1.29, v1.30, v1.31, v1.32

#3683 Updated Gittag/Golang versions
  projects/kubernetes/release/1-28/CHECKSUMS
  projects/kubernetes/release/1-28/GIT_TAG
  projects/kubernetes/release/1-28/GOLANG_VERSION
  projects/kubernetes/release/1-29/CHECKSUMS
  projects/kubernetes/release/1-29/GIT_TAG
  projects/kubernetes/release/1-29/GOLANG_VERSION
  projects/kubernetes/release/1-30/CHECKSUMS
  projects/kubernetes/release/1-30/GIT_TAG
  projects/kubernetes/release/1-30/GOLANG_VERSION
  projects/kubernetes/release/1-31/CHECKSUMS
  projects/kubernetes/release/1-31/GIT_TAG
  projects/kubernetes/release/1-31/GOLANG_VERSION
Labels: approved, lgtm, size/M, project, v1.28, v1.29, v1.30, v1.31

#3684 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3685 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3686 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3687 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3688 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#3694 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3692 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3693 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3695 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3696 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3698 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/35/CHANGELOG-v1-29-eks-35.md
  docs/contents/releases/1-29/35/index.md
  docs/contents/releases/1-29/35/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3699 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/28/CHANGELOG-v1-30-eks-28.md
  docs/contents/releases/1-30/28/index.md
  docs/contents/releases/1-30/28/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3700 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/17/CHANGELOG-v1-31-eks-17.md
  docs/contents/releases/1-31/17/index.md
  docs/contents/releases/1-31/17/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3697 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/46/CHANGELOG-v1-28-eks-46.md
  docs/contents/releases/1-28/46/index.md
  docs/contents/releases/1-28/46/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28
