Repository aws/eks-distro, pull requests merged in 2025-08, with the labels that each got.

#3983 Fix doc generation script to sort doc PRs by created date
  cmd/release/utils/values/searchprs.go
Labels: approved, lgtm, size/XS

#3987 1.34 release
  projects/containernetworking/plugins/1-34/ATTRIBUTION.txt
  projects/containernetworking/plugins/1-34/CHECKSUMS
  projects/containernetworking/plugins/1-34/GIT_TAG
  projects/containernetworking/plugins/1-34/GOLANG_VERSION
  projects/containernetworking/plugins/1-34/go.mod
  projects/containernetworking/plugins/1-34/go.sum
  projects/containernetworking/plugins/1-34/patches/0001-Bump-go-directive-to-1.21-to-fix-go-deps-download.patch
  projects/coredns/coredns/1-34/ATTRIBUTION.txt
  projects/coredns/coredns/1-34/CHECKSUMS
  projects/coredns/coredns/1-34/GIT_TAG
  projects/coredns/coredns/1-34/GOLANG_VERSION
  projects/coredns/coredns/1-34/go.mod
  projects/coredns/coredns/1-34/go.sum
  projects/coredns/coredns/1-34/patches/0001-Patch-CVE-2025-22872-for-coredns-v1.12.1.patch
  projects/etcd-io/etcd/1-34/ATTRIBUTION.txt
  projects/etcd-io/etcd/1-34/CHECKSUMS
  projects/etcd-io/etcd/1-34/ETCDCTL_ATTRIBUTION.txt
  projects/etcd-io/etcd/1-34/GIT_TAG
  projects/etcd-io/etcd/1-34/GOLANG_VERSION
  projects/etcd-io/etcd/1-34/Overrides.mk
  projects/etcd-io/etcd/1-34/etcdctl/go.mod
  projects/etcd-io/etcd/1-34/etcdctl/go.sum
  projects/etcd-io/etcd/1-34/patches/0001-fix-of-the-preformance-regression-due-to-uncertain-sleep-interval.patch
  projects/etcd-io/etcd/1-34/patches/0002-Apply-smart-client-to-both-insecure-and-se.patch
  projects/etcd-io/etcd/1-34/server/go.mod
  projects/etcd-io/etcd/1-34/server/go.sum
  projects/kubernetes-sigs/aws-iam-authenticator/1-34/ATTRIBUTION.txt
  projects/kubernetes-sigs/aws-iam-authenticator/1-34/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-34/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-34/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-34/go.mod
  projects/kubernetes-sigs/aws-iam-authenticator/1-34/go.sum
  projects/kubernetes/cloud-provider-aws/1-34/ATTRIBUTION.txt
  projects/kubernetes/cloud-provider-aws/1-34/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-34/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-34/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-34/go.mod
  projects/kubernetes/cloud-provider-aws/1-34/go.sum
  projects/kubernetes/kubernetes/1-34/ATTRIBUTION.txt
  projects/kubernetes/kubernetes/1-34/CHECKSUMS
  projects/kubernetes/kubernetes/1-34/GIT_TAG
  projects/kubernetes/kubernetes/1-34/GOLANG_VERSION
  projects/kubernetes/kubernetes/1-34/PAUSE_TAG
  projects/kubernetes/kubernetes/1-34/go.mod
  projects/kubernetes/kubernetes/1-34/go.sum
  projects/kubernetes/kubernetes/1-34/patches/0001-EKS-PATCH-admission-webhook-exclusion-from-file.patch
  projects/kubernetes/release/1-34/ATTRIBUTION.txt
  projects/kubernetes/release/1-34/CHECKSUMS
  projects/kubernetes/release/1-34/GIT_TAG
  projects/kubernetes/release/1-34/GOLANG_VERSION
  projects/kubernetes/release/1-34/images/build/go-runner/go.mod
  projects/kubernetes/release/1-34/images/build/go-runner/go.sum
  release/1-34/development/RELEASE
  release/1-34/production/RELEASE
  release/SUPPORTED_RELEASE_BRANCHES
Labels: approved, lgtm, release, size/XXL, patch, project, PROD-release, DEV-release, v1.34

#3988 Update GIT_TAG with 1.34.0_beta.0
  projects/kubernetes/kubernetes/1-34/CHECKSUMS
  projects/kubernetes/kubernetes/1-34/GIT_TAG
Labels: approved, lgtm, size/M, project, v1.34

#3992 Update CSI sidecar components to use correct gallery
  development/kops/create_values_yaml.sh
Labels: approved, lgtm, size/S

#3994 Adding hardcoded versions for post builds
  development/kops/create_values_yaml.sh
Labels: approved, lgtm, size/M

#3996 Bumped development release number for 1.34
  release/1-34/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.34

#4003 projects updates for coredns/coredns (1.33)
  projects/coredns/coredns/1-33/CHECKSUMS
  projects/coredns/coredns/1-33/GIT_TAG
  projects/coredns/coredns/1-33/patches/0001-Patch-CVE-2025-22872-for-coredns-v1.12.1.patch
  projects/coredns/coredns/1-33/patches/0001-Port-to-AWS-Go-SDK-v2.patch
Labels: approved, lgtm, size/XL, patch, project, v1.33

#4010 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#4012 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#4014 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#4015 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#4016 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#4017 Bumped production release number for 1.33
  release/1-33/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.33

#4018 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/56/CHANGELOG-v1-28-eks-56.md
  docs/contents/releases/1-28/56/index.md
  docs/contents/releases/1-28/56/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#4019 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/45/CHANGELOG-v1-29-eks-45.md
  docs/contents/releases/1-29/45/index.md
  docs/contents/releases/1-29/45/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#4021 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/27/CHANGELOG-v1-31-eks-27.md
  docs/contents/releases/1-31/27/index.md
  docs/contents/releases/1-31/27/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#4026 1.34.0-rc.0 release
  projects/coredns/coredns/1-34/CHECKSUMS
  projects/coredns/coredns/1-34/GIT_TAG
  projects/coredns/coredns/1-34/patches/0001-Patch-CVE-2025-22872-for-coredns-v1.12.1.patch
  projects/coredns/coredns/1-34/patches/0001-Port-to-AWS-Go-SDK-v2.patch
  projects/kubernetes/cloud-provider-aws/1-34/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-34/GIT_TAG
  projects/kubernetes/kubernetes/1-34/CHECKSUMS
  projects/kubernetes/kubernetes/1-34/GIT_TAG
Labels: approved, lgtm, size/XL, patch, project, v1.34

#4034 Revert "Fixing tags and patches for coreDNS for 1.27-1.32 (#3962)"
  projects/coredns/coredns/1-27/CHECKSUMS
  projects/coredns/coredns/1-27/GIT_TAG
  projects/coredns/coredns/1-27/patches/0001-Add-CVE-fixes-for-CVE-2023-39325-CVE-2023-44487.patch
  projects/coredns/coredns/1-27/patches/0001-patch-for-CVE-2022-41723.patch
  projects/coredns/coredns/1-27/patches/0002-CVE-patch-for-v1.10.1-eksbuild.5.patch
  projects/coredns/coredns/1-27/patches/0002-EKS-PATCH-CVE-2023-48795.patch
  projects/coredns/coredns/1-27/patches/0003-CVE-patch-for-v1.10.1-eksbuild.6.patch
  projects/coredns/coredns/1-27/patches/0003-Patch-for-CVE-2023-49295.patch
  projects/coredns/coredns/1-27/patches/0004-EKS-PATCH-CVE-2023-48795.patch
  projects/coredns/coredns/1-27/patches/0004-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-27/patches/0005-Fix-for-GHSA-c33x-xqrf-c478-CVE.patch
  projects/coredns/coredns/1-27/patches/0005-PUBLIC-ECR-PATCH.patch
  projects/coredns/coredns/1-27/patches/0006-Fix-dependency-issue-when-vendor-for-inet.af-netaddr.patch
  projects/coredns/coredns/1-27/patches/0007-Fix-dependency-issue-when-vendor-for-inet.af-netaddr.patch
  projects/coredns/coredns/1-27/patches/0008-update-x-net-to-0.25.patch
  projects/coredns/coredns/1-27/patches/0009-Updated-go-dependencies-to-fix-CoreDNS1.10.1-CVEs.patch
  projects/coredns/coredns/1-27/patches/0010-CVEs-fix.patch
  projects/coredns/coredns/1-28/CHECKSUMS
  projects/coredns/coredns/1-28/GIT_TAG
  projects/coredns/coredns/1-28/patches/0001-patch-for-CVE-2022-41723.patch
  projects/coredns/coredns/1-28/patches/0001-update-quic-go-for-CVE.patch
  projects/coredns/coredns/1-28/patches/0002-CVE-patch-for-v1.10.1-eksbuild.5.patch
  projects/coredns/coredns/1-28/patches/0002-update-expr-for-CVE.patch
  projects/coredns/coredns/1-28/patches/0003-CVE-patch-for-v1.10.1-eksbuild.6.patch
  projects/coredns/coredns/1-28/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-28/patches/0004-1.11.4-update-go-version-x-net-version.patch
  projects/coredns/coredns/1-28/patches/0004-EKS-PATCH-CVE-2023-48795.patch
  projects/coredns/coredns/1-28/patches/0005-PUBLIC-ECR-PATCH.patch
  projects/coredns/coredns/1-28/patches/0006-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-28/patches/0007-Fix-dependency-issue-when-vendor-for-inet.af-netaddr.patch
  projects/coredns/coredns/1-28/patches/0008-update-x-net-to-0.25.patch
  projects/coredns/coredns/1-28/patches/0009-Updated-go-dependencies-to-fix-CoreDNS1.10.1-CVEs.patch
  projects/coredns/coredns/1-28/patches/0010-CVEs-fix.patch
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/GIT_TAG
  projects/coredns/coredns/1-29/patches/0001-Patch-CVE-2025-22872-for-coredns-v1.12.1.patch
  projects/coredns/coredns/1-30/CHECKSUMS
  projects/coredns/coredns/1-30/GIT_TAG
  projects/coredns/coredns/1-30/patches/0001-Patch-CVE-2025-22872-for-coredns-v1.12.1.patch
  projects/coredns/coredns/1-30/patches/0001-update-quic-go-for-CVE.patch
  projects/coredns/coredns/1-30/patches/0002-update-expr-for-CVE.patch
  projects/coredns/coredns/1-30/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-31/CHECKSUMS
  projects/coredns/coredns/1-31/GIT_TAG
  projects/coredns/coredns/1-31/patches/0001-Patch-CVE-2025-22872-for-coredns-v1.12.1.patch
  projects/coredns/coredns/1-31/patches/0001-update-quic-go-for-CVE.patch
  projects/coredns/coredns/1-31/patches/0002-update-expr-for-CVE.patch
  projects/coredns/coredns/1-31/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-32/CHECKSUMS
  projects/coredns/coredns/1-32/GIT_TAG
  projects/coredns/coredns/1-32/patches/0001-Patch-CVE-2025-22872-for-coredns-v1.12.1.patch
  projects/coredns/coredns/1-32/patches/0001-update-quic-go-for-CVE.patch
  projects/coredns/coredns/1-32/patches/0002-update-expr-for-CVE.patch
  projects/coredns/coredns/1-32/patches/0003-fix-CVEs.patch
Labels: approved, lgtm, size/XXL, patch, project, v1.28, v1.29, v1.30, v1.31, v1.32

#4042 Bumped development release number for 1.27
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release

#4044 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#4046 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#4047 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#4048 Bumped development release number for 1.33
  release/1-33/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.33

#4038 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#4039 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#4035 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#4036 Bumped production release number for 1.27
  release/1-27/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release

#4054 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/28/CHANGELOG-v1-31-eks-28.md
  docs/contents/releases/1-31/28/index.md
  docs/contents/releases/1-31/28/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#4055 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/39/CHANGELOG-v1-30-eks-39.md
  docs/contents/releases/1-30/39/index.md
  docs/contents/releases/1-30/39/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#4056 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/46/CHANGELOG-v1-29-eks-46.md
  docs/contents/releases/1-29/46/index.md
  docs/contents/releases/1-29/46/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#4058 Created and updated docs for 1.33
  README.md
  docs/contents/index.md
  docs/contents/releases/1-33/11/CHANGELOG-v1-33-eks-11.md
  docs/contents/releases/1-33/11/index.md
  docs/contents/releases/1-33/11/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.33
