Repository aws/eks-distro, pull requests merged in 2025-09, with the labels that each got.

#4052 move kubernetes/kubernetes to utilize internal builds
  Common.mk
  README.md
  build/lib/validate_artifacts.sh
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/build/bootstrap_copy_release_variables.sh
  projects/kubernetes/kubernetes/build/copy_kubernetes_artifacts.sh
  projects/kubernetes/kubernetes/build/copy_kubernetes_images.sh
  release/K8_SUPPORTED_RELEASE_BRANCHES
  release/SUPPORTED_RELEASE_BRANCHES
  release/copy_artifacts.sh
Labels: approved, lgtm, release, size/L

#4060 fix bootstrap for release variables when RELEASE_BRANCH is not set fo…
  Makefile
  projects/kubernetes/kubernetes/Makefile
Labels: approved, lgtm, size/XS

#4062 skip go mod updates for kubernetes/kubernetes
  Common.mk
  projects/kubernetes/kubernetes/build/bootstrap_copy_release_variables.sh
Labels: approved, lgtm, size/S

#4067 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#4068 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#4070 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#4073 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#4076 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#4085 Bumped development release number for 1.34
  release/1-34/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.34

#4081 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/40/CHANGELOG-v1-30-eks-40.md
  docs/contents/releases/1-30/40/index.md
  docs/contents/releases/1-30/40/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#4101 Bumped development release number for 1.33
  release/1-33/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.33

#4104 rebuild internal kube-proxy images with go-runner
  Makefile
  development/kops/create_values_yaml.sh
  projects/kubernetes/kubernetes/Makefile
  projects/kubernetes/kubernetes/build/bootstrap_copy_release_variables.sh
  projects/kubernetes/kubernetes/build/copy_kubernetes_artifacts.sh
  projects/kubernetes/kubernetes/build/copy_kubernetes_images.sh
  projects/kubernetes/kubernetes/docker/kube-proxy/Dockerfile
Labels: approved, lgtm, size/M

#4105 explicitly pass IMAGE_REPO variable when copying kubernetes artifacts
  projects/kubernetes/kubernetes/Makefile
Labels: approved, lgtm, size/XS

#4109 only generate attribution if it was not generated internally
  projects/kubernetes/kubernetes/build/copy_kubernetes_artifacts.sh
Labels: approved, lgtm, size/XS

#4112 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#4113 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#4114 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#4115 Bumped development release number for 1.33
  release/1-33/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.33

#4116 Bumped development release number for 1.34
  release/1-34/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.34

#4120 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#4123 Bumped production release number for 1.33
  release/1-33/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.33

#4126 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/48/CHANGELOG-v1-29-eks-48.md
  docs/contents/releases/1-29/48/index.md
  docs/contents/releases/1-29/48/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#4127 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/41/CHANGELOG-v1-30-eks-41.md
  docs/contents/releases/1-30/41/index.md
  docs/contents/releases/1-30/41/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#4128 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/30/CHANGELOG-v1-31-eks-30.md
  docs/contents/releases/1-31/30/index.md
  docs/contents/releases/1-31/30/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#4131 add conformance badges for 1.28, 1.32, 1.33
  README.md
  docs/contents/certified-kubernetes-1.26-color.svg
  docs/contents/certified-kubernetes-1.28-color.svg
  docs/contents/certified-kubernetes-1.29-color.svg
  docs/contents/certified-kubernetes-1.30-color.svg
  docs/contents/certified-kubernetes-1.31-color.svg
  docs/contents/certified-kubernetes-1.32-color.svg
  docs/contents/certified-kubernetes-1.33-color.svg
Labels: documentation, approved, lgtm, size/XL
