Repository aws/eks-distro, pull requests merged in 2025-05, with the labels that each got.

#3789 Regular Maintenance
  projects/coredns/coredns/1-28/CHECKSUMS
  projects/coredns/coredns/1-28/GIT_TAG
  projects/coredns/coredns/1-28/patches/0001-patch-for-CVE-2022-41723.patch
  projects/coredns/coredns/1-28/patches/0001-update-quic-go-for-CVE.patch
  projects/coredns/coredns/1-28/patches/0002-CVE-patch-for-v1.10.1-eksbuild.5.patch
  projects/coredns/coredns/1-28/patches/0002-update-expr-for-CVE.patch
  projects/coredns/coredns/1-28/patches/0003-CVE-patch-for-v1.10.1-eksbuild.6.patch
  projects/coredns/coredns/1-28/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-28/patches/0004-1.11.4-update-go-version-x-net-version.patch
  projects/coredns/coredns/1-28/patches/0004-EKS-PATCH-CVE-2023-48795.patch
  projects/coredns/coredns/1-28/patches/0005-PUBLIC-ECR-PATCH.patch
  projects/coredns/coredns/1-28/patches/0006-Fix-for-CVE-2024-24786.patch
  projects/coredns/coredns/1-28/patches/0007-Fix-dependency-issue-when-vendor-for-inet.af-netaddr.patch
  projects/coredns/coredns/1-28/patches/0008-update-x-net-to-0.25.patch
  projects/coredns/coredns/1-28/patches/0009-Updated-go-dependencies-to-fix-CoreDNS1.10.1-CVEs.patch
  projects/coredns/coredns/1-29/CHECKSUMS
  projects/coredns/coredns/1-29/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-29/patches/0004-1.11.4-update-go-version-x-net-version.patch
  projects/coredns/coredns/1-30/CHECKSUMS
  projects/coredns/coredns/1-30/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-30/patches/0004-1.11.4-update-go-version-x-net-version.patch
  projects/coredns/coredns/1-31/CHECKSUMS
  projects/coredns/coredns/1-31/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-31/patches/0004-1.11.4-update-go-version-x-net-version.patch
  projects/coredns/coredns/1-32/CHECKSUMS
  projects/coredns/coredns/1-32/patches/0003-fix-CVEs.patch
  projects/coredns/coredns/1-32/patches/0004-1.11.4-update-go-version-x-net-version.patch
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-28/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-29/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-30/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-31/GOLANG_VERSION
  projects/kubernetes-sigs/aws-iam-authenticator/1-32/CHECKSUMS
  projects/kubernetes-sigs/aws-iam-authenticator/1-32/GIT_TAG
  projects/kubernetes-sigs/aws-iam-authenticator/1-32/GOLANG_VERSION
  projects/kubernetes/cloud-provider-aws/1-28/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-28/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-29/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-29/GIT_TAG
  projects/kubernetes/cloud-provider-aws/1-31/CHECKSUMS
  projects/kubernetes/cloud-provider-aws/1-31/GIT_TAG
Labels: approved, lgtm, size/XXL, patch, project, v1.28, v1.29, v1.30, v1.31, v1.32

#3791 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3790 Bumped development release number for 1.32
  release/1-32/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.32

#3792 Bumped development release number for 1.29
  release/1-29/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.29

#3793 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3794 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3795 Added file release/1-27/development/RELEASE
  release/1-27/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release

#3803 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3799 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3800 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3805 Created and updated docs for 1.31
  README.md
  docs/contents/index.md
  docs/contents/releases/1-31/20/CHANGELOG-v1-31-eks-20.md
  docs/contents/releases/1-31/20/index.md
  docs/contents/releases/1-31/20/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.31

#3809 1.28 49 docs 1746218801
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/49/CHANGELOG-v1-28-eks-49.md
  docs/contents/releases/1-28/49/index.md
  docs/contents/releases/1-28/49/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3808 Created and updated docs for 1.32
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/13/CHANGELOG-v1-32-eks-13.md
  docs/contents/releases/1-32/13/index.md
  docs/contents/releases/1-32/13/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.32

#3807 Created and updated docs for 1.30
  README.md
  docs/contents/index.md
  docs/contents/releases/1-30/31/CHANGELOG-v1-30-eks-31.md
  docs/contents/releases/1-30/31/index.md
  docs/contents/releases/1-30/31/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.30

#3806 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/38/CHANGELOG-v1-29-eks-38.md
  docs/contents/releases/1-29/38/index.md
  docs/contents/releases/1-29/38/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3813 only copy checksums and attribution if project tag and golang version…
  build/update-attribution-files/make_attribution.sh
Labels: approved, lgtm, size/XS

#3817 Add charles-large to owners
  OWNERS
Labels: approved, lgtm, size/XS

#3819 Added the k8s updates for 1.32
  projects/kubernetes/kubernetes/1-32/CHECKSUMS
  projects/kubernetes/kubernetes/1-32/patches/0005-EKS-PATCH-factor-out-pod-node-name-indexer-helper-fu.patch
  projects/kubernetes/kubernetes/1-32/patches/0006-EKS-PATCH-Add-workqueue-for-node-updates-in-DaemonSe.patch
  projects/kubernetes/kubernetes/1-32/patches/0007-EKS-PATCH-Reduce-locking-duration-on-cache-to-fetch-.patch
  projects/kubernetes/kubernetes/1-32/patches/0008-EKS-PATCH-Help-debug-latencies-in-authn-and-authz-ph.patch
Labels: approved, lgtm, size/XL, patch, v1.32

#3820 Bumped development release number for 1.28
  release/1-28/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.28

#3822 Bumped development release number for 1.30
  release/1-30/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.30

#3823 Bumped development release number for 1.31
  release/1-31/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.31

#3825 Bumped development release number for 1.33
  release/1-33/development/RELEASE
Labels: approved, lgtm, release, size/XS, DEV-release, v1.33

#3826 Bumped production release number for 1.28
  release/1-28/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.28

#3827 Bumped production release number for 1.29
  release/1-29/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.29

#3828 Bumped production release number for 1.30
  release/1-30/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.30

#3829 Bumped production release number for 1.31
  release/1-31/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.31

#3830 Bumped production release number for 1.32
  release/1-32/production/RELEASE
Labels: approved, lgtm, release, size/XS, PROD-release, v1.32

#3838 Created and updated docs for 1.32
  README.md
  docs/contents/index.md
  docs/contents/releases/1-32/14/CHANGELOG-v1-32-eks-14.md
  docs/contents/releases/1-32/14/index.md
  docs/contents/releases/1-32/14/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.32

#3841 Created and updated docs for 1.29
  README.md
  docs/contents/index.md
  docs/contents/releases/1-29/39/CHANGELOG-v1-29-eks-39.md
  docs/contents/releases/1-29/39/index.md
  docs/contents/releases/1-29/39/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.29

#3842 Created and updated docs for 1.28
  README.md
  docs/contents/index.md
  docs/contents/releases/1-28/50/CHANGELOG-v1-28-eks-50.md
  docs/contents/releases/1-28/50/index.md
  docs/contents/releases/1-28/50/release-announcement.txt
Labels: documentation, approved, lgtm, release, size/M, v1.28

#3844 Initial doc release for 1.33
  README.md
  docs/contents/index.md
  docs/contents/releases/1-33/1/CHANGELOG-v1-33-eks-1.md
  docs/contents/releases/1-33/1/index.md
  docs/contents/releases/1-33/2/CHANGELOG-v1-33-eks-2.md
  docs/contents/releases/1-33/2/index.md
  docs/contents/releases/1-33/3/CHANGELOG-v1-33-eks-3.md
  docs/contents/releases/1-33/3/index.md
  docs/contents/releases/1-33/4/CHANGELOG-v1-33-eks-4.md
  docs/contents/releases/1-33/4/index.md
  docs/contents/releases/1-33/4/release-announcement.txt
  projects/containernetworking/plugins/README.md
  projects/coredns/coredns/README.md
  projects/etcd-io/etcd/README.md
  projects/kubernetes-csi/external-attacher/README.md
  projects/kubernetes-csi/external-provisioner/README.md
  projects/kubernetes-csi/external-resizer/README.md
  projects/kubernetes-csi/external-snapshotter/README.md
  projects/kubernetes-csi/livenessprobe/README.md
  projects/kubernetes-csi/node-driver-registrar/README.md
  projects/kubernetes-sigs/aws-iam-authenticator/README.md
  projects/kubernetes/cloud-provider-aws/README.md
  release/DEFAULT_RELEASE_BRANCH
Labels: documentation, approved, lgtm, release, size/L, v1.33
